<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="4.0.1" />
  <package id="Argotic.Common" version="2008.0.2.0" />
  <package id="Argotic.Extensions" version="2008.0.2.0" />
  <package id="Argotic.Core" version="2008.0.2.0" />
  <package id="Argotic.Web" version="2008.0.2.0" />
  <package id="log4net" version="1.2.10" />
  <package id="LZO.NET" version="1.0.0.0" />
  <package id="DowJones-Ninject" version="2.0.0.0" />
  <package id="DowJones-Ninject.Web.Mvc" version="2.1.0.20" />
  <package id="Factiva.Gateway.Messages" version="7.5.0.18" />
  <package id="Factiva.Gateway.Wrapper" version="7.5.0.18" />
  <package id="DowJones.Infrastructure" version="0.9.2" />
  <package id="DowJones.Web.Mvc" version="0.9.2" />
  <package id="DowJones.Web.Mvc.UI.Components.Models" version="0.9.2" />
  <package id="DowJones.Web.Mvc.UI.Components" version="0.9.2" />
  <package id="DowJones.Web.Mvc.Diagnostics" version="0.9.2" />
</packages>