<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DowJones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="DowJones.Web.Mvc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>

        <DowJones.Properties.Settings>
            <!-- A comma-delimited list of assemblies to be auto-loaded into the DI framework -->
            <setting name="DependencyInjectionAutoLoadedAssemblyPatterns"
                serializeAs="String">
                <value>DowJones*.dll</value>
            </setting>
        </DowJones.Properties.Settings>
        
        <DowJones.Web.Mvc.Properties.Settings>
            <!-- Use this setting to enable or disable script & stylesheet combining -->
            <setting name="ClientResourceCombiningEnabled" serializeAs="String">
                <value>False</value>
            </setting>

            <!-- TODO:  Set AuthenticationServiceLoginUrl -->
            <setting name="AuthenticationServiceLoginUrl" serializeAs="String">
                <value />
            </setting>
            
            <!-- TODO:  Set AuthenticationServiceLogoutUrl -->
            <setting name="AuthenticationServiceLogoutUrl" serializeAs="String">
                <value />
            </setting>

            <setting name="HeadJsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </DowJones.Web.Mvc.Properties.Settings>
    </applicationSettings>


    <appSettings>
        <add key="ClientValidationEnabled" value="true"/>
        <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    </appSettings>

    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>

        <authentication mode="Forms">
            <forms loginUrl="~/Account/LogOn" timeout="2880" />
        </authentication>

        <pages>
            <namespaces>
                <add namespace="System.Collections.Generic" />
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages"/>
                <add namespace="DowJones.Extensions" />
                <add namespace="DowJones.Web" />
                <add namespace="DowJones.Web.UI" />
                <add namespace="DowJones.Web.Mvc.Extensions" />
                <add namespace="DowJones.Web.Mvc.Mobile.Extensions" />
                <add namespace="DowJones.Web.Mvc.UI" />
            </namespaces>
        </pages>

        <httpHandlers>
            <!-- This is the handler that serves combined resources requests -->
            <!-- NOTE:  this must be kept in sync with the framework setting above -->
            <add verb="GET" path="CombinedResource.axd" type="DowJones.Web.CombinedClientResourceHandler"/>
        </httpHandlers>

    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
