@using DowJones.Web.Mvc.Extensions
@using DowJones.Web.Mvc.UI.Components.Models
@model DowJones.Web.Mvc.UI.Components.Models.PostProcessing
@ClientPlugin dj_PostProcessing
@ClientTemplate RelativeResourceName=ClientTemplates.modalDialog.htm, TemplateId=modalDialog
@ClientTemplate RelativeResourceName=ClientTemplates.saveOptions.htm, TemplateId=saveOptions
@ClientTemplate RelativeResourceName=ClientTemplates.formatOptions.htm, TemplateId=formatOptions
@ScriptResource RelativeResourceName=PostProcessing.js
@{ CssClass = "dj_PostProcessing"; }
@if (Model != null)
{
    if (Model.ShowActionsCheckBox)
    { 
    <div class="select dj_selectActions">
        <input type="checkbox" name="select" class="selectAll" autocomplete="off">
        @if (Model.EnableDuplicateOption)
        {
            <span class="dj_icon dj_icon-d-arrow-g"></span>
            <ul class="options hide dj_dupSelectOptions">
                <li class="option" data-selectdups="visible">
                    @Html.DJ().Token("selectArticlesVisible")
                </li>
                <li class="option" data-selectdups="none">
                    @Html.DJ().Token("selectArticlesWithoutDuplicates")
                </li>
                <li class="option" data-selectdups="all">
                    @Html.DJ().Token("selectArticlesWithDuplicates")
                </li>
            </ul>
        }
    </div>
    }
    <ul class="actions">
        @foreach (var item in Model.PostProcessingOptions)
        {
            <li><span title="@Html.DJ().Token(item.ToString().ToLower() + "ArticlesTitle")" 
                            class="dj_icon dj_icon-inactive-@item.ToString().ToLower() dj_icon-@item.ToString().ToLower()">
            </span></li>

        }
    </ul>
}
