<div class="dj_modal">
    <div class="dj_modal-header">
        <h3 class="dj_modal-title"></h3>
        <p class="dj_modal-close" onclick="$().overlay.hide('#'+$(this).closest('.dj_modal').attr('id'));">
            <a href="javascript:void(0);"></a>
        </p>
    </div>
    <div class="dj_modal-content">
        <div class="dj_modal-content-wrap">
            <div class="modal-content">
                <div class="footer" style="display:none;">
                    <span class="dj_btn dj_btn-drk-gray"><%= Token("clear") %></span> 
                    <span class="dj_btn dj_btn-blue no-margin"><%= Token("done") %></span>
                </div>
            </div>
        </div>
    </div>
</div>