<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<configSections xdt:Transform="Insert">
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DowJones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<caching>
			<outputCacheSettings>
				<outputCacheProfiles>
					<add name="PageCache" enabled="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
					<add name="HeadlineCache" enabled="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
					<add name="ArticleCache" enabled="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
				</outputCacheProfiles>
			</outputCacheSettings>
		</caching>
	</system.web>
	<DowJones.Properties.Settings xdt:Transform="Insert">
		<setting name="ResourceManagerResourceName" serializeAs="String">
			<value>UINewspagesResources</value>
		</setting>
		<setting name="ResourceManagerAssemblyName" serializeAs="String">
			<value>UINewspagesResources</value>
		</setting>
	</DowJones.Properties.Settings>
</configuration>