<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
	</configSections>
	<ServiceSettings>
		<transactionSettings>
			<transaction key="Factiva.Gateway.Messages.Assets.PNP.V1_0:CreateNewsPage">
				<name>urn:factiva:assets:pnp:v1_0:CreateNewsPage_R</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddNamespace.xslt</param>
							<param name="namespace">urn:factiva:assets:pnp:v1_0</param>
						</filter>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddRediHeader.xslt</param>
							<param name="rediAction">urn:factiva:assets:pnp:v1_0/CreateNewsPage</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
				<transport type="STUB">
					<fileSave>stubs\requests\CreateNewsPage.xml</fileSave>
					<fileOpen>stubs\responses\CreateNewsPageResponse.xml</fileOpen>
				</transport>
			</transaction>
			<transaction key="Factiva.Gateway.Messages.Assets.PNP.V1_0:UpdateNewsPage">
				<name>urn:factiva:assets:pnp:v1_0:UpdateNewsPage_R</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddNamespace.xslt</param>
							<param name="namespace">urn:factiva:assets:pnp:v1_0</param>
						</filter>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddRediHeader.xslt</param>
							<param name="rediAction">urn:factiva:assets:pnp:v1_0/UpdateNewsPage</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
				<transport type="STUB">
					<fileSave>stubs\requests\UpdateNewsPage.xml</fileSave>
					<fileOpen>stubs\responses\UpdateNewsPageResponse.xml</fileOpen>
				</transport>
			</transaction>
			<transaction key="Factiva.Gateway.Messages.Assets.PNP.V1_0:GetNewsPage">
				<name>urn:factiva:assets:pnp:v1_0:GetNewsPage_R</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddNamespace.xslt</param>
							<param name="namespace">urn:factiva:assets:pnp:v1_0</param>
						</filter>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddRediHeader.xslt</param>
							<param name="rediAction">urn:factiva:assets:pnp:v1_0/GetNewsPage</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
				<transport type="STUB">
					<fileSave>stubs\requests\GetNewsPage.xml</fileSave>
					<fileOpen>stubs\responses\GetNewsPageResponse.xml</fileOpen>
				</transport>
			</transaction>
			<transaction key="Factiva.Gateway.Messages.Assets.PNP.V1_0:DeleteNewsPage">
				<name>urn:factiva:assets:pnp:v1_0:DeleteNewsPage_R</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddNamespace.xslt</param>
							<param name="namespace">urn:factiva:assets:pnp:v1_0</param>
						</filter>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddRediHeader.xslt</param>
							<param name="rediAction">urn:factiva:assets:pnp:v1_0/DeleteNewsPage</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
				<transport type="STUB">
					<fileSave>stubs\requests\DeleteNewsPage.xml</fileSave>
					<fileOpen>stubs\responses\DeleteNewsPageResponse.xml</fileOpen>
				</transport>
			</transaction>
			<transaction key="Factiva.Gateway.Messages.Assets.PNP.V1_0:AddWidgetsToNewsPage">
				<name>urn:factiva:assets:pnp:v1_0:AddWidgetsToNewsPage_R</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddNamespace.xslt</param>
							<param name="namespace">urn:factiva:assets:pnp:v1_0</param>
						</filter>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddRediHeader.xslt</param>
							<param name="rediAction">urn:factiva:assets:pnp:v1_0/AddWidgetsToNewsPage</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
				<transport type="STUB">
					<fileSave>stubs\requests\AddWidgetsToNewsPage.xml</fileSave>
					<fileOpen>stubs\responses\AddWidgetsToNewsPageResponse.xml</fileOpen>
				</transport>
			</transaction>
			<transaction key="Factiva.Gateway.Messages.Assets.PNP.V1_0:UpdateWidgetsOnNewsPage">
				<name>urn:factiva:assets:pnp:v1_0:UpdateWidgetsOnNewsPage_R</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddNamespace.xslt</param>
							<param name="namespace">urn:factiva:assets:pnp:v1_0</param>
						</filter>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddRediHeader.xslt</param>
							<param name="rediAction">urn:factiva:assets:pnp:v1_0/UpdateWidgetsOnNewsPage</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
				<transport type="STUB">
					<fileSave>stubs\requests\UpdateWidgetsOnNewsPage.xml</fileSave>
					<fileOpen>stubs\responses\UpdateWidgetsOnNewsPageResponse.xml</fileOpen>
				</transport>
			</transaction>
			<transaction key="Factiva.Gateway.Messages.Assets.PNP.V1_0:DeleteWidgetsFromNewsPage">
				<name>urn:factiva:assets:pnp:v1_0:DeleteWidgetsFromNewsPage_R</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddNamespace.xslt</param>
							<param name="namespace">urn:factiva:assets:pnp:v1_0</param>
						</filter>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddRediHeader.xslt</param>
							<param name="rediAction">urn:factiva:assets:pnp:v1_0/DeleteWidgetsFromNewsPage</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
				<transport type="STUB">
					<fileSave>stubs\requests\DeleteWidgetsFromNewsPage.xml</fileSave>
					<fileOpen>stubs\responses\DeleteWidgetsFromNewsPageResponse.xml</fileOpen>
				</transport>
			</transaction>
			<transaction key="Factiva.Gateway.Messages.Assets.PNP.V1_0:GetNewsPageList">
				<name>urn:factiva:assets:pnp:v1_0:GetNewsPageList_R</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddNamespace.xslt</param>
							<param name="namespace">urn:factiva:assets:pnp:v1_0</param>
						</filter>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddRediHeader.xslt</param>
							<param name="rediAction">urn:factiva:assets:pnp:v1_0/GetNewsPageList</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
				<transport type="STUB">
					<!--<fileSave>stubs\requests\GetNewsPageList.xml</fileSave>
					<fileOpen>stubs\responses\GetNewsPageListResponse.xml</fileOpen>-->
					<fileSave>c:\temp\requests\GetNewsPageList.xml</fileSave>
					<fileOpen>c:\temp\responses\GetNewsPageListResponse.xml</fileOpen>
				</transport>
			</transaction>
			<transaction key="Factiva.Gateway.Messages.Assets.PNP.V1_0:UpdateNewsPagePositions">
				<name>urn:factiva:assets:pnp:v1_0:UpdateNewsPagePositions_R</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddNamespace.xslt</param>
							<param name="namespace">urn:factiva:assets:pnp:v1_0</param>
						</filter>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddRediHeader.xslt</param>
							<param name="rediAction">urn:factiva:assets:pnp:v1_0/UpdateNewsPagePositions</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
				<transport type="STUB">
					<fileSave>stubs\requests\UpdateNewsPagePositions.xml</fileSave>
					<fileOpen>stubs\responses\UpdateNewsPagePositionsResponse.xml</fileOpen>
				</transport>
			</transaction>
			<transaction key="Factiva.Gateway.Messages.Assets.PNP.V1_0:SubscribeToNewsPage">
				<name>urn:factiva:assets:pnp:v1_0:SubscribeToNewsPage_R</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddNamespace.xslt</param>
							<param name="namespace">urn:factiva:assets:pnp:v1_0</param>
						</filter>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddRediHeader.xslt</param>
							<param name="rediAction">urn:factiva:assets:pnp:v1_0/SubscribeToNewsPage</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
				<transport type="STUB">
					<fileSave>stubs\requests\SubscribeToNewsPage.xml</fileSave>
					<fileOpen>stubs\responses\SubscribeToNewsPageResponse.xml</fileOpen>
				</transport>
			</transaction>
			<transaction key="Factiva.Gateway.Messages.Assets.PNP.V1_0:UnsubscribeToNewsPage">
				<name>urn:factiva:assets:pnp:v1_0:UnsubscribeToNewsPage_R</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddNamespace.xslt</param>
							<param name="namespace">urn:factiva:assets:pnp:v1_0</param>
						</filter>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddRediHeader.xslt</param>
							<param name="rediAction">urn:factiva:assets:pnp:v1_0/UnsubscribeToNewsPage</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
				<transport type="STUB">
					<fileSave>stubs\requests\UnsubscribeToNewsPage.xml</fileSave>
					<fileOpen>stubs\responses\UnsubscribeToNewsPageResponse.xml</fileOpen>
				</transport>
			</transaction>
			<transaction key="Factiva.Gateway.Messages.Assets.PNP.V1_0:SetShareProperties">
				<name>urn:factiva:assets:pnp:v1_0:SetShareProperties_R</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddNamespace.xslt</param>
							<param name="namespace">urn:factiva:assets:pnp:v1_0</param>
						</filter>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\AddRediHeader.xslt</param>
							<param name="rediAction">urn:factiva:assets:pnp:v1_0/SetShareProperties</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
				<transport type="STUB">
					<fileSave>stubs\requests\SetNewsPageShareProperties.xml</fileSave>
					<fileOpen>stubs\responses\SetNewsPageSharePropertiesResponse.xml</fileOpen>
				</transport>
			</transaction>
		</transactionSettings>
	</ServiceSettings>
</configuration>
