<ul class="DJIIFilterList">
<% $.each(self.filterItems, function(i, filterItem) { 
    if (filterItem && ((filterItem.filter && filterItem.filter.length > 0) || (filterItem.excludeFilter && filterItem.excludeFilter.length > 0))) { %>
        <li class="beta dj_alert-source"><%= filterItem.filterName %>: </li>
        <%if (filterItem.filter && filterItem.filter.length > 0) {
            $.each(filterItem.filter, function(j, filter) { %>
            <li class="connectionAndPillWrap" findex="<%= i %>" iindex="<%= j %>" mode="and">
                <div class="filterPillWrap addPillOptions" data-filter="<%= JSON.stringify(filter) %>" mode="and">
                    <div style="cursor: pointer;" class="pill">
                        <span class="filterText"><%= filter.desc %></span>
                        <span class="fi-two fi_d-arrow-drk-gray fi_d-gear" findex="<%= i %>" iindex="<%= j %>"></span>
                    </div>
                </div>
            </li>
            <%});
        }
        if (filterItem.excludeFilter && filterItem.excludeFilter.length > 0) {
            $.each(filterItem.excludeFilter, function(j, filter) { %>
            <li class="connectionAndPillWrap" findex="<%= i %>" iindex="<%= j %>" mode="not">
                <span class="filterConnection">
                    <span class="connectionText connectionTextNot"><%= Token('notLabel') %></span>
                </span>
                <div class="filterPillWrap addPillOptions" data-exFilter="<%= JSON.stringify(filter) %>" mode="not">
                    <div style="cursor: pointer;" class="pill">
                        <span class="filterText"><%= filter.desc %></span>
                        <span class="fi-two fi_d-arrow-drk-gray fi_d-gear" findex="<%= i %>" iindex="<%= j %>"></span>
                    </div>
                </div>
            </li>
            <%});
        }
    }
}); %>
</ul>


                
                
                
                
        
 
