<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>

    <transactionSettings>

      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:CreatePage">
        <name>urn:factiva:assets:pages:v1_0:CreatePage_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:UpdatePage">
        <name>urn:factiva:assets:pages:v1_0:UpdatePage_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:UpdatePageProperties">
        <name>urn:factiva:assets:pages:v1_0:UpdatePageProperties_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:UpdatePageTitle">
        <name>urn:factiva:assets:pages:v1_0:UpdatePageTitle_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:DeletePage">
        <name>urn:factiva:assets:pages:v1_0:DeletePage_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:GetPageByID">
        <name>urn:factiva:assets:pages:v1_0:GetPageByID_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:GetPageByIDs">
        <name>urn:factiva:assets:pages:v1_0:GetPageByIDs_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:GetPagesList">
        <name>urn:factiva:assets:pages:v1_0:GetPagesList_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:GetPagesListWithPage">
        <name>urn:factiva:assets:pages:v1_0:GetPagesListWithPage_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:UpdatePagePositions">
        <name>urn:factiva:assets:pages:v1_0:UpdatePagePositions_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:UpdateModulePositions">
        <name>urn:factiva:assets:pages:v1_0:UpdateModulePositions_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:AddModulesToPage">
        <name>urn:factiva:assets:pages:v1_0:AddModulesToPage_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:UpdateModulesOnPage">
        <name>urn:factiva:assets:pages:v1_0:UpdateModulesOnPage_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:DeleteModulesFromPage">
        <name>urn:factiva:assets:pages:v1_0:DeleteModulesFromPage_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:SetShareProperties">
        <name>urn:factiva:assets:pages:v1_0:SetShareProperties_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <!--Start Newspages transactions-->
      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:GetModulesList">
        <name>urn:factiva:assets:pages:v1_0:GetModuleList_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:GetModuleByID">
        <name>urn:factiva:assets:pages:v1_0:GetModuleByID_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:UpdateModuleProperties">
        <name>urn:factiva:assets:pages:v1_0:UpdateModuleProperties_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:GetSubscribablePages">
        <name>urn:factiva:assets:pages:v1_0:GetSubscribablePages_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:SubscribePage">
        <name>urn:factiva:assets:pages:v1_0:SubscribePage_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:UnSubscribePage">
        <name>urn:factiva:assets:pages:v1_0:UnSubscribePage_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:UpdateModule">
        <name>urn:factiva:assets:pages:v1_0:UpdateModule_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:CreateModule">
        <name>urn:factiva:assets:pages:v1_0:CreateModule_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:EnableDisableAssignedPage">
        <name>urn:factiva:assets:pages:v1_0:EnableDisableAssignedPage_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:SetPageShareProperties">
        <name>urn:factiva:assets:pages:v1_0:SetPageShareProperties_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:SetModuleShareProperties">
        <name>urn:factiva:assets:pages:v1_0:SetModuleShareProperties_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:GetOwnerByAssetID">
        <name>urn:factiva:assets:pages:v1_0:GetOwnerByAssetID_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:GetPageTitleDescriptions">
        <name>urn:factiva:assets:pages:v1_0:GetPageTitleDescriptions_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:UpdatePageTitleDescriptions">
        <name>urn:factiva:assets:pages:v1_0:UpdatePageTitleDescriptions_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:DeletePageTitleDescriptions">
        <name>urn:factiva:assets:pages:v1_0:DeletePageTitleDescriptions_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:SetSharingRoot">
        <name>urn:factiva:assets:pages:v1_0:SetSharingRoot_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>

      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:SetRootAsset">
        <name>urn:factiva:assets:pages:v1_0:SetRootAsset_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Assets\SetRootAsset.xml</fileSave>
          <fileOpen>stubs\Assets\SetRootAssetResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:ReplaceModuleOnPage">
        <name>urn:factiva:assets:pages:v1_0:ReplaceModuleOnPage_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Assets\ReplaceModuleOnPage.xml</fileSave>
          <fileOpen>stubs\Assets\ReplaceModuleOnPageResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:UpdateQueryFilters">
        <name>urn:factiva:assets:pages:v1_0:UpdateQueryFilters_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.Pages.V1_0:DeleteQueryFilters">
        <name>urn:factiva:assets:pages:v1_0:DeleteQueryFilters_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <!--End Newspages transactions-->
    </transactionSettings>

  </ServiceSettings>
</configuration>