@using DowJones.Extensions
@using DowJones.Web.Mvc.UI.Components.Models

@model DowJones.Web.Mvc.UI.Components.Search.HeadlinePostProcessing
		   
@ClientPlugin dj_HeadlinePostProcessing

@ClientTemplate RelativeResourceName=ClientTemplates.modalDialog.htm, TemplateId=modalDialog
@ClientTemplate RelativeResourceName=ClientTemplates.saveOptions.htm, TemplateId=saveOptions
@ClientTemplate RelativeResourceName=ClientTemplates.formatOptions.htm, TemplateId=formatOptions
@ScriptResource RelativeResourceName=HeadlinePostProcessing.js

@{ CssClass = "dj_HeadlinePostProcessing"; }
<ul class="actions">
	@{if (Model!=null && Model.HeadlinePostProcessingOptions!=null)
		{
			foreach (var item in Model.HeadlinePostProcessingOptions)
			{
			<li>
				<span title="@Html.DJ().Token(item.ToString().ToLower() + "ArticlesTitle")" class="dj_icon dj_icon-inactive-@item.ToString().ToLower()"></span>
			</li>
				
				 
			}
		}
	}
</ul>

