<div class="navbar-inner">
    <div class="container-fluid ">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="nav-collapse">
            <ul class="dashNav nav">
                <li data-source="online.wsj.com" class="active main-nav-arrow" data-map="us">
                    <a class="main-menu-link" href="javascript:void(0);">
                        <div class="main-nav-icon-big">
                            <img src="~/Content/images/wsj.png" alt="Wall Street Journal: US" />
                        </div>
                        US
                    </a>
                </li>
				<li data-source="wallstreetjournal.de" data-map="de">
					<a class="main-menu-link" href="javascript:void(0);">
						<div class="main-nav-icon-big">
							<img src="~/Content/images/wsj.png" alt="Wall Street Journal: Germany" />
						</div>
						Germany
					</a>
				</li>
				<li data-source="asia.wsj.com" data-map="apac">
					<a class="main-menu-link" href="javascript:void(0);">
						<div class="main-nav-icon-big">
							<img src="~/Content/images/wsj.png" alt="Wall Street Journal: Asia" />
						</div>
						Asia
					</a>
				</li>
				<li data-source="indo.wsj.com" data-map="indo">
					<a class="main-menu-link" href="javascript:void(0);">
						<div class="main-nav-icon-big">
							<img src="~/Content/images/wsj.png" alt="Wall Street Journal: Indonesia" />
						</div>
						Indonesia 
					</a>
				</li>
                <li data-source="kr.wsj.com" data-map="kr">
                    <a class="main-menu-link" href="javascript:void(0);">
                        <div class="main-nav-icon-big">
                            <img src="~/Content/images/wsj.png" alt="Wall Street Journal: Korea" />
                        </div>
                        Korea 
                    </a>
                </li>
                <li data-source="jp.wsj.com" data-map="jp">
                    <a class="main-menu-link" href="javascript:void(0);">
                        <div class="main-nav-icon-big">
                            <img src="~/Content/images/wsj.png" alt="Wall Street Journal: Japan" />
                        </div>
                        Japan <sup class="label label-warning beta">Beta</sup>
                    </a>
                </li>
                <li data-source="cn.wsj.com" data-map="cn">
                    <a class="main-menu-link" href="javascript:void(0);">
                        <div class="main-nav-icon-big">
                            <img src="~/Content/images/wsj.png" alt="Wall Street Journal: China" />
                        </div>
                        China <sup class="label label-warning beta">Beta</sup>
                    </a>
                </li>
                 @*<li data-source="live.wsj.com" data-map="us">
                    <a class="main-menu-link" href="javascript:void(0);">
                        <div class="main-nav-icon-big">
                            <img src="~/Content/images/wsj.png" alt="Wall Street Journal: Live" />
                        </div>
                        Live
                    </a>
                </li>
              
               <li data-source="marketwatch.com" data-map="us">
                    <a class="main-menu-link" href="javascript:void(0);">
                        <div class="main-nav-icon-big">
                            <img src="~/Content/images/marketwatch.png" alt="Marketwatch" />
                        </div>
                        Marketwatch
                    </a>
                </li>
                <li data-source="smartmoney.com" data-map="us">
                    <a class="main-menu-link" href="javascript:void(0);">
                        <div class="main-nav-icon-big">
                            <img src="~/Content/images/smartmoney.png" alt="Smart Money" />
                        </div>
                        Smartmoney
                    </a>
                </li>
                <li data-source="online.barrons.com" data-map="us">
                    <a class="main-menu-link" href="javascript:void(0);">
                        <div class="main-nav-icon-big">
                            <img src="~/Content/images/barrons.png" alt="Barrons" />
                        </div>
                        Barrons
                    </a>
                </li>
              <li data-source="factiva.com" data-map="us">
        <a class="main-menu-link" data-filter="sub-menu-calendar" href="javascript:void(0);">
            <div class="main-nav-icon-big">
                <img src="~/Content/images/factiva.png" alt="Factiva" />
            </div>
            Factiva
        </a>
    </li>*@
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>