@{
    ViewBag.Title = "Dow Jones UI Framework Validation";
}

<h1>@ViewBag.Title</h1>


<section id="validation">
    <style>
        .testing { background-color: orange; font-style: italic; }
        .passed { background-color: greenyellow; }
        .timeout, .failed, .error  { background-color: red; font-weight: bold; }
    
        #validation-steps li {
            padding: 5px;
        }
    </style>

    <h2>Validation</h2>
    <div class="loading">Validating that everything was installed and configured properly...</div>
    <ol id="validation-steps"></ol>

    <script type="text/javascript">
        var DJ = window['DJ'];
        if (!(DJ && DJ.config)) {
            DJ = {};
        }

        DJ.config.debug = true;

        var TIMEOUT = 5000;
        var container, tests;

        function validate(description, test) {
            var _result;

            var statusEl = document.createElement("li");
            statusEl.innerText = description;
            container.appendChild(statusEl);

            var setStatus = function (val, text) {
                statusEl.className = val;

                if (text)
                    console.log(description, ": ", text);
            };

            var evalResult = function (result) {
                _result = result;

                if (_result === 'timeout') {
                    setStatus("timeout");
                } else if (_result) {
                    setStatus("passed");
                } else {
                    setStatus("failed");
                }
            };

            var timeout = function () {
                if (_result) return;
                evalResult('timeout');
            };

            setStatus("testing");

            try {
                setTimeout(timeout, TIMEOUT);
                test(evalResult);
            } catch (e) {
                setStatus("error", e);
            }
        }

        window.onload = function () {
            container = document.getElementById("validation-steps");

            validate("DJ exists", function (callback) {
                callback(DJ !== undefined);
            });

            validate("DJ.config exists", function (callback) {
                callback(DJ.config !== undefined);
            });

            validate("DJ.jQuery exists", function (callback) {
                callback(DJ.jQuery !== undefined);
            });

            validate("DJ.UI.Component exists", function (callback) {
                callback(DJ.UI.Component !== undefined);
            });

            validate("require('JSON')", function (callback) {
                DJ.$dj.require(['JSON'], function (JSON) {
                    callback(JSON !== undefined);
                });
            });

            validate("Can create PortalHeadlineList via DJ.add()", function (callback) {
                $('<div id="phlContainer" />').hide().appendTo($('body'));
                DJ.add('PortalHeadlineList', { container: 'phlContainer' })
                  .then(callback);
            });

            validate("Can create PortalHeadlineList via plugin", function (callback) {
                DJ.$dj.require(['$', '$dj', 'DJ.UI.PortalHeadlineList'], function ($, $dj) {
                    callback($('<div>').dj_PortalHeadlineList({}));
                });
            });
        };
    </script>
</section>


<section id="next-steps">
    <h2>Next Steps</h2>
    <p>Here are a few suggestions for what you might want to do next:</p>
    <ol>
        <li>Install the <em>Factiva.Gateway.Resources</em> NuGet package to retrieve the Gateway configuration files.</li>
        <li>Customize your dependency injection bindings in the <strong>Dependencies</strong> class in the root of your website</li>
        <li>Install Dowjones.Web.Mvc.Website.DJReady package to configure Login, Log4Net settings and other resources to start developing Dowjones application</li>
        <li>Execute the <em>Update-Tokens [Token Product Name]</em> script in the Package Manager Console to generate tokens for your application</li>
        <li>Install the <em>DowJones.Web.Mvc.UI.Canvas.Modules</em> NuGet package create a Canvas/Dashboard application.</li>
    </ol>
</section>