<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
	</configSections>
	<ServiceSettings>
		<transactionSettings>
			<!-- Start DataContainers -->

			<transaction key="Factiva.Gateway.Messages.Assets.DataContainers.V1_0:AddItemsToContainer">
				<name>urn:factiva:assets:itemcontainer:data:v1_0:AddItemsToContainer</name>
				<request>
					<messageFormat>STRING</messageFormat>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>


			<transaction key="Factiva.Gateway.Messages.Assets.DataContainers.V1_0:CreateContainer">
				<name>urn:factiva:assets:itemcontainer:data:v1_0:CreateContainer</name>
				<request>
					<messageFormat>STRING</messageFormat>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>


			<transaction key="Factiva.Gateway.Messages.Assets.DataContainers.V1_0:GetContainerById">
				<name>urn:factiva:assets:itemcontainer:data:v1_0:GetContainerById</name>
				<request>
					<messageFormat>STRING</messageFormat>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>


			<transaction key="Factiva.Gateway.Messages.Assets.DataContainers.V1_0:GetContainerList">
				<name>urn:factiva:assets:itemcontainer:data:v1_0:GetContainerList</name>
				<request>
					<messageFormat>STRING</messageFormat>	
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>

			<!-- End DataContainers -->

		</transactionSettings>
	</ServiceSettings>
</configuration>
