<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.DJComm.User.V1_0:GetMadeUserList">
        <name>urn:factiva:Communicator:UserService:v1_0:GetMadeUserList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\User\GetMadeUserListRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\User\GetMadeUserListResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.User.V1_0:GetMadeUserInfo">
        <name>urn:factiva:Communicator:UserService:v1_0:GetMadeUserInfo</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\User\GetMadeUserInfoRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\User\GetMadeUserInfoResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.User.V1_0:CreateMadeUser">
        <name>urn:factiva:Communicator:UserService:v1_0:CreateMadeUser</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\User\CreateMadeUserRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\User\CreateMadeUserResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.User.V1_0:UpdateMadeUser">
        <name>urn:factiva:Communicator:UserService:v1_0:UpdateMadeUser</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\User\UpdateMadeUserRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\User\UpdateMadeUserResponse.xml</fileOpen>
        </transport>
      </transaction>
     
    </transactionSettings>
  </ServiceSettings>
</configuration>