/***  Discovery  ***/
.dj_Discovery .discovery-group {
    padding-left: 20px;
}
.dj_Discovery .toggle {
    height: 15px;
    width: 15px;
    background-image: url(discovery_toggle.png);
    background-position: bottom;
    position: absolute;
    margin-left: -20px;
    margin-top: 2px;
}
.dj_Discovery .expanded .toggle {
    background-position: top;
}
.dj_Discovery .name {
    display: inline-block;
    line-height: 20px;
    cursor: pointer;
}
.dj_Discovery .discovery-items {
    display:none;
}
.dj_Discovery .expanded .discovery-items {
    display:block;
}
.dj_Discovery .chart-item {
    position:relative;
    height: 18px;
    margin: 0 0 2px 0;
    padding: 0;
}
.dj_Discovery .cloud-item {
    display:block;
}
.dj_Discovery .discovery-items .chart-item span {
    line-height: 18px;
    height: 18px;
    display: inline-block;
}
.dj_Discovery .discovery-items .chart-item a {
    display: inline-block;
    width:100%;
    margin-right: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dj_Discovery .discovery-label {
    position:absolute;
    top:0;
    left:0;
    width:50%;
}
.dj_Discovery .discovery-chart {
    width:50%;
    margin:0 0 0 50%;
}
.dj_Discovery .chart-value {
    position: absolute;
    margin-left: 5px;
}
.dj_Discovery .chart-bar {
    overflow: hidden;
    cursor: pointer;
    background-color:#888;
    color:#FFF;
}
.dj_Discovery .dj_emg_djc_keyword_item10{font-size:180%}
.dj_Discovery .dj_emg_djc_keyword_item9{font-size:170%}
.dj_Discovery .dj_emg_djc_keyword_item8{font-size:160%}
.dj_Discovery .dj_emg_djc_keyword_item7{font-size:150%}
.dj_Discovery .dj_emg_djc_keyword_item6{font-size:140%}
.dj_Discovery .dj_emg_djc_keyword_item5{font-size:130%}
.dj_Discovery .dj_emg_djc_keyword_item4{font-size:120%}
.dj_Discovery .dj_emg_djc_keyword_item3{font-size:110%}
.dj_Discovery .dj_emg_djc_keyword_item2{font-size:100%}
.dj_Discovery .dj_emg_djc_keyword_item1{font-size:90%}

