<%  var d, desc;
    for(var i = 0;i < data.length;i++){ 
        d = data[i];
        desc = d.Name || d.desc;
        if(isAuthor){
            if(d.PrimarySource && d.PrimarySource.Description){
                desc += " (" + d.PrimarySource.Description  + ")";
            }
        }
        else if(isExecutive){
            if(d.AssociatedCompanies && d.AssociatedCompanies.length && d.AssociatedCompanies[0].Name){
                desc += " (" + d.AssociatedCompanies[0].Name  + ")";
            }
        }
%>
    <li class="item" data-code="<%= (d.Code || d.code).toLowerCase() %>">
        <span><%= desc %></span>
    </li>
<% } %>

