<%  var d;
    for(var i = 0;i < data.length;i++){ 
        d = data[i];
%>
<li>
    <div>
        <span class="dj_icon dj_browse-tree-toggle sourceList"></span>
        <div class="browse-item" data-type="LIST" data-code="<%= d.Id %>">
            <span><%= d.Name %></span> &nbsp;&nbsp;<a href="javascript:void(0);" class="edit-list"><%= Token('edit') %></a> &nbsp;&nbsp;<span class="dj_icon dj_icon-exclude" title="<%= Token('delete') %>"></span>
        </div>
    </div>
</li>
<% } %>