<div class="dj_select-box-alt">
    <label><%= Token('sourceGroup') %></label>
    <div class="dj_btn dj_btn-gray dj_btn-rounded-square dj_btn-select-menu no-margin">
		<span></span>
		<span class="dj_btn-down-arrow"></span>
		<ul class="dj_menu-multi-level hidden"></ul>
	</div>
    <label class="add-margin"><%= Token('srcBrwsrfilterBy') %></label>
    <div class="dj_btn dj_btn-gray dj_btn-rounded-square dj_btn-select-menu" data-value="">
		<span><%= Token("selectFilter") %></span>
		<span class="dj_btn-down-arrow"></span>
		<ul class="dj_menu-multi-level hidden">
            <li>
                <div data-value=""><%= Token("selectFilter") %></div>
            </li>
			 <li>
                <div data-value="industry"><%= Token("industry") %></div>
            </li>
            <li>
                <div data-value="language"><%= Token("language") %></div>
            </li>
            <li>
                <div data-value="regionOfOrigin"><%= Token("regionOfOrigin") %></div>
            </li>
            <li>
                <div data-value="regionOfCoverage"><%= Token("regionOfCoverage") %></div>
            </li>
            <li>
                <div data-value="title"><%= Token("titleLabel") %></div>
            </li>
			<%  var additionalFilters = additionalSourceFilters || [];
				for (var i = 0, len < additionalFilters.length; i < len; i++) { %>
                <li><div data-value="<%= additionalFilters[i].code %>"><%= additionalFilters[i].desc %></div></li>
            <% } %>
        </ul>
	</div>
    <div class="alphabet-list hidden">
        <ul>
            <% 
                var c;
                for (var i = 65; i <= 90; i++) { 
                    c = String.fromCharCode(i);
            %>
                <li><span data-value="<%= c %>"><%= c %></span></li>
            <% } %>
            <li><span data-value="other"><%= Token('other') %></span></li>
        </ul>
    </div>
</div>

<p><%= Token('expandToViewSources') %></p>