@model DowJones.Factiva.Currents.Website.Models.Headlines

@{
    ViewBag.Title = "Headlines";
}

<section id="headlines">
    @Html.DJ().Render(Model.CurrentsHeadline)
</section>
<p>
	@Html.ActionLink(Html.DJ().Token("viewAll").ToString(),
            "ViewAll",
            new RouteValueDictionary { { "sc", Model.ViewAllSearchContext } },
            new Dictionary<string, object> {{"class", "label label-info"}})
</p>
