@model dynamic

<h3>View Headline</h3>
<p>
	This page will show headline snippet for "@ViewBag.Title" having accession number: {@ViewBag.AccessionNumber}
	published on @ViewBag.PublicationDate.ToString("D").
</p>
<hr />
