<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.Assets.Queries.V1_0:CreateQuery">
        <name>urn:factiva:assets:queries:v1_0:CreateQuery</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Queries.V1_0:UpdateQuery">
        <name>urn:factiva:assets:queries:v1_0:UpdateQuery</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Queries.V1_0:UpdateQueryName">
        <name>urn:factiva:assets:queries:v1_0:UpdateQueryName</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Queries.V1_0:UpdateQueryProperties">
        <name>urn:factiva:assets:queries:v1_0:UpdateQueryProperties</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Queries.V1_0:DeleteQuery">
        <name>urn:factiva:assets:queries:v1_0:DeleteQuery</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Queries.V1_0:GetQueriesPropertiesList">
        <name>urn:factiva:assets:queries:v1_0:GetQueriesPropertiesList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Queries.V1_0:GetQueriesDetailsList">
        <name>urn:factiva:assets:queries:v1_0:GetQueriesDetailsList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Queries.V1_0:GetQueryByID">
        <name>urn:factiva:assets:queries:v1_0:GetQueryByID</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Queries.V1_0:DeleteGroupFromQuery">
        <name>urn:factiva:assets:queries:v1_0:DeleteGroupFromQuery</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      
      <transaction key="Factiva.Gateway.Messages.Assets.Queries.V1_0:GetSubscribableQueries">
        <name>urn:factiva:assets:queries:v1_0:GetSubscribableQueries</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.Queries.V1_0:SubscribeQuery">
        <name>urn:factiva:assets:queries:v1_0:SubscribeQuery</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.Queries.V1_0:SetShareProperties">
        <name>urn:factiva:assets:queries:v1_0:SetShareProperties</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.Queries.V1_0:UnSubscribeQuery">
        <name>urn:factiva:assets:queries:v1_0:UnSubscribeQuery</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      
    </transactionSettings>
  </ServiceSettings>
</configuration>