<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.DJInsight.V1_0:GetDatasetInfo">
        <name>urn:dowjones:emg:insight:datasets:v1_0:GetDatasetInfo</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
         <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\DJInsightService\GetDatasetInfoRequest.xml</fileSave>
          <fileOpen>stubs\DJInsightService\GetDatasetInfoResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJInsight.V1_0:GetDatasetFeedDocuments">
        <name>urn:dowjones:emg:insight:datasets:v1_0:GetDatasetFeedDocuments</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\DJInsightService\GetDatasetFeedDocumentsRequest.xml</fileSave>
          <fileOpen>stubs\DJInsightService\GetDatasetFeedDocumentsResponse.xml</fileOpen>
        </transport>-->
      </transaction>
    </transactionSettings>
  </ServiceSettings>
</configuration>