<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
	</configSections>
	<ServiceSettings>
		<transactionSettings>

			<transaction key="Factiva.Gateway.Messages.PIM.V1_0:PublishLogEntry">
				<name>urn:emg:PIMService:v1_0:Publish</name>
				<request>
					<messageFormat>STRING</messageFormat>
				</request>
				<!--<response>
					<messageFormat>STRING</messageFormat>
					<filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\PIM\RemoveRoot.xslt</param>
            </filter>
          </filters>
				</response>-->
				<transport type="RTS"/>
				<transport type="HTTP"/>
				<!--<transport type="STUB">
          <fileSave>stubs\PIM\Request\PublishLogEntryRequest.xml</fileSave>
          <fileOpen>stubs\PIM\Response\PublishLogEntryResponse.xml</fileOpen>
        </transport>-->
			</transaction>
		</transactionSettings>
	</ServiceSettings>
</configuration>
