<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>

      <transaction key="Factiva.Gateway.Messages.Symbology.Taxonomy.V1_0:GetTaxonomyListInfo">
        <name>http://types.factiva.com/symbology/taxonomy:GetTaxonomyListInfo_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/GetTaxonomyListInfo</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Symbology.Taxonomy.V1_0:GetTaxonomyList">
        <name>http://types.factiva.com/symbology/taxonomy:GetTaxonomyList_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/GetTaxonomyList</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Symbology.Taxonomy.V1_0:GetTaxonomyCodes">
        <name>http://types.factiva.com/symbology/taxonomy:GetTaxonomyCodes_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/GetTaxonomyCodes</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Symbology.Taxonomy.V1_0:GetTaxonomyCodeChild">
        <name>http://types.factiva.com/symbology/taxonomy:GetTaxonomyCodeChild_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/GetTaxonomyCodeChild</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Symbology.Taxonomy.V1_0:PerformTaxonomyCodeSearch">
        <name>http://types.factiva.com/symbology/taxonomy:PerformTaxCodeSrch_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/PerformTaxCodeSrch</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Symbology.Taxonomy.V1_0:PerformFullTextTaxonomyCodeSearch">
        <name>http://types.factiva.com/symbology/taxonomy:PerformFTTaxCodeSrch_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/PerformFTTaxCodeSrch</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      
    </transactionSettings>
  </ServiceSettings>
</configuration>
