<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <DowJones.Properties.Settings>
      <setting name="DefaultProductName" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>global</value>
      </setting>
      <setting name="LoginServerUrl" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://global.beta.factiva.com/FactivaLogin/Login.asp</value>
      </setting>
      <setting name="LogoutServerUrl" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://global.beta.factiva.com/FactivaLogin/Logout.asp</value>
      </setting>
      <setting name="LoginConfigFile" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>~/Cfg/Beta/Config.xml</value>
      </setting>
    </DowJones.Properties.Settings>
  </applicationSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors xdt:Transform="RemoveAttributes(defaultRedirect)" />
    <trace enabled="false" xdt:Transform="SetAttributes"/>
  </system.web>
  <log4net update="Overwrite">
    <appender name="RollingFileAppender" xdt:Locator="Match(name)">
      <threshold value="WARN" xdt:Transform="Replace" />
    </appender>
    <appender name="DebugAppender" xdt:Locator="Match(name)">
      <threshold value="WARN" xdt:Transform="Replace" />
    </appender>
    <appender name="log2console" xdt:Locator="Match(name)" xdt:Transform="Remove" />
    <root>
      <level value="WARN" xdt:Transform="Replace" />
      <appender-ref ref="RollingFileAppender" xdt:Transform="RemoveAll"></appender-ref>
      <appender-ref ref="RollingFileAppender" xdt:Transform="InsertAfter(/configuration/log4net/root/level)"/>
    </root>
  </log4net>
</configuration>