<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
    </configSections>
    <ServiceSettings>
        <transactionSettings>
            <!-- Start Search Version 1.0-1.1 -->
            <transaction key="Factiva.Gateway.Messages.Search.V1_0:PerformContentSearch">
                <name>Search_Soap</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>
            <transaction key="Factiva.Gateway.Messages.Search.V1_0:DecomposeQuery">
                <name>Search_Soap</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>
            <transaction key="Factiva.Gateway.Messages.Search.V1_0:BuildQuery">
                <name>Search_Soap</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>
            <!-- End Search Version 1.0-1.1 -->

            <!-- Start Search Version 2.0-2.1 -->

          <transaction key="Factiva.Gateway.Messages.Search.V2_0:BuildQuery">
              <name>Search2_Soap</name>
              <request>
                  <messageFormat>STRING</messageFormat>
              </request>
              <response>
                  <messageFormat>STRING</messageFormat>
              </response>
              <transport type="RTS"/>
              <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_0:DecomposeQuery">
              <name>Search2_Soap</name>
              <request>
                  <messageFormat>STRING</messageFormat>
              </request>
              <response>
                  <messageFormat>STRING</messageFormat>
              </response>
              <transport type="RTS"/>
              <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_0:PerformContentSearch">
              <name>Search2_Soap</name>
              <request>
                  <messageFormat>STRING</messageFormat>
              </request>
              <response>
                  <messageFormat>STRING</messageFormat>
              </response>
              <transport type="RTS"/>
              <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_0:PerformMetadataSearch">
              <name>Search2_Soap</name>
              <request>
                  <messageFormat>STRING</messageFormat>
              </request>
              <response>
                  <messageFormat>STRING</messageFormat>
              </response>
              <transport type="RTS"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_0:GetLinkedDocuments">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_0:GetDocuments">
              <name>Search2_Soap</name>
              <request>
                  <messageFormat>STRING</messageFormat>
              </request>
              <response>
                  <messageFormat>STRING</messageFormat>
              </response>
              <transport type="RTS"/>
              <transport type="HTTP"/>
          </transaction>

          <!--<transaction key="Factiva.Gateway.Messages.Search.V2_0:GetTermCounts">
              <name>Search2_Soap</name>
              <request>
                  <messageFormat>STRING</messageFormat>
              </request>
              <response>
                  <messageFormat>STRING</messageFormat>
              </response>
              <transport type="RTS"/>
              <transport type="HTTP"/>
          </transaction>-->

          <transaction key="Factiva.Gateway.Messages.Search.V2_0:Ping">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_0:SetSearchServersStatus">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_0:GetStatistics">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_0:SetFineLogging">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_0:Refresh">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>
          <!-- End Search Version 2.0-2.1 -->

            <!-- Start Search Version 2.2 -->
            <transaction key="Factiva.Gateway.Messages.Search.V2_2:BuildQuery">
                <name>Search2_Soap</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.V2_2:DecomposeQuery">
                <name>Search2_Soap</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.V2_2:PerformContentSearch">
                <name>Search2_Soap</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.V2_2:GetDocuments">
                <name>Search2_Soap</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.V2_2:GetTermCounts">
                <name>Search2_Soap</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.V2_2:GetLinkedDocuments">
                <name>Search2_Soap</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.V2_2:PerformMetadataSearch">
                <name>Search2_Soap</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <!-- End Search Version 2.2 -->


            <!-- Start RealTime Search Version 1.0 -->
            <transaction key="Factiva.Gateway.Messages.Search.RealTimeSearch.V1_0:BuildQuery">
                <name>RTSearch_SOAP</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.RealTimeSearch.V1_0:DecomposeQuery">
                <name>RTSearch_SOAP</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.RealTimeSearch.V1_0:GetStatistics">
                <name>RTSearch_SOAP</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.RealTimeSearch.V1_0:PerformContentSearch">
                <name>RTSearch_SOAP</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.RealTimeSearch.V1_0:Refresh">
                <name>RTSearch_SOAP</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.RealTimeSearch.V1_0:SetFineLogging">
                <name>RTSearch_SOAP</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.RealTimeSearch.V1_0:GetDocuments">
                <name>RTSearch_SOAP</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.RealTimeSearch.V1_0:GetTermCounts">
                <name>RTSearch_SOAP</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.RealTimeSearch.V1_0:GetLinkedDocuments">
                <name>RTSearch_SOAP</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.RealTimeSearch.V1_0:PerformMetadataSearch">
                <name>RTSearch_SOAP</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <!-- End Search Version 2.2 -->



            <!-- Start Consumeer Search Version 1.0 -->

            <transaction key="Factiva.Gateway.Messages.Search.Consumer.V1_0:BuildQuery">
                <name>consumer_search_SOAP</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.Consumer.V1_0:DecomposeQuery">
                <name>consumer_search_SOAP</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.Consumer.V1_0:PerformContentSearch">
                <name>consumer_search_SOAP</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>


            <transaction key="Factiva.Gateway.Messages.Search.Consumer.V1_0:PerformMetadataSearch">
                <name>consumer_search_SOAP</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
            </transaction>
            <!-- End Consumeer Search Version 1.0 -->


            <!-- Start Consumeer.Alpha Search Version 1.0 -->

            <transaction key="Factiva.Gateway.Messages.Search.Consumer.Alpha.V1_0:BuildQuery">
                <name>Search2_Soap</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.Consumer.Alpha.V1_0:DecomposeQuery">
                <name>Search2_Soap</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.Consumer.Alpha.V1_0:PerformContentSearch">
                <name>Search2_Soap</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
          </transaction>


            <transaction key="Factiva.Gateway.Messages.Search.Consumer.Alpha.V1_0:PerformMetadataSearch">
                <name>Search2_Soap</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
            </transaction>
            <!-- End Consumeer.Alpha Search Version 1.0 -->



            <!-- Start Search Version 2.3 -->
            <transaction key="Factiva.Gateway.Messages.Search.V2_3:BuildQuery">
                <name>Search2_Soap</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.V2_3:DecomposeQuery">
                <name>Search2_Soap</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.V2_3:PerformContentSearch">
                <name>Search2_Soap</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.V2_3:GetDocuments">
                <name>Search2_Soap</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.V2_3:GetTermCounts">
                <name>Search2_Soap</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.V2_3:GetLinkedDocuments">
                <name>Search2_Soap</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <transaction key="Factiva.Gateway.Messages.Search.V2_3:PerformMetadataSearch">
                <name>Search2_Soap</name>
                <request>
                    <messageFormat>STRING</messageFormat>
                </request>
                  <response>
                    <messageFormat>STRING</messageFormat>
                </response>
                <transport type="RTS"/>
                <transport type="HTTP"/>
            </transaction>

            <!-- End Search Version 2.3 -->

          <!-- Start Search Version 2.4 -->
          <transaction key="Factiva.Gateway.Messages.Search.V2_5.Depricated:BuildQuery">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_5.Depricated:DecomposeQuery">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_5.Depricated:PerformContentSearch">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_5.Depricated:GetDocuments">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_5.Depricated:GetTermCounts">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_5.Depricated:GetLinkedDocuments">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_5.Depricated:PerformMetadataSearch">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <!-- End Search Version 2.4 -->

          <!--Start Free Search-->
          <transaction key="Factiva.Gateway.Messages.Search.FreeSearch.V1_0:BuildQuery">
            <name>FreeSearch_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.FreeSearch.V1_0:DecomposeQuery">
            <name>FreeSearch_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.FreeSearch.V1_0:PerformContentSearch">
            <name>FreeSearch_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.FreeSearch.V1_0:PerformMetadataSearch">
            <name>FreeSearch_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.FreeSearch.V1_0:GetLinkedDocuments">
            <name>FreeSearch_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.FreeSearch.V1_0:GetDocuments">
            <name>FreeSearch_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>
          <!--End Free Search-->

          <!--Start Private Search-->
          
          <transaction key="Factiva.Gateway.Messages.Search.PrivateSearch.V1_0:BuildQuery">
            <name>private_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.PrivateSearch.V1_0:DecomposeQuery">
            <name>private_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.PrivateSearch.V1_0:PerformContentSearch">
            <name>private_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.PrivateSearch.V1_0:PerformMetadataSearch">
            <name>private_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.PrivateSearch.V1_0:GetLinkedDocuments">
            <name>private_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.PrivateSearch.V1_0:GetDocuments">
            <name>private_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>
          <!--End Private Search-->

          <!-- Start Search Version 2.6 -->
          <!--<transaction key="Factiva.Gateway.Messages.Search.V2_6:BuildQuery">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_6:DecomposeQuery">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_6:PerformContentSearch">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_6:GetDocuments">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_6:Ping">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_6:GetLinkedDocuments">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_6:PerformMetadataSearch">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_6:SetSearchServersStatus">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_6:GetStatistics">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_6:SetFineLogging">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.V2_6:Refresh">
            <name>Search2_Soap</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>-->
          

          <!-- End Search Version 2.6 -->

          <!-- Start Search Labs -->
          <transaction key="Factiva.Gateway.Messages.Search.Labs:BuildQuery">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs:DecomposeQuery">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs:PerformContentSearch">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs:GetDocuments">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs:Ping">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs:GetLinkedDocuments">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs:PerformMetadataSearch">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs:SetSearchServersStatus">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs:GetStatistics">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs:SetFineLogging">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs:SetFineLogging">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs:Refresh">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>


          <!-- End Search Labs -->

          <!-- Start Search Labs 2_6_2 -->
          <transaction key="Factiva.Gateway.Messages.Search.Labs.V2_6:BuildQuery">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs.V2_6:DecomposeQuery">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs.V2_6:PerformContentSearch">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs.V2_6:GetDocuments">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs.V2_6:Ping">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs.V2_6:GetLinkedDocuments">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs.V2_6:PerformMetadataSearch">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs.V2_6:SetSearchServersStatus">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs.V2_6:GetStatistics">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs.V2_6:SetFineLogging">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs.V2_6:SetFineLogging">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>

          <transaction key="Factiva.Gateway.Messages.Search.Labs.V2_6:Refresh">
            <name>labs_search_SOAP</name>
            <request>
              <messageFormat>STRING</messageFormat>
            </request>
            <response>
              <messageFormat>STRING</messageFormat>
            </response>
            <transport type="RTS"/>
            <transport type="HTTP"/>
          </transaction>


          <!-- End Search Labs 2_6_2 -->
        </transactionSettings>
    </ServiceSettings>
</configuration>
