<ul class="pageTimings modified">
    <%  var x, title, pageTimings = self, options = this.options, last = '';
        for (var i = 0, len = Math.min(pageTimings.length, 100); i < len; i++) { 
            x = pageTimings[i]; 
            title = x.title;
            if(i === (len - 1)){
                last = ' last'
            }
    %>
    <li class="pageTimingEntry<%= last %>" >
        <h4 class="title level3"><%= title %></h4>
            <div class="avg-stamp"><span class="value level1 tip" title="Avg"></span></div>
            <div class="minmax">
                <div class="max-stamp"><span class="value level3 tip" title="Max"></span></div>
                <div class="min-stamp"><span class="value level3 tip" title="Min"></span></div>
            </div>
            <div class="sparklineTooltip muted">&nbsp;</div>
            <div class="sparklineContainer"></div>
    </li>
    <% } %> 
</ul>