<%  var d, e, code, type, type1, code1, cdesc, attribs, hC, infoHidden = '', data = self.data;
    for(var i = 0;i < data.length;i++){ 
        d = data[i];
        hC = false;
        infoHidden = '';
        if(d.SourceEntites && d.SourceEntites[0]){
            e = d.SourceEntites[0];attribs = '';
            code = e.Value;
            type = e.SourceEntityType;
            if(type == "PDF"){
                cdesc = sourceGroupItems[code];
                infoHidden = 'infoHidden';
            }
            else{
                if(type == "SN"){
                    infoHidden = 'infoHidden';
                }
                if(e.Source){
                    cdesc = e.Source.CommonName || e.Source.Name || code;
                    hC = e.Source.ChildrenTypes;
                }
                else{
                    cdesc = code;
                }
            }

            if(hC){
                attribs = "data-gtype='1' data-ctype='"+hC+"' ";
            }

            if(d.SourceEntites.length > 1){

                if(type == "SN"){
                    code = escape(code);
                    infoHidden = 'infoHidden';
                }
                else{
                    code = code.toLowerCase();
                    attribs += "data-desc='" + escape(cdesc) + "' ";
                }

                e = d.SourceEntites[1];
                code1 = e.Value;
                type1 = e.SourceEntityType;
                if(type1 === "BY"){
                    cdesc = cdesc + " (" + code1 + ")";
                    code1 = escape(code1);
                }
                else{
                    desc = (e.Source) ? (e.Source.CommonName || e.Source.Name || code1) : code1;
                    code1 = code1.toLowerCase();
                    cdesc = cdesc + ": " + desc;
                    attribs += "data-desc1='" + escape(desc) + "' ";
                }
                attribs += "data-code1='" + code1 + "' ";
                attribs += "data-type1='" + type1 + "' ";
            }
            else{
                    code = (type == "SN") ? escape(code) : code.toLowerCase();
            }
            attribs += "data-code='" + code + "' ";
            attribs += "data-type='" + type + "' ";
%>
            <li>
                <div>
                    <% if(hC){ %>
                    <span class="dj_icon dj_browse-tree-toggle"></span>
                    <% } %>
                    <div class="browse-item <%= infoHidden %>" <%= attribs %>><%= cdesc %></div>
                </div>
            </li>
<%
        }
    }
%>
