@{
    ViewBag.Title = "Home Page";
}

<section class="dashboard">
</section>

<script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>
<script type="text/javascript">
    @DJ.ScriptRegistry().OnDocumentReady("initializeDashboard();");

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function initializeDashboard() {
        var dashboard = $('.dashboard');

        var clockModule = dashboard.append('<div class=module><h2>Clock</h2><p class="time" /></div>');
        var currentTime = $('.time', clockModule);

        var currentUsersModule = dashboard.append('<div class=module><h2>Current Users</h2><p>Desktop: <span class="desktop" /></p><p>Mobile: <span class="mobile" /></p></div>');
        var desktopUserCount = $('.desktop', currentUsersModule);
        var mobileUserCount = $('.mobile', currentUsersModule);

        function dataReceived(type, data) {
            if(type == 'Clock') {
                currentTime.text(data.Time);
            }
            
            if(type == 'CurrentUserStats') {
                desktopUserCount.text(numberWithCommas(data.DesktopUserCount));
                mobileUserCount.text(numberWithCommas(data.MobileUserCount));
            }
        };

        $.connection.dashboard.dataReceived = dataReceived;
        $.connection.hub.start();
    }
</script>
