@using DowJones.Dash.Components.Models.TopPages
@{
    ViewBag.Title = "Dash> Executive Dashboard";
}

@section styles {
	<link href="~/Content/topPages.css" rel="stylesheet" />
}
<section id="dashboard" class="row-fluid">

    <div id="current-users" class="medium module" data-type="CurrentUserStats"></div>

	<div id="top-pages" class="medium module" data-type="TopPages">
		@DJ.Render(new TopPagesModel())
	</div>

</section>

<script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>

<script type="text/javascript">
    @DJ.ScriptRegistry().OnDocumentReady("initializeDashboard();");

    function initializeDashboard() {
        $.connection.dashboard.dataReceived = function (type, data) {
            DJ.publish('dataReceived.' + type, data);
        };
        
        $.connection.hub.start();

        $('.small.module').addClass('span2');
        $('.medium.module').addClass('span4');
        $('.large.module').addClass('span6');
        $('.x-large.module').addClass('span8');
    }
</script>