@{
    ViewBag.Title = "Home Page";
}

<style>
    .realtime-news {
        list-style: none;
    }

    .time-stamp {
        display: inline-block;
        vertical-align: top;
        text-align: right;
        width: 55px;
        margin-right: 25px;
        color: #777;
        font-weight: bold;
    }

    .headline-text {
        color: #666;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        white-space: nowrap;
        width: 79%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

    .article-view-trigger ellipsis {
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        padding-top: 10px;
    }
</style>
<section class="dashboard">
    <div class="row">
        <div class="module topPagesModule span6">
            <h2>Top Pages</h2>
            <div id="topPagesContainer">Initializing Top Pages...</div>
        </div>
    </div>
</section>

<script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>

<script src="http://mybox.dev.us.factiva.com/oldshowcase/common.js" type="text/javascript"></script>

<script type="text/javascript">
    @DJ.ScriptRegistry().OnDocumentReady("initializeDashboard();");

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function initializeDashboard() {
        var dashboard = $('.dashboard');

        var clockModule = dashboard.append('<div class=module><h2>Clock</h2><p class="time" /></div>');
        var currentTime = $('.time', clockModule);

        var currentUsersModule = dashboard.append('<div class=module><h2>Current Users</h2><p>Desktop: <span class="desktop" /></p><p>Mobile: <span class="mobile" /></p></div>');
        var desktopUserCount = $('.desktop', currentUsersModule);
        var mobileUserCount = $('.mobile', currentUsersModule);

        function dataReceived(type, data) {
            if(type == 'Clock') {
                currentTime.text(data.Time);
            }
            
            if(type == 'CurrentUserStats') {
                desktopUserCount.text(numberWithCommas(data.DesktopUserCount));
                mobileUserCount.text(numberWithCommas(data.MobileUserCount));
            }
        };

        $.connection.dashboard.dataReceived = dataReceived;
        $.connection.hub.start();

        // temp workaround
        setTimeout(initializeTopPages, 100);
    }

    function initializeTopPages(){
        var mapToHeadlineData = function(chartBeatData) {
            var headlines = [];
            for(var i = 0, len = chartBeatData.length; i < len; i++) {
                var chartBeat = chartBeatData[i];
                headlines.push({title: chartBeat.i, modificationTimeDescriptor: chartBeat.visitors, headlineUrl: chartBeat.path});
            }
            return {
                resultSet : {
                    count : { value: headlines.length},
                    headlines: headlines
                }
            };
            
        };
        $.getJSON('http://api.chartbeat.com/toppages/?host=online.wsj.com&limit=250&apikey=9afde3c7a533572878d27e80cf001244', function(data){
            DJ.add('PortalHeadlineList', {
                container: 'topPagesContainer',
                options : {
                    layout: 2
                },
                data: mapToHeadlineData(data),
                eventHandlers: {
                    'headlineClick.dj.PortalHeadlineList' :function (item) {window.open('http://' + item.headline.headlineUrl)}
                }
            });
        })
    }
</script>
