@using DowJones.Dash.Components.Models.TopPages
@using DowJones.Dash.Components.Models.ConcurrentVisits
@{
    ViewBag.Title = "Dash> Executive Dashboard";
}

@section styles {
	<link href="~/Content/topPages.css" rel="stylesheet" />
}
<section id="dashboard" class="row-fluid">

    <div id="current-users" class="medium module" data-type="CurrentUserStats">
        @DJ.Render(new ConcurrentVisitsModel())
    </div>

	<div id="top-pages" class="module medium" data-type="TopPages">
		@DJ.Render(new TopPagesModel())
	</div>

    <div id="browser-stats" class="module medium" data-type="BrowserStats"></div>

</section>

<script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>

<script type="text/javascript">
    @DJ.ScriptRegistry().OnDocumentReady("initializeDashboard();");

    function initializeDashboard() {
    }
</script>