@{
    ViewBag.Title = "Test";
	Layout = null;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
<script src="http://localhost/dash/scripts/jquery.counter.js?t=@DateTime.Now.Ticks" type="text/javascript"></script>
<h2 id="counter">10</h2>

<script>
    $(function () {
        $('#counter').counter(0);
    })
</script>

