<% var logininfo = self.logininfo; %>
<fieldset>
    <% if(logininfo.emailDisplay.toLowerCase() != "hidden") { %>
    <% if (logininfo.authState.toLowerCase() == "enabled" || logininfo.authState.toLowerCase() == "canconvert" ) { %>
    <div class="dj_form-field checkbox">
        <input id="djConvertEmail" type="checkbox" />
        <%=Token("passConvertToLogin") %>
    </div>
    <% } %>
    <% if (logininfo.authState.toLowerCase() == "canupdate") { %>
    <div class="dj_form-field checkbox">
        <input id="djUpdateEmail" type="checkbox" />
        <%=Token("updateMyEmailId") %>
    </div>
    <% } %>
    <div class="dj_form-field text">
        <div class="dj_form-field-level2">
            <label for="emailId">
                <%=Token("emailAddress") %></label>
            <% if(logininfo.emailDisplay.toLowerCase() == "noteditable") { %>
            <input id="djUserEmailAddress" type="text" name="EmailAddress" maxlength="30" readonly="readonly"
                value="<%= logininfo.emailAddress %>" />
            <% } %>
            <% if(logininfo.emailDisplay.toLowerCase() == "editable") { %>
            <input id="djUserEmailAddress" type="text" name="EmailAddressEdit" maxlength="30"
                value="<%= logininfo.emailAddress %>" />
            <% } %>
            <div class="dj_form-message hide" id="djUserEmailAddress_error">
                <span class="field-validation-error"></span>
            </div>
        </div>
    </div>
    <% } %>
    <% if(logininfo.canChangePassword) { %>
    <div class="dj_form-field checkbox">
        <input id="djChangePassword" type="checkbox" />
        <%=Token("prefPassTitle") %>
    </div>
    <% } %>
    <div class="dj_form-field-level1">
        <div class="dj_form-field input">
            <label for="UserId">
                <%=Token("prefYourUserId") %></label>
            <span class="mpBold">
                <%= logininfo.userId %></span>
        </div>
        <div class="dj_form-field input">
            <label for="NameSpace">
                <%=Token("prefYourNameSpace") %></label>
            <span class="mpBold">
                <%= logininfo.nameSpace %>
            </span>
        </div>
        <div class="dj_form-field input">
            <label for="PlanId">
                <%=Token("prefYourPlanID") %></label>
            <span class="mpBold">
                <%= logininfo.planId%></span>
        </div>
        <% if(logininfo.canChangePassword) { %>
        <div class="dj_form-field text">
            <%=Token("prefChangePasswd-1") %>
        </div>
        <div class="dj_form-field text">
            <%=Token("prefChangePasswd-2") %>
        </div>
    </div>
    <div class="dj_form-field-level2">
    <div class="dj_form-field input">
        <label for="Password">
            <%=Token("prefEnterPasswd") %></label>
        <input id="djOldPassword" type="password" name="Password" maxlength="30" />
        <div class="dj_form-message hide" id="djOldPassword_error">
            <span class="field-validation-error"></span>
        </div>
    </div>
    <div class="dj_form-field input">
        <label for="NewPassword">
            <%=Token("prefEnterNewPasswd") %></label>
        <input id="djNewPassword" type="password" name="NewPassword" maxlength="30" />
        <div class="dj_form-message hide" id="djNewPassword_error">
            <span class="field-validation-error"></span>
        </div>
    </div>
    <div class="dj_form-field input">
        <label for="verifyPassword">
            <%=Token("prefVerifyPasswd") %></label>
        <input id="djVerifyPassword" type="password" name="VerifyPassword" maxlength="30" />
        <div class="dj_form-message hide" id="djVerifyPassword_error">
            <span class="field-validation-error"></span>
        </div>
    </div>
    <% } %>
    </div>
    <% if (logininfo.canAutoLogin) { %>
    <div class="dj_form-field checkbox">
        <input id="djAutoLogin" type="checkbox" <% if (logininfo.hasAutoLogin) { %> checked="checked"  <% } %> />
        <span>
            <%=Token("autoLogin-1") %></span>
    </div>
    <div class="dj_form-field-level1">
    <div class="dj_form-field text">
        <%=Token("autoLogin-2") %>
    </div>
    </div>
    <% } %>
</fieldset>
<% if (!logininfo.hideButtons) { %>
<div id="logininfobutttons" class="dj_btn-group-lrg">
    <a class="dj_btn dj_btn-blue dc_btn-save" href="javascript:void(0);">
        <%= Token("saveSettings")%></a> <a class="dj_btn dc_btn-reset dj_btn-gray" href="javascript:void(0);">
            <%= Token("reset")%></a> <a class="dj_btn dc_btn-cancel dj_btn-gray" href="javascript:void(0);">
                <%= Token("cancel")%></a>
</div>
<% } %>
