<div class="dj_modal simplemodal-container">
    <div class="dj_modal-header">
        <h3 class="dj_modal-title"></h3>
        <p class="dj_modal-close" onclick="$().overlay.hide('#'+$(this).closest('.dj_modal').attr('id'));">
            <a href="javascript:void(0);"></a>
        </p>
    </div>
    <div class="dj_modal-content dj_pp_modal">
        <div class="dj_modal-content-wrap">
            <div class="modal-content">
                <div class="action-container footer" style="float:right;margin-right:20px;">
                    <span class="dj_btn dj_btn-drk-gray"><%= Token("cancel") %></span> 
                    <span class="dj_btn dj_btn-blue no-margin"><%= Token("selectField") %></span>
                </div>
            </div>
        </div>
    </div>
</div>