<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="GatewaySettings" type="Factiva.Gateway.Config.V1_0.GatewaySectionHandler, FactivaGateway"/>
  </configSections>
  <GatewaySettings>
    <commonSettings>
      <preferedTransport>RTS</preferedTransport>
      <httpEndPoint>http://utilities.int.dowjones.com/platformgateway/gatewayservice.asmx</httpEndPoint>
      <extendRTSTimeoutBy>5000</extendRTSTimeoutBy>
      <!--Time in miliseconds-->
    </commonSettings>
    <overrideErrorCodes>
      <errorCode>131030</errorCode>
    </overrideErrorCodes>
    <serviceSettings>
      <service name="AnalyzeService" namespace="Factiva.Gateway.Services.1_0" configFile="config\Analyze.config"/>
      <service name="ArchiveService" namespace="Factiva.Gateway.Services.1_0" configFile="config\ArchiveService.config"/>
      <service name="Asset.CompanyList" namespace="Factiva.Gateway.Services.1_0" configFile="config\Asset.CompanyList.config"/>
      <service name="Asset.SourceList" namespace="Factiva.Gateway.Services.1_0" configFile="config\Asset.SourceList.config"/>
      <service name="Asset.FCPService" namespace="Factiva.Gateway.Services.1_0" configFile="config\Asset.FCPService.config"/>
      <service name="Asset.NewsletterContentService" namespace="Factiva.Gateway.Services.1_0" configFile="config\Asset.NewsletterContentService.config"/>
      <service name="Asset.NewsletterTemplateService" namespace="Factiva.Gateway.Services.1_0" configFile="config\Asset.NewsletterTemplateService.config"/>
      <service name="Asset.NewsPageService" namespace="Factiva.Gateway.Services.1_0" configFile="config\Asset.NewsPageService.config"/>
      <service name="Asset.Edition" namespace="Factiva.Gateway.Services.1_0" configFile="config\Asset.Edition.config"/>
      <service name="Asset.SaveSearch" namespace="Factiva.Gateway.Services.1_0" configFile="config\Asset.SaveSearch.config"/>
      <service name="Asset.Workspaces" namespace="Factiva.Gateway.Services.1_0" configFile="config\Asset.Workspaces.config"/>
      <service name="Asset.Workflow" namespace="Factiva.Gateway.Services.1_0" configFile="config\Asset.Workflow.config"/>
      <service name="Asset.WebService" namespace="Factiva.Gateway.Services.1_0" configFile="config\Asset.WebService.config"/>
      <service name="Asset.Pages" namespace="Factiva.Gateway.Services.1_0" configFile="config\Asset.Pages.config"/>
      <service name="Asset.Lists" namespace="Factiva.Gateway.Services.1_0" configFile="config\Asset.Lists.config"/>
      <service name="Asset.Queries" namespace="Factiva.Gateway.Services.1_0" configFile="config\Asset.Queries.config"/>
      <service name="Asset.Items" namespace="Factiva.Gateway.Services.1_0" configFile="config\Asset.Items.config"/>
      <service name="BillingAndAuthorizationService" namespace="Factiva.Gateway.Services.1_0" configFile="config\BillingAndAuthorizationService.config"/>
      <service name="Brokers.Queries" namespace="Factiva.Gateway.Services.1_0" configFile="config\Brokers.Query.config"/>
      <service name="Brokers.Jobs" namespace="Factiva.Gateway.Services.1_0" configFile="config\Brokers.Job.config"/>
      <service name="Brokers.CompliantWorkspaces" namespace="Factiva.Gateway.Services.1_0" configFile="config\Brokers.CompliantWorkspace.config"/>
      <service name="CustomerService" namespace="Factiva.Gateway.Services.1_0" configFile="config\MembershipService.config"/>
      <service name="CVDService" namespace="Factiva.Gateway.Services.1_0" configFile="config\CVDService.config"/>
      <service name="DnbService" namespace="Factiva.Gateway.Services.1_0" configFile="config\DnbService.config"/>
      <service name="EmailDeliverySettingsService" namespace="Factiva.Gateway.Services.1_0" configFile="config\EmailDeliverySettingsService.config"/>
      <service name="ExternalReaderService" namespace="Factiva.Gateway.Services.1_0" configFile="config\ExternalReaderService.config"/>
      <service name="GovernmentService" namespace="Factiva.Gateway.Services.1_0" configFile="config\GovernmentService.config"/>
      <service name="IndexService" namespace="Factiva.Gateway.Services.1_0" configFile="config\IndexService.config"/>
      <service name="MarketDataService" namespace="Factiva.Gateway.Services.1_0" configFile="config\MarketDataService.config"/>
      <service name="MembershipService" namespace="Factiva.Gateway.Services.1_0" configFile="config\MembershipService.config"/>
      <service name="MetaDataService" namespace="Factiva.Gateway.Services.1_0" configFile="config\MetaDataService.config"/>
      <service name="MetricsService" namespace="Factiva.Gateway.Services.1_0" configFile="config\MetricsService.config"/>
      <service name="NewsstandService" namespace="Factiva.Gateway.Services.1_0" configFile="config\NewsstandService.config"/>
      <service name="OnDemandEmailService" namespace="Factiva.Gateway.Services.1_0" configFile="config\OnDemandEmailService.config"/>
      <service name="PreferenceService" namespace="Factiva.Gateway.Services.1_0" configFile="config\PreferenceService.config"/>
      <service name="RegistrationService" namespace="Factiva.Gateway.Services.1_0" configFile="config\RegistrationService.config"/>
      <service name="RoleBasedPlatform.TrackCodingService" namespace="Factiva.Gateway.Services.1_0" configFile="config\RoleBasedPlatform.TrackCodingService.config"/>
      <service name="RelationshipMapping" namespace="Factiva.Gateway.Services.1_0" configFile="config\RelationshipMapping.config"/>
      <service name="ScreeningService" namespace="Factiva.Gateway.Services.1_0" configFile="config\ScreeningService.config"/>
      <service name="SearchService" namespace="Factiva.Gateway.Services.1_0" configFile="config\SearchService.config"/>
      <service name="SemanticService" namespace="Factiva.Gateway.Services.1_0" configFile="config\SemanticService.config"/>
      <service name="SourcesService" namespace="Factiva.Gateway.Services.1_0" configFile="config\SourcesService.config"/>
      <service name="SymbologyCompanyService" namespace="Factiva.Gateway.Services.1_0" configFile="config\Symbology.CompanyService.config"/>
      <service name="SymbologyExchangeService" namespace="Factiva.Gateway.Services.1_0" configFile="config\Symbology.ExchangeService.config"/>
      <service name="SymbologyInstrumentService" namespace="Factiva.Gateway.Services.1_0" configFile="config\Symbology.InstrumentService.config"/>
      <service name="SymbologyListService" namespace="Factiva.Gateway.Services.1_0" configFile="config\Symbology.ListService.config"/>
      <service name="SymbologyNameListService" namespace="Factiva.Gateway.Services.1_0" configFile="config\Symbology.NameListService.config"/>
      <service name="SymbologyTaxonomyService" namespace="Factiva.Gateway.Services.1_0" configFile="config\Symbology.TaxonomyService.config"/>
      <service name="SymbologyPersonService" namespace="Factiva.Gateway.Services.1_0" configFile="config\Symbology.Person.config"/>
      <service name="TrackService" namespace="Factiva.Gateway.Services.1_0" configFile="config\TrackService.config"/>
      <service name="RTQueueService" namespace="Factiva.Gateway.Services.1_0" configFile="config\RTQueueService.config"/>
      <service name="TopicCenterAndSMSManagementService" namespace="Factiva.Gateway.Services.1_0" configFile="config\TopicCenterAndSMSManagementService.config"/>
      <service name="Tools.TinyURL" namespace="Factiva.Gateway.Services.1_0" configFile="config\Tools.TinyURL.config"/>
      <service name="Triggers" namespace="Factiva.Gateway.Services.1_0" configFile="config\Triggers.config"/>
      <service name="PlatformCache" namespace="Factiva.Gateway.Services.1_0" configFile="config\PlatformCacheService.config"/>
      <service name="SessionCache" namespace="Factiva.Gateway.Services.1_0" configFile="config\SessionCacheService.config"/>
      <service name="SuggestService" namespace="Factiva.Gateway.Services.1_0" configFile="config\SuggestService.config"/>
      <service name="PIMService" namespace="Factiva.Gateway.Services.V1_0" configFile="config\PIMService.config"/>
      <service name="PMDealsService" namespace="Factiva.Gateway.Services.1_0" configFile="config\PMDealsService.config" />
      <service name="DJInsightService" namespace="Factiva.Gateway.Services.1_0" configFile ="config\DJInsightService.config"></service>
      <service name="HeatMapService" namespace="Factiva.Gateway.Services.1_0" configFile ="config\HeatMapService.config"/>
      <service name="EventCalendarService" namespace="Factiva.Gateway.Services.1_0" configFile ="config\EventCalendarService.config"/>
      <service name="DJCommMetricsService" namespace="Factiva.Gateway.Services.1_0" configFile ="config\DJComm.Metrics.config"/>
      <service name="PCMSyndicationService" namespace="Factiva.Gateway.Services.1_0" configFile ="config\PCM.SyndicationService.config"/>
      <service name="DJCommActivityService" namespace="Factiva.Gateway.Services.1_0" configFile ="config\DJComm.Activity.config"/>
      <service name="DJCommUserService" namespace="Factiva.Gateway.Services.1_0" configFile ="config\DJComm.User.config"/>
      <service name="DJCommEntityListService" namespace="Factiva.Gateway.Services.1_0" configFile ="config\DJComm.EntityList.config"/>
      <service name="DJCommBriefingBookService" namespace="Factiva.Gateway.Services.1_0" configFile ="config\DJComm.BriefingBook.config"/>
      <service name="PCMRegionalMapService" namespace="Factiva.Gateway.Services.1_0" configFile ="config\PCM.RegionalMapService.config"/>
      <service name="PCMSummaryRegionalMapService" namespace="Factiva.Gateway.Services.1_0" configFile ="config\PCM.SummaryRegionalMapService.config"/>
      <service name="DJCommSourceGoupsService" namespace="Factiva.Gateway.Services.1_0" configFile ="config\DJComm.SourceGroups.config"/>
      <service name="DJCommOutletService" namespace="Factiva.Gateway.Services.1_0" configFile ="config\DJComm.Outlet.config"/>
      <service name="DJCommAuthorService" namespace="Factiva.Gateway.Services.1_0" configFile ="config\DJComm.Author.config"/>
      <service name="DJCommProprietaryInfoService" namespace="Factiva.Gateway.Services.1_0" configFile ="config\DJComm.ProprietaryInfo.config"/>
      <service name="OnDemandEmailService" namespace="Factiva.Gateway.Services.2_0" configFile="config\OnDemandEmailService_v2.config"/>
      <service name="PCMSearchService" namespace="Factiva.Gateway.Services.1_0" configFile="config\PCM.SearchService.config"/>
      <service name="PCMRealTimeSearchDiscoveryService" namespace="Factiva.Gateway.Services.1_0" configFile="config\PCM.RealTimeSearchDiscoveryService.config"/>
      <service name="PCMRealTimeSearchDiscoveryService" namespace="Factiva.Gateway.Services.1_0" configFile="config\PCM.RealTimeSearchDiscoveryService.config"/>
      <service name="CIBSService" namespace="Factiva.Gateway.Services.1_0" configFile="config\CIBSService.config"/>
    </serviceSettings>
  </GatewaySettings>
</configuration>