@using System.Configuration

@{
	var loginUrl = ConfigurationManager.AppSettings.Get("LoginUrl").Trim('/');
    var signUpUrl = ConfigurationManager.AppSettings.Get("SignupUrl").Trim('/');
}

@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul>
        <li><a href="@loginUrl" class="dj_login">Log In</a></li>
        <li><a href="@signUpUrl" class="dj_signUp">Sign up</a></li>
    </ul>
}
