<?xml version="1.0" encoding="utf-8" ?>
<!--Integration-->
<log4net>
	<root>
		<level value="ALL" />
		<appender-ref ref="RootLogFileAppender_ALL" />
		<appender-ref ref="RootLogFileAppender_ERROR" />
	</root>

	<appender name="RootLogFileAppender_ALL" type="log4net.Appender.RollingFileAppender">
		<file value="C:\log_files\Currents\Currents_ALL.log" />
		<appendToFile value="true"/>
		<rollingStyle value="Size"/>
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="20MB"  />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%newline%date [%thread] %-5level %type %method - %message%newline"/>
		</layout>
	</appender>

	<appender name="RootLogFileAppender_ERROR" type="log4net.Appender.RollingFileAppender">
		<file value="C:\log_files\Currents\Currents_ERROR.log" />
		<filter type="log4net.Filter.LevelRangeFilter">
			<acceptOnMatch value="true" />
			<levelMin value="ERROR" />
			<levelMax value="FATAL" />
		</filter>
		<appendToFile value="true"/>
		<rollingStyle value="Size"/>
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="20MB"  />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%newline%date [%thread] %-5level %type %method - %message%newline"/>
		</layout>
	</appender>

	<logger name="DowJones">
		<additivity value="false" />
		<appender-ref ref="Rest2LogFileAppender_ALL" />
		<appender-ref ref="Rest2LogFileAppender_ERROR" />
	</logger>

	<appender name="Rest2LogFileAppender_ALL" type="log4net.Appender.RollingFileAppender">
		<file value="C:\log_files\Currents\Currents_ALL.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size"/>
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="20MB"  />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%newline%date [%thread] %-5level %type %method - %message%newline"/>
		</layout>
	</appender>

	<appender name="Rest2LogFileAppender_ERROR" type="log4net.Appender.RollingFileAppender">
		<file value="C:\log_files\Currents\Currents_ERROR.log" />
		<filter type="log4net.Filter.LevelRangeFilter">
			<acceptOnMatch value="true" />
			<levelMin value="ERROR" />
			<levelMax value="FATAL" />
		</filter>
		<appendToFile value="true" />
		<rollingStyle value="Size"/>
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="20MB"  />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%newline%date [%thread] %-5level %type %method - %message%newline"/>
		</layout>
	</appender>
</log4net>