<?xml version="1.0"?>
<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

	<system.serviceModel>
		<services>
			<service name="DowJones.Factiva.Currents.Aggregrator.Services.PageService" behaviorConfiguration="ServiceBehaviour">
				<endpoint behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingWithJsonP" contract="DowJones.Factiva.Currents.Aggregrator.Services.IPageService"></endpoint>
				<endpoint behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingWithJsonPSSL" contract="DowJones.Factiva.Currents.Aggregrator.Services.IPageService"></endpoint>
				<!--<endpoint binding="netTcpBinding" bindingConfiguration="netTcpBindingWithJsonP" contract="DowJones.Factiva.Currents.Aggregrator.Services.IPageService"></endpoint>-->
				<endpoint address="wshttp" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingWithJsonP" contract="DowJones.Factiva.Currents.Aggregrator.Services.IPageService"></endpoint>
				<endpoint address="basichttp" binding="basicHttpBinding" bindingConfiguration="basicBindingWithJsonP" contract="DowJones.Factiva.Currents.Aggregrator.Services.IPageService"></endpoint>
				<endpoint address="mextcp" binding="mexTcpBinding" contract="IMetadataExchange" />
				<endpoint address="mexhttp" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="webBehavior">
					<webHttp helpEnabled="true" />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior  name="ServiceBehaviour">
					<!-- To avoid disclosing metadata information, set the value below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
					<serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<bindings>
			<basicHttpBinding>
				<binding name="basicBindingWithJsonP" maxReceivedMessageSize="6553699">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</basicHttpBinding>
			<webHttpBinding>
				<binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" maxReceivedMessageSize="6553699"></binding>
				<binding name="webHttpBindingWithJsonPSSL" crossDomainScriptAccessEnabled="true" maxReceivedMessageSize="6553699">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</webHttpBinding>
			<wsHttpBinding>
				<binding name="wsHttpBindingWithJsonP" maxReceivedMessageSize="6553699">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</wsHttpBinding>
			<netTcpBinding>
				<binding name="netTcpBindingWithJsonP" transactionFlow="true" maxReceivedMessageSize="6553699">
					<!--<security mode="Transport">
            <transport clientCredentialType="None" />
          </security>-->
				</binding>
			</netTcpBinding>
		</bindings>


		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<appSettings>
		<add key="Passwd" value="passwd" />
		<add key="EncryptedToken" value="S00UqVPVXNb2dmnNdmnMpUqODAuMpEo5DByMa3G2DJqMsFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEA"/>
		<add key="DasboardApiBasePath" value="http://api.int.dowjones.com/api/dashboard" />
		<add key="RestApiBasePath" value="http://api.int.dowjones.com/api/private/2.0" />
		<add key="UserId" value="SEOUser"/>
		<add key="MaxResultsToReturn" value="10" />
		<add key="MaxPartsToReturn" value="10" />
		<add key="MaxEntitiesToReturn" value="10" />
		<add key="TimeFrame" value="lastweek" />
		<add key="EntityType" value="companies" />
		<add key="UserId" value="SEOUser" />
		<add key="CacheExpiration" value="0"/>
	</appSettings>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
