<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.Assets.Item.V1_0:CreateItem">
        <name>urn:factiva:assets:item:v1_0:CreateItem</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Item.V1_0:UpdateItem">
        <name>urn:factiva:assets:item:v1_0:UpdateItem</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Item.V1_0:UpdateItemProperties">
        <name>urn:factiva:assets:item:v1_0:UpdateItemProperties</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Item.V1_0:UpdateItemName">
        <name>urn:factiva:assets:item:v1_0:UpdateItemName</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Item.V1_0:DeleteItem">
        <name>urn:factiva:assets:item:v1_0:DeleteItem</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Item.V1_0:GetItemByID">
        <name>urn:factiva:assets:item:v1_0:GetItemByID</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Item.V1_0:GetItemsDetailsList">
        <name>urn:factiva:assets:item:v1_0:GetItemsDetailsList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Item.V1_0:SetShareProperties">
        <name>urn:factiva:assets:item:v1_0:SetShareProperties</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Item.V1_0:CreateItemIfNotExists">
        <name>urn:factiva:assets:item:v1_0:CreateItemIfNotExists</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Item.V1_0:GetItemsByIDs">
        <name>urn:factiva:assets:item:v1_0:GetItemByIDs</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Item.V1_0:GetItemsByValue">
        <name>urn:factiva:assets:item:v1_0:GetItemsByValue</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Item.V1_0:GetSubscribableItems">
        <name>urn:factiva:assets:item:v1_0:GetSubscribableItems</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Item.V1_0:DeleteSubItemsOnItem">
        <name>urn:factiva:assets:item:v1_0:DeleteSubItemsOnItem</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Item.V1_0:AddSubItemsToItem">
        <name>urn:factiva:assets:item:v1_0:AddSubItemsToItem</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

    </transactionSettings>
  </ServiceSettings>
</configuration>