@{
    ViewBag.Title = "Dash - Executive Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

    DJ.ScriptRegistry().OnDocumentReady(@"window['Dash'] = new DJ.UI.Dash($('body'), window['meta']).start(window['domain']);");
}

@section styles {
    <link href="~/Content/dashboard.css" rel="stylesheet" />
    <link href="~/Content/gallery.css" rel="stylesheet" />
    <link href="~/Content/browserShare.css" rel="stylesheet" />
    <link href="~/Content/concurrentVisits.css" rel="stylesheet" />
    <link href="~/Content/perfGauge.css" rel="stylesheet" />
    <link href="~/Content/topPages.css" rel="stylesheet" />
    <link href="~/Content/pageTimings.css" rel="stylesheet" />
}
<section id="dashboard" class="row-fluid">

    @DJ.Render(Model)
</section>

<script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>
<script src="@Url.Content("~/scripts/dashboard.js")" type="text/javascript"></script>

<script type="text/javascript">
    DJ.$dj.require(['$dj'], function ($dj) {
        window.meta = { options: { moduleResizeUrl: '@Url.Content("~/dashboard/modules/resize/")' } };
        window.activeTab = $('.dashNav li.active');
        window.domain = { source: activeTab.data('source'), map: activeTab.data('map') };
    })();
</script>

@section scripts{
 
}