@model GaugeViewModel
@{
    Layout = "~/Views/Shared/_SignalR.cshtml";
    ViewBag.Title = "Gauge";
    Html.DJ().StylesheetRegistry()
            .Include("~/styles/css/stockkiosk.css");
}

<div id="speedometer">
    <h3>Speedometer</h3>
    <div class="top">@Html.DJ().Render( Model.Speedometer, new { id = "speedometerContainer"} )</div>
</div>

<div id="meter">
    <h3>Meter</h3>
    <div class="top">@Html.DJ().Render( Model.Meter, new { id = "meterContainer"} )</div>
</div>