@using DowJones.Dash.Website
<footer>
    <div class="container-fluid">
		<div class="row-fluid">
			<table class="span12">
				<tr>
					<td class="copyright" >&copy;@DateTime.Now.Year Factiva, Inc. All rights reserved.</td>
					<td class="footer-logo"><img src="@Url.Content("~/content/images/djtech.png")" alt="DowJones Technology" class="footer-logo-image" /></td>
				</tr>
			</table>
		</div>
        <div class="row-fluid">
            <p class="username pull-left">@User.Identity.Name</p>
            <p class="version pull-right">
                Version: @MvcApplication.Version.Value
            </p>
        </div>
    </div>
</footer>
