<ul class="trendTabs nav">
    <li data-source="online.wsj.com" class="active main-nav-arrow">
        <a class="main-menu-link" href="javascript:void(0);">
            <div class="main-nav-icon-big">
                <img src="~/Content/images/wsj.png" alt="Wall Street Journal: US" /></div>
            US
        </a>
    </li>
    <li data-source="marketwatch.com">
        <a class="main-menu-link" href="javascript:void(0);">
            <div class="main-nav-icon-big">
                <img src="~/Content/images/marketwatch.png" alt="Marketwatch" /></div>
            Marketwatch
        </a>
    </li>
    <li data-source="cn.wsj.com">
        <a class="main-menu-link" href="javascript:void(0);">
            <div class="main-nav-icon-big">
                <img src="~/Content/images/wsj.png" alt="Wall Street Journal: China" />
            </div>
            China
        </a>
    </li>
	<li data-source="jp.wsj.com">
		<a class="main-menu-link" href="javascript:void(0);">
			<div class="main-nav-icon-big">
				<img src="~/Content/images/wsj.png" alt="Wall Street Journal: Japan" /></div>
			Japan
		</a>
	</li>
	<li data-source="smartmoney.com">
		<a class="main-menu-link" href="javascript:void(0);">
			<div class="main-nav-icon-big">
				<img src="~/Content/images/smartmoney.png" alt="Smart Money" /></div>
			Smartmoney
		</a>
	</li>
    <li data-source="online.barrons.com">
        <a class="main-menu-link" href="javascript:void(0);">
            <div class="main-nav-icon-big">
                <img src="~/Content/images/barrons.png" alt="Barrons" /></div>
            Barrons
        </a>
    </li>
    <li data-source="factiva.com">
        <a class="main-menu-link" data-filter="sub-menu-calendar" href="javascript:void(0);">
            <div class="main-nav-icon-big">
                <img src="~/Content/images/factiva.png" alt="Factiva" />
            </div>
            Factiva
        </a>
    </li>
    
</ul>
