<ul class="nav">
    <li>
        <a href="#">
            <img src="~/Content/images/wsj.png" alt="Wall Street Journal: US" />US</a>
    </li>
    <li>
        <a href="#">
            <img src="~/Content/images/wsj.png" alt="Wall Street Journal: Germany" />Germany</a>
    </li>
    <li>
        <a href="#">
            <img src="~/Content/images/wsj.png" alt="Wall Street Journal: Japan" />Japan</a>
    </li>
    <li>
        <a href="#">
            <img src="~/Content/images/factiva.png" alt="China" />China</a>
    </li>
    <li>
        <a href="#">
            <img src="~/Content/images/marketwatch.png" alt="Marketwatch" />Marketwatch</a>
    </li>
    <li>
        <a href="#">
            <img src="~/Content/images/smartmoney.png" alt="Smart Money" />SmartMoney</a>
    </li>
    <li>
        <a href="#">
            <img src="~/Content/images/barrons.png" alt="Barrons" />Barrons</a>
    </li>
</ul>
