@* Short term fix for thememanager *@
<div id="themeManager" class="hide"></div>
<script>
    DJ.add(
        "ThemeManager",
        {
            container: 'themeManager',
            options: {
                colors: ["#4183C4", "#E54A4F", "#A4C639", "#86C9EF", "#613854", "#FFCC33", "#02A2DB"]
            }
        }
    );
</script>
