<div class="dj_modal dj_djii" style="display: block;">
    <div class="dj_modal-header">
        <h3 class="dj_modal-title">
            <%= title %></h3>
        <p class="dj_modal-close">
            <a href="javascript:void(0);"></a>
        </p>
    </div>
    <div class="dj_modal-content">
        <div class="dj_modal-content-wrap">
            <div class="modal-content">
                <h4><%= data.name %></h4>
                <ul>
                    <li>
                        <span class="label"><%= Token('code') %>:</span> 
                        <span class="value"><%= data.code %></span> 
                    </li>
                    <% if(data.description){ %>
                        <li>
                            <span class="label"><%= Token('description') %>:</span> 
                            <span class="value"><%= data.description %></span>
                        </li>
                    <% } %>
                    <% if(data.location){ %>
                        <li>
                            <span class="label"><%= Token('location') %>:</span> 
                            <span class="value"><%= data.location %></span>
                        </li>
                    <% } %>
                    <% if(data.primaryIndustry){ %>
                        <li>
                            <span class="label"><%= Token('pIndustry') %>:</span> 
                            <span class="value"><%= data.primaryIndustry %></span>
                        </li>
                    <% } %>
                    <% if(data.primarySource){ %>
                        <li>
                            <span class="label"><%= Token('pSource') %>:</span> 
                            <span class="value"><%= data.primarySource %></span>
                        </li>
                    <% } %>
                    <% if(data.parentCodes && data.parentCodes.length > 0){ %>
                        <li>
                            <span class="label"><%= Token('parents') %>:</span> 
                            <span class="value">
                                <% $.each(data.parentCodes, function(i, name){ %>
                                    <%= name %><br />
                                <% }); %>
                            </span>
                        </li>
                    <% } %>
                </ul>
                <div class="footer">
                    <span class="dj_btn dj_btn-primary dj_modal-close no-margin"><%= Token("done") %></span>
                </div>
            </div>
        </div>
    </div>
</div>
