<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.HeatMap.V1_0:HeatMap">
        <name>urn:dowjones:emg:heatmap:v1_0:GetHeatMaps</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
         <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\HeatMap\HeatMapRequest.xml</fileSave>
          <fileOpen>stubs\HeatMap\HeatMapResponse2.xml</fileOpen>
        </transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.HeatMap.V1_0:InstrumentCodes">
        <name>urn:dowjones:emg:heatmap:v1_0:GetInstrumentCodesList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\HeatMap\InstrumentCodesRequest.xml</fileSave>
          <fileOpen>stubs\HeatMap\InstrumentCodesResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      
    </transactionSettings>
  </ServiceSettings>
</configuration>