<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DowJones.Web.Mvc.UI.Canvas.CanvasSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DowJones.Web.Mvc.UI.Canvas.CanvasSettings>
            <setting name="ScriptModuleServiceUrl" serializeAs="String">
                <value>modules/Script/1.0/data/json</value>
            </setting>
            <setting name="CanvasServiceUrl" serializeAs="String">
                <value>/pages/1.0</value>
            </setting>
            <setting name="DashboardServiceBaseUrl" serializeAs="String">
                <value>http://api.dowjones.com/api/dashboard</value>
            </setting>
            <setting name="ScriptModuleTemplateUrl" serializeAs="String">
                <value>ScriptModule.axd</value>
            </setting>
        </DowJones.Web.Mvc.UI.Canvas.CanvasSettings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>