<% 
var index = self.index, 
    item = self.item, 
    propName = self.propName, 
    matrix = self.matrix,
    company = item.companyName,
    category = matrix.radarSearchQuery.name;
%>

<a class="djMatrixItemNode" data-propname="<%= propName %>" data-index="<%= index %>" 
    title="<%= company %> - <%= category %>" href="javascript:void(0)">
    <div class="djMatrixItemBox djMatrixItemBox<%= matrix.growthCode %>" data-grc="<%= matrix.growthCode %>"
        data-p1d="<%= matrix.oneDayCount %>" data-p3m="<%= matrix.threeMonthCount %>"
        data-a3m="<%= matrix.threeMonthAvg %>" data-grv="<%= matrix.growthRate %>">
    </div>
</a>