<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Argotic.Common" version="2008.0.2.0" targetFramework="net40" />
  <package id="Argotic.Core" version="2008.0.2.0" targetFramework="net40" />
  <package id="Argotic.Extensions" version="2008.0.2.0" targetFramework="net40" />
  <package id="Argotic.Web" version="2008.0.2.0" targetFramework="net40" />
  <package id="DowJones.Assemblers" version="3.2.79" targetFramework="net40" />
  <package id="DowJones.Infrastructure" version="3.3.33" targetFramework="net40" />
  <package id="DowJones.Pages" version="3.3.33" targetFramework="net40" />
  <package id="DowJones.Parallel" version="1.0.0" targetFramework="net40" />
  <package id="DowJones.Web.Mvc" version="3.3.33" targetFramework="net40" />
  <package id="DowJones.Web.Mvc.Diagnostics" version="3.2.79" targetFramework="net40" />
  <package id="DowJones.Web.Mvc.Search" version="3.3.1" targetFramework="net40" />
  <package id="DowJones.Web.Mvc.UI.Canvas" version="3.3.33" targetFramework="net40" />
  <package id="DowJones.Web.Mvc.UI.Canvas.RavenDb" version="3.3.2" targetFramework="net40" />
  <package id="DowJones.Web.Mvc.UI.Canvas.RavenDb" version="3.3.24" targetFramework="net40" />
  <package id="DowJones.Web.Mvc.UI.Components" version="3.3.33" targetFramework="net40" />
  <package id="DowJones.Web.Mvc.UI.Components.Models" version="3.3.33" targetFramework="net40" />
  <package id="DowJones.Web.Mvc.Website" version="3.4.1" targetFramework="net40" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net40" />
  <package id="Elmah.MVC" version="2.0.1" targetFramework="net40" />
  <package id="Factiva.Gateway" version="7.5.0.96" targetFramework="net40" />
  <package id="Hammock" version="1.2.9" targetFramework="net40" />
  <package id="log4net" version="1.2.99" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Modernizr" version="2.6.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.8" targetFramework="net40" />
  <package id="Ninject" version="2.2.1.4" targetFramework="net40" />
  <package id="NLog" version="2.0.0.2000" targetFramework="net40" />
  <package id="RavenDB.Client" version="1.2.2085-Unstable" targetFramework="net40" />
  <package id="RavenDB.Database" version="1.2.2085-Unstable" targetFramework="net40" />
  <package id="RavenDB.Embedded" version="1.2.2085-Unstable" targetFramework="net40" />
  <package id="SignalR" version="0.5.3" targetFramework="net40" />
  <package id="SignalR.Hosting.AspNet" version="0.5.3" targetFramework="net40" />
  <package id="SignalR.Hosting.Common" version="0.5.3" targetFramework="net40" />
  <package id="SignalR.Js" version="0.5.3" targetFramework="net40" />
  <package id="SignalR.Server" version="0.5.3" targetFramework="net40" />
  <package id="Twitter.Bootstrap" version="2.1.0.1" targetFramework="net40" />
  <package id="WebGrease" version="1.1.0" targetFramework="net40" />
</packages>