<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="RavenDb.Embedded" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="RavenDb" connectionString="Url=http://montana.dev.us.factiva.com/dash/ravendb" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="RemoteOnly" xdt:Transform="Replace" />
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>