<ul class="pageTimings modified">
    <%  var x, title, headlines = self, options = this.options;
        for (var i = 0, len = Math.min(headlines.length, 100); i < len; i++) { 
            x = headlines[i]; 
            title = ($.trim(x.truncatedTitle)) || x.title;
    %>
    <li><div><small class="muted"><%= title %></small></div>
        <span class="sparklineContainer"></span> 
        <% if (x.modificationTimeDescriptor) { %>
        <span>&nbsp;</span><strong class="time-stamp"><%= x.modificationTimeDescriptor %></strong>
        <% } %>
        <% if (i < len-1) { %>
            <hr />
        <% } %> 
    </li>
    <% } %> 
</ul>