<ul class="pageTimings modified">
    <%  var x, title, pageTimings = self, options = this.options;
        for (var i = 0, len = Math.min(pageTimings.length, 100); i < len; i++) { 
            x = pageTimings[i]; 
            title = x.title;
    %>
    <li class="pageTimingEntry">
        <h4 class="title"><%= title %></h4>
        <div class="stamp avg-stamp"><span class="value level1" title="Avg"></span></div>
        <div class="stamp max-stamp"><span class="value level3" title="Max"></span></div>
        <div class="stamp min-stamp"><span class="value level3" title="Min"></span></div>
        <div class="sparklineContainer"></div>
        <div class="sparklineTooltip muted level3">&nbsp;</div>
    </li>
    <% } %> 
</ul>