<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Argotic.Common" version="2008.0.2.0" />
  <package id="Argotic.Core" version="2008.0.2.0" />
  <package id="Argotic.Extensions" version="2008.0.2.0" />
  <package id="Argotic.Web" version="2008.0.2.0" />
  <package id="DowJones.Assemblers" version="3.2.12" targetFramework="net40" />
  <package id="DowJones.Assemblers.v3" version="3.1.166" />
  <package id="DowJones.Infrastructure" version="3.2.12" targetFramework="net40" />
  <package id="DowJones.Infrastructure.v3" version="3.1.166" />
  <package id="DowJones.Parallel" version="1.0.0" />
  <package id="DowJones.Web.Mvc" version="3.2.12" targetFramework="net40" />
  <package id="DowJones.Web.Mvc.Diagnostics" version="3.2.12" targetFramework="net40" />
  <package id="DowJones.Web.Mvc.UI.Components" version="3.2.12" targetFramework="net40" />
  <package id="DowJones.Web.Mvc.UI.Components.Models" version="3.2.12" targetFramework="net40" />
  <package id="DowJones.Web.Mvc.UI.Components.Models.v3" version="3.1.166" />
  <package id="DowJones.Web.Mvc.UI.Components.v3" version="3.1.166" />
  <package id="DowJones.Web.Mvc.v3" version="3.1.166" />
  <package id="DowJones.Web.Mvc.Website" version="3.2" targetFramework="net40" />
  <package id="elmah.corelibrary" version="1.2.2" />
  <package id="Elmah.MVC" version="2.0.0" />
  <package id="Factiva.Gateway" version="7.5.0.88" />
  <package id="Factiva.Gateway" version="7.5.0.90" targetFramework="net40" />
  <package id="Hammock" version="1.2.6" />
  <package id="log4net" version="1.2.99" />
  <package id="Microsoft.AspNet.Mvc" version="3.0.20105.1" />
  <package id="Microsoft.AspNet.Razor" version="1.0.20105.408" />
  <package id="Microsoft.AspNet.WebPages" version="1.0.20105.408" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Modernizr" version="2.0.6" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="WebActivator" version="1.5.1" />
</packages>