<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<configSections>
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="1.0.0.0" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="InfrastructureShowcase.BasePath" value="http://mybox.dev.us.factiva.com/MVCShowCase" />
		<add key="SuggestServiceUrl" value="http://suggest.int.factiva.com/Search/1.0" />
		<add key="SuggestAuthTypeToken" value="2sPxdr_2BLo1UsTqddRlPU5T7ak6zjJ0eHNNu9zac9l5lNHZmV0ivZ0Pd_2BKV_2F3kycb_2BinH59a7qXkd2qF2AitxQpuwR78Z6tdf|2" />
		<add key="elmah.mvc.disableHandler" value="false" />
		<add key="elmah.mvc.requiresAuthentication" value="false" />
		<add key="elmah.mvc.allowedRoles" value="*" />
	</appSettings>
	<system.web>
		<compilation targetFramework="4.0" debug="true" />
		<pages controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<httpRuntime />
		<httpModules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
		</httpModules>
		<httpHandlers>
			<add verb="GET" path="ClientResource.axd" type="DowJones.Web.ClientResourceHandler" />
			<add verb="GET" path="common.js" type="DowJones.Web.Mvc.Infrastructure.CoreJsHandler, DowJones.Web.Mvc" />
			<add verb="*"   path="PlatformProxy.asmx" validate="false" type="DowJones.Web.Handlers.Proxy.StreamingProxyHandler" />
		</httpHandlers>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="ClientResourceHandler" verb="GET" path="ClientResource.axd" type="DowJones.Web.ClientResourceHandler, DowJones.Infrastructure" />
			<add name="CommonScriptHandler"   verb="GET" path="common.js"          type="DowJones.Web.Mvc.Infrastructure.CoreJsHandler, DowJones.Web.Mvc" />
			<add name="PlatformProxy"         verb="*"   path="PlatformProxy.asmx" type="DowJones.Web.Handlers.Proxy.StreamingProxyHandler" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<elmah>
		<security allowRemoteAccess="1" />
	</elmah>
</configuration>