<div id="loader" style="display: none">
    <img src="@Url.Content("~/Styles/themes/spacelab/img/loader.gif")" />
</div>
<div class="blocker">
    <iframe class="showcase" data-url="@ViewBag.Url"></iframe>
</div>

