@{ 
    Layout = "_Layout.cshtml";
}

<script type="text/javascript">

  

    $(function() { $('#test-popup').overlay(); })

</script>

<div id="test-popup" class="dj_modal simplemodal-container" style="width:480px;height:207px;">
    <div class="dj_modal-header">
        <h3 class="dj_modal-title"></h3>
        <p class="dj_modal-close" onclick="$().overlay.hide('#'+$(this).closest('.dj_modal').attr('id'));">
            <a href="javascript:void(0);"></a>
        </p>
    </div>
    <div class="dj_modal-content" style="height:156px">
        <div class="dj_modal-content-wrap">
            <div class="modal-content">
                <div class="action-container footer" style="float:right;margin-right:20px;">
                    <span class="dj_btn dj_btn-drk-gray"><%= Token("cancel") %></span> 
                    <span class="dj_btn dj_btn-blue no-margin"><%= Token("selectField") %></span>
                </div>
            </div>
        </div>
    </div>
</div>
    <fieldset>
        <legend>Add Filter: </legend>
        <input class="category" name="category" type="text" value="Source" />
        <input class="code" name="code" type="text" value="1234" />

        <button class="add">Add Filter</button>
    </fieldset>


    <div>
        <h3>Filters: </h3>

        <div class="filter-text"></div>
    </div>


<form id="test-form" method="post">

    <input type="hidden" name="Keywords" value="google" />
    <input type="hidden" class="filters" name="Filters"  value="[]"/>


    <select name="source">
        <option value="" selected="">All Sources</option>
        <option value="SG_NMEDIA">All Publications</option>
        <option value="SG_WEBMEDIA">All Web News</option>
        <option value="SG_PICTU">All Pictures</option>
        <option value="SG_BRMULTI">All Multimedia</option>
        <option value="SG_WEBBLG">All Blogs</option>
        <option>Dow Jones Newswires</option>
        <option>Reuters Newswires</option>
    </select>
    <input name="primaryGroup" type="text" />

    <select name="dateRange">
        <option value="LastDay">In the last day</option>
        <option value="LastWeek">In the last week</option>
        <option value="LastMonth" selected="selected">In the last month</option>
        <option value="LastThreeMonths">In the last 3 months</option>
        <option value="LastSixMonths">In the last 6 months</option>
        <option value="LastYear">In the last year</option>
        <option value="LastTwoYears">In the last 2 years</option>
        <option value="All">All dates</option>
    </select>


    <input type="submit" value="Send Request" />
    <input type="reset"  value="Reset" />

</form>

