a {color:#000;}

/* Colors */
/*.color-yellow {background:#f2bc00;}
.color-red    {background:#dd0000;}
.color-blue   {background:#148ea4;}
.color-white  {background:#dfdfdf;}
.color-orange {background:#f66e00;}
.color-green  {background:#8dc100;}
.color-yellow h3,
.color-white h3,
.color-green h3,
.color-yellow a,
.color-white a,
.color-green a
    {color:#000;}
.color-red h3,
.color-blue h3,
.color-orange h3,
.color-red a,
.color-blue a,
.color-orange a
    {color:#FFF;}*/
/* End Colors */

.widget.move-inactive {
    background:#FFF;
}

.widget.move-active {
    background:#FFF;
}

.widget-content {
    background-color: #ffF;
}

.widget-content li {
    margin: 0;
    padding: 0;
    list-style: none;   
}

.dj_entry h4 {
    font-size: 12px;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

#columns .widget {
    padding: 1px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 10px;
}

#columns .widget .widget-head {
    color: #000;
    overflow: hidden;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #666;
}

#columns .widget .widget-head h3 {
    font-size: 1.4em;
    line-height: 30px;
    margin: 0;
    margin-left: 5px;
}

#columns .widget .widget-content {
    /*background: #3C454F url(img/widget-content-bg.png) repeat-x;*/
    padding: 0 1px;
    padding-bottom: 1px;
    color: #000;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    line-height: 1.2em;
    overflow: hidden;
}
#columns .widget .widget-content p {
    padding: 0.8em 0;
}
#columns .widget .widget-content img {
    float: right;
    margin: 10px;
    border: 1px solid #FFF;
}
#columns .widget .widget-content pre {
    padding: 0.5em 5px;
    color: #EEE;
    font-size: 12px;
}
#columns .widget .widget-content ul {
    padding: 5px 0 5px 20px;
    list-style: disc;
}
#columns .widget .widget-content div:first-child {
    margin: 5px 0;
    background-color: transparent;
}

#columns .widget .widget-content ul li {padding: 3px 0;}

#columns .widget .widget-content ul.images {
    padding: 7px 0 0 0;
    list-style: none;
    height: 1%;
}
#columns .widget .widget-content ul.images li {
    display: inline;
    float: left;
}
#columns .widget .widget-content ul.images img {
    display: inline;
    float: left;
    margin: 0 0 7px 7px;
}
/* End Columns section */


/* JS-Enabled CSS */

.widget a.dj_action{
    visibility: hidden;
}

li.dj_displayActions  a.dj_action {
    visibility: visible;
}

.widget.move-active.dj_displayActions {
    background-color: #f2bc00;
}

#columns .widget.move-active.dj_displayActions .widget-head {
    border-bottom: 1px solid #f2bc00;
}

.widget-placeholder { 
    border: 1px dashed #8dc100;
    margin-bottom: 10px; 
}

.edit-box {
    overflow: hidden;
    background: #3C454F url(img/widget-content-bg.png) repeat-x;
    margin-bottom: 2px;
    padding: 10px 0;
}

.edit-box li.item {
    padding: 10px 0;
    overflow: hidden;
    float: left;
    width: 100%;
    clear: both;
}

a.ghostClip:hover, a.ghostClip:link, a.ghostClip:active {
    display: block;
    background-color: #000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    padding: 3px 6px;
}

.edit-box label {
    float: left;
    width: 30%;
    color: #FFF;
    padding: 0 0 0 10px;
}

.edit-box ul.colors li {
    width: 20px;
    height: 20px;
    border: 1px solid #EEE;
    float: left;
    display: inline;
    margin: 0 5px 0 0;
    cursor: pointer;
}