.filterbar {
  font-size:11px;
  line-height:20px;
  margin-top:10px;
}
.filterLabel{float: left;padding: 0px 5px;}
.filter{
    -moz-border-radius: 5px;
    background-color: #FFE3AC;
    display: block;
    float: left;
    line-height: 20px;
    margin-right: 5px;
    border-radius:5px;
    padding-left: 5px;
}
.filter .label {
    float: left;
    line-height: 20px;
}
.filter .icon-close {
    background-image: url("http://snapshot.int.factiva.com/Content/styles/images/icon_filter_close.png");
    background-position: center top;
    cursor: pointer;
    display: block;
    float: left;
    height: 20px;
    width: 20px;
}
.filter .icon-close:hover {
    background-position: center bottom;
}


/*NewsfilterEx Styles*/
.dj_source-filters,.dj_social-media{margin-bottom:20px}
.dj_search-filters .side-title{cursor:pointer}
.dj_advanced-filters{padding:3px 0 0}
.dj_advanced-filters .dj_news-filters{margin-top:5px}
.dj_advanced-filters .side-title{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;vertical-align:top;cursor:pointer;margin:0 4px 0 0}
.dj_advanced-filters .DJIIFilterList .beta{color:#333;font-size:85%;padding:4px 0 5px;font-weight:bold}
.dj_advanced-filters .DJIIFilterList{margin-left:12px}
.dj_advanced-filters .DJIIFilterList li{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;margin:0 2px 5px 0;vertical-align:top}
.dj_advanced-filters .connectionAndPillWrap .filterConnection,.dj_advanced-filters .connectionAndPillWrap .filterPillWrap,.dj_advanced-filters .connectionAndPillWrap .filterType{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;position:relative}
.dj_advanced-filters .DJIIFilterList .pill,.dj_advanced-filters .DJIIFilterList .pillNoMenu,.dj_advanced-filters .DJIIFilterList .filterConnection{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;height:21px;line-height:21px;padding:0 0 0 6px}
.dj_advanced-filters .DJIIFilterList .pill{position:relative;background-color:#E7E7E7;border:1px solid #CCC;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;padding:0 18px 0 7px}
.dj_advanced-filters .DJIIFilterList .pill .fi-two{position:absolute;top:8px;right:7px}
.dj_advanced-filters .DJIIFilterList .pill .fi-two.fi_remove{right:4px;top:6px}
.dj_advanced-filters .DJIIFilterList .pill:hover{background-color:#DDDCDC;cursor:pointer}
.dj_advanced-filters .DJIIFilterList .pill .filterText,.dj_advanced-filters .DJIIFilterList .pillNoMenu .filterText,.dj_advanced-filters .DJIIFilterList .filterConnection .connectionText,.dj_advanced-filters .DJIIFilterList .filterConnection .connectionText{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;font-size:85%;color:#666;white-space:nowrap;padding:0}
.overlaypillscontextmenu{position:absolute;z-index:9999;display:none}
.overlaypillscontextmenu .pillOptionsList{background-color:#fff;border:1px solid #cdcdcd;padding:4px;margin-left:4px}
.overlaypillscontextmenu .pillOptionsList .pillOption{font-size:85%;color:#004c70;padding:6px;cursor:pointer}
.overlaypillscontextmenu .pillOptionsList .pillOption:hover{color:#fff;background-color:#02a3db}
.dj_search-filters{padding-top:17px}
.dj_search-filters .side-title{margin-bottom:18px}
.dj_search-filters .dj_source-filters{padding-left:16px}
.dj_search-filters .dj_source-filters li{margin-bottom:10px}
.dj_search-filters .dj_source-filters li.last{margin-bottom:0}
.dj_search-filters .dj_source-filters li a{display:block;font-size:93%;padding:3px 11px}
.dj_search-filters .dj_source-filters li a.selected{color:#333;background-color:#eee;font-weight:bold;cursor:default}

.fi-two{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;vertical-align:middle;background: transparent url('http://montana.dev.us.factiva.com/Snapshot/Content/styles/images/factiva-icons2.png')  no-repeat 0 0;cursor:pointer}
.fi-two.fi_d-arrow-drk-gray{width:7px;height:6px;background-position:-30px 0}
