<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>

    <!-- Start Authorization Transactions -->
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.Authorization.V1_0:GetUserAuthorizationsNoCache">
        <name>MSRVS_AUTH_GET_USER_AUTHS_NO_CACHE</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\membership\GetUserAuthorizationsNoCacheResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <!-- End Authorization Transactions -->


      <!-- Start Profile Transactions -->
      <transaction key="Factiva.Gateway.Messages.Profile.V1_0:UpdateUserProfile">
        <name>MSRVS_REG_UPDATE_USER_DATA</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
        </response>
        <transport type="RTS"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Profile.V1_0:GetUserProfile">
        <name>MSRVS_REG_GET_USER_DATA</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\membership\GetUserProfileResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <!-- End Profile Transactions -->

      <!-- Start Preferences Transactions -->
      <transaction key="Factiva.Gateway.Messages.Preferences.V1_0:GetItemById">
        <name>MSRVS_PGF_GET_ITEM_BY_ID</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\membership\GetItemResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Preferences.V1_0:GetItemByIdNoCache">
        <name>MSRVS_PGF_GET_ITEM_BY_ID_NO_CACHE</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\membership\GetItemResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Preferences.V1_0:GetItemByIdByProxy">
        <name>MSRVS_PGF_GET_ITEM_BY_ID_NO_CACHE2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\membership\GetItemResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Preferences.V1_0:GetItemsByClass">
        <name>MSRVS_PGF_GET_ITEM_BY_CLASS</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\membership\GetItemResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Preferences.V1_0:GetItemsByClassNoCache">
        <name>MSRVS_PGF_GET_ITEM_BY_CLASS_NO_CACHE</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\membership\GetItemResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <!-- End Preferences Transactions -->

      <!-- Start Customer Service Transactions -->
      <transaction key="Factiva.Gateway.Messages.Membership.CustomerService.ExternalReader.V1_0:GetAllAccounts">
        <name>MSRVS_REG_GET_ER_ACCOUNTS</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\customersrv\GetExternalReaderAccountsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Membership.CustomerService.ExternalReader.V1_0:GetAccountsById">
        <name>MSRVS_REG_GET_ER_ACCOUNTS</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\customersrv\GetExternalReaderAccountsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Membership.CustomerService.ExternalReader.V1_0:SearchForAccounts">
        <name>MSRVS_REG_GET_ER_ACCOUNTS</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\customersrv\GetExternalReaderAccountsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Membership.CustomerService.ExternalReader.V1_0:UpdateAccount">
        <name>MSRVS_REG_ADD_ER_ACCOUNT</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\customersrv\UpdateExternalReaderAccountResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Membership.CustomerService.ExternalReader.V1_0:AddAccount">
        <name>MSRVS_REG_ADD_ER_ACCOUNT</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\customersrv\UpdateExternalReaderAccountResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <!-- End Customer Service Transactions -->
    </transactionSettings>
  </ServiceSettings>
</configuration>
