<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
	</configSections>
	<ServiceSettings>
		<transactionSettings>
      <!-- Start Search Version 1.0-1.1 -->
      <transaction key="Factiva.Gateway.Messages.Search.V1_0:PerformContentSearch">
        <name>Search_Soap</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Search.V1_0:DecomposeQuery">
        <name>Search_Soap</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Search.V1_0:BuildQuery">
        <name>Search_Soap</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Search.V1_0:Configure">
        <name>Search_Soap</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Search.V1_0:GetStatistics">
        <name>Search_Soap</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Search.V1_0:GetTermCounts">
        <name>Search_Soap</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Search.V1_0:SetFineLogging">
        <name>Search_Soap</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
      </transaction>
    <!-- End Search Version 1.0-1.1 -->

    <!-- Start Search Version 2.0 -->
    <transaction key="Factiva.Gateway.Messages.Search.V2_0:PerformContentSearch">
      <name>Search2_Soap</name>
      <request>
        <messageFormat>STRING</messageFormat>
      </request>
      <response>
        <messageFormat>STRING</messageFormat>
      </response>
      <transport type="RTS"/>
    </transaction>
    <transaction key="Factiva.Gateway.Messages.Search.V2_0:DecomposeQuery">
      <name>Search2_Soap</name>
      <request>
        <messageFormat>STRING</messageFormat>
      </request>
      <response>
        <messageFormat>STRING</messageFormat>
      </response>
      <transport type="RTS"/>
    </transaction>
    <transaction key="Factiva.Gateway.Messages.Search.V2_0:BuildQuery">
      <name>Search2_Soap</name>
      <request>
        <messageFormat>STRING</messageFormat>
      </request>
      <response>
        <messageFormat>STRING</messageFormat>
      </response>
      <transport type="RTS"/>
    </transaction>
    <transaction key="Factiva.Gateway.Messages.Search.V2_0:Configure">
      <name>Search2_Soap</name>
      <request>
        <messageFormat>STRING</messageFormat>
      </request>
      <response>
        <messageFormat>STRING</messageFormat>
      </response>
      <transport type="RTS"/>
    </transaction>
    <transaction key="Factiva.Gateway.Messages.Search.V2_0:GetStatistics">
      <name>Search2_Soap</name>
      <request>
        <messageFormat>STRING</messageFormat>
      </request>
      <response>
        <messageFormat>STRING</messageFormat>
      </response>
      <transport type="RTS"/>
    </transaction>
    <transaction key="Factiva.Gateway.Messages.Search.V2_0:GetTermCounts">
      <name>Search2_Soap</name>
      <request>
        <messageFormat>STRING</messageFormat>
      </request>
      <response>
        <messageFormat>STRING</messageFormat>
      </response>
      <transport type="RTS"/>
    </transaction>
    <transaction key="Factiva.Gateway.Messages.Search.V2_0:SetFineLogging">
      <name>Search2_Soap</name>
      <request>
        <messageFormat>STRING</messageFormat>
      </request>
      <response>
        <messageFormat>STRING</messageFormat>
      </response>
      <transport type="RTS"/>
    </transaction>
    <!-- End Search Version 2.0 -->
    </transactionSettings>
	</ServiceSettings>
</configuration>
