<% 
    var model = self;
%>
<div class="dj_DashGaugeChart">
    <div class="dj_DashGaugeChartHeader">
        <% if (model.title) { %>
        <div class="dj_DashGaugeChartTitle"><%=model.title%></div>
        <% } %>
        <div class="dj_DashGaugeChartValue"><%=model.value%></div>
        <% if (model.max) { %>
            <div class="dj_DashGaugeChartMax"><%=model.max%></div>
        <% } %>
    </div>
    <div class="dj_DashGaugeChartContainer"></div>
    <% if (model.footer) { %>
        <div class="dj_DashGaugeChartFooter"><%=model.footer%></div>
    <% } %>
</div>