<% 
    var model = self;
%>
<div class="dj_DashGaugeChart">
    <div class="dj_DashGaugeChartHeader">
        <% if (model.title) { %>
        <div class="dj_DashGaugeChartTitle"><%=this.templates.title(model.title)%></div>
        <% } %>
        <div class="dj_DashGaugeChartValue level1"><%=model.value%></div>
        <div class="dj_DashGaugeChartMin"><%=this.templates.min(model.min)%></div>
        <div class="dj_DashGaugeChartMax"><%=this.templates.max(model.max)%></div>
    </div>
    <div class="dj_DashGaugeChartContainer"></div>
    <% if (model.footer) { %>
        <div class="dj_DashGaugeChartFooter"><%=this.templates.footer(model.footer)%></div>
    <% } %>
</div>
