@model DowJones.Web.Mvc.UI.Components.Models.Article.ArticleModel

@{
    ViewBag.Title = "Article Demo";
}

@section styles{
	<link href="@Url.Content("~/styles/views/Article/Snapshot.css")" rel="stylesheet" />
}

<section id="main" class="article-page">
    <div class="article">
        @Html.DJ().Render(Model)
    </div>
</section>