<div class="filters-wrap">
    <label><%= Token("filters") %></label>
    <ul class="dj_search-builder_filters-list add-margin clearfix">
    <% 
        var fArr = ["company", "author", "executive", "subject", "industry", "region"], f, name, len,
            data = self.data, newsFilterEditable = self.newsFilterEditable, fDetails = self.fDetails;
        $.each(fArr, function(i, item){
            f = data.filters[item];
            if(f && ((f.include && f.include.length > 0) || (f.exclude && f.exclude.length > 0) || f.list)){
                name = fDetails[item].text;
    %>
            <li class="dj_search-builder_filters-category clearfix">
                <h5><%= name %>:</h5>
                <div class="dj_pill-list-wrap">
                <% if(f.include && f.include.length > 0){ %>
                    <ul class="dj_pill-list yellow clearfix">
                        <%  

                            $.each(f.include, function(j){
                        %>
                            <li class="dj_pill">
					            <span class="filter"><%= this.desc %></span>
				            </li>
                        <%
                            });
                        %>
                    </ul>
                <% } 
                    if(f.exclude && f.exclude.length > 0){ %>
                    <ul class="dj_pill-list red clearfix">
                        <li class="dj_pill not">
			                <span><%= Token('notLabel') %>:</span>
			            </li>
                        <%  

                            $.each(f.exclude, function(j){
                        %>
                            <li class="dj_pill">
					            <span class="filter"><%= this.desc %></span>
				            </li>
                        <%
                            });
                        %>
                    </ul>
                <% } %>
                </div>
            </li>
    <%
            }
        });
    %>
    </ul>
</div>
<%
    if(data.newsFilters && !$.isEmptyObject(data.newsFilters)){
        var nf = data.newsFilters;
%>
<div class="filters-wrap">
    <label><%= Token("newsFilters") %></label>
    <ul class="dj_search-builder_filters-list clearfix">
        <li class="dj_search-builder_filters-category clearfix">
	        <div class="filters clearfix js_filters">
		        <ul class="dj_pill-list yellow clearfix js_pill-list">
                    <%
                        if(nf.keyword){
                    %>
                            <li class="filter-group" data-type="keyword">
		                        <span class="section-category"><%= Token('keywords') %>:</span>
		                        <ul class="filter-list">
                                    <%  

                                        $.each(nf.keyword, function(j){
                                    %>
                                        <li class="dj_pill">
                                            <span class="filter"><%= this %></span>
                                            <% if(newsFilterEditable){ %>
                                                <span class="remove" tooltip="<%= Token('removeFilter') %>"></span>
                                            <% } %>
                                        </li>
                                    <%
                                        });
                                    %>
		                        </ul>
		                    </li>
                    <%
                        }
                    %>
                    <% 
                        $.each(fArr, function(i, item){
                            f = data.newsFilters[item];
                            if(f && f.length){
                                name = fDetails[item][f.length>1?"pluralText":"text"];
                    %>
                                <li class="filter-group" data-type="<%= item %>">
		                            <span class="section-category"><%= name %>:</span>
		                            <ul class="filter-list">
                                    <%  

                                        $.each(f, function(j){
                                    %>
                                        <li class="dj_pill" <%= newsFilterEditable?('data-code="' + this.code +'" data-codetype="' + (this.codeType || '') + '"'):'' %>>
					                        <span class="filter"><%= this.desc %></span>
                                            <% if(newsFilterEditable){ %>
                                                <span class="remove" tooltip="<%= Token('removeFilter') %>"></span>
                                            <% } %>
				                        </li>
                                    <%
                                        });
                                    %>
                                    </ul>
                                </li>
                    <%
                            }
                        });
                    %>
                </ul>
	        </div>
        </li>
    </ul>
</div>
<%
    }
%>

