<div class="dj_headline_carousel clearfix">
    <ul class="dj_headline_carousel-nav">
        <li class="dj_headline_carousel-scroll scroll-left disabled" title="<%= Token("scrollLeft") %>"><%= Token("scrollLeft") %></li>
        <li class="dj_headline_carousel-scroll scroll-right" title="<%= Token("scrollRight") %>"><%= Token("scrollRight") %></li>
    </ul>
    <div class="dj_headline_carousel-wrap">
        <ul class="clearfix">
            <%  var headlines = self.headlines;
                for (var index = 0; index < headlines.length; index++) { 
                        h = headlines[index];
            %>
            <li>
                <h3><%= h.descriptor %></h3>
                <span><%= h.currentTimeFrameNewsVolume.displayText.value %>  <%= Token("articlesLabel") %></span>
            </li>
            <% } %>
        </ul>
    </div><!-- end: .dj_headline_carousel-wrap -->
</div><!-- end: .dj_headline_carousel -->
