<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.DJComm.EntityList.V1_0:AddItemsToEntityList">
        <name>urn:factiva:Communicator:EntityListService:v1_0:AddItemsToEntityList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\EntityList\AddItemsToEntityListRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\EntityList\AddItemsToEntityListResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.EntityList.V1_0:CreateEntityList">
        <name>urn:factiva:Communicator:EntityListService:v1_0:CreateEntityList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\EntityList\CreateEntityListRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\EntityList\CreateEntityListResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.EntityList.V1_0:GetEntityList">
        <name>urn:factiva:Communicator:EntityListService:v1_0:GetEntityList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\EntityList\GetEntityListRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\EntityList\GetEntityListResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.EntityList.V1_0:DeleteEntityList">
        <name>urn:factiva:Communicator:EntityListService:v1_0:DeleteEntityList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\EntityList\DeleteEntityListRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\EntityList\DeleteEntityListResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.EntityList.V1_0:RemoveItemsToEntityList">
        <name>urn:factiva:Communicator:EntityListService:v1_0:RemoveItemsToEntityList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\EntityList\RemoveItemsToEntityListRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\EntityList\RemoveItemsToEntityListResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.EntityList.V1_0:GetEntityListById">
        <name>urn:factiva:Communicator:EntityListService:v1_0:GetEntityListById</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\EntityList\GetEntityListByIdRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\EntityList\GetEntityListByIdResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.EntityList.V1_0:UpdateEntityList">
        <name>urn:factiva:Communicator:EntityListService:v1_0:UpdateEntityList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\EntityList\UpdateEntityListRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\EntityList\UpdateEntityListResponse.xml</fileOpen>
        </transport>
      </transaction>
    </transactionSettings>
  </ServiceSettings>
</configuration>