<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>

      <transaction key="Factiva.Gateway.Messages.Assets.SourceList.V1_0:AddSourceList">
        <name>MSRVS_PGF_COMP_ADD_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\SourceList\AddSourceListRequest.xslt</param>
              <param name="ClassId">26</param>
              <param name="ClassName">SourceList</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\SourceList\AddSourceListResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\SourceList\Request\AddSourceListRequest.xml</fileSave>
          <fileOpen>stubs\SourceList\Response\AddSourceListResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.SourceList.V1_0:GetSourceListsUser">
        <name>MSRVS_PGF_GET_ITEM_BY_CLASS</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\SourceList\GetSourceListsUserRequest.xslt</param>
              <param name="ClassId">26</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\SourceList\GetSourceListsUserResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\SourceList\Request\GetSourceListsUserRequest.xml</fileSave>
          <fileOpen>stubs\SourceList\Response\GetSourceListsUserResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.SourceList.V1_0:GetSourceListsByID">
        <name>MSRVS_PGF_GET_ITEM_BY_ID</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\SourceList\GetSourceListsByIDRequest.xslt</param>
              <param name="ClassId">26</param>
              <param name="ClassName">SourceList</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\SourceList\GetSourceListsByIDResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\SourceList\Request\GetSourceListsByIDRequest.xml</fileSave>
          <fileOpen>stubs\SourceList\Response\GetSourceListsByIDResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.SourceList.V1_0:DeleteSourceLists">
        <name>MSRVS_PGF_DEL_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\SourceList\DeleteSourceListsRequest.xslt</param>
              <param name="ClassId">26</param>
              <param name="ClassName">SourceList</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\SourceList\DeleteSourceListsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\SourceList\Request\DeleteSourceListsRequest.xml</fileSave>
          <fileOpen>stubs\SourceList\Response\DeleteSourceListsResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.SourceList.V1_0:UpdateSourceList">
        <name>MSRVS_PGF_COMP_MOD_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\SourceList\UpdateSourceListRequest.xslt</param>
              <param name="ClassId">26</param>
              <param name="ClassName">SourceList</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\SourceList\UpdateSourceListResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\SourceList\Request\UpdateSourceListRequest.xml</fileSave>
          <fileOpen>stubs\SourceList\Response\UpdateSourceListResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.SourceList.V1_0:GetSourceListsAccount">
        <name>MSRVS_PGF_GET_ACCT_GROUP_ITEMS</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\SourceList\GetSourceListsAccountRequest.xslt</param>
              <param name="ClassId">26</param>
              <param name="ClassName">SourceList</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\SourceList\GetSourceListsAccountResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.SourceList.V1_0:AddSourceListToGroup">
        <name>MSRVS_PGF_COMP_MOD_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\SourceList\AddSourceListToGroupRequest.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\SourceList\AddSourceListToGroupResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.SourceList.V1_0:RemoveSourceListFromGroup">
        <name>MSRVS_PGF_COMP_MOD_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\SourceList\RemoveSourceListFromGroupRequest.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\SourceList\RemoveSourceListFromGroupResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.SourceList.V1_0:GetSourceListsByGroup">
        <name>MSRVS_PGF_GET_GROUP_INFO</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\SourceList\GetSourceListsByGroupRequest.xslt</param>
              <param name="ClassId">26</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\SourceList\GetSourceListsByGroupResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
    </transactionSettings>
  </ServiceSettings>
</configuration>