@model IEnumerable<DowJones.Pages.Modules.Templates.ScriptModuleTemplate>

<section id="module-gallery" class="modal hide fade">
    <div class="modal-header">
        <h3>Performance Indicators</h3>
    </div>
    <div class="modal-body">
        <table class="table">
            <colgroup>
                <col />
                <col width="110px"/>
            </colgroup>

        @foreach(var template in Model)
        {
            <tr class="template" data-script-template-id="@template.Id">
                <td>
                    <p class="title">@template.Title</p>
                    <p class="muted">@template.Description</p>
                </td>
                <td class="btn-group">
                    <button class="on btn btn-small">Show</button>
                    <button class="off btn btn-small">Hide</button>
                ​</td>
            </tr>
        }

        </table>
    </div>
    <div class="modal-footer">
        <a href="@Url.Action("Reset")" class="btn btn-danger btn-mini pull-left">Reset All</a>
        <a href="#" class="btn" data-dismiss="modal">Ok</a>
    </div>
</section>

<script type="text/javascript">
    function initializeModuleGallery() {
        var templateElements = $('.template', '#module-gallery');
        
        templateElements.each(function () {
            var templateEl = $(this);
            var templateId = templateEl.data('script-template-id');
            var moduleSelector = '.dj_module[data-script-template-id="' + templateId + '"]';
            var moduleEl = $(moduleSelector);

            var isModuleVisible = function() {
                return moduleEl.filter(':visible').length != 0;
            };
            
            var toggles = $('button', templateEl);

            templateEl.data('syncState', function () {
                toggles.removeClass('btn-primary');

                var selected = isModuleVisible() ? toggles.filter('.on') : toggles.filter('.off');
                selected.addClass('btn-primary');
            });


            toggles.click(function () {
                var showModule = $(this).hasClass('on');

                var module = moduleEl.findComponent(DJ.UI.AbstractCanvasModule);
                if (showModule) {
                    module.maximize();
                }
                else {
                    module.hide();
                }
                
                templateEl.data('syncState')();
            });
        });

        $('#module-gallery').modal({ show: false })
            .on('show', function() {
                templateElements.each(function () {
                    $(this).data('syncState')();
                });
            });
    }

    $(initializeModuleGallery);
</script>