@model IEnumerable<DowJones.Pages.Modules.Templates.ScriptModuleTemplate>

<section id="module-gallery" class="modal hide fade">
    <div class="modal-header">
        <h3>Performance Indicators</h3>
    </div>
    <div class="modal-body">
        <ul class="unstyled">
        
        @foreach(var template in Model)
        {
            <li class="template" data-script-template-id="@template.Id">
                <strong>@template.Title</strong>
                <p>@template.Description</p>
            </li>
        }

        </ul>
    </div>
    <div class="modal-footer">
        <a href="@Url.Action("Reset")" class="btn btn-danger btn-mini pull-left">Reset Page</a>
        <a href="#" class="btn close" data-dismiss="modal">Close</a>
    </div>
</section>

<script type="text/javascript">
    @{ DJ.ScriptRegistry().OnDocumentReady("initializeModuleGallery();"); }

    function initializeModuleGallery() {
        $('.template', '#module-gallery').each(function () {
            var button = $(this);
            var templateId = button.data('script-template-id');
            var moduleSelector = '.dj_module[data-script-template-id="' + templateId + '"]';
            var module = $(moduleSelector).findComponent(DJ.UI.AbstractCanvasModule);

            var isModuleVisible = function() {
                return $(module.element).filter(':visible').length != 0;
            };

            button.data('syncState', function () {
                button.toggleClass('muted', isModuleVisible());
            });

            button.click(function () {
                var isVisible = isModuleVisible();

                if (isVisible) {
                    module.hide();
                }
                else {
                    module.maximize();
                }
                
                button.data('syncState')();
            });
        });

        $('#module-gallery').modal({ show: false })
            .on('show', function() {
                $('.template', '#module-gallery').each(function () {
                    $(this).data('syncState')();
                });
            });
    }
</script>