@using DowJones.Web.Mvc.UI.Components.RealtimeHeadlineList;
@{
    ViewBag.Title = "Realtime Headlines";
}

<script type="text/javascript">
    function HeadlineClick(e, d) {
        alert("Accession No: " + d.data.reference.guid);
    }
    
</script>

<div style="height: 300px">
    @Html.DJ().Render(Model)
</div>
