<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DowJones.Tools.Charting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DowJones.Tools.Charting.Properties.Settings>
            <setting name="BaseUrl" serializeAs="String">
                <value>http://montana.dev.us.factiva.com</value>
            </setting>
            <setting name="Resource" serializeAs="String">
                <value>OldShowCase/dowjones.charting.handler.exporter.ashx</value>
            </setting>
        </DowJones.Tools.Charting.Properties.Settings>
    </applicationSettings>
  <!--<system.net>
		<defaultProxy>
			<proxy usesystemdefault="False" bypassonlocal="True" proxyaddress="http://127.0.0.1:8888" />
		</defaultProxy>
	</system.net>-->
</configuration>