<div class="dj_post-processing-form email-modal">
    <ui class="dj_SaveFmtOptions">
        <li><input type="radio" name="saveFmtOptions" value="rtf" checked="checked" /><%= Token("rtf") %></li>
        <li><input type="radio" name="saveFmtOptions" value="pdf" /><%= Token("pdf") %></li>
        <li><input type="radio" name="saveFmtOptions" value="xml" /><%= Token("xml") %>
        <div class="xmlLinks"><a class="helpLink" href="http://customer.factiva.com/en/custSvc/CSMain.aspx?id=8812"  target="_new"><%= Token("xmlHelp") %></a>&nbsp;&nbsp;<a class="schemaLink" href="http://pps.factiva.com/pps/PPS_Schema.xsd" target="_new"><%= Token("xmlSchema") %></a></div>
        </li>
    </ul>

</div>