<% 
var model = self,
    options = this.options,
    index = 0;
%>

 <ul class="dj_discoveryFilters-list">
 <%_.each(model, function(val, key) { 
    if (val!= null){%>
    <li class="dj_discoveryFilters-listItem-<%= index++ %>" data-type="<%=key%>">
        <div class="dj_df-div">
            <div class="dj_df-header">
                <h4 class="side-section-title"><span class="fi-two fi_d-arrow-drk-blue"></span></h4>
                <% if (options.enableExport) { %>
                <a href="javascript:void(0)" class="fi-two fi_export" title="<%= Token('export') %>"><%= Token('export') %></a>
                <% } %>
            </div>
            <div class="dj_df-chart">
                <div id="hc-container" class="dj_hc-container"></div>
            </div>
        </div>
    </li>
    <% }}); %>
</ul>