<% 
var model = self,
    index = 0;
%>

 <ul class="dj_discoveryFilters-list">
 <%_.each(model, function(val, key) { 
    if (val!= null){%>
    <li class="dj_discoveryFilters-listItem-<%= index++ %>">
        <!-- Discovery container -->
        <div class="dj_df-div">
            <div class="dj_df-header">
                <!--<a id="cd_minMax" class="dj_df-collapse" href="javascript:void(0)" title="<%= Token("expand") %>">
                    <span class="cd_hideSpan"><%= Token("expand") %></span>
                </a> 
                <span class="dj_df-export">
                  <a href="javascript:void(0)" class="export hide" title="<%= Token("export") %>"><span><%= Token("export") %></span></a>
                </span>
                <h5 class="dj_cd-title" title="<%= Token("moduleDrag") %>"></h5>-->
                <h4 class="side-section-title" title="<%= Token("moduleDrag") %>"><span class="fi-two fi_d-arrow-drk-blue"></span></h4>
                <a href="javascript:void(0)" class="fi-two fi_export" title="<%= Token("export") %>"><%= Token("export") %></a>
            </div>
            <div class="dj_df-chart">
                <!-- Add the container -->
                <div id="hc-container" class="dj_hc-container"></div>
            </div>
        </div>
    </li>
    <% }}); %>
</ul>
