<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      
      <transaction key="Factiva.Gateway.Messages.Assets.CompanyList.V1_0:AddSaveSearch">
        <name>MSRVS_PGF_COMP_ADD_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      
      <transaction key="Factiva.Gateway.Messages.Assets.SaveSearch.V1_0:GetSaveSearchById">
        <name>MSRVS_PGF_GET_ITEM_BY_ID</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\saveSearch\GetSaveSearchByIDRequest.xslt</param>
              <param name="ClassId">58</param>
              <param name="ClassName">saveSearch</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\saveSearch\GetSaveSearchByIDResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.SaveSearch.V1_0:UpdateSaveSearch">
        <name>MSRVS_PGF_COMP_MOD_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>      
      
      <transaction key="Factiva.Gateway.Messages.Assets.SaveSearch.V1_0:DeleteSaveSearch">
        <name>MSRVS_PGF_DEL_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\saveSearch\DeleteSaveSearchRequest.xslt</param>
              <param name="ClassId">58</param>
              <param name="ClassName">saveSearch</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\saveSearch\DeleteSaveSearchResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.SaveSearch.V1_0:AddSaveSearchToGroup">
        <name>MSRVS_PGF_COMP_MOD_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\saveSearch\AddSaveSearchToGroupRequest.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\saveSearch\AddSaveSearchToGroupResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.SaveSearch.V1_0:RemoveSaveSearchFromGroup">
        <name>MSRVS_PGF_COMP_MOD_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\saveSearch\RemoveSaveSearchFromGroupRequest.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\saveSearch\RemoveSaveSearchFromGroupResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.SaveSearch.V1_0:GetSaveSearchsUser">
        <name>MSRVS_PGF_GET_ITEM_BY_CLASS</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\saveSearch\GetSaveSearchsUserRequest.xslt</param>
              <param name="ClassId">58</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\saveSearch\GetSaveSearchsUserResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.SaveSearch.V1_0:GetSaveSearchsGroup">
        <name>MSRVS_PGF_GET_GROUP_INFO</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\saveSearch\GetSaveSearchsGroupRequest.xslt</param>
              <param name="ClassId">58</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\saveSearch\GetSaveSearchsGroupResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.SaveSearch.V1_0:GetSaveSearchsAccount">
        <name>MSRVS_PGF_GET_ACCT_GROUP_ITEMS</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\saveSearch\GetSaveSearchsAccountRequest.xslt</param>
              <param name="ClassId">58</param>
              <param name="ClassName">saveSearch</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\saveSearch\GetSaveSearchsAccountResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>

    </transactionSettings>
  </ServiceSettings>
</configuration>