<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
	</configSections>
	<ServiceSettings>
		<transactionSettings>

			<transaction key="Factiva.Gateway.Messages.Membership.ExternalReader.V1_0:AddClientProfile">
				<name>MSRVS_REG_ADD_ER_CLIENT_PROFILE</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\externalreader\AddClientProfileResponse.xslt</param>
						</filter>
					</filters>

				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>


			<transaction key="Factiva.Gateway.Messages.Membership.ExternalReader.V1_0:GetClientProfiles">
				<name>MSRVS_REG_GET_ER_CLIENT_PROFILES</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\externalreader\GetClientProfilesResponse.xslt</param>
						</filter>
					</filters>
				</response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\requests\GetClientProfiles.xml</fileSave>
          <fileOpen>stubs\responses\GetClientProfilesResponse.xml</fileOpen>
        </transport>-->
			</transaction>


			<transaction key="Factiva.Gateway.Messages.Membership.ExternalReader.V1_0:DeleteClientProfile">
				<name>MSRVS_REG_DEL_ER_CLIENT_PROFILE</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\externalreader\DeleteClientProfileResponse.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>


			<transaction key="Factiva.Gateway.Messages.Membership.ExternalReader.V1_0:GetClientProfileById">
				<name>MSRVS_REG_GET_ER_CLIENT_PROFILES</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\externalreader\GetClientProfileByIdResponse.xslt</param>
						</filter>
					</filters>

				</response>
				<transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\requests\GetClientProfileById.xml</fileSave>
          <fileOpen>stubs\responses\GetClientProfileByIdResponse.xml</fileOpen>
        </transport>-->
			</transaction>


			<transaction key="Factiva.Gateway.Messages.Membership.ExternalReader.V1_0:UpdateClientProfileProperties">
				<name>MSRVS_REG_ADD_ER_CLIENT_PROFILE</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\externalreader\UpdateClientProfilePropertiesResponse.xslt</param>
						</filter>
					</filters>

				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>


			<transaction key="Factiva.Gateway.Messages.Membership.ExternalReader.V1_0:SendEmailToUser">
				<name>MSRVS_REG_SEND_EMAIL_TO_ER_USER</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\externalreader\SendEmailToUserResponse.xslt</param>
						</filter>
					</filters>

				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>

			<transaction key="Factiva.Gateway.Messages.Membership.ExternalReader.V1_0:ValidateToken">
				<name>MSRVS_REG_VAL_ER_TOKEN</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\externalreader\ValidateTokenResponse.xslt</param>
						</filter>
					</filters>

				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>

			<transaction key="Factiva.Gateway.Messages.Membership.ExternalReader.V1_0:DeleteUser">
				<name>MSRVS_REG_DEL_ER_CLIENT_USER</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\externalreader\DeleteUserResponse.xslt</param>
						</filter>
					</filters>

				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>

			<transaction key="Factiva.Gateway.Messages.Membership.ExternalReader.V1_0:GetUsers">
				<name>MSRVS_REG_GET_ER_CLIENT_USERS</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\externalreader\GetUsersResponse.xslt</param>
						</filter>
					</filters>

				</response>
				<transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\requests\GetUsers.xml</fileSave>
          <fileOpen>stubs\responses\GetUsersResponse.xml</fileOpen>
        </transport>-->
			</transaction>

			<transaction key="Factiva.Gateway.Messages.Membership.ExternalReader.V1_0:ValidateUser">
				<name>MSRVS_REG_VAL_ER_USER</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\externalreader\ValidateUserResponse.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>
		</transactionSettings>
	</ServiceSettings>
</configuration>
