@using System.Text;
@using System.Collections.Generic;
@using DowJones.Infrastructure;
@using DowJones.Extensions;
@using DowJones.Ajax.Article;
@using DowJones.Web.Mvc.UI.Components.Models.Article;
@model DowJones.Web.Mvc.UI.Components.Articles.ArticlesModel
@ClientPlugin dj_Articles
@{ CssClass = "dj_Articles"; }

@if(Model != null)
{
    if (Model.ArticleModels.Count > 1)
    {
        <div class="pager-wrap">
		    <div class="dj_paging">
			    <span class="dj_comm-icon pagination-arrow prevs disabled" tooltip="next"></span>
			    <strong>1 - 100</strong> of 2345
			    <span class="dj_comm-icon pagination-arrow next" tooltip="previous"></span>
		    </div>
        </div>
    }
    
    foreach (ArticleModel model in Model.ArticleModels)
    {
         @Html.DJ().Render(model)
    }
}