<?xml version="1.0"?>
<configuration>
	<products>
		<product id="GYM">
		
			<name>hairbrain idea #2395</name>
			
			<clienttype code="M"/>
			<flavor code="F"/>
			<cookies prefix="FU"/>
			
			<accesspoint>
				<service type="global" code="v"/>
				<service type="preferences" code="v"/>
				<service type="clientbilling" code="v"/>
			</accesspoint>
			
			<networkpartnerid value=""/>
			
			<rules>
				<offset value="82" compare="00" operator="!=" />
			</rules>
			
			<encryptedtoken type="session"  enabled="true"/>
			<compatibleproducts></compatibleproducts>
			
			<languages>
				<lang code="en"/>
				<lang code="_${_LA}" />
				<lang code="templates" default="true"/>
			</languages>
			
			<landingpage type="flogin" enabled="false">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom18/iworks/default.aspx?napc=b&amp;fcpil=en</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom18/iworks/default.aspx?napc=b&amp;fcpil=templates</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom18/iworks/default.aspx?napc=b&amp;fcpil=templates</url>
			</landingpage>
			<landingpage type="nlogin" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom18/iworks/default.aspx?napc=b&amp;fcpil=en</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom18/iworks/default.aspx?napc=b&amp;fcpil=templates</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom18/iworks/default.aspx?napc=b&amp;fcpil=templates</url>
			</landingpage>
			<template type="login" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/modulescfg/en/cfg/payg_login.asp?tpid=GYM</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/modulescfg/_${_LA}/cfg/payg_login.asp?tpid=GYM</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/modulescfg/_${_LA}/cfg/payg_login.asp?tpid=GYM</url>
			</template>
			<template type="code_va" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom18/en/cfg/ccode_va.asp?SA_FROM=BV&amp;CCLevel=VA</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/ccode_va.asp?SA_FROM=BV&amp;CCLevel=VA</url> 
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/ccode_va.asp?SA_FROM=BV&amp;CCLevel=VA</url> 
			</template>
			<template type="code_m" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom18/en/cfg/ccode_m.asp?SA_FROM=BV&amp;CCLevel=M</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/ccode_m.asp?SA_FROM=BV&amp;CCLevel=M</url> 
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/ccode_m.asp?SA_FROM=BV&amp;CCLevel=M</url> 
			</template>
			<template type="code_vo" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom18/en/cfg/ccode_m.asp?SA_FROM=BV&amp;CCLevel=VO</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/ccode_m.asp?SA_FROM=BV&amp;CCLevel=VO</url> 
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/ccode_m.asp?SA_FROM=BV&amp;CCLevel=VO</url> 
			</template>
			<template type="loading" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/modulescfg/en/cfg/loading.asp</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/modulescfg/_${_LA}/cfg/loading.asp</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/modulescfg/_${_LA}/cfg/loading.asp</url>
			</template>
			<template type="displayerror" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/modulescfg/en/cfg/displayError.asp</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/modulescfg/_${_LA}/cfg/displayError.asp</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/modulescfg/_${_LA}/cfg/displayError.asp</url>
			</template>
			<template type="letbrowserin" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/modulescfg/en/cfg/letBrowserIn.asp</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/modulescfg/_${_LA}/cfg/letBrowserIn.asp</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/modulescfg/_${_LA}/cfg/letBrowserIn.asp</url>
			</template>
			<template type="reg" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom18/en/cfg/reg.asp</url> 
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/reg.asp</url> 
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/reg.asp</url> 
			</template>
			<!-- After successful.. registration...... -->
			<template type="regmsg" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom18/en/cfg/regMsg.asp</url> 
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/regMsg.asp</url> 
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/regMsg.asp</url> 
			</template>
			<template type="regtermofuse" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom18/en/cfg/subAgreemnt.asp</url> 
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/subAgreemnt.asp</url> 
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/subAgreemnt.asp</url> 
			</template>
			<template type="screentoosmall" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/modulescfg/en/cfg/screenTooSmall.asp</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/modulescfg/_${_LA}/cfg/screenTooSmall.asp</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/modulescfg/_${_LA}/cfg/screenTooSmall.asp</url>
			</template>
			<redirect type="notsupportedbrowser" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/modulescfg/en/cfg/notSupportedBrowser.asp</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/modulescfg/_${_LA}/cfg/notSupportedBrowser.asp</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/modulescfg/_${_LA}/cfg/notSupportedBrowser.asp</url>
			</redirect>
			<template type="terminatesubscription" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom18/en/cfg/terminatesubscription.asp</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/terminatesubscription.asp</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/terminatesubscription.asp</url>
			</template>
			<template type="renewalagreement" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom18/en/cfg/renewalAgreement.asp</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/renewalAgreement.asp</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/renewalAgreement.asp</url>
			</template>
			<template type="postrenewal" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom18/en/cfg/postRenewal.asp</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/postRenewal.asp</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/postRenewal.asp</url>
			</template>
			<template type="psswd_reset1" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom18/en/cfg/pswdReset1.asp</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/pswdReset1.asp</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/pswdReset1.asp</url>
			</template>
			<template type="psswd_reset2" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom18/en/cfg/pswdReset2.asp</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/pswdReset2.asp</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/pswdReset2.asp</url>
			</template>
			<data for="jumppage">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom18/en/cfg/jumppage.asp?billpack=GYMF</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/jumppage.asp?billpack=GYMF</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom18/templates/cfg/jumppage.asp?billpack=GYMF</url>
			</data>
			<redirect type="logout" enabled="true"></redirect>
			<browsercaps>
				<use var="HTTP_USER_AGENT"/>
				<keys>
					<key name="platform" value="Unknown" />
					<key name="browser" value="Unknown" />
					<key name="version" value="0.0" />
					<key name="majorversion" value="0" />
					<key name="minorversion" value="0" />
					<key name="beta" value="false" />
					<key name="win16" value="false" />
					<key name="win32" value="false" />
					<key name="supportedPlatform" value="true" />
					<key name="supportedBrowser" value="true" />
					<key name="letBrowserIn" value="true" />
				</keys>
			</browsercaps>
		</product>
	</products>
</configuration>