<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>

      <!-- Start AddEditionToNewsletter -->
      <transaction key="Factiva.Gateway.Messages.Assets.Newsletter.V1_0:AddEditionToNewsletter">
        <name>urn:factiva:assets:newsletter:data:v1_0:AddEditionToNewsletter</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:newsletter:data:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      <!-- End AddEditionToNewsletter -->

      <!-- Start CreateNewsLetter -->
      <transaction key="Factiva.Gateway.Messages.Assets.Newsletter.V1_0:CreateNewsletter">
        <name>urn:factiva:assets:newsletter:data:v1_0:CreateNewsletter</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:newsletter:data:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      <!-- End CreateNewsLetter -->

      <!-- Start DeleteEdition -->
      <transaction key="Factiva.Gateway.Messages.Assets.Newsletter.V1_0:DeleteEdition">
        <name>urn:factiva:assets:newsletter:data:v1_0:DeleteEdition</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:newsletter:data:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      <!-- End DeleteEdition -->

      <!-- Start DeleteNewsletter -->
      <transaction key="Factiva.Gateway.Messages.Assets.Newsletter.V1_0:DeleteNewsletter">
        <name>urn:factiva:assets:newsletter:data:v1_0:DeleteNewsletter</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:newsletter:data:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      <!-- End DeleteNewsletter -->

      <!-- Start GetEditionById -->
      <transaction key="Factiva.Gateway.Messages.Assets.Newsletter.V1_0:GetEditionById">
        <name>urn:factiva:assets:newsletter:data:v1_0:GetEditionById</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:newsletter:data:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      <!-- End GetEditionById -->

      <!-- Start GetNewsletterById -->
      <transaction key="Factiva.Gateway.Messages.Assets.Newsletter.V1_0:GetNewsletterById">
        <name>urn:factiva:assets:newsletter:data:v1_0:GetNewsletterById</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:newsletter:data:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      <!-- End GetNewsletterById -->

      <!-- Start GetNewsletterByName -->
      <transaction key="Factiva.Gateway.Messages.Assets.Newsletter.V1_0:GetNewsletterByName">
        <name>urn:factiva:assets:newsletter:data:v1_0:GetNewsletterByName</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:newsletter:data:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      <!-- End GetNewsletterByName -->

      <!-- Start GetNewsletterList -->
      <transaction key="Factiva.Gateway.Messages.Assets.Newsletter.V1_0:GetNewsletterList">
        <name>urn:factiva:assets:newsletter:data:v1_0:GetNewsletterList</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:newsletter:data:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      <!-- End GetNewsletterList -->

      <!-- Start UpdateEdition -->
      <transaction key="Factiva.Gateway.Messages.Assets.Newsletter.V1_0:UpdateEdition">
        <name>urn:factiva:assets:newsletter:data:v1_0:UpdateEdition</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:newsletter:data:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      <!-- End UpdateEdition -->

      <!-- Start UpdateEditionProperties -->
      <transaction key="Factiva.Gateway.Messages.Assets.Newsletter.V1_0:UpdateEditionProperties">
        <name>urn:factiva:assets:newsletter:data:v1_0:UpdateEditionProperties</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:newsletter:data:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      <!-- End UpdateEditionProperties -->

      <!-- Start UpdateNewsletterProperties -->
      <transaction key="Factiva.Gateway.Messages.Assets.Newsletter.V1_0:UpdateNewsletterProperties">
        <name>urn:factiva:assets:newsletter:data:v1_0:UpdateNewsletterProperties</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:newsletter:data:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      <!-- End UpdateNewsletterProperties-->

    </transactionSettings>
  </ServiceSettings>
</configuration>