<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.DJComm.Author.V1_0:CreateAuthor">
        <name>urn:factiva:Communicator:AuthorService:v1_0:CreateAuthor</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\Author\CreateAuthorRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\Author\CreateAuthorResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.Author.V1_0:UpdateAuthor">
        <name>urn:factiva:Communicator:AuthorService:v1_0:UpdateAuthor</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\Author\UpdateAuthorRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\Author\UpdateAuthorResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.Author.V1_0:DeleteAuthor">
        <name>urn:factiva:Communicator:AuthorService:v1_0:DeleteAuthor</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\Author\DeleteAuthorRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\Author\DeleteAuthorResponse.xml</fileOpen>
        </transport>
      </transaction>  
      <transaction key="Factiva.Gateway.Messages.DJComm.Author.V1_0:GetAuthorById">
        <name>urn:factiva:Communicator:AuthorService:v1_0:GetAuthorById</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\Author\GetAuthorByIDRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\Author\GetAuthorByIDResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.Author.V1_0:GetAuthorList">
        <name>urn:factiva:Communicator:AuthorService:v1_0:GetAuthorList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\Author\GetAuthorListRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\Author\GetAuthorListResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.Author.V1_0:GetAuthorListDetail">
        <name>urn:factiva:Communicator:AuthorService:v1_0:GetAuthorListDetail</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\Author\GetAuthorListDetailRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\Author\GetAuthorListDetailResponse.xml</fileOpen>
        </transport>
      </transaction>
    </transactionSettings>
  </ServiceSettings>
</configuration>