<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
            <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
                <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
                <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
                    <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere" />
                    <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
                    <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
                </sectionGroup>
            </sectionGroup>
        </sectionGroup>
        <section name="FactivaPackages" type="factiva.nextgen.ui.FactivaPackagesSectionHandler"/>
        <section name="FactivaServicesSettings" type="Factiva.Services.Config.SectionHandler, FactivaServices"/>
        <section name="FactivaBusinessLayerLogicSettings" type="Factiva.BusinessLayerLogic.Configuration.FactivaBusinessLayerLogicSectionHandler, FactivaBusinessLayerLogic"/>
        <sectionGroup name="ajaxNet">
            <section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler, AjaxPro.2"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EMG.widgets.ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="factiva.nextgen.ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Factiva.BusinessLayerLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="EMG.Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Factiva.Gateway.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
            <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
              <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
              <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
              <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
              <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
            </sectionGroup>
          </sectionGroup>
        </sectionGroup>
    </configSections>

    <system.codedom>
      <compilers>
        <compiler language="c#;cs;csharp" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" extension=".cs" compilerOptions="/d:DEBUG;TRACE" warningLevel="4">
          <providerOption name="CompilerVersion" value="v3.5"/>
          <providerOption name="WarnAsError" value="false"/>
        </compiler>
      </compilers>
    </system.codedom>
    <ajaxNet>
        <ajaxSettings>
            <token enabled="false"/>
            <urlNamespaceMappings>
                <add namespace="factiva.nexgen.ui.PNPAjax,factiva.nexgen.ui" path=""/>
                <add namespace="factiva.nexgen.ui.Ajax,factiva.nexgen.ui" path=""/>
                <add namespace="factiva.nexgen.ui.SharingAjax,factiva.nexgen.ui" path=""/>
            </urlNamespaceMappings>
        </ajaxSettings>
    </ajaxNet>

    <system.web>
        <trust level="Full"/>
        <pages>
            <controls>
                <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0,, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            </controls>
        </pages>

        <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
        <compilation debug="false">
            <assemblies>
                <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            </assemblies>
        </compilation>

        <httpHandlers>
            <remove verb="*" path="*.asmx"/>
            <add verb="*" path="EMG.widgets.services.*.asmx" validate="false" type="EMG.Tools.WebServices.AutoDiscoveryWebServiceHandlerFactory, EMG.Utility"/>
            <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>

            <add verb="*" path="ajaxPro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2"/>
            <add verb="*" path="*/ajaxPro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2"/>

            <!-- Chart Generation Handlers For Preview -->
            <add verb="*" path="services/chart.ashx" type="EMG.widgets.services.handlers.ChartHandler, EMG.widgets.ui"/>

            <!-- Discovery Redirection Handler -->
            <add verb="*" path="utility/discovery/redir.ashx" type="EMG.widgets.utility.discovery.DiscoveryRedirectionHandler, EMG.widgets.ui"/>

            <!-- Note: Sevice handlers for render methods -->
            <add verb="*" path="render.ashx" type="EMG.widgets.ui.syndication.RenderAsyncHandler, EMG.widgets.ui"/>
            <add verb="*" path="render.aspx" type="EMG.widgets.ui.syndication.RenderAsyncHandler, EMG.widgets.ui"/>
            <add verb="*" path="du/render.ashx" type="EMG.widgets.ui.syndication.RenderAsyncHandler, EMG.widgets.ui"/>
            <add verb="*" path="du/render.aspx" type="EMG.widgets.ui.syndication.RenderAsyncHandler, EMG.widgets.ui"/>
            <add verb="*" path="services/render.ashx" type="EMG.widgets.ui.syndication.RenderAsyncHandler, EMG.widgets.ui"/>
            <add verb="*" path="services/render.aspx" type="EMG.widgets.ui.syndication.RenderAsyncHandler, EMG.widgets.ui"/>
            <add verb="*" path="syndication/render.ashx" type="EMG.widgets.ui.syndication.RenderAsyncHandler, EMG.widgets.ui"/>
            <add verb="*" path="syndication/render.aspx" type="EMG.widgets.ui.syndication.RenderAsyncHandler, EMG.widgets.ui"/>

            <!-- Note: Blogger integration service handlers -->
            <add verb="*" path="syndication/blogger.ashx" type="EMG.widgets.ui.syndication.integration.handlers.BloggerIntegrationHandler, EMG.widgets.ui"/>
            <add verb="*" path="syndication/blogger.aspx" type="EMG.widgets.ui.syndication.integration.handlers.BloggerIntegrationHandler, EMG.widgets.ui"/>

            <!-- Note: HttpHandler is aspx page found in du directory : createWidget.aspx -->
            <add verb="*" path="du/createAlertWidget.aspx" type="EMG.widgets.ui.du.CreateWidget"/>
            <add verb="*" path="*/du/createAlertWidget.aspx" type="EMG.widgets.ui.du.CreateWidget"/>

            <!-- Note: HttpHandler for Insertion of a widget : InsertWidget.ashx -->
            <add verb="*" path="syndication/subscriber/InsertWidget.ashx" type="EMG.widgets.ui.syndication.subscriber.InsertWidget"/>
            <!-- Note: HttpHandler for WidgetIntegration : GetIntegrationCode.ashx -->
            <add verb="*" path="syndication/subscriber/GetIntegrationCode.ashx" type="EMG.widgets.ui.syndication.subscriber.GetIntegrationCode"/>


            <!-- Note: HttpHandlers for Readspeaker Podcast Prototype -->
            <add verb="*" path="*.mp3" type="EMG.widgets.ui.syndication.podcast.PodcastMediaHandler"/>
            <add verb="*" path="syndication/podcast/content.ashx" type="EMG.widgets.ui.syndication.podcast.ReadSpeakerContentHandler"/>

            <add verb="*" path="du/r.ashx" type="EMG.widgets.ui.Handlers.HttpResourceHandler" validate="false"/>
        </httpHandlers>

        <httpModules>
            <!-- Remove unnecessary Http Modules for faster pipeline -->
            <remove name="Session"/>
            <remove name="FormsAuthentication"/>
            <remove name="WindowsAuthentication"/>
            <remove name="PassportAuthentication"/>
            <remove name="UrlAuthorization"/>
            <remove name="FileAuthorization"/>
            <!-- Removed dacostad *** do not add this back ***
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
       oldentry <add name="CompressionModule" type="EMG.Utility.Modules.CompressionModule, EMG.Utility"/>
      -->
            <add name="CompressionModule" type="EMG.widgets.ui.Modules.Compression.CompressionModule, EMG.widgets.ui"/>
        </httpModules>
        <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
        <customErrors mode="RemoteOnly"/>
        <!--
          <machineKey
              validationKey = "AutoGenerate,IsolateApps" [String]
              decryptionKey = "AutoGenerate,IsolateApps" [String]
              decryption = "Auto" [AUTO | DES | 3DES | AES]
              validation = "SHA1" [MD5 | SHA1 | 3DES | AES]
          />
          Baseline machineKey
          <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" decryption="Auto" />
    -->
        <machineKey
          validationKey="A6EB3DF4CA8AAB065D877A823995C3106F9D3D3BA516C184FB6D8E1996878E887900BAD4CC2837EC81B059777C5976C6539F94BD798A2063F544969B4A0F7AB1"
          decryptionKey="3694C84B43FC82B24381A4000CAF1BA60DC1D1C699165FDB"
          validation="SHA1" />
        <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
        <authentication mode="None"/>
        <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
        <authorization>
            <allow users="*"/>
            <!-- Allow all users -->
            <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
        </authorization>
        <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
        <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
        <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
        <sessionState mode="Off" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
        <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
        <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
        <xhtmlConformance mode="Transitional"/>
    </system.web>

    <system.web.extensions>
        <scripting>
            <webServices>
                <!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
                <!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
      -->
                <jsonSerialization maxJsonLength="5000000" />
                <!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
                <!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->

                <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
                <!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
            </webServices>
            <scriptResourceHandler enableCompression="true" enableCaching="true" />
        </scripting>
    </system.web.extensions>

    <appSettings>
        <add key="ReleaseVersion" value="v4.27.0.0Int"/>
        <add key="IWORKS_CONFIG_URL.u" value="{0}/iworks/standard/config.xml"/>
        <add key="IWORKS_CONFIG_URL.j" value="{0}/iworks/wsj/config.xml"/>
        <add key="IWORKS_CONFIG_URL.e" value="{0}/iworks/reuters/config.xml"/>
        <add key="IWORKS_CONFIG_URL.b" value="{0}/iworks/bvd/config.xml"/>
        <add key="IWORKS_CONFIG_URL.v" value="{0}/iworks/gym/config.xml"/>
        <add key="BASE_CONFIG_URL" value="{0}/config.xml"/>
        <add key="LoginServerURL" value="https://global.int.factiva.com/factivalogin/login.asp" />
        <add key="TermsOfUseUrl" value="http://global.int.factiva.com/factivalogin/tou/tou_{0}.html "/>
        <add key="PrivacyPolicyUrl" value="http://global.int.factiva.com/factivalogin/privacypolicy/privacypolicy_{0}.html" />
        <add key="HelpUrl" value="http://customer.int.factiva.com/{0}/home/supporthome.aspx?SA_FROM=IF&amp;APC={1}"/>
        <add key="RESOURCE_BASE_NAME" value="WidgetUiResources"/>
        <add key="ASSEMBLY_NAME" value="WidgetUiResources"/>

        <!-- for the caching server URL-->
        <add key="CachingWrapper.FactivaCaching1.GenericCache" value="http://cache.int.factiva.com/cache_1_1.asmx" />
        <!--<add key="CachingWrapper.FactivaCaching1.GenericCache" value="http://cache.dev.factiva.com/cache_1_1.asmx" />-->

        <!-- Switch used turn xslt stylesheet cacheing values=true/false -->
        <add key="Cache_Xslt_Files" value="false"/>

        <!-- Factiva.com Enviroment link -->
        <add key="FactivaDotComURL" value="http://global.int.factiva.com/du/global.aspx"/>

        <!--Global URL-->
        <add key="GlobalDotComBaseURL" value="nevada.dev.us.factiva.com/web28"/>
        <!-- Whats New URL for marketing site changed for Q1 2007 12/11/07 -->
        <add key="Whats_new_URL" value="http://www.factiva.com/{0}/whatsnews/index.asp?lang={1}#{1}_new"/>
        <add key="Marketing_URL" value="http://www.int.factiva.com" />
    </appSettings>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="Session"/>
      <remove name="FormsAuthentication"/>
      <remove name="WindowsAuthentication"/>
      <remove name="PassportAuthentication"/>
      <remove name="UrlAuthorization"/>
      <remove name="FileAuthorization"/>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>

    <!-- Packages Section Handler -->
    <FactivaPackages>
        <Package name="UnregisterdUser" url="preview.int.factiva.com">
            <!-- General Package links -->
            <add key="SearchTipsUrl" value="http://customer.int.factiva.com/{0}/custSvc/CSMain.aspx?id=8684&amp;sa_from=IF" />
            <add key="SupportUrl" value="http://customer.int.factiva.com/{0}/home/supporthome.aspx?SA_FROM={2}&amp;APC={1}"/>
            <!-- The following keys controls activefeedback Note: Remove these keys to disable Active Feedback  -->
            <add key="FeedbackKey" value="Q3_2005"/>
            <add key="FeedbackActivityCount" value="5"/>
            <!-- Standard Feedback links -->
            <add key="Feedback_Overall" value="http://www.zoomerang.com/survey.zgi?p=WEB2253G7X8Q3X" />
            <add key="Feedback_Search" value="http://www.zoomerang.com/survey.zgi?p=WEB2253G7X8Q3X" />
            <add key="Feedback_Track" value="http://www.zoomerang.com/survey.zgi?p=WEB2253G7X8Q3X" />
            <add key="Feedback_Article" value="http://www.zoomerang.com/survey.zgi?p=WEB2253G7X8Q3X" />
            <add key="Feedback_PersonalNewsPage" value="http://www.zoomerang.com/survey.zgi?p=WEB225CK66SCKS" />
            <!-- Personal NewsPage -->
            <add key="Feedback_Dynamic" value="http://www.zoomerang.com/survey.zgi?p=WEB2254RP422E2" />
            <add key="Supported_Interface_Languages" value="en,fr,de,es,ru" />
        </Package>
        <Package name="FactivaReader" url="reader.int.factiva.com">
            <!-- General Package links -->
            <add key="SearchTipsUrl" value="http://customer.int.factiva.com/{0}/custSvc/CSMain.aspx?id=8684&amp;sa_from=IF" />
            <add key="SupportUrl" value="http://customer.int.factiva.com/{0}/home/supporthome.aspx?SA_FROM={2}&amp;APC={1}"/>
            <add key="RedirectionUrl" value="http://www.factiva.com/factiva/reader/index.asp" />
            <!-- The following keys controls activefeedback Note: Remove these keys to disable Active Feedback  -->
            <!--<add key="FeedbackKey" value="Q3_2005"/>
		<add key="FeedbackActivityCount" value="5"/>-->
            <!-- Standard Feedback links -->
            <add key="Feedback_Overall" value="http://www.zoomerang.com/recipient/survey.zgi?p=WEB225PWX3QG4T" />
            <add key="Feedback_Search" value="http://www.zoomerang.com/survey.zgi?p=WEB225PWX3QG4T" />
            <add key="Feedback_Track" value="http://www.zoomerang.com/survey.zgi?p=WEB225PWX3QG4T" />
            <add key="Feedback_Article" value="http://www.zoomerang.com/survey.zgi?p=WEB225PWX3QG4T" />
            <add key="Feedback_PersonalNewsPage" value="http://www.zoomerang.com/survey.zgi?p=WEB225CK66SCKS" />
            <!-- Personal NewsPage -->
            <add key="Feedback_Dynamic" value="http://www.zoomerang.com/survey.zgi?p=WEB225PWX3QG4T" />
            <add key="Supported_Interface_Languages" value="en,fr,de,es,ru" />
        </Package>
        <Package name="IWorksBasic" url="localhost">
            <!-- General Package links -->
            <add key="SearchTipsUrl" value="http://customer.int.factiva.com/{0}/custSvc/CSMain.aspx?id=8684&amp;sa_from=IF" />
            <add key="SupportUrl" value="http://customer.int.factiva.com/{0}/home/supporthome.aspx?SA_FROM={2}&amp;APC={1}"/>
            <!-- The following keys controls activefeedback Note: Remove these keys to disable Active Feedback  -->
            <!--<add key="FeedbackKey" value="Q3_2005"/>
		<add key="FeedbackActivityCount" value="5"/>-->
            <!-- Standard Feedback links -->
            <add key="Feedback_Overall" value="http://www.zoomerang.com/survey.zgi?p=WEB225NKX2W7XT" />
            <add key="Feedback_Search" value="http://www.zoomerang.com/survey.zgi?p=WEB225NKX2W7XT" />
            <add key="Feedback_Track" value="http://www.zoomerang.com/survey.zgi?p=WEB225NKX2W7XT" />
            <add key="Feedback_Article" value="http://www.zoomerang.com/survey.zgi?p=WEB225NKX2W7XT" />
            <add key="Feedback_PersonalNewsPage" value="http://www.zoomerang.com/survey.zgi?p=WEB225NKXZW8JQ" />
            <!-- Personal NewsPage -->
            <add key="Feedback_Dynamic" value="http://www.zoomerang.com/survey.zgi?p=WEB2254RP422E2" />
            <add key="Supported_Interface_Languages" value="en,fr,de,es,ru" />
        </Package>
        <Package name="IWorksPlus" url="localhost">
            <!-- General Package links -->
            <add key="SearchTipsUrl" value="http://customer.int.factiva.com/{0}/custSvc/CSMain.aspx?id=8684&amp;sa_from=IF" />
            <add key="SupportUrl" value="http://customer.int.factiva.com/{0}/home/supporthome.aspx?SA_FROM={2}&amp;APC={1}"/>
            <!-- The following keys controls activefeedback Note: Remove these keys to disable Active Feedback  -->
            <!--<add key="FeedbackKey" value="Q3_2005"/>
		<add key="FeedbackActivityCount" value="5"/>-->
            <!-- Standard Feedback links -->
            <add key="Feedback_Overall" value="http://www.zoomerang.com/survey.zgi?p=WEB225NKX2W7XT" />
            <add key="Feedback_Search" value="http://www.zoomerang.com/survey.zgi?p=WEB225NKX2W7XT" />
            <add key="Feedback_Track" value="http://www.zoomerang.com/survey.zgi?p=WEB225NKX2W7XT" />
            <add key="Feedback_Article" value="http://www.zoomerang.com/survey.zgi?p=WEB225NKX2W7XT" />
            <add key="Feedback_PersonalNewsPage" value="http://www.zoomerang.com/survey.zgi?p=WEB225NKXZW8JQ" />
            <!-- Personal NewsPage -->
            <add key="Feedback_Dynamic" value="http://www.zoomerang.com/survey.zgi?p=WEB2254RP422E2" />
            <add key="Supported_Interface_Languages" value="en,fr,de,es,ru" />
        </Package>
        <Package name="IWorksPremium" url="localhost">
            <!-- General Package links -->
            <add key="SearchTipsUrl" value="http://customer.int.factiva.com/{0}/custSvc/CSMain.aspx?id=8684&amp;sa_from=IF" />
            <add key="SupportUrl" value="http://customer.int.factiva.com/{0}/home/supporthome.aspx?SA_FROM={2}&amp;APC={1}"/>
            <!-- The following keys controls activefeedback Note: Remove these keys to disable Active Feedback  -->
            <!--<add key="FeedbackKey" value="Q3_2005"/>
		<add key="FeedbackActivityCount" value="5"/>-->
            <!-- Standard Feedback links -->
            <add key="Feedback_Overall" value="http://www.zoomerang.com/survey.zgi?p=WEB2253G7X8Q3X" />
            <add key="Feedback_Search" value="http://www.zoomerang.com/survey.zgi?p=WEB2253G7X8Q3X" />
            <add key="Feedback_Track" value="http://www.zoomerang.com/survey.zgi?p=WEB2253G7X8Q3X" />
            <add key="Feedback_Article" value="http://www.zoomerang.com/survey.zgi?p=WEB2253G7X8Q3X" />
            <add key="Feedback_PersonalNewsPage" value="http://www.zoomerang.com/survey.zgi?p=WEB225CK66SCKS" />
            <!-- Personal NewsPage -->
            <add key="Feedback_Dynamic" value="http://www.zoomerang.com/survey.zgi?p=WEB2254RP422E2" />
            <add key="Supported_Interface_Languages" value="en,fr,de,es,ru" />
        </Package>
        <Package name="FactivaWidgetBuilderUser" url="localhost">
            <!-- General Package links -->
            <add key="SearchTipsUrl" value="http://customer.int.factiva.com/{0}/custSvc/CSMain.aspx?id=8684&amp;sa_from=IF" />
            <add key="SupportUrl" value="http://customer.int.factiva.com/{0}/home/supporthome.aspx?SA_FROM={2}&amp;APC={1}"/>
            <!-- The following keys controls activefeedback Note: Remove these keys to disable Active Feedback  -->
            <!--<add key="FeedbackKey" value="Q3_2005"/>
		<add key="FeedbackActivityCount" value="5"/>-->
            <!-- Standard Feedback links -->
            <add key="Feedback_Overall" value="http://www.zoomerang.com/survey.zgi?p=WEB2253G7X8Q3X" />
            <add key="Feedback_Search" value="http://www.zoomerang.com/survey.zgi?p=WEB2253G7X8Q3X" />
            <add key="Feedback_Track" value="http://www.zoomerang.com/survey.zgi?p=WEB2253G7X8Q3X" />
            <add key="Feedback_Article" value="http://www.zoomerang.com/survey.zgi?p=WEB2253G7X8Q3X" />
            <add key="Feedback_PersonalNewsPage" value="http://www.zoomerang.com/survey.zgi?p=WEB225CK66SCKS" />
            <!-- Personal NewsPage -->
            <add key="Feedback_Dynamic" value="http://www.zoomerang.com/survey.zgi?p=WEB2254RP422E2" />
            <add key="Supported_Interface_Languages" value="en,fr,de,es,ru" />
        </Package>
    </FactivaPackages>

    <FactivaBusinessLayerLogicSettings>
        <lightWeightUser name="PremiumContentLightWeightUser">
            <userId>search2prm</userId>
            <userPassword>search2pr</userPassword>
            <productId>22</productId>
        </lightWeightUser>
        <lightWeightUser name="RegularContentLightWeightUser">
            <userId>search2reg</userId>
            <userPassword>search2</userPassword>
            <productId>22</productId>
        </lightWeightUser>
        <lightWeightUser name="RssFeed1LightWeightUser">
            <userId>RSSFEED1</userId>
            <userPassword>RSSFEED1</userPassword>
            <productId>16</productId>
        </lightWeightUser>
        <lightWeightUser name="PodcastLightWeightUser">
            <userId>pcastfeed1</userId>
            <userPassword>Pa55wd</userPassword>
            <productId>16</productId>
            <accessPointCode>AA</accessPointCode>
        </lightWeightUser>
    </FactivaBusinessLayerLogicSettings>

    <FactivaServicesSettings>
        <token name="FastSearch_V1">
            <add key ="EndPoint" value="http://fisrch1qry1.int.us.factiva.net:8080/search-ws/services/SearchSoap"/>
            <add key="SoapAction" value="http://services.factiva.com/search/"/>
            <add key="CommMethod" value="rts"/>
        </token>
        <token name="Olh">
            <add key ="EndPoint" value="http://fiolh1qry1.int.us.factiva.net:8080/search-ws/services/SearchSoap"/>
            <add key="SoapAction" value="http://services.factiva.com/search/"/>
            <add key="CommMethod" value="rts"/>
        </token>
        <token name="GetArticle">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\GetArticleResponse.xslt"/>
        </token>
        <token name="GetQuote">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\GetQuoteResponse.xslt"/>
        </token>
        <token name="GetHistoricalDataByTimePeriod">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\GetHistoricalDataByTimePeriodResponse.xslt"/>
        </token>
        <token name="GetHistoricalDataByDateRange">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\GetHistoricalDataByDateRangeResponse.xslt"/>
        </token>
        <token name="GetHistoricalDataByDataPoints">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\GetHistoricalDataByDataPointsResponse.xslt"/>
        </token>
        <token name="Index">
            <add key="TransactionName" value="INDEX_Search_bstr"/>
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\PerformContentSearchResponse.xslt"/>
        </token>
        <token name="GetSourcesByCode">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\GetSourcesByCodeResponse.xslt"/>
        </token>
        <token name="CreateFolder">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\CreateFolderResponse.xslt"/>
        </token>
        <token name="ReviseFolder">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\ReviseFolderResponse.xslt"/>
        </token>
        <token name="DeleteFolder">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\DeleteFolderResponse.xslt"/>
        </token>
        <token name="GetFolder">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\GetFolderResponse.xslt"/>
        </token>
        <token name="GetFolderList">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\GetFolderListResponse.xslt"/>
        </token>
        <token name="GetThemeHeadlines">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\GetThemeHeadlinesResponse.xslt"/>
        </token>
        <token name="GetTimeZone">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\GetTimeZoneResponse.xslt"/>
        </token>
        <token name="GetUserProfile">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\GetUserProfileResponse.xslt"/>
        </token>
        <token name="GetProductSetupFlags">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\GetProductSetupFlagsResponse.xslt"/>
        </token>
        <token name="OnDemandEmail">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\OnDemandEmailResponse.xslt"/>
        </token>
        <token name="GetUserAuthorizationsNoCache">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\GetUserAuthorizationsNoCacheResponse.xslt"/>
        </token>
        <token name="GripItem">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\GripItemResponse.xslt"/>
        </token>
        <token name="GetItem">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\GetItemResponse.xslt"/>
        </token>
        <token name="Taxonomy">
            <add key="SoapAction" value="http://services.factiva.com/symbology/"/>
            <add key="TransactionName" value="http://types.factiva.com/symbology/company"/>
        </token>
        <token name="Fcp">
            <add key="SoapAction" value="urn:factiva:fcp:v1_0/"/>
        </token>
        <token name="Dnb">
            <add key="SoapAction" value="http://services.factiva.com/dnb/"/>
        </token>
        <token name="MetricsSettings">
            <add key="ServiceType" value="115"/>
            <add key="FunctionType" value="19001"/>
            <add key="MajorServiceVersion" value="1"/>
            <add key="MinorServiceVersion" value="0"/>
        </token>
        <token name="GetNewsstandSources">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\GetNewsstandSourcesResponse.xslt"/>
        </token>
        <token name="GetNewsstandSections">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\GetNewsstandSectionsResponse.xslt"/>
        </token>
        <token name="GetNewsstandHeadlines">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\GetNewsstandHeadlinesResponse.xslt"/>
        </token>
        <token name="GetNewsstandHeadlinesBySectionIDs">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\GetNewsstandHeadlinesResponse.xslt"/>
        </token>
        <token name="PerformSourceSearch">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\PerformSourceSearchResponse.xslt"/>
        </token>
        <token name="PreferenceItem">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\PreferenceItemResponse.xslt"/>
        </token>
        <token name="GetEncryptedId">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\GetEncryptedIdResponse.xslt"/>
        </token>
        <token name="GetWSJIETokenUrl">
            <add key="ResponseXSLT" value="FactivaServices\servicexslts\GetWSJIETokenUrlResponse.xslt"/>
        </token>
    </FactivaServicesSettings>

    <applicationSettings>
        <EMG.widgets.ui.Properties.Settings>
            <setting name="Cyclone_Redirection_URL" serializeAs="String">
                <value>http://global.int.factiva.com/redir/default.aspx</value>
            </setting>
            <setting name="GL_BaseUrl_AlertHeadlineWidget" serializeAs="String">
                <value>http://global.int.factiva.com/du/folderview.aspx</value>
            </setting>
            <setting name="IF_BaseUrl_AlertHeadlineWidget" serializeAs="String">
                <value>http://preview.int.factiva.com/du/alerts.aspx</value>
            </setting>
            <setting name="FC_BaseUrl" serializeAs="String">
                <value>http://fce.int.factiva.com</value>
            </setting>
            <setting name="MarketingFlashMovie_Source" serializeAs="String">
                <value>http://www.factiva.com/fitch/widgets.swf </value>
            </setting>
            <setting name="MarketingFlashMovie_TargetVersion" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="ReadSpeaker_Base_Redirection_Url" serializeAs="String">
                <value>http://asp2.readspeaker.net/cgi-bin/dowjonesrsone/{0}.mp3</value>
            </setting>
            <setting name="ReadSpeaker_ContentHandler" serializeAs="String">
                <value>~/syndication/podcast/content.ashx</value>
            </setting>
            <setting name="ReadSpeaker_Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReadSpeaker_CustomerId" serializeAs="String">
                <value>188</value>
            </setting>
            <setting name="MarketingFlashMovie_Height" serializeAs="String">
                <value>432</value>
            </setting>
            <setting name="MarketingFlashMovie_Width" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="IN_BaseUrl" serializeAs="String">
                <value>http://insight.int.factiva.com/pages/dashboard.aspx</value>
            </setting>
            <setting name="BaseUrl_ManualNewsletterWorkspaceWidget" serializeAs="String">
                <value>http://global.int.factiva.com/newsletter/default.aspx?sa_from={0}&amp;napc=2&amp;doneURL={1}</value>
            </setting>
            <setting name="BaseUrl_AutomaticWorkspaceWidget" serializeAs="String">
                <value>http://global.int.factiva.com/workspace/managews.aspx?sa_from={0}&amp;napc={1}&amp;doneURL={2}</value>
            </setting>
            <setting name="GL_BaseUrl" serializeAs="String">
                <value>http://global.int.factiva.com/</value>
            </setting>
            <setting name="IF_BaseUrl" serializeAs="String">
                <value>http://preview.int.factiva.com/</value>
            </setting>
            <setting name="ChartingFlashImage_TargetVersion" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="IN_BasreUrl_AlertHeadlineWidget" serializeAs="String">
                <value>http://global.int.factiva.com/du/folderview.aspx?sa_from={0}&amp;napc={1}</value>
            </setting>
            <setting name="OmnitureAccount" serializeAs="String">
                <value>djfactivatesting</value>
            </setting>
            <setting name="EnableOmnitureLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkipOmnitureAccounts" serializeAs="String">
                <value />
            </setting>
        </EMG.widgets.ui.Properties.Settings>
        <factiva.nextgen.ui.Properties.Settings>
            <setting name="Default_Access_Point_Code" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Default_Product_Prefix" serializeAs="String">
                <value>GL</value>
            </setting>
            <setting name="Default_Client_Code_Type" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="Default_Interface_Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="Default_Factiva_Prefix" serializeAs="String">
                <value>FP</value>
            </setting>
            <setting name="FactivaAccessObjectCookieName" serializeAs="String">
              <value>FAccessWidgets_{0}_{1}_{2}</value>
            </setting>
        </factiva.nextgen.ui.Properties.Settings>
        <Factiva.BusinessLayerLogic.Properties.Settings>
            <setting name="FactivaBusinessLayerLogic_fvs_SourceListService" serializeAs="String">
                <value>http://fvs.int.factiva.com/fvs/1.0/sourcelistservice/Default.asmx</value>
            </setting>
            <setting name="ByPassSessionServerCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseWebEnhancements" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FactivaBusinessLayerLogic_Suggest_FactivaSuggests" serializeAs="String">
                <value>http://suggest.int.factiva.com/FactivaSuggests.asmx</value>
            </setting>
            <setting name="MaximumNumberOfWigetsAllowed" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DefaultNumberOfHeadlinesPerWidget" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MaximumNumberOfEditorsWigetsAllowed" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MinNumberOfHeadlinesPerWidget" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxNumberOfHeadlinesPerWidget" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultSearchSortOrder" serializeAs="String">
                <value>RelevanceHighFreshness</value>
            </setting>
            <setting name="DefaultTrackSortOrder" serializeAs="String">
                <value>ArrivalTime</value>
            </setting>
            <setting name="FreeTextSearchMode" serializeAs="String">
                <value>simple</value>
            </setting>
            <setting name="UseSearchLemmatization" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSearchRestrictors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchRestrictorsScope" serializeAs="String">
                <value>ns</value>
            </setting>
            <setting name="SearchRestrictors" serializeAs="String">
                <value>niwe</value>
            </setting>
            <setting name="ReturnSearchNavigatorBucketDescriptors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ByPassFactivaCacheServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ContentCategoriesMapperFile" serializeAs="String">
                <value>~/data/pnpdata/ContentCategoryList.xml</value>
            </setting>
            <setting name="IPToGrpMapperFile" serializeAs="String">
                <value>~/data/pnpdata/Ip-To-GrpIDMap.csv</value>
            </setting>
            <setting name="GrpToSrcsMapperFile" serializeAs="String">
                <value>~/data/pnpdata/GrpID-SrcMap.csv</value>
            </setting>
            <setting name="BaseSourceCacheLanguages" serializeAs="String">
                <value>EN,FR,ES,DE,RU,ZHTW,ZHCN</value>
            </setting>
            <setting name="BaseCacheLanguages" serializeAs="String">
                <value>EN,FR,ES,DE,RU,ZHTW,ZHCN</value>
            </setting>
            <setting name="NewStandSourcesLogosFolderVirtualPath" serializeAs="String">
                <value>~/img/logos/</value>
            </setting>
            <setting name="FactivaCacheExpiryInMinutes" serializeAs="String">
                <value>15</value>
            </setting>
        </Factiva.BusinessLayerLogic.Properties.Settings>
        <EMG.Utility.Properties.Settings>
            <setting name="ResourceName" serializeAs="String">
                <value>WidgetUiResources</value>
            </setting>
            <setting name="AssemblyName" serializeAs="String">
                <value>WidgetUiResources</value>
            </setting>
            <setting name="ReadSpeaker_Base_Redirection_Url" serializeAs="String">
                <value>http://asp2.readspeaker.net/cgi-bin/dowjonesrsone/{0}.mp3</value>
            </setting>
            <setting name="ReadSpeaker_ContentHandler" serializeAs="String">
                <value>~/readspeaker/content.ashx</value>
            </setting>
            <setting name="ReadSpeaker_CustomerId" serializeAs="String">
                <value>188</value>
            </setting>
            <setting name="Podcast_LightweightUser" serializeAs="Xml">
                <value>
                    <lightWeightUser>
                        <userId>pcastfeed1</userId>
                        <userPassword>Pa55wd</userPassword>
                        <productId>16</productId>
                        <accessPointCode>DD</accessPointCode>
                    </lightWeightUser>
                </value>
            </setting>
            <setting name="Corda_InternalServerAddress" serializeAs="String">
                <value>http://int.dowjoneschart.com/v7/clustermonitor.aspx</value>
            </setting>
            <setting name="Corda_ExternalServerAddress" serializeAs="String">
                <value>http://int.dowjoneschart.com/v7/ctredirector.dll</value>
            </setting>
            <setting name="UsePlatformCache" serializeAs="String">
                <value>True</value>
            </setting>
        </EMG.Utility.Properties.Settings>
        <Factiva.Gateway.Properties.Settings>
            <setting name="UseLocalXsltFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeTransactionInfo" serializeAs="String">
                <value>True</value>
            </setting>
        </Factiva.Gateway.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>