<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <apender name="EventLogAppender" type="log4net.Appender.EventLogAppender,log4net">
      <mapping>
        <level value="ERROR" />
        <eventLogEntryType value="Error" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <eventLogEntryType value="Information" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <eventLogEntryType value="Information" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <eventLogEntryType value="Warning" />
      </mapping>
      <logName value="HubLog" />
      <applicationName value="DataSourcesHub" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <!--<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />-->
        <conversionPattern value="%utcdate %newline %type %newline %logger %newline %method %newline %message %newline %exception" />
      </layout>
    </apender>
    <root>
      <level value="Info" />
      <appender-ref ref="EventLogAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="DefaultPollDelay" value="10" />
    <add key="ChartBeatApi.ApiKey" value="9afde3c7a533572878d27e80cf001244" />
    <add key="ChartBeatSite.ApiKey" value="47bf253a86e9a55dbbd94358aa130089" />
    <add key="ChartBeatApi.BasePath" value="http://api.chartbeat.com" />
    <add key="ChartBeatSite.BasePath" value="http://chartbeat.com" />
    <add key="ChartBeat.PollDelay" value="3" />
    <add key="Gomez.PollDelay" value="15" />
    <add key="Splunk.BasePath" value="https://192.168.101.38:8089/servicesNS/nobody/webintelligence" />
    <add key="Splunk.PollDelay" value="10" />
    <add key="Splunk.Username" value="dbapiuser" />
    <add key="Splunk.Password" value="dbapiuser" />
  </appSettings>
  <connectionStrings>
    <add name="Gomez" connectionString="Data Source=10.0.64.14;Initial Catalog=master;User Id=webuser;Password=webpwd;Asynchronous Processing=True" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <settings>
      <!-- Accept invalid SSL certificates; we're only hitting trusted data sources -->
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false" />
    </settings>
    <!--<defaultProxy>
      <proxy
              usesystemdefault="False"
              bypassonlocal="True"
              proxyaddress="http://127.0.0.1:8888"
              />
    </defaultProxy>-->
  </system.net>
</configuration>