<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>

      <!--V2_0-->
      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:CreateWorkspace">
        <name>urn:factiva:assets:workspace:data:v1_0:CreateWorkspace_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\Request\CreateWorkspaceRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\Response\CreateWorkspaceResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:DeleteWorkspace">
        <name>urn:factiva:assets:workspace:data:v1_0:DeleteWorkspace_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\Request\DeleteWorkspaceRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\Response\DeleteWorkspaceResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:UpdateWorkspace">
        <name>urn:factiva:assets:workspace:data:v1_0:UpdateWorkspace_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\Request\UpdateWorkspaceRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\Response\UpdateWorkspaceResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:AddItemsToWorkspace">
        <name>urn:factiva:assets:workspace:data:v1_0:AddItemsToWorkspace_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\Request\AddItemsToWorkspaceRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\Response\AddItemsToWorkspaceResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:DeleteItemsFromWorkspace">
        <name>urn:factiva:assets:workspace:data:v1_0:DeleteItemsFromWorkpace_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\Request\DeleteItemsFromWorkspaceRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\Response\DeleteItemsFromWorkspaceResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:UpdateWorkspaceProperties">
        <name>urn:factiva:assets:workspace:data:v1_0:UpdateWorkspaceProperties_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\Request\UpdateWorkspacePropertiesRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\Response\UpdateWorkspacePropertiesResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:GetWorkspaceById">
        <name>urn:factiva:assets:workspace:data:v1_0:GetWorkspaceByID_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\Request\GetWorkspaceByIdRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\Response\GetWorkspaceByIdResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:GetWorkspacesDetailsList">
        <name>urn:factiva:assets:workspace:data:v1_0:GetWorkspacesDetailsList_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\Request\GetWorkspacesRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\Response\GetWorkspacesResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:DisseminateWorkspace">
        <name>urn:factiva:assets:workspace:data:v1_0:DisseminateWorkspace_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\Request\DisseminateWorkspaceRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\Response\DisseminateWorkspaceResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:GetWorkspacesPropertiesList">
        <name>urn:factiva:assets:workspace:data:v1_0:GetWorkspacesPropertiesList_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\2_0\Request\GetDetailsForWorkspacesRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\2_0\Response\GetDetailsForWorkspacesResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:PublishWorkspace">
        <name>urn:factiva:assets:workspace:data:v1_0:PublishWorkspace_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\2_0\Request\PublishWorkspaceRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\2_0\Response\PublishWorkspaceResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:UpdateItemById">
        <name>urn:factiva:assets:workspace:data:v1_0:UpdateWorkspaceItem_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\2_0\Request\UpdateItemByIdRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\2_0\Response\UpdateItemByIdResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:GetWorkspaceByCode">
        <name>urn:factiva:assets:workspace:data:v1_0:GetWorkspaceByCode_A</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\2_0\Request\UpdateItemByIdRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\2_0\Response\UpdateItemByIdResponse.xml</fileOpen>
        </transport>-->

      </transaction>

    </transactionSettings>
  </ServiceSettings>
</configuration>