<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
	</configSections>
	<ServiceSettings>
		<transactionSettings>

			<transaction key="Factiva.Gateway.Messages.TopicCenterAndSMSManagement.V1_0:SubscribeToTopicCenter">
				<name>urn:factiva:EDS:v1_0:SubscribeToTopicCenter</name>
				<request>
					<messageFormat>STRING</messageFormat>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/>
				<transport type="HTTP"/>
				<!--<transport type="STUB">
					<fileSave>stubs\TopicCenterAndSMSManagement\Request\SubscribeToTopicCenterRequest.xml</fileSave>
					<fileOpen>stubs\TopicCenterAndSMSManagement\Response\SubscribeToTopicCenterResponse.xml</fileOpen>
				</transport>-->
			</transaction>

			<transaction key="Factiva.Gateway.Messages.TopicCenterAndSMSManagement.V1_0:UnSubscribeToTopicCenter">
				<name>urn:factiva:EDS:v1_0:UnSubscribeToTopicCenter</name>
				<request>
					<messageFormat>STRING</messageFormat>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/>
				<transport type="HTTP"/>
				<!--<transport type="STUB">
					<fileSave>stubs\TopicCenterAndSMSManagement\Request\UnSubscribeToTopicCenterRequest.xml</fileSave>
					<fileOpen>stubs\TopicCenterAndSMSManagement\Response\UnSubscribeToTopicCenterResponse.xml</fileOpen>
				</transport>-->
			</transaction>

			<transaction key="Factiva.Gateway.Messages.TopicCenterAndSMSManagement.V1_0:SubscribeToSMS">
				<name>urn:factiva:EDS:v1_0:SubscribetoSMS</name>
				<request>
					<messageFormat>STRING</messageFormat>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/>
				<transport type="HTTP"/>
				<!--<transport type="STUB">
					<fileSave>stubs\TopicCenterAndSMSManagement\Request\SubscribeToSMSRequest.xml</fileSave>
					<fileOpen>stubs\TopicCenterAndSMSManagement\Response\SubscribeToSMSResponse.xml</fileOpen>
				</transport>-->
			</transaction>

			<transaction key="Factiva.Gateway.Messages.TopicCenterAndSMSManagement.V1_0:UnSubscribeToSMS">
				<name>urn:factiva:EDS:v1_0:UnSubscribetoSMS</name>
				<request>
					<messageFormat>STRING</messageFormat>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/>
				<transport type="HTTP"/>
				<!--<transport type="STUB">
					<fileSave>stubs\TopicCenterAndSMSManagement\Request\UnSubscribeToSMSRequest.xml</fileSave>
					<fileOpen>stubs\TopicCenterAndSMSManagement\Response\UnSubscribeToSMSResponse.xml</fileOpen>
				</transport>-->
			</transaction>

			<transaction key="Factiva.Gateway.Messages.TopicCenterAndSMSManagement.V1_0:GetSMSList">
				<name>urn:factiva:EDS:v1_0:GetSMSList</name>
				<request>
					<messageFormat>STRING</messageFormat>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/>
				<transport type="HTTP"/>
				<!--<transport type="STUB">
					<fileSave>stubs\TopicCenterAndSMSManagement\Request\GetSMSListRequest.xml</fileSave>
					<fileOpen>stubs\TopicCenterAndSMSManagement\Response\GetSMSListResponse.xml</fileOpen>
				</transport>-->
			</transaction>

			<transaction key="Factiva.Gateway.Messages.TopicCenterAndSMSManagement.V1_0:SaveSMS">
				<name>urn:factiva:EDS:v1_0:SaveSMS</name>
				<request>
					<messageFormat>STRING</messageFormat>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/>
				<transport type="HTTP"/>
				<!--<transport type="STUB">
					<fileSave>stubs\TopicCenterAndSMSManagement\Request\SaveSMSRequest.xml</fileSave>
					<fileOpen>stubs\TopicCenterAndSMSManagement\Response\SaveSMSResponse.xml</fileOpen>
				</transport>-->
			</transaction>

			<transaction key="Factiva.Gateway.Messages.TopicCenterAndSMSManagement.V1_0:GetTopicCenterList">
				<name>urn:factiva:EDS:v1_0:GetTopicCenterList</name>
				<request>
					<messageFormat>STRING</messageFormat>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/>
				<transport type="HTTP"/>
				<!--<transport type="STUB">
					<fileSave>stubs\TopicCenterAndSMSManagement\Request\GetTopicCenterListRequest.xml</fileSave>
					<fileOpen>stubs\TopicCenterAndSMSManagement\Response\GetTopicCenterListResponse.xml</fileOpen>
				</transport>-->
			</transaction>

			<transaction key="Factiva.Gateway.Messages.TopicCenterAndSMSManagement.V1_0:GetAllWSPList">
				<name>urn:factiva:EDS:v1_0:GetAllWSPList</name>
				<request>
					<messageFormat>STRING</messageFormat>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/>
				<transport type="HTTP"/>
				<!--<transport type="STUB">
					<fileSave>stubs\TopicCenterAndSMSManagement\Request\GetAllWSPListRequest.xml</fileSave>
					<fileOpen>stubs\TopicCenterAndSMSManagement\Response\GetAllWSPListResponse.xml</fileOpen>
				</transport>-->
			</transaction>
      <transaction key="Factiva.Gateway.Messages.TopicCenterAndSMSManagement.V1_0:GetAllTopicCenters">
        <name>urn:factiva:EDS:v2_0:GetAllTopicCenters</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\TopicCenterAndSMSManagement\Request\GetAllTopicCentersRequest.xml</fileSave>
          <fileOpen>stubs\TopicCenterAndSMSManagement\Response\GetAllTopicCentersResponse.xml</fileOpen>
        </transport>-->
      </transaction>
		</transactionSettings>
	</ServiceSettings>
</configuration>
