<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="RavenDb.Embedded" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="RavenDb" connectionString="Url=http://edash.dowjones.net/dash/ravendb" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" defaultRedirect="/Error" xdt:Transform="Replace">
      <error redirect="~/Error/NotFound" statusCode="404"/>
      <error redirect="~/Error/InternalServerError" statusCode="500"/>
    </customErrors>
  </system.web>
  <log4net xdt:Transform="Replace">
    <appender name="Rolling" type="log4net.Appender.FileAppender">
      <file value="E:\log_files\Dash\log.xml" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="'.'yyyy-MM-dd'.xml'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.XmlLayout">
        <conversionPattern value="%d{ISO8601} [%t] %-5p [%X{requestId}] [%x] %c{1} - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="WARN" />
      <appender-ref ref="Rolling" />
    </root>
  </log4net>
</configuration>