@model DowJones.Factiva.Currents.Models.CurrentRegionalMapModule
@ClientPlugin dj_CurrentRegionalMap
@ScriptResource RelativeResourceName=CurrentRegionalMapModule.js
@{ CssClass = "dj_CurrentRegionalMap"; }

<section class="currentRegionalMapContainer">
    @Html.DJ().Render(Model.CurrentRegionalMap)
</section>
