@model DowJones.Web.Mvc.UI.Components.Twitter.TweetLinesModel
@ClientPlugin dj_TweetLines
@ScriptResource RelativeResourceName=TweetLines.js
@ClientTemplate RelativeResourceName=ClientTemplates.headlines.htm, TemplateId=headlines
@{ CssClass = "dj_TweetLines tweets-container"; }

<div class="tweet-stream">

</div>
