@Html.Partial("_HomepageContent")
@(DJ.ScriptRegistry().With<DowJones.Web.Mvc.UI.Components.PortalHeadlineList.PortalHeadlineListControl>())

<div class="browser-info">
	You are browsing from a plain old browser.
</div>