@{
    Layout = null;
    ScriptRegistry
        .Include("~/scripts/loose.js")
        .Include("~/scripts/loose2.js")
        .OnDocumentReady("loose(); loose2();");
        
}
<!DOCTYPE html>
<html>
<head>
    <title>RequireJsLoadingDemo</title>
    @DJ.ScriptRegistry().RenderHead()
</head>
    <body>
        <script  type="text/javascript">
            DJ.$dj.require.config({
                paths: {
                    "~/scripts/loose": "~/scripts/loose.js;~/scripts/loose2.js",
                    "~/scripts/loose2": "~/scripts/loose.js;~/scripts/loose2.js"
                }
            });
        </script>
        @DJ.ScriptRegistry().Render()
    </body>
</html>
