@using System.Configuration
@{
    ViewBag.Title = "Discovery Filters";
    var script = @"
                    var dataObj = getDiscoveryFiltersData();
                        DJ.add(""DiscoveryFilters"", {
                            container: ""discoveryFiltersContainer"",
                            options: {
                                roundHitCount: true,
                                truncationLength: 10
                            },
                            tokens:{
                                noResultsTkn:""No Result""
                            },
                            data: dataObj
                        }).done(function (comp) {
                            // Attach handler for headline click event
                            comp.on(""exportClick.dj.DiscoveryFilters"", function () {
                                alert(""Export Clicked!!!"");
                            });
                            comp.on(""itemClick.dj.DiscoveryFilters"", function() {
                                alert(""Item Click!!!"");
                            });
                        }).fail(function(comp){
                            console.log('failed');
                        }); 
                   ";
    DJ.ScriptRegistry().OnDocumentReady(script);
}
<link href="@Url.Content("./styles/css/DiscoveryFilters/DiscoveryFilters.css")" rel="stylesheet" />
<script type="text/javascript" src="@Url.Content("./content/js/DiscoveryFilters.js")"></script>
<!-- required file! DJ.add won't work without "common.js" being available -->

     <div id="discoveryFiltersContainer" style="width:240px;"></div>

    <script type="text/javascript">
        
    </script>
