<div class="save-as-alert-form dj_select-box-alt">
	<fieldset>
		<div class="dj_form-field input alert-name">
			<label><%= Token("alertNameLabel") %></label>
			<input type="text" maxlength="25"/><span class="input-note"><%= Token("specialCharactersNotValid") %>
				<br />&lt;&gt;&amp;#\%+|
			</span>
		</div>
        <div class="dj_form-field read-only freeText">
			<label><%= Token("criteria") %></label>
			<p></p>
		</div>
        <div class="alert-filters" style="position:relative"></div>
		<div class="dj_form-field select alert-email">
			<label><%= Token("emailAddress") %></label>
			<input type="text" maxlength="50"/>
		</div>
		<div class="dj_form-field select alert-format">
			<label><%= Token("emailFormat") %></label>
			<select class="dj_selectbox dj_selectbox-small"></select>
		</div>
        <div class="dj_form-field radio alert-delivery-method">
	        <div class="dj_form-group-inline">
				<label><%= Token("deliveryTime") %></label>
                <input type="radio" name="dj_custom-delivery" value="nodelivery" />
				<label class="radio"><%= Token("noDelivery") %></label>
				<input type="radio" name="dj_custom-delivery" value="scheduled" />
				<label class="radio"><%= Token("scheduled") %></label>
	            <input type="radio" name="dj_custom-delivery" value="continuous" />
				<label class="radio"><%= Token("continuous") %></label>
	        </div>
	    </div>
		<div class="dj_form-field auto-height alert-delivery">
	        <label class="top"><%= Token("selectDeliveryTime") %></label>
			<ul class="inline-checklist">
				<li>
					<label>
						<span class="inline-checkbox earlyMorning"><input type="checkbox" /></span>
						<span><%= Token("cmAlrEarlyMorning") %></span>
					</label>
				</li>
				<li>
					<label>
						<span class="inline-checkbox morning"><input type="checkbox" /></span>
						<span><%= Token("morning") %></span>
					</label>
				</li>
				<li>
					<label>
						<span class="inline-checkbox afternoon"><input type="checkbox" /></span>
						<span><%= Token("afternoon") %></span>
					</label>
				</li>
			</ul>
	    </div>
		<div class="dj_form-field alert-duplicates">
			<label><%= Token("removeDuplicates") %></label>
			<div class="dj_toggle-switch clearfix">
				<span class="switch"><%= Token("on") %></span>
				<div class="text-behind">
					<span class="tb-left"><%= Token("on") %></span>
					<span class="tb-right"><%= Token("off") %></span>
				</div>
			</div>
		</div>
        <div class="dj_form-field alert-press-clips">
			<label><%= Token("pressClippingsOnly") %></label>
			<div class="dj_toggle-switch clearfix">
				<span class="switch"><%= Token("on") %></span>
				<div class="text-behind">
					<span class="tb-left"><%= Token("on") %></span>
					<span class="tb-right"><%= Token("off") %></span>
				</div>
			</div>
		</div>
	</fieldset>
</div>
<div class="footer">
	<span class="dj_btn dj_btn-drk-gray"><%= Token("cancel") %></span>
	<span class="dj_btn dj_btn-blue no-margin"><%= Token("save") %></span>
</div>