<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Factiva.Gateway" version="7.5.0.66" />
  <package id="Hammock" version="1.2.6" />
  <package id="log4net" version="1.2.10" />
  <package id="NewtonSoft.Json" version="4.0.2.0" />
  <package id="Ninject" version="2.2.0.0" />
</packages>