<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.CIBS.V1_0:GetOnlineMeter">
        <name>GetOnlineMeter</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>           
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\CIBS\Request\GetOnlineMeterRequest.xml</fileSave>
          <fileOpen>stubs\CIBS\Response\GetOnlineMeterResponse.xml</fileOpen>
        </transport>
      </transaction>
    </transactionSettings>
  </ServiceSettings>
</configuration>