@using DowJones.Extensions
@model TagCloudModel
@ClientPlugin dj_TagCloud
@ScriptResource RelativeResourceName=TagCloud.js

@{ CssClass = "dj_TagCloud"; }

    <ul class="dj_tag_cloud">
        @{
            if(Model != null && Model.Tags != null)
            {
                foreach (var tag in Model.Tags)
                {
                    <li class="@Model.TagCssClassPrefix@tag.DistributionIndex">
                        <a href="@Model.GetNavigateUrl(tag.NavigateUrl)">
                            <span>@tag.Text</span>
                        </a>
                    </li>
                }
            }
        }
    </ul>
