    <% if (article) { %>
        <h4 class="headline">
            <%= article.Headline %>								
        </h4>
        <div class="meta">
            <span class="source" data-djid="<%=article.SourceCode%>><%= article.Source %></span> |
            <span class="date-stamp"><%= article.PublicationDateDisplay %></span>
            <span class="author"><%= article.Author %></span>
        </div>
        <div class="body">
            <p><%= article.Body %></p>
        </div>
    <% } %>