<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DowJones.Caching.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DowJones.Properties.SocialMedia" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DowJones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="FileUploadHandlerConfigSection" type="DowJones.Utilities.Handlers.FileUpload.FileUploadHandlerConfigSection"/>
      <section name="DowJones.Utilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DowJones.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <!-- START Caching Default values -->
      <!--DowJones.Caching.Settings>
      <setting name="IncludeCacheKeyGeneration" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Environment" serializeAs="String">
        <value>prod</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>1_0</value>
      </setting>
      <setting name="DefaultCacheExpirationTime" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DefaultCacheRefreshInterval" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="DefaultCacheExpirationPolicy" serializeAs="String">
        <value>Sliding</value>
      </setting>
    </DowJones.Caching.Settings-->
    <!-- END Caching Default values -->
	  <DowJones.Properties.SocialMedia>
    <setting name="ApiAuthority" serializeAs="String">
     <value>http://tweetriver.com</value>
    </setting>
    <setting name="Account" serializeAs="String">
     <value>dowjonesmaster</value>
    </setting>
    <setting name="SocialMediaBlockingString" serializeAs="String">
     <value>SMBlocking=T</value>
    </setting>
   </DowJones.Properties.SocialMedia>
    <DowJones.Properties.Settings>
      <setting name="ResourceManagerResourceName" serializeAs="String">
        <value>GlobalResources</value>
      </setting>
      <setting name="ResourceManagerAssemblyName" serializeAs="String">
        <value>GlobalResources</value>
      </setting>
      <setting name="MarketingDataURL" serializeAs="String">
        <value>http://wwdvsupport.dev.us.factiva.net:8888/login/whatsnew/data.aspx</value>
      </setting>
      <setting name="CacheExpiryInMinutes" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="ByPassSessionServerCache" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReadSpeaker_Base_Redirection_Url" serializeAs="String">
        <value>http://asp2.readspeaker.net/cgi-bin/dowjonesrsone/{0}.mp3</value>
      </setting>
      <setting name="ReadSpeaker_ContentHandler" serializeAs="String">
        <value>~/readspeaker/content.ashx</value>
      </setting>
      <setting name="ReadSpeaker_Type" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReadSpeaker_CustomerId" serializeAs="String">
        <value>188</value>
      </setting>
      <setting name="ReadSpeaker_SupportedLanguages" serializeAs="String">
        <value>en,es,fr,de,it</value>
      </setting>
      <setting name="ReadSpeaker_MaxWordCount" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="FastSearchDateLimit" serializeAs="String">
        <value>-367</value>
      </setting>
      <setting name="GoDirectToFastSearch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReadSpeakerEnterprise_Base_Redireciton_Url" serializeAs="String">
        <value>http://app.readspeaker.com/cgi-bin/rsent</value>
      </setting>
      <setting name="UseReadSpeakerEnterprise" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReadSpeakerEnterprise_CustomerId" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="Encryption_UseCustomEncoding" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Corda_InternalServerAddress" serializeAs="String">
        <value>http://preview.factiva.com/pcredirector/v7/ctClusterMonitor.dll</value>
      </setting>
      <setting name="Corda_ExternalServerAddress" serializeAs="String">
        <value>http://preview.factiva.com/pcredirector/v7/ctredirector.dll</value>
      </setting>
      <setting name="UsePlatformCache" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LanguageWeaverServiceUrl" serializeAs="String">
        <value>https://lwaccess.languageweaver.com</value>
      </setting>
      <setting name="LanguageWeaverNonBlockingTransactonUri" serializeAs="String">
        <value>/v1/translation-async/</value>
      </setting>
      <setting name="LanguageWeaverUserRequestUri" serializeAs="String">
        <value>/v1/user/</value>
      </setting>
      <setting name="LanguageWeaverUserId" serializeAs="String">
        <value>10171</value>
      </setting>
      <setting name="WebResourcesProxy" serializeAs="String">
        <value />
      </setting>
      <setting name="SuggestServiceURL" serializeAs="String">
        <value>http://suggest.dowjones.com/Search/1.0</value>
      </setting>
      <setting name="AUTO_TRANSLATION_FEEDBACK_EMAIL" serializeAs="String">
        <value>autotransfeedback@dowjones.com</value>
      </setting>
      <setting name="Corda_InternalServerAddress_Cache_MS" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="IISCacheExpiryInHours" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="IISCacheExpiryInMinutes" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="BaseCycloneRedirectionURL" serializeAs="String">
        <value>http://global.factiva.com/redir/default.aspx</value>
      </setting>
      <setting name="AutomatedTranslationSupportedLaguagePairs" serializeAs="String">
        <value>en.es, en.fr, en.it, en.de, en.ru, en.zhcn, en.zhtw, en.ja, es.en, fr.en, it.en, de.en, ru.en, zhcn.en, zhtw.en, ja.en, en.id, id.en,en.pt,pt.en </value>
      </setting>
      <setting name="ClientResourceHandlerPath" serializeAs="String">
        <value>~/ClientResource.axd</value>
      </setting>
      <setting name="DependencyInjectionAutoLoadedAssemblyPatterns"
        serializeAs="String">
        <value>DowJones*.dll</value>
      </setting>
      <setting name="ClientResourceCombiningEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClientResourceCachingToken" serializeAs="String">
        <value />
      </setting>
      <setting name="HttpWebRequestTimeoutInSeconds" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="Log4NetConfigurationFile" serializeAs="String">
        <value>web.config</value>
      </setting>
      <setting name="ConvertResetUrl" serializeAs="String">
        <value>global.factiva.com/factivalogin</value>
      </setting>
      <setting name="LoginServerUrl" serializeAs="String">
        <value>http://global.factiva.com/factivalogin/login.asp</value>
      </setting>
      <setting name="LogoutServerUrl" serializeAs="String">
        <value>http://global.factiva.com/factivalogin/logout.asp</value>
      </setting>
      <setting name="UserSessionCacheExpiryInMinutes" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="MaximumAllowedStructuredSearchLength" serializeAs="String">
        <value>8000</value>
      </setting>
      <setting name="TaxonomyServiceUrl" serializeAs="String">
        <value>http://api.dowjones.com/api/Public/2.0/Taxonomy.svc</value>
      </setting>
      <setting name="ScriptLoaderEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LanguageRequestParameter" serializeAs="String">
        <value>FCPIL</value>
      </setting>
      <setting name="LoginConfigFile" serializeAs="String">
        <value>~/Config.xml</value>
      </setting>
      <setting name="ProxyPageTransportType" serializeAs="String">
        <value>rts</value>
      </setting>
      <setting name="ProxyPageKeyNameExtension" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPageUrl" serializeAs="String">
        <value>http://localhost/ServiceProxy/1.0/ServiceProxy.aspx</value>
      </setting>
      <setting name="DowJones_Infrastructure_PALService_FunctionDispatcher"
        serializeAs="String">
        <value>http://fdevweb3.win.dowjones.net/PALService</value>
      </setting>
      <setting name="RSS_FEEDS_MAX_LIMIT" serializeAs="String">
        <value>240</value>
      </setting>
      <setting name="MAX_PARALLEL_TASKS_TO_CREATE_SYNDICATION_ITEMS"
        serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="DISABLE_METERING" serializeAs="String">
        <value>True</value>
      </setting>
    </DowJones.Properties.Settings>
    <DowJones.Utilities.Properties.Settings>
      <setting name="ResourceName" serializeAs="String">
        <value>DowJonesInfrastructureResources</value>
      </setting>
      <setting name="AssemblyName" serializeAs="String">
        <value>DowJonesInfrastructureResources</value>
      </setting>
      <setting name="MarketingDataURL" serializeAs="String">
        <value>http://wwdvsupport.dev.us.factiva.net:8888/login/whatsnew/data.aspx</value>
      </setting>
      <setting name="CacheExpiryInMinutes" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="ByPassSessionServerCache" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReadSpeaker_Base_Redirection_Url" serializeAs="String">
        <value>http://asp2.readspeaker.net/cgi-bin/dowjonesrsone/{0}.mp3</value>
      </setting>
      <setting name="ReadSpeaker_ContentHandler" serializeAs="String">
        <value>~/readspeaker/content.ashx</value>
      </setting>
      <setting name="ReadSpeaker_Type" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReadSpeaker_CustomerId" serializeAs="String">
        <value>188</value>
      </setting>
      <setting name="ReadSpeaker_SupportedLanguages" serializeAs="String">
        <value>en,es,fr,de,it</value>
      </setting>
      <setting name="ReadSpeaker_MaxWordCount" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="FastSearchDateLimit" serializeAs="String">
        <value>-367</value>
      </setting>
      <setting name="GoDirectToFastSearch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReadSpeakerEnterprise_Base_Redireciton_Url" serializeAs="String">
        <value>http://app.readspeaker.com/cgi-bin/rsent</value>
      </setting>
      <setting name="UseReadSpeakerEnterprise" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReadSpeakerEnterprise_CustomerId" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="Encryption_UseCustomEncoding" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Corda_InternalServerAddress" serializeAs="String">
        <value>http://preview.int.factiva.com/pcredirector/v7/ctClusterMonitor.dll</value>
      </setting>
      <setting name="Corda_ExternalServerAddress" serializeAs="String">
        <value>http://preview.int.factiva.com/pcredirector/v7/ctredirector.dll</value>
      </setting>
      <setting name="UsePlatformCache" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LanguageWeaverServiceUrl" serializeAs="String">
        <value>https://lwaccess.languageweaver.com</value>
      </setting>
      <setting name="LanguageWeaverNonBlockingTransactonUri" serializeAs="String">
        <value>/v1/translation-async/</value>
      </setting>
      <setting name="LanguageWeaverUserRequestUri" serializeAs="String">
        <value>/v1/user/</value>
      </setting>
      <setting name="LanguageWeaverUserId" serializeAs="String">
        <value>10171</value>
      </setting>
      <setting name="WebResourcesProxy" serializeAs="String">
        <value/>
      </setting>
      <setting name="SuggestServiceURL" serializeAs="String">
        <value>http://suggest.int.factiva.com/FactivaSuggests.asmx</value>
      </setting>
      <setting name="AUTO_TRANSLATION_FEEDBACK_EMAIL" serializeAs="String">
        <value>autotransfeedback@dowjones.com</value>
      </setting>
      <setting name="Corda_InternalServerAddress_Cache_MS" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="IISCacheExpiryInHours" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="IISCacheExpiryInMinutes" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="BaseCycloneRedirectionURL" serializeAs="String">
        <value>http://global.int.factiva.com/redir/default.aspx</value>
      </setting>
      <setting name="AutomatedTranslationSupportedLaguagePairs" serializeAs="String">
        <value>en.es, en.fr, en.it, en.de, en.ru, en.zhcn, en.zhtw, en.ja, es.en, fr.en, it.en, de.en, ru.en, zhcn.en, zhtw.en, ja.en, en.id, id.en,en.pt,pt.en </value>
      </setting>
      <setting name="ClientResourceHandlerPath" serializeAs="String">
        <value>~/CombinedResources.axd</value>
      </setting>
      <setting name="DependencyInjectionAutoLoadedAssemblyPatterns" serializeAs="String">
        <value>DowJones*.dll</value>
      </setting>
    </DowJones.Utilities.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 </configuration>
