@using System.Configuration
@{
    ViewBag.Title = "Simple Alert";
    var script = @"
        var dataObj = getSimpleAlertData();
        DJ.add(""SimpleAlert"", {
            container: ""divSimpleAlert"",
            options: { enableExclude: true },
            data: dataObj 
        }); 
        ";
    DJ.ScriptRegistry().OnDocumentReady(script);
}

<link href="@Url.Content("./Content/css/components/SimpleAlert/SimpleAlert.css")" rel="stylesheet" />
<script type="text/javascript" src="@Url.Content("./content/js/SimpleAlert.js")"></script>

<div class="dj_advanced-filters">
    <div id="divSimpleAlert" class="dj_news-filters" style="width:550px;"></div>
</div>

<script type="text/javascript">
    
</script>
