<% 
    var model = self;
    var options = self.options || {};
%>
<div class="dj_article_image article-logo">
    <% for(var i = 0, len = model.head.length; i < len; i++) { 
        var item = model.head[i];
        var largeImageUrl = item.hasLargeImage ? item.value : '';
        var imageClass = item.imageSize.toLowerCase() + "Image";
    %>
        <p class="dj_article_paragraph">
            <img onerror="this.style.display='none';" onabort="this.style.display='none';"
                class="<%= imageClass %>" src="<%= item.value %>" alt="<%= item.text %>" data-ref="<%= item.largeImageUrl %>" />
        </p>
    <% } %>
</div>
