<% 
    var model = self;
    var options = this.options;

    function isNotEmpty(collection) {
        return collection && collection.length;
    }

    /* in case the model was not built by our server side code */
    var hasHeadline = isNotEmpty(model.headlines);
    
    var renderDefaultPostProcessing = options.showSourceLinks && (!options.postProcessing || options.postProcessing.toLowerCase() === 'unspecified');

    var hasByLines = isNotEmpty(model.byLines);
    
    var renderAuthors = options.showAuthorLinks 
                            && isNotEmpty(model.authors) 
                            && (!options.postProcessing || options.postProcessing.toLowerCase() === 'unspecified');

    var hasCredits = isNotEmpty(model.credits);

    var renderWordCount = model.wordCount > 0 && !isNotEmpty(model.html);

    var hasSources = isNotEmpty(model.sources);

    var hasPages = isNotEmpty(model.pages);

    var hasCopyRights = isNotEmpty(model.copyRights);

%>
<div class="dj_article_meta">

    <% if(hasHeadline) { 
        if (options.showIndexing) { %>
            <div class="dj_article_index">HD</div>
        <% } %>

    <h4 class="dj_article_hd dj_article_section headline" data-meta="<%= model.accessionNo %>">
        <% for(var i = 0, len = model.headlines.length; i < len; i++) { 
                var headline = model.headlines[i];
                if(headline.isHyperLink) {
        %>
                    <a class="dj_article_headline_link" href="javascript:void(0)"><%= headline.text %></a>
             <% } else { %>
                    <%= headline.text %>
             <% } %>
    </h4>
    <% } } %>

    <ul class="meta">
        <% if (options.showIndexing) { %>
        <div class="dj_article_index">SN</div>
        <% } %>

        <div class="dj_article_sn dj_article_section">
            <% if (renderDefaultPostProcessing) { 
                for(var i = 0, len = model.sources.length; i < len; i++) { 
                var source = model.sources[i];
            %>
            <span class="value source drop-down-button" data-dd-type="source">
                <% if(source.isEntityLink) { %>
                    <span class="dj_article_source"
                        data-entity="<%= source.entityData %>"><%= source.entityName %></span>
                <% } else { %>
                    <%= source.entityName %>
                <% } %>
            </span>
            <% }} else if(model.sourceName) {  %>
                <span class="value source drop-down-button" data-dd-type="source"><%= model.sourceName %></span>
                <span class="dj_article_comma">,</span>
            <% } %>
        </div>
        <% if(hasByLines) { %>
            <% if (options.showIndexing) { %>
                <div class="dj_article_index">BY</div>
            <% } %>                
                <div class="dj_article_by dj_article_section">
                    <% if(renderAuthors) { 
                        for(var i = 0, len = model.authors.length; i < len; i++) { 
                            var author = model.authors[i];
                    %>
                        <span class="value author drop-down-button" data-dd-type="author">
                            <span class="dj_article_author" data-entity="<%= author.entityData %>"><%= author.entityName %></span>
                        </span>
                    <% } } else { 
                        for(var i = 0, len = model.byLines.length; i < len; i++) { 
                            var byLine = model.byLines[i];
                    %>                
                    <span class="value author drop-down-button" data-dd-type="author"><%= byLine.text %></span>
                    <span class="dj_article_comma">, </span>
                    <% } } %>    
                </div>
        <% } 
        if(hasCredits) { %>
            <% if (options.showIndexing) { %>
                <div class="dj_article_index">CR</div>
            <% } %>    
                        
                <div class="dj_article_cr dj_article_section">
                    <% for(var i = 0, len = model.credits.length; i < len; i++) { 
                            var credit = model.credits[i];
                    %>
                    <span class="credit"><%= credit %></span>
                    <span class="dj_article_comma">, </span>
                    <% } %>
                </div>
        <% } %>

        <div class="dj_meta_group">
            <% if (options.showIndexing) { %>
                <div class="dj_article_index">PD</div>
            <% } %>

            <div class="date-stamp dj_article_pd dj_article_section">
                <% if (model.publicationTime) { %>
                    <%= model.publicationTime %>,
                <% } %>
                <% if (model.publicationDate) { %>
                    <%= model.publicationDate %>,
                <% } %>
                <span class="dj_article_comma">, </span>
            </div>

            <% if (renderWordCount) { %>
                 <% if (options.showIndexing) { %>
                    <div class="dj_article_index">WC</div>
                <% } %>
                <div class="dj_article_wc dj_article_section">
                    <%= model.wordCount %> <%= Token("words") %>
                    <span class="dj_article_comma">, </span>
                </div>
            <% } %>
            <% if (model.language) { %>
                 <% if (options.showIndexing) { %>
                    <div class="dj_article_index">LA</div>
                <% } %>
                <div class="dj_article_la dj_article_section">
                    <%= model.language %><span class="dj_article_comma">, </span>
                </div>
            <% } %>
            <% if (hasSources) { %>
                 <% if (options.showIndexing) { %>
                    <div class="dj_article_index">SC</div>
                <% } %>
                <div class="dj_article_sc dj_article_section">
                    <% for(var i = 0, len = model.sources.length; i < len; i++) { 
                            var source = model.sources[i];
                    %>
                        <%= source.entityCode %>
                    <% } %>
                    <span class="dj_article_comma">, </span>
                </div>
            <% } %>
            <% if (hasPages) { %>
                 <% if (options.showIndexing) { %>
                    <div class="dj_article_index">PG</div>
                <% } %>
                <div class="dj_article_pg dj_article_section">
                    <% for(var i = 0, len = model.pages.length; i < len; i++) { 
                            var page = model.pages[i];
                    %>
                        <%= page %>
                    <% } %>
                    <span class="dj_article_comma">, </span>
                </div>
            <% } %>
        </div>
        <% if (hasCopyRights) { %>
            <% if (options.showIndexing) { %>
                <div class="dj_article_index">CY</div>
            <% } %>
            <div class="copyright dj_article_cy dj_article_section">
                <% for(var i = 0, len = model.copyRights.length; i < len; i++) { 
                        var copyRight = model.copyRights[i];
                %>
                    <%= copyRight %>
                <% } %>
            </div>
        <% } %>
        <% if (options.showPostProcessing) { %>
            <ul class="dj_PostProcessing actions clearfix">
                <% for(var i = 0, len = options.postProcessingOptionsWithToken.length; i < len; i++) { 
                        var postProcessingOption = options.postProcessingOptionsWithToken[i],
                            option = postProcessingOption.option.toLowerCase(),
                            tokenizedOption = postProcessingOption.token;
                %>
                    <li class="<%= option %> action" data-ref="<%= option %>">
                        <i class="dj_icon dj_icon-<%= option %>"></i>
                        <span data-workflow="option"><%= tokenizedOption %></span></li>
                <% } %>
            </ul>
        <% } %>
    </div>
</div>
