.module {
	header {
		background: #3A4450;
		padding: 0 10px;
		height: 30px;
		color: white;
		text-decoration: none;

		i, span {
			position: relative;
			top: 5px;
		}
	}

	.content {
		background: #F7F7FD;
		color: #3A4450;
		border: 1px solid #F0F0FB;
	}
}