.article-group .article-wrap {
	margin-bottom: 5px;
}

.article-headline {
	font-size: 93%;
	line-height: 16px;

	a {
		color: #2F90B3;
	}
}


.article-meta {
  color: #999;
  
  .date-stamp {
    text-transform: none; 
  }
  
  .article-source, .time-stamp, .date-stamp, .media-length, .fi, .author, .byline, .author {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    color: #999;
    font-size: 85%;
    line-height: normal;
    text-transform: uppercase; 
  } 

  .article-source {
	font-weight:bold
  }
}