@using System.Configuration

@{
    Layout = "~/Views/Shared/_Layout_ComponentExplorer.cshtml";
    ViewBag.Title = "Auto Suggest";
    
}
<style type="text/css">
    body { font: 12px/18px "Lucida Grande" , "Lucida Sans Unicode" , Helvetica, Arial, Verdana, sans-serif; }
    .suggest-table { margin: 10px; }
    .suggest-table tr td { height: 30px; line-height: 30px; }
    .AutoSuggestComponent{margin-left:10px; width: 300px;}
</style>

@*<table class="suggest-table">
    @foreach (var mdl in Model)
    { 
        <tr>
            <td>@mdl.AutocompletionType
            </td>
            <td>@Html.DJ().Render(mdl, new { id = mdl.ControlId })
            </td>
        </tr>
    }
</table>*@

<div id="autoSuggestContainer">
</div>
@Html.DJ().Render(Model)