@{
    ViewBag.Title = "Company Sparkline";

    Html.DJ().ScriptRegistry().OnDocumentReady( "wireUpEvents();" );
}

<style type="text/css">

div.dj_CompanySparkline {
    background: -moz-linear-gradient(center top , #F0F0F0, #D6D6D6) repeat scroll 0 0 transparent;
    border: 1px solid #D6D6D6;
    border-radius: 10px 10px 10px 10px;
    font-size: 12px;
    font-weight: bold;
    height: 14px;
    padding: 4px 4px;
    display: inline-block; 
    cursor: pointer;
}

div.dj_CompanySparkline .dj_sparkline-container 
{
    vertical-align: middle;
    background-color: transparent;
    display: inline-block;    
}

div.dj_CompanySparkline.increase .dj_icon {
    background-color: #009933;
} 

div.dj_CompanySparkline.decrease .dj_icon {
    background-color: #FF0000;  
} 

div.dj_CompanySparkline .dj_title, div.dj_CompanySparkline .dj_sparkline-code {
    display: inline-block;  	
}

div.dj_CompanySparkline .dj_sparkline-container {
    width: 80px;
    height: 14px;
}

div.dj_CompanySparkline .dj_icon{
    background-color: transparent; 
    height: 14px;
    width: 14px;    
    display: inline-block; 
} 
</style>

<div id="tempContent">
    @Html.DJ().Render( Model, new { id = "ComSparklinesComponent"} )
</div>

<button id="getData">Get Data</button>

<script type="text/javascript">

    function fireGetData(e) {
        var t = $("#ComSparklinesComponent").findComponent(DJ.UI.CompaniesSparklines);
        t.set_companies(["ibm"]);
        t.getData();
    }

    function wireUpEvents() {

        $("#getData").click(function () { fireGetData(); });
    }
</script>

