<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>Stock Kiosk</title>
    <link href="../../../DowJones.Web.Showcase/styles/css/reset.css" type="text/css"
        rel="stylesheet">
    <link href="../../../DowJones.Web.Showcase/styles/css/global.css" type="text/css"
        rel="stylesheet">    
</head>
<body>
    <div class="quotes">
        
    </div>

    <div id="container" class='container' style="width: 100%; height: 400px"></div>
</body>
<script type="text/javascript" src="../../../DowJones.Web.Mvc/Resources/js/core.js"></script>
<script src="../../../DowJones.Web.Mvc/Resources/js/highcharts.js"></script>
<script type="text/javascript" src="https://raw.github.com/olado/doT/master/doT.js"></script>
<script type="text/javascript" src="StockMockData.js"></script>
<script type="text/javascript" src="../../../DowJones.Web.Mvc.UI.Components/StockKiosk/StockKiosk.js"></script>

<script type="text/template" id="stockquotes">
<div class="stock-kiosk-quotes"> 
<table><thead><tr><th> Symbol </th><th> Price </th><th> Change </th></tr></thead> <tbody>
<% var quotes = self.Quotes, quote; %>
<% for (var i= 0; i< quotes.length ; i++) {  
   quote = quotes[i];  %>    
        <tr> 
            <td data-quote-id="<%= quote.id %>">                                        <%= quote.companyName %><%= quote.ric %></td>
            <td data-quote-id="<%= quote.id %>"><%= quote.closePrice.value %></td>
            <td data-quote-id="<%= quote.id %>"><%= quote.change.value %></td>
        </tr>        
<% } %>
</tbody></table>
</div>
</script>

<script type="text/javascript">
    doT.templateSettings = {
        evaluate: /<%([\s\S]+?)%>/g,
        interpolate: /<%=([\s\S]+?)%>/g,
        encode: /<%!([\s\S]+?)%>/g,
        use: /<%#([\s\S]+?)%>/g,
        define: /<%##\s*([\w\.$]+)\s*(\:|=)([\s\S]+?)#%>/g,
        varname: 'self',
        strip: true,
        append: true
    };
</script>
<script type="text/javascript">
    $(function () {
        //rendering quotes 
        var stockTemplate = $('#stockquotes').html();
        //console.log(stockTemplate);
        $.extend(DJ.UI.StockKiosk.prototype.templates, { quotes: doT.template(stockTemplate) });
        $('div.quotes').dj_StockKiosk({ data: stockquotes.quotes, options: 10 });

        var container = $('#container');

        //rendering charts    
        var chart1; // globally available        
        chart1 = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                //type: 'bar',
                defaultSeriesType: 'line'
            },
            title: {
                text: 'Fruit Consumption'
            },
            xAxis: {
                categories: ['Apples', 'Bananas', 'Oranges'],
                plotLines: [{
                    dashStyle : 'longdashdot'
                }]
            },
            yAxis: {
                title: {
                    text: 'Fruit eaten'
                },
                labels: {
                    align : "right"
                } 
            },
            series: [{
                //name: 'Janess',
                data: [1, 0, 4]
            }, {
                //name: 'Jane',
                data: [5, 7, 3]
            }]
        });

        //rendering dow jones chart .


    });
</script>
</html>