<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Argotic.Common" version="2008.0.2.0" />
  <package id="Argotic.Core" version="2008.0.2.0" />
  <package id="Argotic.Extensions" version="2008.0.2.0" />
  <package id="Argotic.Web" version="2008.0.2.0" />
  <package id="Factiva.Gateway" version="7.5.0.88" />
  <package id="Factiva.Gateway.Encryption" version="1.0.2949.19938" />
  <package id="log4net" version="1.2.99" />
</packages>