<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ChartBeat.ApiKey" value="9afde3c7a533572878d27e80cf001244" />
    <add key="ChartBeat.BasePath" value="http://api.chartbeat.com" />
    <add key="ChartBeat.PollDelay" value="3" />
    <add key="Splunk.BasePath" value="https://192.168.101.38:8089/servicesNS/nobody/webintelligence" />
    <add key="Splunk.PollDelay" value="5" />
    <add key="Splunk.Username" value="dbapiuser" />
    <add key="Splunk.Password" value="dbapiuser" />
  </appSettings>
</configuration>