<%
    var packageType = self.options.packageType;    
    var entities    = self.data;
 %>
<div class="trending-up">
    <h3 class="module-col-title"><% if (packageType === "TrendingDownPackage"){%><%=Token("trendingDown")%><%}else{%><%=Token("trendingUp")%><%}%> 
        <span class="fi <% if (packageType === "TrendingDownPackage") {%>fi_arrow-decrease-red<%} else {%>fi_arrow-increase-green<%}%> "></span>
    </h3>
        <span class="module-col-secondary-title"><% if (packageType === "TrendingDownPackage") {%><%=Token("decreaseInNewsVolume")%><%}else{%><%=Token("increaseInNewsVolume")%><%}%></span>
    <ul>
        <%
             if (entities) {
             _.each(entities, function (entity, key) {
        %>
                 <li>
                    <h4 class="industry-item-title">
                        <a href="javascript:void(0)" class="popup-trigger" searchContext="<%=entity.searchContextRef %>"> <%=entity.descriptor %></a>
                    </h4>
                       <p>
                       <span class="news-volume-previous"><%=entity.previousNewsVolume.displayText.value %></span>
                       <span class="fi <% if (packageType === "TrendingDownPackage") {%>fi_arrow-red-small<%} else {%>fi_arrow-green-small<%}%>"></span> 
                       <span class="news-volume-current"><%= entity.currentTimeFrameNewsVolume.displayText.value  %></span>
                       <span class="news-volume-percentage <% if (packageType === "TrendingDownPackage") {%>decrease<%} else {%>increase<%}%>"> <%= entity.percentVolumeChange.displayText.value %> <% if ((packageType === "TrendingUpPackage" && entity.percentVolumeChange) || packageType === "TrendingDownPackage") {%><%=Token("vol")%><% } %></span>
                       </p>
                 </li>
        <%   
            });
            } 
        %>
                           
    </ul>
</div>
<!-- end: .trending-up -->