/***  DemoCanvasModule  ***/

.DemoCanvasModule
{
    float: left;
    width: 230px;
    margin: 10px;
    padding: 20px;
    border: 1px groove;

    p
    {
        width: 100%;
        clear: both;
        padding: 5px 0;
    }

    label
    {
        display: block;
        float: left;
        width: 110px;
        font-weight: bold;
    }

    span
    {
        display: block;
        float: left;
    }

    .actions-container
    {
        margin: 20px 0 0;
        padding: 10px;
        font-size: 110%;
        text-align: center;
    }

    button
    {
        padding: 3px 10px;
    }
}