<!-- Not being used fro now, Only server side rendering is supported -->
<%%>
<div class="controls">
    <% if (options.showCheckboxes) { %>
        <a class="select-all" href="#">Select All</a>
    <% } %>
    <% if (options.showSortOptions) { %>
        <div class="drop-down-button">
            <a href="#">Sort Options</a>
            <ol class="options sort-options">
                <% for (var i = 0; i < options.sortOptions.length; i++) { %>
                    <li class="item <%= (options.sortOption == options.sortOptions[i].Key) ? "selected" : "" %>" data-name="sort" data-type="select" data-value="<%= options.sortOptions[i].Key %>">
                        <a href="#"><%= options.sortOptions[i].Data %></a>
                    </li>
                <% } %>
                <li class="item divided <%=  options.showDuplicates ? "selected" : "" %>" data-name="duplicates" data-type="radio">
                    <a href="#">Display Duplicates</a>
                </li>
            </ol>
        </div>
    <% } %>
    <div class="pager">
        <% if (options.showPaging) { %>
            <% if (headlines.Offset == 0) { %>
                <span class="nav prev" href="#" data-page="prev">Prev</span>
            <% } else { %>
                <a class="nav prev" href="#" data-page="prev">Prev</a>
            <% } %>
            <span class="showing">Headlines <%= headlines.Offset+1 %> - <%= headlines.Offset+headlines.Headlines.length %> of <%= headlines.TotalRecords %></span>
            <% if (headlines.Offset + headlines.Headlines.length >= headlines.TotalRecords) { %>
                <span class="nav next" href="#" data-page="next">Next</span>
            <% } else { %>
                <a class="nav next" href="#" data-page="next">Next</a>
            <% } %>
        <% } %>
    </div>
    <% if (options.showAuthorOptions && options.authorOptions) { %>
        <div class="drop-down-list">
            <ol class="options author-options">
                <li class="item"><a href="#">Add To Contact List</a></li>
                <li class="item"><a href="#">View Author Details</a></li>
            </ol>    
        </div>
    <% } %>
    <% if (options.showSourceOptions && options.sourceOptions) { %>
        <div class="drop-down-list">
            <ol class="options source-options">
                <li class="item"><a href="#">Add To Outlet List</a></li>
                <li class="item"><a href="#">View Outlet Details</a></li>
            </ol>
        </div>
    <% } %>
</div>
<ul class="dj_headlineListContainer items">
    <% for (var i = 0; i < headlines.Headlines.length; i++) { var headline = headlines.Headlines[i]; %>
        <li class="headline-box item" data-djid="<%= headline.AccessionNumber %>">
            <div class="wrap">
                <h4 class="headline">
                    <% if (options.showCheckboxes) { %>
                        <input class="chk-headline" type="checkbox" value="<%= headline.AccessionNumber %>" />
                    <% } %>
                    <% if(options.headlineClickable) { %>
                    <a class="title" href="#" rel="<%= headline.ExternalUrl %>"><%= headline.Title %></a>
                    <% } else { %>
                    <a class="title" rel="<%= headline.ExternalUrl %>"><%= headline.Title %></a>
                    <% } %>
                </h4>
                <div class="meta">
                    <span class="source" data-djid="<%= headline.SourceCode %>"><%= headline.Source %></span> |
                    <span class="date-stamp"><%= headline.PublicationDateDisplay %></span>
                    <% for (var j = 0; j < headline.Authors.length; j++) { var author = headline.Authors[j]; %>
                        <br /><span class="author" data-djid="<%= author.Code %>"><%= author.Name %></span>
                    <% } %>
                </div>
                <p class="snippet">
                    <%= headline.Snippet %>
                </p>
                <% if (options.showDuplicates && headline.DuplicateHeadlines && headline.DuplicateHeadlines.length > 0) { %>
                    <div class="duplicates">
                        <a class="trigger" href="#" >
                            <span class="accent">+</span>
                            <span class="copy"><%= headline.DuplicateHeadlines.length %> duplicate article(s) identified</span>
                        </a>
                        <ul class="items">
                            <% for (var j = 0; j < headline.DuplicateHeadlines.length; j++) { var dup = headline.DuplicateHeadlines[j]; %>
                                <li class="item" data-djid="<%= dup.AccessionNumber %>" data-parentdjid="<%= dup.ParentAccessionNumber %>" rel="<%= dup.ExternalUrl %>">
                                    <h4 class="headline">
                                        <a class="title" href="#" title="<%= headline.Snippet %>"><%= dup.Title %></a>
                                    </h4>
                                    <span class="source" data-djid="<%= dup.SourceCode %>"><%= dup.Source %></span>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                <% } %>
                <div class="boxed-list">
                    <ol class="options article-options">
                        <li class="item print"><a class="dj-action" href="#" data-action="print"></a></li>
                        <li class="item save"><a class="dj-action" href="#" data-action="save"></a></li>
                        <li class="item share"><a class="dj-action" href="#" data-action="share"></a></li>
                        <li class="item boost"><a class="dj-action" href="#" data-action="boost" data-djid="<%= headline.SourceCode %>"></a></li>
                    </ol>
                </div>
            </div>
        </li>
    <% } %>
</ul>