<div class="dj_post-processing-form email-modal">
    <ul class="dj_HdlnFmtOptions">
        <li><label for="headline"> <input  id="headline" type="radio" name="hdlnFmtOptions" value="headline" checked="checked" /><%= Token("headlineFmtOnly") %></label></li>
        <li><label for="article"> <input id="article" type="radio" name="hdlnFmtOptions" value="article" /><%= Token("articleFormat") %></label></li>
        <li><label for="articlewithtoc"> <input id="articlewithtoc" type="radio" name="hdlnFmtOptions" value="articlewithtoc" /><%= Token("articleWithToc") %></label></li>
    </ul>
</div>