.dj-regionalmap{
	width:988px;
	height:430px;
	position:relative;
}

.dj-regionalmap .dj-regionalmap-sidebar{
	height:430px;
	width:280px;
	position:absolute;
	background-color: #FFF; /* IE fix */
	background-color:rgba(255,255,255,0.8);
	overflow-y: auto;
	z-index:1000;
}

.dj-regionalmap .dj-regionalmap-sidebar .title{
	padding:14px;
	font-size:14px;
	font-weight:bold;
}

.dj-regionalmap .dj-regionalmap-sidebar .filter{
	color: #000;
	padding-left:14px;
	padding-right:14px;
	line-height:20px;
	color: #000;
}

.dj-regionalmap-filters .filter.default label{
	cursor: default;
}

.dj-regionalmap .dj-regionalmap-sidebar .volume{
	color: #FFF;
	font-size:10px;
	line-height:20px;
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
	padding-bottom:3px;
	background-color:#94c6dd;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	text-shadow: 0px 1px 0px #61a2c6;
}

.dj-regionalmap .dj-regionalmap-sidebar .separator{
	height:1px;
	line-height:1px;
	background-color:#999;
	margin:14px;
	overflow:none;
}