<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>True</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://montana.dev.us.factiva.com/Documentation</SiteUrlToLaunchAfterPublish>
    <publishUrl>\\montana.dev.us.factiva.com\WebSites\Documentation</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/Antlr3.Runtime.dll">
      <publishTime>06/04/2012 09:22:08</publishTime>
    </File>
    <File Include="bin/App_global.asax.compiled">
      <publishTime>05/31/2012 16:16:28</publishTime>
    </File>
    <File Include="bin/App_global.asax.dll">
      <publishTime>05/31/2012 16:16:28</publishTime>
    </File>
    <File Include="bin/App_global.asax.pdb">
      <publishTime>05/31/2012 16:16:28</publishTime>
    </File>
    <File Include="bin/App_Web_0arqek3k.dll">
      <publishTime>05/31/2012 16:16:29</publishTime>
    </File>
    <File Include="bin/App_Web_0arqek3k.pdb">
      <publishTime>05/31/2012 16:16:29</publishTime>
    </File>
    <File Include="bin/App_Web_11mdbxmk.dll">
      <publishTime>05/31/2012 16:16:29</publishTime>
    </File>
    <File Include="bin/App_Web_11mdbxmk.pdb">
      <publishTime>05/31/2012 16:16:29</publishTime>
    </File>
    <File Include="bin/App_Web_1s1b4yku.dll">
      <publishTime>05/31/2012 16:16:28</publishTime>
    </File>
    <File Include="bin/App_Web_1s1b4yku.pdb">
      <publishTime>05/31/2012 16:16:28</publishTime>
    </File>
    <File Include="bin/App_Web_uxelt44o.dll">
      <publishTime>05/31/2012 16:16:29</publishTime>
    </File>
    <File Include="bin/App_Web_uxelt44o.pdb">
      <publishTime>05/31/2012 16:16:29</publishTime>
    </File>
    <File Include="bin/DocumentationSite.dll">
      <publishTime>05/31/2012 16:19:24</publishTime>
    </File>
    <File Include="bin/DocumentationSite.pdb">
      <publishTime>05/31/2012 16:19:24</publishTime>
    </File>
    <File Include="bin/documentationpage.cshtml.e25ecb56.compiled">
      <publishTime>05/31/2012 16:16:29</publishTime>
    </File>
    <File Include="bin/DowJones.Documentation.Core.dll">
      <publishTime>06/05/2012 12:40:57</publishTime>
    </File>
    <File Include="bin/DowJones.Documentation.Core.pdb">
      <publishTime>06/05/2012 12:40:57</publishTime>
    </File>
    <File Include="bin/DowJones.Documentation.Website.dll">
      <publishTime>06/05/2012 12:45:04</publishTime>
    </File>
    <File Include="bin/DowJones.Documentation.Website.pdb">
      <publishTime>06/05/2012 12:45:04</publishTime>
    </File>
    <File Include="bin/error.cshtml.639c3968.compiled">
      <publishTime>05/31/2012 16:16:29</publishTime>
    </File>
    <File Include="bin/homepage.cshtml.e25ecb56.compiled">
      <publishTime>05/31/2012 16:16:29</publishTime>
    </File>
    <File Include="bin/livedemo.md.70b9f9bb.compiled">
      <publishTime>05/31/2012 16:16:28</publishTime>
    </File>
    <File Include="bin/MarkdownDeep.dll">
      <publishTime>06/04/2012 09:22:06</publishTime>
    </File>
    <File Include="bin/MarkdownDeep.pdb">
      <publishTime>06/04/2012 09:22:06</publishTime>
    </File>
    <File Include="bin/MarkdownRazor.dll">
      <publishTime>06/05/2012 12:40:59</publishTime>
    </File>
    <File Include="bin/MarkdownRazor.pdb">
      <publishTime>06/05/2012 12:40:59</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.dll">
      <publishTime>06/04/2012 09:22:08</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.pdb">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.xml">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/System.Net.Http.dll">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.dll">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.xml">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.dll">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.xml">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/System.Net.Http.xml">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/System.Web.Http.dll">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.dll">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.xml">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/System.Web.Http.xml">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>06/04/2012 09:22:06</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.xml">
      <publishTime>06/04/2012 09:22:06</publishTime>
    </File>
    <File Include="bin/System.Web.Optimization.dll">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>05/21/2012 16:44:38</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.xml">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.xml">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.xml">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.xml">
      <publishTime>06/04/2012 09:22:07</publishTime>
    </File>
    <File Include="bin/WebGrease.dll">
      <publishTime>06/04/2012 09:22:08</publishTime>
    </File>
    <File Include="bin/XmlViewEngine.dll">
      <publishTime>06/05/2012 12:40:57</publishTime>
    </File>
    <File Include="bin/XmlViewEngine.pdb">
      <publishTime>06/05/2012 12:40:57</publishTime>
    </File>
    <File Include="bin/XmlViewEngine.xml">
      <publishTime>06/05/2012 12:40:57</publishTime>
    </File>
    <File Include="bin/_layout.cshtml.639c3968.compiled">
      <publishTime>05/31/2012 16:16:29</publishTime>
    </File>
    <File Include="bin/_navigation.cshtml.639c3968.compiled">
      <publishTime>05/31/2012 16:16:29</publishTime>
    </File>
    <File Include="bin/_viewstart.cshtml.65a2d1ee.compiled">
      <publishTime>05/31/2012 16:16:29</publishTime>
    </File>
    <File Include="Content/Components/Article/LiveDemo.md">
      <publishTime>05/31/2012 16:35:10</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>06/01/2012 09:56:20</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>06/04/2012 15:01:20</publishTime>
    </File>
    <File Include="PrecompiledApp.config">
      <publishTime>05/31/2012 16:16:25</publishTime>
    </File>
    <File Include="Scripts/bootstrap.js">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Scripts/bootstrap.min.js">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Scripts/collapsible-section.js">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Scripts/explorer.js">
      <publishTime>06/04/2012 15:08:32</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2.js">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2.min.js">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Scripts/modernizr-2.5.3.js">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Scripts/prettify/prettify.js">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Scripts/_references.js">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Styles/bootstrap-responsive.css">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Styles/bootstrap-responsive.min.css">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Styles/collapsible-section.css">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Styles/prettify/oblivion.css">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Styles/prettify/prettify.css">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Styles/prettify/sons-of-obsidian.css">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Styles/prettify/spacelab.css">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Styles/Site.css">
      <publishTime>06/04/2012 15:28:45</publishTime>
    </File>
    <File Include="Styles/Site.scss">
      <publishTime>06/04/2012 15:28:45</publishTime>
    </File>
    <File Include="Styles/themes/default/bootstrap.css">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Styles/themes/default/bootstrap.min.css">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Styles/themes/default/images/glyphicons-halflings-white.png">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Styles/themes/default/images/glyphicons-halflings.png">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Styles/themes/journal/bootstrap.css">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Styles/themes/journal/bootswatch.less">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Styles/themes/journal/variables.less">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Styles/themes/spacelab/bootstrap.css">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Styles/themes/spacelab/bootswatch.less">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Styles/themes/spacelab/img/glyphicons-halflings-white.png">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Styles/themes/spacelab/img/glyphicons-halflings.png">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Styles/themes/spacelab/site.css">
      <publishTime>06/04/2012 15:28:45</publishTime>
    </File>
    <File Include="Styles/themes/spacelab/variables.less">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Styles/_mixins.scss">
      <publishTime>06/04/2012 15:28:45</publishTime>
    </File>
    <File Include="Views/Documentation/DocumentationPage.cshtml">
      <publishTime>06/05/2012 12:04:54</publishTime>
    </File>
    <File Include="Views/Documentation/Homepage.cshtml">
      <publishTime>06/04/2012 15:08:32</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Views/Shared/VSDoc.xsl">
      <publishTime>06/04/2012 15:12:07</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Views/Shared/_Navigation.cshtml">
      <publishTime>06/04/2012 15:08:32</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>06/01/2012 09:56:21</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>06/05/2012 12:41:19</publishTime>
    </File>
  </ItemGroup>
</Project>