<% 
    var model = self;
    var options = this.options;
    var hasData = model.items && model.items.length;
%>
<% if(hasData) { 
    if (options.showIndexing) { %>
        <div class="dj_article_index"><%= model.indexCode %></div>
    <% } %>  
    <div class="dj_article_<%= model.indexCode.toLowerCase() %> dj_article_section">      
        <% for(var i = 0, len = model.items.length; i < len; i++) { 
            var item = model.items[i]; %>
            <%= this.templates.paragraph(item) %>
        <% } %>  
    </div>
<% } %>
