@model DowJones.Factiva.Currents.Models.CurrentRegionalMapModule
@ClientPlugin dj_CurrentRegionalMapModule
@ScriptResource RelativeResourceName=CurrentRegionalMapModule.js
@{ CssClass = "dj_CurrentRegionalMapModule"; }

<section class="currentRegionalMapContainer">
    @Html.DJ().Render(Model.CurrentRegionalMap)
</section>
