header {
	min-height: 30px;
	padding-top: 10px;
	background: url(../img/bg_header.png) repeat 0 0;
}

	header .container-fluid {
		position: relative;
	}

footer p {
	font-size: 9px;
	color: #666;
	padding-top: 10px;
}


header .container-fluid .edition {
	display: inline-block;
	*display: inline;
	/* IE7 inline-block hack */
	*zoom: 1;
	vertical-align: middle;
	color: #959595;
	font-size: 14px;
	font-weight: bold;
}

header .container-fluid .company {
	width: 119px;
	height: 28px;
	position: absolute;
	top: 0;
	right: 0;
	text-indent: -9999px;
	background: url(../img/logo_header-dowjones.png) no-repeat 0 0;
}

section#main div.entry {
	font-weight: bold;
	margin-top: 10px;
}

.djWidgetRadar90 .djWidgetControlls {
	display: none;
}

#clearModal {
	width: 400px;
	left: 70%;
}

.loading {
	background-image: url("../img/ajax-loader.gif");
	background-repeat: no-repeat;
	background-position: center center;
	height: 100px;
}

a#clear {
	position: absolute;
	top: 0px;
}

.noCompanies {
	height: 200px;
}

.notActive {
	display: none;
}

.djWidgetAutoSuggestSearch {
	z-index: 1000;
}

.djWidgetItem .djRemoveContentLink {
	position: absolute;
}

.djWidgetRadar90 {
	border: none !important;
}

a.djContentLink {
	padding-left: 6px;
	white-space: nowrap;
	color: #969696;
	text-decoration: none;
}

.djWidgetHeadlines {
	border: none !important;
}

	.djWidgetHeadlines .djWidgetTitle {
		display: none;
	}

.djWidgetArticle {
	border: none !important;
}

header,
section#main,
footer {
	padding-left: 5px;
	padding-right: 5px;
}

#autoSuggestSearchContainer {
	display: none;
}

#editPage {
	display: none;
}

#editPage, #viewPage {
	margin-top: 10px;
}

#companyList li {
	border-top: 1px solid #E7E7E7;
	padding: 4px 0 4px 0;
}

#djAdd, #djSave {
	margin-bottom: 9px
}
