<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>

      <!--V2_0-->
      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:CreateWorkspace">
        <name>urn:factiva:assets:workspace:data:v1_0:CreateWorkspace</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\Request\CreateWorkspaceRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\Response\CreateWorkspaceResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:DeleteWorkspace">
        <name>urn:factiva:assets:workspace:data:v1_0:DeleteWorkspace</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\Request\DeleteWorkspaceRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\Response\DeleteWorkspaceResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:UpdateWorkspace">
        <name>urn:factiva:assets:workspace:data:v1_0:UpdateWorkspace</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\Request\UpdateWorkspaceRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\Response\UpdateWorkspaceResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:AddItemsToWorkspace">
        <name>urn:factiva:assets:workspace:data:v1_0:AddItemsToWorkspace</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\Request\AddItemsToWorkspaceRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\Response\AddItemsToWorkspaceResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:DeleteItemsFromWorkspace">
        <name>urn:factiva:assets:workspace:data:v1_0:DeleteItemsFromWorkpace</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\Request\DeleteItemsFromWorkspaceRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\Response\DeleteItemsFromWorkspaceResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:UpdateWorkspaceProperties">
        <name>urn:factiva:assets:workspace:data:v1_0:UpdateWorkspaceProperties</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\Request\UpdateWorkspacePropertiesRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\Response\UpdateWorkspacePropertiesResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:GetWorkspaceById">
        <name>urn:factiva:assets:workspace:data:v1_0:GetWorkspaceByID</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\Request\GetWorkspaceByIdRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\Response\GetWorkspaceByIdResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:GetWorkspacesDetailsList">
        <name>urn:factiva:assets:workspace:data:v1_0:GetWorkspacesDetailsList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\Request\GetWorkspacesRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\Response\GetWorkspacesResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:DisseminateWorkspace">
        <name>urn:factiva:assets:workspace:data:v1_0:DisseminateWorkspace</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\Request\DisseminateWorkspaceRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\Response\DisseminateWorkspaceResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:GetWorkspacesPropertiesList">
        <name>urn:factiva:assets:workspace:data:v1_0:GetWorkspacesPropertiesList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\2_0\Request\GetDetailsForWorkspacesRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\2_0\Response\GetDetailsForWorkspacesResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:PublishWorkspace">
        <name>urn:factiva:assets:workspace:data:v1_0:PublishWorkspace</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\2_0\Request\PublishWorkspaceRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\2_0\Response\PublishWorkspaceResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:UpdateItemById">
        <name>urn:factiva:assets:workspace:data:v1_0:UpdateWorkspaceItem</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\2_0\Request\UpdateItemByIdRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\2_0\Response\UpdateItemByIdResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:GetWorkspaceByCode">
        <name>urn:factiva:assets:workspace:data:v1_0:GetWorkspaceByCode</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Workspace\2_0\Request\UpdateItemByIdRequest.xml</fileSave>
          <fileOpen>stubs\Workspace\2_0\Response\UpdateItemByIdResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:CreateNewsletterDelivery">
        <name>urn:factiva:assets:workspace:data:v1_0:CreateNewsletterDelivery</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:UpdateNewsletterDelivery">
        <name>urn:factiva:assets:workspace:data:v1_0:UpdateNewsletterDelivery</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:GetNewsletterDelivery">
        <name>urn:factiva:assets:workspace:data:v1_0:GetNewsletterDelivery</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:DeleteNewsletterDelivery">
        <name>urn:factiva:assets:workspace:data:v1_0:DeleteNewsletterDelivery</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:SubscribeWorkspace">
        <name>urn:factiva:assets:workspace:data:v1_0:SubscribeWorkspace</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:GetSubscribableWorkspaces">
        <name>urn:factiva:assets:workspace:data:v1_0:GetSubscribableWorkspaces</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:SetAssignedWorkspaceStatus">
        <name>urn:factiva:assets:workspace:data:v1_0:SetAssignedWorkspaceStatus</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:SetWorkspaceShareProperties">
        <name>urn:factiva:assets:workspace:data:v1_0:SetWorkspaceShareProperties</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Workspaces.V2_0:UnSubscribeWorkspace">
        <name>urn:factiva:assets:workspace:data:v1_0:UnSubscribeWorkspace</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

    </transactionSettings>
  </ServiceSettings>
</configuration>