<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <!-- START TRACK TRANSACTIONS-->
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:ShareFolder">
        <name>TRACK_FOLDER_ACCESS</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\ChangeFolderAccessLevelRequest.xslt</param>
              <param name="scope">everyone</param>
              <!-- request will send in sharescope.e. this is not used-->
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\ChangeFolderAccessLevelResponse.xslt</param>
              <param name="transactionType">share</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:UnShareFolder">
        <name>TRACK_FOLDER_ACCESS</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\ChangeFolderAccessLevelRequest.xslt</param>
              <param name="scope">personal</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\ChangeFolderAccessLevelResponse.xslt</param>
              <param name="transactionType">unshare</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:ReviseSubscribedFolder">
        <name>TRACK_FOLDER_SUBSCRIPTION</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\SubscriptionRequest.xslt</param>
              <param name="subscribeOrunsubscribe">revise</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\SubscriptionResponse.xslt</param>
              <param name="subscribeOrunsubscribe">revise</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:SubscribeFolder">
        <name>TRACK_FOLDER_SUBSCRIPTION</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\SubscriptionRequest.xslt</param>
              <param name="subscribeOrunsubscribe">subscribe</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\SubscriptionResponse.xslt</param>
              <param name="subscribeOrunsubscribe">subscribe</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:UnSubscribeFolder">
        <name>TRACK_FOLDER_SUBSCRIPTION</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\SubscriptionRequest.xslt</param>
              <param name="subscribeOrunsubscribe">unsubscribe</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\SubscriptionResponse.xslt</param>
              <param name="subscribeOrunsubscribe">unsubscribe</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:GetFolderList">
        <name>CLIP_OLH_FOLDER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\GetFolderList.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\GetFolderListResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:GetMultipleFolderHeadlines">
        <name>CLIP_OLH_HEADLINE</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\GetFolderHeadlinesResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Track\Request\GetMultipleFolderHeadlineRequest.xml</fileSave>
          <fileOpen>stubs\Track\Response\GetFolderHeadlinesResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:GetFolderHeadlines">
        <name>CLIP_OLH_HEADLINE</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\GetFolderHeadlinesResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Track\Request\CheckFolderNameExistsRequest.xml</fileSave>
          <fileOpen>stubs\Track\Response\GetFolderHeadlinesResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:CreateFolder">
        <name>CLIP_CTP_FOLDER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\CreateFolderResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:DeleteFolder">
        <name>CLIP_CTP_FOLDER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\DeleteFolderResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:GetFolder">
        <name>CLIP_CTP_FOLDER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\GetFolderResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:GetFolderNoBilling">
        <name>CLIP_CTP_GET_FOLDER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\GetFolderResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:ReviseFolder">
        <name>CLIP_CTP_FOLDER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\ReviseFolderResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:TransferFolder">
        <name>CLIP_CTP_TRANSFER_FOLDER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\TransferFolderResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:GetFolderListNoBilling">
        <name>CLIP_CTP_GET_FOLDERLIST</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\GetFolderListNoBillingResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:SetFolderShareProperties">
        <name>TRACK_FOLDER_ACCESS</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\ChangeFolderAccessLevelRequest.xslt</param>
              <param name="scope">account</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\ChangeFolderAccessLevelResponse.xslt</param>
              <param name="transactionType">SetFolderShareProperties</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:GetAlertHeadlinesForRss">
        <!--  <name>UER_RSSRequest</name>-->
        <name>CLIP_OLH_RSS_HEADLINE</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\GetFolderHeadlinesResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">

          <fileSave>stubs\Track\Request\GetFolderHeadlineRequest.xml</fileSave>
          <fileOpen>stubs\Track\Response\GetAlertsHeadlinesForRssResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:CheckFolderNameExists">
        <name>CLIP_CTP_CHECK_FOLDER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\\Track\CheckFolderNameExistsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Track\Request\CheckFolderNameExistsRequest.xml</fileSave>
          <fileOpen>stubs\Track\Response\CheckFolderNameExistsResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Track.V1_0:DeletedFolders">
        <name>TRACK_FOLDER_DELETED</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
        </response>
        <!--<transport type="RTS"/>
        <transport type="HTTP"/>-->
        <transport type="STUB">
          <fileSave>stubs\Track\Request\DeletedFoldersRequest.xml</fileSave>
          <fileOpen>stubs\Track\Response\DeletedFoldersResponse.xml</fileOpen>
        </transport>
      </transaction>

      <!--RealTimeAlert-->

      <transaction key="Factiva.Gateway.Messages.Track.RealTimeAlerts.V1_0:CreateFolder">
        <!--  <name>UER_RSSRequest</name>-->
        <name>RT_CREATE_FOLDER</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespaceWithExceptions.xslt</param>
              <param name="exception_namespace">http://types.dowjones.net/foldermanager</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Track.RealTimeAlerts.V1_0:ReviseFolderByID">
        <name>RT_REVISE_FOLDER</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespaceWithExceptions.xslt</param>
              <param name="exception_namespace">http://types.dowjones.net/foldermanager</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RealTimeAlert\Request\ReviseFolderByIDRequest.xml</fileSave>
          <fileOpen>stubs\RealTimeAlert\Response\ReviseFolderByIDResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Track.RealTimeAlerts.V1_0:ReviseFolderByName">
        <name>RT_REVISE_FOLDER</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespaceWithExceptions.xslt</param>
              <param name="exception_namespace">http://types.dowjones.net/foldermanager</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RealTimeAlert\Request\ReviseFolderByNameRequest.xml</fileSave>
          <fileOpen>stubs\RealTimeAlert\Response\ReviseFolderByNameResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Track.RealTimeAlerts.V1_0:DeleteFolderByID">
        <name>RT_DELETE_FOLDER</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RealTimeAlert\Request\DeleteFolderByIDRequest.xml</fileSave>
          <fileOpen>stubs\RealTimeAlert\Response\DeleteFolderByIDResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Track.RealTimeAlerts.V1_0:DeleteFolderByName">
        <name>RT_DELETE_FOLDER</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RealTimeAlert\Request\DeleteFolderByNameRequest.xml</fileSave>
          <fileOpen>stubs\RealTimeAlert\Response\DeleteFolderByNameResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Track.RealTimeAlerts.V1_0:GetFolderByID">
        <name>RT_GET_FOLDER</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>

        <response>
          <messageFormat>STRING</messageFormat>
          <!--remove 'userQuery'-->
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\track\RealTimeAlerts_GetFolderResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RealTimeAlert\Request\GetFolderByIDRequest.xml</fileSave>
          <fileOpen>stubs\RealTimeAlert\Response\GetFolderByIDResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Track.RealTimeAlerts.V1_0:GetFolderByName">
        <name>RT_GET_FOLDER</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <!--remove 'userQuery'-->
          <filters>
            <!--<filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
              <param name="exception_namespace">http://types.dowjones.net/foldermanager</param>
            </filter>-->
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\track\RealTimeAlerts_GetFolderResponse.xslt</param>
            </filter>
            <!--<filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespaceWithExceptions.xslt</param>
              <param name="exception_namespace">http://types.dowjones.net/foldermanager</param>
            </filter>-->

          </filters>
        </response>

        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RealTimeAlert\Request\GetFolderByNameRequest.xml</fileSave>
          <fileOpen>stubs\RealTimeAlert\Response\GetFolderByNameResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Track.RealTimeAlerts.V1_0:GetFolderList">
        <name>RT_LIST_FOLDER</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespaceWithExceptions.xslt</param>
              <param name="exception_namespace">http://types.dowjones.net/foldermanager</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <!--remove 'userQuery'-->
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\track\RealTimeAlerts_GetFolderListResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RealTimeAlert\Request\GetFolderListRequest.xml</fileSave>
          <fileOpen>stubs\RealTimeAlert\Response\GetFolderListResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <!--Track version2 config entries-->
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:GetMultipleFolderHeadlines2">
        <name>CLIP_OLH_HEADLINE_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\GetFolderHeadlinesResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Track\Request\GetFolderHeadlineRequest.xml</fileSave>
          <fileOpen>stubs\Track\Response\GetFolderHeadlinesResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:GetFolderHeadlines2">
        <name>CLIP_OLH_HEADLINE_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\GetFolderHeadlinesResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Track\Request\GetFolderHeadlineRequest.xml</fileSave>
          <fileOpen>stubs\Track\Response\GetFolderHeadlinesResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:GetAlertHeadlinesForRss2">
        <!--  <name>UER_RSSRequest</name>-->
        <name>CLIP_OLH_RSS_HEADLINE_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\GetFolderHeadlinesResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Track\Request\GetFolderHeadlineRequest.xml</fileSave>
          <fileOpen>stubs\Track\Response\GetAlertsHeadlinesForRssResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <!--ENd of tranck2 entries-->

      <transaction key="Factiva.Gateway.Messages.Track.V1_0:GetSelectFeedFolderList">
        <name>CLIP_OLH_SELECT_FEED_FOLDER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\GetSelectFeedFolderListRequest.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\GetSelectFeedFolderListResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      
    </transactionSettings>

  </ServiceSettings>
</configuration>
