@model DiscoveryGraphModel
@ClientPlugin dj_DiscoveryGraph
@ScriptResource RelativeResourceName=DiscoveryGraph.js
@ClientTemplate RelativeResourceName=ClientTemplates.Success.htm, TemplateId=success
@{ 
    CssClass = "dj_DiscoveryGraph";
    DJ.ScriptRegistry()
      .WithHighCharts()
      .WithServiceProxy()
      .WithJQueryTools()
      .WithJQueryUIInteractions(); 
}

<div class="dj_view_wrapper dj_widget_fullView">
    <div class="dj_discoveryGraph_item_wrap">
    </div>
</div> 
