<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DowJones.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DowJones.Web.Properties.Settings>
            <setting name="PhantomJsExePath" serializeAs="String">
                <value>phantomjs.exe</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>newswires_tfsservice</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Service0</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>DJNAMERICAS</value>
            </setting>
        </DowJones.Web.Properties.Settings>
    </applicationSettings>
</configuration>