@{
    ViewBag.Title = Model.Title;

    DJ.StylesheetRegistry()
        .Include("~/Content/ModuleGallery.css")
        .Include("~/Content/dashboard.css");
}

@section Header {
    <div class="btn-group pull-right">
        <a href="#module-gallery" class="btn btn-primary" data-toggle="modal">Add Module</a>
    </div>
}

@if (Model.Children.Count == 0)
{
    <div class="no-modules alert-message">
        <h3>No modules have been added to this page yet</h3>
        <p>Try using the "Add Module" button to add some!</p>
    </div>
}

@DJ.Render(Model)


@Html.Action("Gallery", "ScriptModule", new { pageId = ViewBag.PageId })


<script type="text/javascript">
    @{ DJ.ScriptRegistry().OnDocumentReady("initializeDashboard()"); }
    
    function initializeDashboard() {
        var canvas = DJ.UI.Canvas.find();

        function fixComponentClasses() {
            var modules = $('.dj_module');
            
            $('.dj_edit-box .dc_item', modules)
                .addClass('btn')
                .first().addClass('btn-primary');

            $('.dj_module-refresh', modules).addClass('icon-refresh').addClass('icon-white');
            $('.settings', modules).addClass('icon-cog').addClass('icon-white');
            $('.minimize', modules).addClass('icon-resize-small').addClass('icon-white');
            $('.maximize', modules).addClass('icon-resize-full').addClass('icon-white');

            $('.dj_menu').addClass('dropdown-menu');
        }


        canvas.subscribe('CanvasModule.EditModuleSuccess', function (args) {
            canvas.reloadModule(args.moduleId);
        });

        canvas.subscribe('addModuleSuccess.dj.Canvas', function (args) {
            fixComponentClasses();
        });

        $('#reset-page-data').click(function() {
            return confirm('This will delete all of the module data on this page!  Continue?');
        });

        fixComponentClasses();
    }
</script>