@{
    ViewBag.Title = Model.Title;

    DJ.ScriptRegistry().Include("overlay");
}

<button id="add-module">Add Module</button>

<section id="module-selector" style="display: none">
    <h3 class="heading">Add New Module</h3>
    <ul>
        @foreach(var moduleType in ViewBag.ModuleTypes)
        {
            <li class="module" data-editor="@moduleType.EditorClass">@moduleType.DisplayName</li>
        }
    </ul>
    
    <div id="new-module-info" style="display: none">
        <div class="editor"></div>
        <div class="actions">
            <input class="create" type="button" value="Create" />
            <input class="cancel" type="button" value="Cancel" />
        </div>
    </div>

</section>


@DJ.Render(Model)