@{
    ViewBag.Title = Model.Title;

    DJ.StylesheetRegistry().Include("~/Content/dashboard.css");
    DJ.ScriptRegistry().OnDocumentReady("initializeDashboard();");
}

<button id="add-module">Add Module</button>

@Html.Partial("_ModuleGallery", (object)ViewBag.ModuleTemplates)

@DJ.Render(Model)

<script type="text/javascript">
    
    function initializeDashboard() {
        var canvas = $('.dj_Canvas').findComponent(DJ.UI.AbstractCanvas);

        var moduleGallery = new DJ.UI.ModuleGallery($('.module-gallery'));
        moduleGallery.options.pageId = canvas.get_canvasId();

        DJ.subscribe('moduleSaved.dj.ModuleGallery', function(args) {
            canvas.loadModule(args.moduleId);
        });
        
        $('#add-module').click(function () { moduleGallery.show(); });
    }

</script>