
.dj_pageTimings .pageTimings {
	margin-top: 6px;
	margin-left: 0px;
	text-align: left;
	.pageTimingEntry {
		font-weight: bold;
		width: 280px;
		height: 70px;
		margin-top: 5px;
		padding: 0 5px;
		display: block;
		clear: both;
		h4.title {
			font-weight: normal;
			text-align: left;
			margin-bottom: 2px;
		}
		.stamp {
			.value {
				border-bottom: 2px solid;
			}
		}
		.avg-stamp{
			color: #999;
	  		text-align: right;
			width: 120px;
			margin: 0 auto;
			margin-top: 10px;
			margin-left: 10px;
			padding-right: 5px;
			float: left;
		}
		.minmax {
			color: #999;
			float: left;
			margin-right: 5px;
			width: 50px;
			.min-stamp{
				margin-bottom: 5px;
				padding-right: 5px;
				text-align: right;
			}
			.max-stamp{
				padding-right: 5px;
				text-align: right;
			}
		}

		.dj_sparkline-container {
		}
		.sparklineTooltip {
			height: 22px;
			margin-right: 5px;
			padding-top: 3px;
			text-align: center;
		}

	}
}