.dj_ModuleGallery.tabs-left > .nav-tabs {
  border-right: none;
  margin-right: 0; }

.dj_ModuleGallery {
  background: #fff;
  vertical-align: top; }
  .dj_ModuleGallery .heading {
    text-align: center;
    text-decoration: underline;
    margin: 0; }
  .dj_ModuleGallery .modules {
    float: left;
    min-height: 175px;
    width: 175px;
    margin-left: 5px; }
  .dj_ModuleGallery .new-module-info {
    vertical-align: top;
    padding-left: 10px;
    border-left: 1px solid #DDD; }
    .dj_ModuleGallery .new-module-info .editor {
      display: none; }
      .dj_ModuleGallery .new-module-info .editor input[type=text], .dj_ModuleGallery .new-module-info .editor textarea {
        width: 90%; }
    .dj_ModuleGallery .new-module-info .editor.active {
      display: block; }
    .dj_ModuleGallery .new-module-info fieldset {
      border: 0;
      vertical-align: top; }

