.module-gallery {
  background: #fff;
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
  vertical-align: top;
  min-width: 600px; }
  .module-gallery .heading {
    text-align: center;
    text-decoration: underline;
    margin: 0; }
  .module-gallery ul {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding: 0px; }
  .module-gallery li {
    list-style: none;
    line-height: 35px;
    padding: 0 10px;
    cursor: pointer; }
  .module-gallery li:hover, .module-gallery li.selected {
    font-weight: bold; }
  .module-gallery .new-module-info {
    display: inline-block;
    vertical-align: top;
    width: 60%; }
    .module-gallery .new-module-info .editor {
      display: none; }
    .module-gallery .new-module-info .editor.selected {
      display: block; }
    .module-gallery .new-module-info fieldset {
      border: 0; }
    .module-gallery .new-module-info .actions {
      text-align: center; }

