<% _.each(self.filterItems, function(filterItem, i) { 
    if(filterItem && filterItem.filter && filterItem.filter.length > 0) { %>
        <div>
            <span class="filterLabel"><%= filterItem.filterName %>:</span>
            <% _.each(filterItem.filter, function(filter, j) { %>
                <span class="filter">
                    <span class="label"><%= filter.desc %></span>
                    <span class="icon-close" fIndex="<%= i %>" iIndex="<%= j %>" title="<%= Token("removeFilter")%>"></span>
                </span>
            <% }); %>
            <div class="clear"></div>
        </div>
    <% } %>
<% }); %>
