<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>Stock Kiosk</title>
    <!--<link href="../../../DowJones.Web.Showcase/styles/css/reset.css" type="text/css"
        rel="stylesheet"> -->
    <link href="../../../DowJones.Web.Showcase/styles/css/stockkiosk.css" type="text/css"
        rel="stylesheet">   
</head>
<body>
    <div class="quotes">
        
    </div>

    <div id="container" style="width: 100%; height: 400px"></div>

    <div id="overviewuspage" class="tabpage selected overviewuspage">
    <div class="tickerrow selected" onmouseover="marketoverviewchartChart.ShowChart('US:DJIA')">
							    <a href="/investing/index/DJIA">Dow</a>
						    								
								    <div class="data bgQuote up">
									    <span class="bgChannel">/quotes/zigman/627449</span>
									    <span class="price bgLast">12,856</span>
									    <span class="change bgChange">+150</span>
									    <span class="changepercent bgPercentChange">+1.18%</span>
								    </div>
						    <div class="clear"></div>
					    </div>
	<div class="tickerrow" onmouseover="marketoverviewchartChart.ShowChart('US:COMP')">
			<a href="/investing/index/COMP">Nasdaq</a>
						    								
				<div class="data bgQuote up">
					<span class="bgChannel">/quotes/zigman/123127</span>
					<span class="price bgLast">2,906</span>
					<span class="change bgChange">+46</span>
					<span class="changepercent bgPercentChange">+1.62%</span>
				</div>
		<div class="clear"></div>
	</div>
	<div class="tickerrow" onmouseover="marketoverviewchartChart.ShowChart('US:SPX')">
			<a href="/investing/index/SPX">S&amp;P 500</a>
						    								
				<div class="data bgQuote up">
					<span class="bgChannel">/quotes/zigman/3870025</span>
					<span class="price bgLast">1,343</span>
					<span class="change bgChange">+18</span>
					<span class="changepercent bgPercentChange">+1.34%</span>
				</div>
		<div class="clear"></div>
	</div>
	<div class="tickerrow" onmouseover="marketoverviewchartChart.ShowChart('US:GDOW')">
			<a href="/investing/index/GDOW">GlobalDow</a>
						    								
				<div class="data bgQuote up">
					<span class="bgChannel">/quotes/zigman/629063</span>
					<span class="price bgLast">1,976</span>
					<span class="change bgChange">+25</span>
					<span class="changepercent bgPercentChange">+1.27%</span>
				</div>
		<div class="clear"></div>
	</div>
	<div class="tickerrow" onmouseover="marketoverviewchartChart.ShowChart('US:GC2J')">
			<a href="/investing/future/gold">Gold</a>
						    								
				<div class="data bgQuote down">
					<span class="bgChannel">/quotes/zigman/660065</span>
					<span class="price bgLast">1,743</span>
					<span class="change bgChange">-16</span>
					<span class="changepercent bgPercentChange">-0.92%</span>
				</div>
		<div class="clear"></div>
	</div>
	<div class="tickerrow" onmouseover="marketoverviewchartChart.ShowChart('US:CL2H')">
							    <a href="/investing/future/crude%20oil%20-%20electronic">Oil</a>
						    								
								    <div class="data bgQuote up" data-decimal="2">
									    <span class="bgChannel">/quotes/zigman/2203135</span>
									    <span class="price bgLast">97.20</span>
									    <span class="change bgChange">+0.84</span>
									    <span class="changepercent bgPercentChange">+0.87%</span>
								    </div>
						    <div class="clear"></div>
					    </div>    
    </div>

</body>
<script type="text/javascript" src="../../../DowJones.Web.Mvc/Resources/js/core.js"></script>
<!--<script type="text/javascript" src="../../../DowJones.Web.Mvc/Resources/js/date-utils.js"></script>-->
<script type="text/javascript" src="../../../DowJones.Web.Mvc/Resources/js/highcharts.js"></script>

<script type="text/javascript" src="https://raw.github.com/olado/doT/master/doT.js"></script>
<script type="text/javascript" src="StockMockData.js"></script>
<script type="text/javascript" src="../../../DowJones.Web.Mvc.UI.Components/StockKiosk/StockKiosk.js"></script>

<script type="text/template" id="stockquotes">

    <div class="stock-kiosk-quotes" style="float:left"> 
    <table><thead><tr><th> Symbol </th><th> Price </th><th> Change </th></tr></thead> <tbody>
    <% var data = self.data, quote; 
       for (var i= 0; i< data.length; i++) {  
         quote = data[i];  %>    
            <tr> 
                <td data-quote-id="<%= quote.Name %>"><a href="#" class="quotes-symbol"><%= quote.Code %></a> </td>
                <td class="quotes-price" data-quote-id="<%= quote.Name %>"> <%= quote.PreviousClose.Value %> </td>
                <td class="quotes-change" data-quote-id="<%= quote.Name %>"> <%= quote.PreviousClose.Value %> </td>
            </tr>        
    <% } %>
    </tbody></table>
    </div>

    <div class="dj_stock_chart" style="float:left;margin-left:80px;"></div>
    

</script>

<script type="text/javascript">
    doT.templateSettings = {
        evaluate: /<%([\s\S]+?)%>/g,
        interpolate: /<%=([\s\S]+?)%>/g,
        encode: /<%!([\s\S]+?)%>/g,
        use: /<%#([\s\S]+?)%>/g,
        define: /<%##\s*([\w\.$]+)\s*(\:|=)([\s\S]+?)#%>/g,
        varname: 'self',
        strip: true,
        append: true
    };
</script>
<script type="text/javascript">
    $(function () {
        var stockTemplate = $('#stockquotes').html();        
        $.extend(DJ.UI.StockKiosk.prototype.templates, { stockkiosk: doT.template(stockTemplate) });
        $('div.quotes').dj_StockKiosk({ data: stockquotes, options: 10 });
    });
</script>
</html>