<?xml version="1.0"?>
<configuration>
	<products>
		<product id="RE">
		
			<name>reuters iworks</name>
			
			<clienttype code="M"/>
			<flavor code="F"/>
			<cookies prefix="RE"/>
			
			<accesspoint>
				<service type="global" code="e"/>
				<service type="preferences" code="e"/>
				<service type="clientbilling" code="e"/>
			</accesspoint>
			
			<networkpartnerid value=""/>
			
			<rules>
				<offset value="82" compare="00" operator="!=" />
			</rules>
			
			<encryptedtoken type="session"  enabled="true"/>
			<compatibleproducts></compatibleproducts>
			
			<languages>
				<lang code="en"/>
				<lang code="fr"/>
				<lang code="de"/>
				<lang code="ja"/>
				<lang code="ru"/>
				<lang code="zhcn"/>
				<lang code="zhtw"/>
				<lang code="_${_LA}"/>
				<lang code="templates" default="true"/>
			</languages>
			
			<landingpage type="flogin" enabled="false">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom22/iworks/default.aspx?napc=e&amp;fcpil=en</url>
				<url lang="fr">http://naresh.dev.us.factiva.com/dotcom22/iworks/default.aspx?napc=e&amp;fcpil=fr</url>
				<url lang="de">http://naresh.dev.us.factiva.com/dotcom22/iworks/default.aspx?napc=e&amp;fcpil=de</url>
				<url lang="ja">http://naresh.dev.us.factiva.com/dotcom22/iworks/default.aspx?napc=e&amp;fcpil=ja</url>
				<url lang="ru">http://naresh.dev.us.factiva.com/dotcom22/iworks/default.aspx?napc=e&amp;fcpil=ru</url>
				<url lang="zhcn">http://naresh.dev.us.factiva.com/dotcom22/iworks/default.aspx?napc=e&amp;fcpil=zhcn</url>
				<url lang="zhtw">http://naresh.dev.us.factiva.com/dotcom22/iworks/default.aspx?napc=e&amp;fcpil=zhtw</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom22/iworks/default.aspx?napc=e&amp;fcpil=templates</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom22/iworks/default.aspx?napc=e&amp;fcpil=templates</url>
			</landingpage>
			<landingpage type="nlogin" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom22/iworks/default.aspx?napc=e&amp;fcpil=en</url>
				<url lang="fr">http://naresh.dev.us.factiva.com/dotcom22/iworks/default.aspx?napc=e&amp;fcpil=fr</url>
				<url lang="de">http://naresh.dev.us.factiva.com/dotcom22/iworks/default.aspx?napc=e&amp;fcpil=de</url>
				<url lang="ja">http://naresh.dev.us.factiva.com/dotcom22/iworks/default.aspx?napc=e&amp;fcpil=ja</url>
				<url lang="ru">http://naresh.dev.us.factiva.com/dotcom22/iworks/default.aspx?napc=e&amp;fcpil=ru</url>
				<url lang="zhcn">http://naresh.dev.us.factiva.com/dotcom22/iworks/default.aspx?napc=e&amp;fcpil=zhcn</url>
				<url lang="zhtw">http://naresh.dev.us.factiva.com/dotcom22/iworks/default.aspx?napc=e&amp;fcpil=zhtw</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom22/iworks/default.aspx?napc=e&amp;fcpil=templates</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom22/iworks/default.aspx?napc=e&amp;fcpil=templates</url>
			</landingpage>
			<template type="login" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com:8989/en/cfg/payg_login.asp?tpid=REU</url>
				<url lang="fr">http://naresh.dev.us.factiva.com:8989/fr/cfg/payg_login.asp?tpid=REU</url>
				<url lang="de">http://naresh.dev.us.factiva.com:8989/de/cfg/payg_login.asp?tpid=REU</url>
				<url lang="ja">http://naresh.dev.us.factiva.com:8989/ja/cfg/payg_login.asp?tpid=REU</url>
				<url lang="ru">http://naresh.dev.us.factiva.com:8989/ru/cfg/payg_login.asp?tpid=REU</url>
				<url lang="zhcn">http://naresh.dev.us.factiva.com:8989/zhcn/cfg/payg_login.asp?tpid=REU</url>
				<url lang="zhtw">http://naresh.dev.us.factiva.com:8989/zhtw/cfg/payg_login.asp?tpid=REU</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com:8989/_${_LA}/cfg/payg_login.asp?tpid=REU</url>
				<url lang="templates">http://naresh.dev.us.factiva.com:8989/_${_LA}/cfg/payg_login.asp?tpid=REU</url>
			</template>
			<template type="code_va" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom22/en/cfg/ccode_va.asp?SA_FROM=RE&amp;CCLevel=VA</url>
				<url lang="fr">http://naresh.dev.us.factiva.com/dotcom22/fr/cfg/ccode_va.asp?SA_FROM=RE&amp;CCLevel=VA</url>
				<url lang="de">http://naresh.dev.us.factiva.com/dotcom22/de/cfg/ccode_va.asp?SA_FROM=RE&amp;CCLevel=VA</url>
				<url lang="ja">http://naresh.dev.us.factiva.com/dotcom22/ja/cfg/ccode_va.asp?SA_FROM=RE&amp;CCLevel=VA</url>
				<url lang="ru">http://naresh.dev.us.factiva.com/dotcom22/ru/cfg/ccode_va.asp?SA_FROM=RE&amp;CCLevel=VA</url>
				<url lang="zhcn">http://naresh.dev.us.factiva.com/dotcom22/zhcn/cfg/ccode_va.asp?SA_FROM=RE&amp;CCLevel=VA</url>
				<url lang="zhtw">http://naresh.dev.us.factiva.com/dotcom22/zhtw/cfg/ccode_va.asp?SA_FROM=RE&amp;CCLevel=VA</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/ccode_va.asp?SA_FROM=RE&amp;CCLevel=VA</url> 
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/ccode_va.asp?SA_FROM=RE&amp;CCLevel=VA</url> 
			</template>
			<template type="code_m" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom22/en/cfg/ccode_m.asp?SA_FROM=RE&amp;CCLevel=M</url>
				<url lang="fr">http://naresh.dev.us.factiva.com/dotcom22/fr/cfg/ccode_m.asp?SA_FROM=RE&amp;CCLevel=M</url>
				<url lang="de">http://naresh.dev.us.factiva.com/dotcom22/de/cfg/ccode_m.asp?SA_FROM=RE&amp;CCLevel=M</url>
				<url lang="ja">http://naresh.dev.us.factiva.com/dotcom22/ja/cfg/ccode_m.asp?SA_FROM=RE&amp;CCLevel=M</url>
				<url lang="ru">http://naresh.dev.us.factiva.com/dotcom22/ru/cfg/ccode_m.asp?SA_FROM=RE&amp;CCLevel=M</url>
				<url lang="zhcn">http://naresh.dev.us.factiva.com/dotcom22/zhcn/cfg/ccode_m.asp?SA_FROM=RE&amp;CCLevel=M</url>
				<url lang="zhtw">http://naresh.dev.us.factiva.com/dotcom22/zhtw/cfg/ccode_m.asp?SA_FROM=RE&amp;CCLevel=M</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/ccode_m.asp?SA_FROM=RE&amp;CCLevel=M</url> 
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/ccode_m.asp?SA_FROM=RE&amp;CCLevel=M</url> 
			</template>
			<template type="code_vo" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom22/en/cfg/ccode_m.asp?SA_FROM=RE&amp;CCLevel=VO</url>
				<url lang="fr">http://naresh.dev.us.factiva.com/dotcom22/fr/cfg/ccode_m.asp?SA_FROM=RE&amp;CCLevel=VO</url>
				<url lang="de">http://naresh.dev.us.factiva.com/dotcom22/de/cfg/ccode_m.asp?SA_FROM=RE&amp;CCLevel=VO</url>
				<url lang="ja">http://naresh.dev.us.factiva.com/dotcom22/ja/cfg/ccode_m.asp?SA_FROM=RE&amp;CCLevel=VO</url>
				<url lang="ru">http://naresh.dev.us.factiva.com/dotcom22/ru/cfg/ccode_m.asp?SA_FROM=RE&amp;CCLevel=VO</url>
				<url lang="zhcn">http://naresh.dev.us.factiva.com/dotcom22/zhcn/cfg/ccode_m.asp?SA_FROM=RE&amp;CCLevel=VO</url>
				<url lang="zhtw">http://naresh.dev.us.factiva.com/dotcom22/zhtw/cfg/ccode_m.asp?SA_FROM=RE&amp;CCLevel=VO</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/ccode_m.asp?SA_FROM=RE&amp;CCLevel=VO</url> 
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/ccode_m.asp?SA_FROM=RE&amp;CCLevel=VO</url> 
			</template>
			<template type="loading" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom22/en/cfg/loading.asp</url>
				<url lang="fr">http://naresh.dev.us.factiva.com/dotcom22/fr/cfg/loading.asp</url>
				<url lang="de">http://naresh.dev.us.factiva.com/dotcom22/de/cfg/loading.asp</url>
				<url lang="ja">http://naresh.dev.us.factiva.com/dotcom22/ja/cfg/loading.asp</url>
				<url lang="ru">http://naresh.dev.us.factiva.com/dotcom22/ru/cfg/loading.asp</url>
				<url lang="zhcn">http://naresh.dev.us.factiva.com/dotcom22/zhcn/cfg/loading.asp</url>
				<url lang="zhtw">http://naresh.dev.us.factiva.com/dotcom22/zhtw/cfg/loading.asp</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom22/_${_LA}/cfg/loading.asp</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom22/_${_LA}/cfg/loading.asp</url>
			</template>
			<template type="displayerror" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom22/en/cfg/displayError.asp</url>
				<url lang="fr">http://naresh.dev.us.factiva.com/dotcom22/fr/cfg/displayError.asp</url>
				<url lang="de">http://naresh.dev.us.factiva.com/dotcom22/de/cfg/displayError.asp</url>
				<url lang="ja">http://naresh.dev.us.factiva.com/dotcom22/ja/cfg/displayError.asp</url>
				<url lang="ru">http://naresh.dev.us.factiva.com/dotcom22/ru/cfg/displayError.asp</url>
				<url lang="zhcn">http://naresh.dev.us.factiva.com/dotcom22/zhcn/cfg/displayError.asp</url>
				<url lang="zhtw">http://naresh.dev.us.factiva.com/dotcom22/zhtw/cfg/displayError.asp</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom22/_${_LA}/cfg/displayError.asp</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom22/_${_LA}/cfg/displayError.asp</url>
			</template>
			<template type="letbrowserin" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom22/en/cfg/letBrowserIn.asp</url>
				<url lang="fr">http://naresh.dev.us.factiva.com/dotcom22/fr/cfg/letBrowserIn.asp</url>
				<url lang="de">http://naresh.dev.us.factiva.com/dotcom22/de/cfg/letBrowserIn.asp</url>
				<url lang="ja">http://naresh.dev.us.factiva.com/dotcom22/ja/cfg/letBrowserIn.asp</url>
				<url lang="ru">http://naresh.dev.us.factiva.com/dotcom22/ru/cfg/letBrowserIn.asp</url>
				<url lang="zhcn">http://naresh.dev.us.factiva.com/dotcom22/zhcn/cfg/letBrowserIn.asp</url>
				<url lang="zhtw">http://naresh.dev.us.factiva.com/dotcom22/zhtw/cfg/letBrowserIn.asp</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom22/_${_LA}/cfg/letBrowserIn.asp</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom22/_${_LA}/cfg/letBrowserIn.asp</url>
			</template>
			<template type="reg" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom22/en/cfg/reg.asp</url> 
				<url lang="fr">http://naresh.dev.us.factiva.com/dotcom22/fr/cfg/reg.asp</url> 
				<url lang="de">http://naresh.dev.us.factiva.com/dotcom22/de/cfg/reg.asp</url> 
				<url lang="ja">http://naresh.dev.us.factiva.com/dotcom22/ja/cfg/reg.asp</url> 
				<url lang="ru">http://naresh.dev.us.factiva.com/dotcom22/ru/cfg/reg.asp</url> 
				<url lang="zhcn">http://naresh.dev.us.factiva.com/dotcom22/zhcn/cfg/reg.asp</url> 
				<url lang="zhtw">http://naresh.dev.us.factiva.com/dotcom22/zhtw/cfg/reg.asp</url> 
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/reg.asp</url> 
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/reg.asp</url> 
			</template>
			<!-- After successful.. registration...... -->
			<template type="regmsg" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom22/en/cfg/regMsg.asp</url> 
				<url lang="fr">http://naresh.dev.us.factiva.com/dotcom22/fr/cfg/regMsg.asp</url> 
				<url lang="de">http://naresh.dev.us.factiva.com/dotcom22/de/cfg/regMsg.asp</url> 
				<url lang="ja">http://naresh.dev.us.factiva.com/dotcom22/ja/cfg/regMsg.asp</url> 
				<url lang="ru">http://naresh.dev.us.factiva.com/dotcom22/ru/cfg/regMsg.asp</url> 
				<url lang="zhcn">http://naresh.dev.us.factiva.com/dotcom22/zhcn/cfg/regMsg.asp</url> 
				<url lang="zhtw">http://naresh.dev.us.factiva.com/dotcom22/zhtw/cfg/regMsg.asp</url> 
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/regMsg.asp</url> 
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/regMsg.asp</url> 
			</template>
			<template type="regtermofuse" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom22/en/cfg/subAgreemnt.asp</url> 
				<url lang="fr">http://naresh.dev.us.factiva.com/dotcom22/fr/cfg/subAgreemnt.asp</url> 
				<url lang="de">http://naresh.dev.us.factiva.com/dotcom22/de/cfg/subAgreemnt.asp</url> 
				<url lang="ja">http://naresh.dev.us.factiva.com/dotcom22/ja/cfg/subAgreemnt.asp</url> 
				<url lang="ru">http://naresh.dev.us.factiva.com/dotcom22/ru/cfg/subAgreemnt.asp</url> 
				<url lang="zhcn">http://naresh.dev.us.factiva.com/dotcom22/zhcn/cfg/subAgreemnt.asp</url> 
				<url lang="zhtw">http://naresh.dev.us.factiva.com/dotcom22/zhtw/cfg/subAgreemnt.asp</url> 
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/subAgreemnt.asp</url> 
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/subAgreemnt.asp</url> 
			</template>
			<template type="screentoosmall" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom22/en/cfg/screenTooSmall.asp</url>
				<url lang="fr">http://naresh.dev.us.factiva.com/dotcom22/fr/cfg/screenTooSmall.asp</url>
				<url lang="de">http://naresh.dev.us.factiva.com/dotcom22/de/cfg/screenTooSmall.asp</url>
				<url lang="ja">http://naresh.dev.us.factiva.com/dotcom22/ja/cfg/screenTooSmall.asp</url>
				<url lang="ru">http://naresh.dev.us.factiva.com/dotcom22/ru/cfg/screenTooSmall.asp</url>
				<url lang="zhcn">http://naresh.dev.us.factiva.com/dotcom22/zhcn/cfg/screenTooSmall.asp</url>
				<url lang="zhtw">http://naresh.dev.us.factiva.com/dotcom22/zhtw/cfg/screenTooSmall.asp</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom22/_${_LA}/cfg/screenTooSmall.asp</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom22/_${_LA}/cfg/screenTooSmall.asp</url>
			</template>
			<redirect type="notsupportedbrowser" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom22/en/cfg/notSupportedBrowser.asp</url>
				<url lang="fr">http://naresh.dev.us.factiva.com/dotcom22/fr/cfg/notSupportedBrowser.asp</url>
				<url lang="de">http://naresh.dev.us.factiva.com/dotcom22/de/cfg/notSupportedBrowser.asp</url>
				<url lang="ja">http://naresh.dev.us.factiva.com/dotcom22/ja/cfg/notSupportedBrowser.asp</url>
				<url lang="ru">http://naresh.dev.us.factiva.com/dotcom22/ru/cfg/notSupportedBrowser.asp</url>
				<url lang="zhcn">http://naresh.dev.us.factiva.com/dotcom22/zhcn/cfg/notSupportedBrowser.asp</url>
				<url lang="zhtw">http://naresh.dev.us.factiva.com/dotcom22/zhtw/cfg/notSupportedBrowser.asp</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom22/_${_LA}/cfg/notSupportedBrowser.asp</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom22/_${_LA}/cfg/notSupportedBrowser.asp</url>
			</redirect>
			<template type="terminatesubscription" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom22/en/cfg/terminatesubscription.asp</url>
				<url lang="fr">http://naresh.dev.us.factiva.com/dotcom22/fr/cfg/terminatesubscription.asp</url>
				<url lang="de">http://naresh.dev.us.factiva.com/dotcom22/de/cfg/terminatesubscription.asp</url>
				<url lang="ja">http://naresh.dev.us.factiva.com/dotcom22/ja/cfg/terminatesubscription.asp</url>
				<url lang="ru">http://naresh.dev.us.factiva.com/dotcom22/ru/cfg/terminatesubscription.asp</url>
				<url lang="zhcn">http://naresh.dev.us.factiva.com/dotcom22/zhcn/cfg/terminatesubscription.asp</url>
				<url lang="zhtw">http://naresh.dev.us.factiva.com/dotcom22/zhtw/cfg/terminatesubscription.asp</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/terminatesubscription.asp</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/terminatesubscription.asp</url>
			</template>
			<template type="renewalagreement" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom22/en/cfg/renewalAgreement.asp</url>
				<url lang="fr">http://naresh.dev.us.factiva.com/dotcom22/fr/cfg/renewalAgreement.asp</url>
				<url lang="de">http://naresh.dev.us.factiva.com/dotcom22/de/cfg/renewalAgreement.asp</url>
				<url lang="ja">http://naresh.dev.us.factiva.com/dotcom22/ja/cfg/renewalAgreement.asp</url>
				<url lang="ru">http://naresh.dev.us.factiva.com/dotcom22/ru/cfg/renewalAgreement.asp</url>
				<url lang="zhcn">http://naresh.dev.us.factiva.com/dotcom22/zhcn/cfg/renewalAgreement.asp</url>
				<url lang="zhtw">http://naresh.dev.us.factiva.com/dotcom22/zhtw/cfg/renewalAgreement.asp</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/renewalAgreement.asp</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/renewalAgreement.asp</url>
			</template>
			<template type="postrenewal" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom22/en/cfg/postRenewal.asp</url>
				<url lang="fr">http://naresh.dev.us.factiva.com/dotcom22/fr/cfg/postRenewal.asp</url>
				<url lang="de">http://naresh.dev.us.factiva.com/dotcom22/de/cfg/postRenewal.asp</url>
				<url lang="ja">http://naresh.dev.us.factiva.com/dotcom22/ja/cfg/postRenewal.asp</url>
				<url lang="ru">http://naresh.dev.us.factiva.com/dotcom22/ru/cfg/postRenewal.asp</url>
				<url lang="zhcn">http://naresh.dev.us.factiva.com/dotcom22/zhcn/cfg/postRenewal.asp</url>
				<url lang="zhtw">http://naresh.dev.us.factiva.com/dotcom22/zhtw/cfg/postRenewal.asp</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/postRenewal.asp</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/postRenewal.asp</url>
			</template>
			<template type="psswd_reset1" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom22/en/cfg/pswdReset1.asp</url>
				<url lang="fr">http://naresh.dev.us.factiva.com/dotcom22/fr/cfg/pswdReset1.asp</url>
				<url lang="de">http://naresh.dev.us.factiva.com/dotcom22/de/cfg/pswdReset1.asp</url>
				<url lang="ja">http://naresh.dev.us.factiva.com/dotcom22/ja/cfg/pswdReset1.asp</url>
				<url lang="ru">http://naresh.dev.us.factiva.com/dotcom22/ru/cfg/pswdReset1.asp</url>
				<url lang="zhcn">http://naresh.dev.us.factiva.com/dotcom22/zhcn/cfg/pswdReset1.asp</url>
				<url lang="zhtw">http://naresh.dev.us.factiva.com/dotcom22/zhtw/cfg/pswdReset1.asp</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/pswdReset1.asp</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/pswdReset1.asp</url>
			</template>
			<template type="psswd_reset2" enabled="true">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom22/en/cfg/pswdReset2.asp</url>
				<url lang="fr">http://naresh.dev.us.factiva.com/dotcom22/fr/cfg/pswdReset2.asp</url>
				<url lang="de">http://naresh.dev.us.factiva.com/dotcom22/de/cfg/pswdReset2.asp</url>
				<url lang="ja">http://naresh.dev.us.factiva.com/dotcom22/ja/cfg/pswdReset2.asp</url>
				<url lang="ru">http://naresh.dev.us.factiva.com/dotcom22/ru/cfg/pswdReset2.asp</url>
				<url lang="zhcn">http://naresh.dev.us.factiva.com/dotcom22/zhcn/cfg/pswdReset2.asp</url>
				<url lang="zhtw">http://naresh.dev.us.factiva.com/dotcom22/zhtw/cfg/pswdReset2.asp</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/pswdReset2.asp</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/pswdReset2.asp</url>
			</template>
			<data for="jumppage">
				<url lang="en">http://naresh.dev.us.factiva.com/dotcom22/en/cfg/jumppage.asp?billpack=REUT</url>
				<url lang="fr">http://naresh.dev.us.factiva.com/dotcom22/fr/cfg/jumppage.asp?billpack=REUT</url>
				<url lang="de">http://naresh.dev.us.factiva.com/dotcom22/de/cfg/jumppage.asp?billpack=REUT</url>
				<url lang="ja">http://naresh.dev.us.factiva.com/dotcom22/ja/cfg/jumppage.asp?billpack=REUT</url>
				<url lang="ru">http://naresh.dev.us.factiva.com/dotcom22/ru/cfg/jumppage.asp?billpack=REUT</url>
				<url lang="zhcn">http://naresh.dev.us.factiva.com/dotcom22/zhcn/cfg/jumppage.asp?billpack=REUT</url>
				<url lang="zhtw">http://naresh.dev.us.factiva.com/dotcom22/zhtw/cfg/jumppage.asp?billpack=REUT</url>
				<url lang="_${_LA}">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/jumppage.asp?billpack=REUT</url>
				<url lang="templates">http://naresh.dev.us.factiva.com/dotcom22/templates/cfg/jumppage.asp?billpack=REUT</url>
			</data>
			<redirect type="logout" enabled="true"></redirect>
			<browsercaps>
				<use var="HTTP_USER_AGENT"/>
				<keys>
					<key name="platform" value="Unknown" />
					<key name="browser" value="Unknown" />
					<key name="version" value="0.0" />
					<key name="majorversion" value="0" />
					<key name="minorversion" value="0" />
					<key name="beta" value="false" />
					<key name="win16" value="false" />
					<key name="win32" value="false" />
					<key name="supportedPlatform" value="true" />
					<key name="supportedBrowser" value="true" />
					<key name="letBrowserIn" value="true" />
				</keys>
			</browsercaps>
		</product>
	</products>
</configuration>