.drop-down-button
{
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    border-radius: 9px;
    -moz-border-radius: 9px;
    background: #9FC65B;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#AAD362), to(#7AAC31));
    background: -moz-linear-gradient(top,  #aad362,  #7aac31);
    border: 1px solid #7AAC31;
            
    }
.drop-down-button>a
,.drop-down-list>a
{
    color: #fff;   
    }    
.drop-down-button .options
,.drop-down-list .options
{   
    border:1px solid #EEEEEE;
    background-color:#FFFFFF;
    text-align:right;
    -webkit-border-radius:10px 0 10px 10px;
    -moz-border-radius:10px 0 10px 10px;
    border-radius:10px 0 10px 10px;
    -webkit-box-shadow:#666666 0 3px 15px;
    -moz-box-shadow:#666666 0 3px 15px;
    box-shadow:#666666 0 3px 15px;
}
.drop-down-button .item
,.drop-down-list .item { 
            
    border-bottom:1px solid #EEEEEE;
}
.drop-down-button .item.divided
,.drop-down-list .item.divided {
    border-top:2px solid #9FC65B;
}
.drop-down-button .item.selected
,.drop-down-list .item.selected {
    background-color:transparent;
    background-image:url(arrow_right_grey.png);
    background-position:center left;
    background-repeat:no-repeat;
}
.controls .drop-down-button .item
,.controls .drop-down-list .item {            
    border-bottom:1px solid #EEEEEE;
}
.drop-down-button .item.divided
,.drop-down-list .item.divided {
    border-top:2px solid #9FC65B;
}
.drop-down-button .item.selected
,.drop-down-list .item.selected {
    background-color:transparent;
    background-image:url(arrow_right_grey.png);
    background-position:center left;
    background-repeat:no-repeat;
}
.drop-down-button .item:hover
,.drop-down-button .item.selected:hover
,.drop-down-list .item:hover
,.drop-down-list .item.selected:hover {
    background-color:#FFFF00;
}
.drop-down-button>.sort-options .item:last-child
,.drop-down-list>.sort-options .item:last-child {
    border-bottom:none;
}
