<% 
	var options = this.options,
		x = self,
		selected = (x.reference.guid === options.selectedGuid) ? ' selected': '',
		showSource = options.showSource && x.sourceCode && x.sourceDescriptor,
		showPublicationDateTime = options.showPublicationDateTime && x.publicationDateTimeDescriptor,
		showAuthor = options.showAuthor && x.authors && x.authors.length > 0,
		title = (options.showTruncatedTitle && $.trim(x.truncatedTitle)) || x.title,
		headlineUrl = (x.headlineUrl && $.trim(x.headlineUrl)) || "javascript:void(0)",
		showWordCount = options.showWordCount && x.wordCountDescriptor,
		multimediaMode = options.multimediaMode && (x.contentCategoryDescriptor && x.contentCategoryDescriptor === 'multimedia');
%>

<li class="dj_entry<%=selected %> <%=x.contentCategoryDescriptor%> <%=x.contentSubCategoryDescriptor%> dj_<%=x.baseLanguage%>">
	<div class="article-wrap">
		<h4 class="article-headline">
			<a href="<%= headlineUrl %>" class="article-view-trigger">
				<%= title %></a>
		</h4>
		<% if (showSource || showPublicationDateTime || showWordCount) { %>
		<div class="article-meta">
			<% if (showSource && x.sourceDescriptor) { 
			if (options.sourceClickable) { %>
			<span class="article-source source-clickable" rel="<%= x.sourceCode %>"><%= x.sourceDescriptor %></span><br />
			<% } else { %>
			<span class="article-source"><%= x.sourceDescriptor %></span><br />
			<% } %>
			<% } 
			if (showPublicationDateTime && x.publicationDateTimeDescriptor) { %>
			<span class="date-stamp"><%= x.publicationDateTimeDescriptor %></span><br/>
		    <% } %>
		    <%
            if (showWordCount && x.wordCountDescriptor) { %>
			<span class="words"><%= x.wordCountDescriptor %></span>
			<% } %>
		</div>
		<% } 
		if (showAuthor) { %>
		<div class="article-meta">
			<% 
			if ( options.authorClickable && x.codedAuthors) {
				for (var j = 0, jCnt = x.codedAuthors.length; j < jCnt ; j++) {
					var author = x.codedAuthors[j]; 
					for (var k = 0, kCnt = author.items.length; k < kCnt ; k++) { 
		                var item = author.items[k];
                        if (item.value) {
						    switch(item.entityTypeDescriptor.toLowerCase()) {
							    case "person":
							    case "author": %>
								    <span class="article-author article-clickable" rel="<%= item.guid %>"><%= item.value %></span>
								    <%  break;
							    case "textual":
							    default: %>
								    <span class="article-author"><%= item.value %></span>
								    <%  break;
		                    }
                        }
					}       
				} 
			} 
			else { 
                var authors = x.authors ? x.authors.join(', ') : '';
                if (authors) {
                %>
                <span class="author"><%= x.authors.join(', ') %></span>
                <% 
                }
            } %>
		</div>
		<% } 
	/* if we have a snippet and mode is anything but none, render the first snippet only if mode is hybrid; else render all snippets if mode is inline --> */ 
		if (x.snippets && (options.displaySnippets === 1 || (options.displaySnippets === 2 && i === 0))) { 
			for (var j = 0, cnt = x.snippets.length; j < cnt; j++) { %>
			<p class="article-snip">
				<span class="dj_text" rel=""><%= x.snippets[j] %></span>
			</p>
			<%  } 
	    } %>
        
	    <% if(options.showFlag && x.flag) { %>
	    <div class="article-flag">
	        <span class="dj_text"><%= x.flag %></span>
	    </div>
	    <% } %>
        
	    <% if(options.showComment && x.comment) { %>
	    <div class="article-comment">
	        <span class="dj_text"><%= x.comment %></span>
	    </div>
	    <% } %>

	    <% if (multimediaMode) { %>
			<div class="article-meta">
				<span class="fi fi_<%= x.contentSubCategoryDescriptor %>"></span>
				<span class="media-length">[<%= x.mediaLength %>]</span>
			</div>
		<% } %>
	</div>
</li>