.ui-sortable { padding-bottom:2px; padding-top:3px; }
.ui-sortable-state-default {
	background:#FFF repeat-x;
	border:1px solid #CCC;
	color:#000;
	cursor:move;
	font-weight: normal;
	margin: 2px 0px 2px 0px;
	_position:relative;
	text-align: left;
	width:80%;
}
.ui-sortable-state-disabled
{
	background:#EFEFEF repeat-x;
	border:1px solid #CCC;
	color:#000;
	cursor:move;
	font-weight: normal;
	filter:alpha(opacity=25);
	opacity:0.25;
	margin: 2px 0px 2px 0px;
	_position:relative;
	text-align: left;
	width: 80%;
}
.ui-sortable-placeholder
{
	background:#EEEEEE repeat-x;
	border:1px solid #CCC;
	color:#000;
	font-weight: normal;
	margin: 2px 0px 2px 0px;
}
.ui-sortable-text
{
	color: #666666;
	_float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:normal;
	line-height:1.25;
	margin-left:20px;
	*margin-left:14px;
	padding:3px;
	*padding:2px;
	top:0px;
	width: auto;
}
.ui-sortable-checkbox 
{ 
	cursor:default; 
	_float:left;
	margin-left:2px; 
	margin-right:2px; 
	position:relative;
	top:4px;
	*top:0;
	width:auto;
}