<%  var item = self.item, 
        pName= self.propName, 
        settings= self.settings, 
        defaults = self.defaults, 
        f = self.f, 
        text = (settings.displayTicker) ? f.getTicker(item) : item.CompanyName,
        company = item.CompanyName;
%>

<ul class="djWidgetItem djContentItemFixed item">
    <%  for (var i = 0, len = item.NewsEntities.length; i < len; i++) {
        var cell = item.NewsEntities[i],
        category = cell.RadarSearchQuery.name,
        growthRate = (Math.round(cell.growthRate * 100, 2)) / 100;
    %>
    <li class="djMatrixItemNode" data-propname="<%= pName %>" data-index="<%= i %>" 
        title="<%= company %> - <%= category %> (<%= growthRate %>)" href="javascript:void(0)">
        <div class="djMatrixItemBox djMatrixItemBox<%= cell.growthCode %>" data-grc="<%= cell.growthCode %>"
            data-p1d="<%= cell.oneDayCount %>" data-p3m="<%= cell.threeMonthCount %>"
            data-a3m="<%= cell.threeMonthAvg %>" data-grv="<%= cell.growthRate %>">
        </div>
    </li>
	<% } %>
</ul>