<% var model = self, bar, i, len, percent, broswerLogo; %>
<ul class="dj-perfGaugeItems">
    <li class="dj-trafficBar">
        <div>Visitors</div>
        <div>Page Load Time</div>
    </li>
    <% for(i = 0, len = Math.min(model.length, 5); i < len; i++) { 
        bar = model[i]; 
        percent = Math.round((bar.timing * 100) / 210);
        broswerLogo = bar.browser === 'internetexplorer' ? 'ie' + bar.browserVersion : bar.browser;
        showVersion = (bar.browser === 'internetexplorer' || (bar.browser === 'firefox' && bar.browserVersion < 4)) ? true : false;

    %>
    <li class="dj-trafficBar">
        <span class="visitors"><%= bar.visitors %></span>
        <div class="browser"><i class="dj-logo-<%= broswerLogo %>"></i></div>
        <div class="bar <%= bar.temperature %>">
            <div class="gauge" style="width: <%= percent %>%">&nbsp;</div>
            <%= bar.timing %>ms
        </div>
        <% if(showVersion) %>
        <div class="browserVersion"><%= bar.browserVersion %></div>
    </li>
    <% } %>
</ul>
