<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>

      <transaction key="Factiva.Gateway.Messages.Analyze.V1_0:AnalyzeSynch">
        <name>urn:dowjones:emg:an:v1_0/analyze:AnalyzeSynch</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dowjones:emg:analyze:v1_0/AnalyzeSynch</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Analyze\Request\AnalyzeSynchRequest.xml</fileSave>
          <fileOpen>stubs\Analyze\Response\AnalyzeSynchResponse.xml</fileOpen>
        </transport>-->
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Analyze.V1_0:AnalyzeAsynch">
        <name>urn:dowjones:emg:an:v1_0/analyze:AnalyzeAsynch</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dowjones:emg:analyze:v1_0/AnalyzeAsynch</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Analyze\Request\AnalyzeAsynchRequest.xml</fileSave>
          <fileOpen>stubs\Analyze\Response\AnalyzeAsynchResponse.xml</fileOpen>
        </transport>-->
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Analyze.V1_0:FetchAsynch">
        <name>urn:dowjones:emg:an:v1_0/analyze:FetchAsynch</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dowjones:emg:analyze:v1_0/FetchAsynch</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Analyze\Request\FetchAsynchRequest.xml</fileSave>
          <fileOpen>stubs\Analyze\Response\FetchAsynchResponse.xml</fileOpen>
        </transport>-->
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Analyze.V1_0:Register">
        <name>urn:dowjones:emg:an:v1_0/analyze:Register</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dowjones:emg:analyze:v1_0/Register</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Analyze\Request\RegisterRequest.xml</fileSave>
          <fileOpen>stubs\Analyze\Response\RegisterResponse.xml</fileOpen>
        </transport>-->
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Analyze.V1_0:AnalyzeSynchWithTags">
        <name>urn:dowjones:emg:an:v1_0/analyze:AnalyzeSynchWithTags</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dowjones:emg:analyze:v1_0/AnalyzeSynchWithTags</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Analyze\Request\AnalyzeSynchWithTagsRequest.xml</fileSave>
          <fileOpen>stubs\Analyze\Response\AnalyzeSynchWithTagsResponse.xml</fileOpen>
        </transport>-->
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Analyze.V1_0:Unregister">
        <name>urn:dowjones:emg:an:v1_0/analyze:Unregister</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dowjones:emg:analyze:v1_0/Unregister</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Analyze\Request\UnregisterRequest.xml</fileSave>
          <fileOpen>stubs\Analyze\Response\UnregisterResponse.xml</fileOpen>
        </transport>-->
      </transaction>


    </transactionSettings>
  </ServiceSettings>
</configuration>