@model MapperDebuggerViewModel
@using System.Web.Mvc.Html
<html>
<head>
    <title>Mapper Debugger</title>
    <style type='text/css'>
        table  
        {
            border-collapse: collapse;
        }
        
        td
        {
            font: 10pt Arial;
            border: solid 1px black;
            padding: 3px; 
        }
        
        .hilite 
        {
            background-color: lightgreen;
        }
    </style>
</head>
<body>
    <h1>Mapper Debugger</h1>
    <div>
        <p>Total Mappers:  @Model.TypeMapperCount</p>
    </div>
    <table>
        <caption>Registered Mappers</caption>
        <thead>
            <tr>
                <th>Source Type</th>
                <th>Mapper</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mapper in Model.TypeMapperFactories) {
                <tr>
                    <td>@mapper.SourceTypeName</td>
                    <td>@mapper.MapperName</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
