@model DowJones.Factiva.Currents.Components.CurrentRegionalMap.CurrentRegionalMapModel
@ClientPlugin dj_CurrentRegionalMap
@ScriptResource RelativeResourceName=CurrentRegionalMap.js, DependsOn=world-map-shapes;highcharts
@{ CssClass = "dj_CurrentRegionalMap"; }

<div class="mapContainer"></div>