@using DowJones.Web.Mvc.Extensions
@using DowJones.Extensions
@using DowJones.Web.Mvc.UI.Components.PortalHeadlineList
@using DowJones.Web.Mvc.UI.Canvas
@inherits AbstractCanvasModule<DowJones.Web.Showcase.Models.PortalHeadlineLists>
@ClientPlugin dj_PortalHeadlineLists
@ScriptResource RelativeResourceName=PortalHeadlineLists.js, DependsOn=AbstractCanvasModule
@section ContentArea {
    <div class="module-content-page">
        <div class="module-row article-row clearfix">
            @foreach (var phl in Model.PortalHeadlines)
            {
            
                <div class="module-col one-third">
                    <div class="module-col-wrap standard-padding">
                        <div class="dj_viewAllErr">@Html.DJ().Token("viewAllErrMessage")</div>
                        <h3 class="module-col-title module-col-title-source-icon">
                            <img class="module-col-title-source-img" alt="">
                            <span class="module-col-title-source-icon-text"></span>
                        </h3>
                        @(CreateChildControl<PortalHeadlineListControl>(phl))
                        <ul class="dc_list view-all-btn">
                            <li class="dc_item"><a href="javascript:void(0);" class="dashboard-control dc_btn dc_btn-1">@Html.DJ().Token("viewAll")</a>
                            </li>
                        </ul>
                    </div>
                </div>
           
            }
        </div>
    </div>
}
@section EditArea {
}
