/*

	-- -- -- -- -- -- --
	Description: Styles for various buttons used within modules
	Version: 0.1
	Last Update: 11/12/2010
	Author: Ron Edgecomb II, Philippe Arcand, and Pete McGrath
	Company: Dow Jones & Company Inc.
	Copyright 2010 Dow Jones & Company Inc.

	
	Dependencies
	 - css/reset.css
	 - css/global.css
	-- -- -- -- -- -- --
	
*/

/* =Dashboard Controls >> Global Style Rules
----------------------------------------------------------------------------------------------------*/

.dc_list {
	height: 20px;
	display: -moz-inline-stack; /* required for ff2 */
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
}
	.dc_list-fl {
		float: left;
	}
	.dc_list-fr {
		float: right;
	}

.dc_list .dc_item {
	height: 20px;
	display: -moz-inline-stack; /* required for ff2 */
	display: inline-block;
	vertical-align: top;
	float: left;
	position:relative;
	text-transform: uppercase;
	margin:0 8px 0 0;
	cursor:pointer;
}
	.dc_list-fr .dc_item {
		margin:0 0 0 8px;
	}

.dc_list .dc_item .dashboard-control {
	height: 20px;
	display: -moz-inline-stack; /* required for ff2 */
	display: inline-block;
	vertical-align: top;
	color: #a3a3a3;
	font-size: 85%; /* 11px */
	line-height: 20px;
	text-decoration: none;
}

/* =Dashboard Controls >> Button styles
----------------------------------------------------------------------------------------------------*/
/*Button Default*/
.dc_list .dc_item .dc_btn {
    width: auto;
	height: 20px;
	display: inline-block;
	padding: 0 8px;
    margin: 0;
	line-height: 20px;
	color: #fff;
	text-transform: uppercase;
    overflow: visible;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	border: 0;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
}
	
	/*IE*/
	.ie6 .dc_list .dc_item input.dc_btn,
	.ie7 .dc_list .dc_item .dc_btn,
	.ie8 .dc_list .dc_item .dc_btn {
		height:18px;
		line-height:18px;
	}
	
/* =Dashboard Controls >> Green Button styles
----------------------------------------------------------------------------------------------------*/

.dc_list .dc_item .dc_btn-1 {
	background:#9fc65b;
}
	/*Safari Opera Chrome*/
	.dc_list .dc_item .dc_btn-1 {
		background: -webkit-gradient(linear, left top, left bottom, from(#aad362), to(#7aac31));
	}
	
	/*FireFox*/
	.dc_list .dc_item .dc_btn-1 {
		background: -moz-linear-gradient(top,  #aad362,  #7aac31);
	}
	
	/*IE*/
	.ie6 .dc_list .dc_item .dc_btn-1,
	.ie7 .dc_list .dc_item .dc_btn-1,
	.ie8 .dc_list .dc_item .dc_btn-1 {
		border:1px solid #7aac31;
	}
	
/*Green Button Hover*/
.dc_list .dc_item .dc_btn-1:hover {
	background:#7aac31;
}
	
/* =Dashboard Controls >> Blue Button styles
----------------------------------------------------------------------------------------------------*/

.dc_list .dc_item .dc_btn-2 {
	background:#5aabc9;
}
	/*Safari Opera Chrome*/
	.dc_list .dc_item .dc_btn-2 {
		background: -webkit-gradient(linear, left top, left bottom, from(#5aabc9), to(#4397bb));
	}
	
	/*FireFox*/
	.dc_list .dc_item .dc_btn-2 {
		background: -moz-linear-gradient(top,  #5aabc9,  #4397bb);
	}
	
	/*IE*/
	.ie6 .dc_list .dc_item .dc_btn-1,
	.ie7 .dc_list .dc_item .dc_btn-1,
	.ie8 .dc_list .dc_item .dc_btn-1 {
		border:1px solid #4397bb;
	}
	
/*Green Button Hover*/
.dc_list .dc_item .dc_btn-2:hover {
	background:#4397bb;
}
	
/* =Dashboard Controls >> Gray Button styles
----------------------------------------------------------------------------------------------------*/

.dc_list .dc_item .dc_btn-3 {
	color:#666;
	background-color:#fcfcfc;
}
	/*Safari Opera Chrome*/
	.dc_list .dc_item .dc_btn-3 {
		background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#ebebeb));
	}
	
	/*FireFox*/
	.dc_list .dc_item .dc_btn-3 {
		background: -moz-linear-gradient(top,  #fcfcfc,  #ebebeb);
	}
	
	/*IE*/
	.ie6 .dc_list .dc_item .dc_btn-3,
	.ie7 .dc_list .dc_item .dc_btn-3,
	.ie8 .dc_list .dc_item .dc_btn-3 {
		border:0;
	}
	
/*Gray Button Hover*/
.dc_list .dc_item .dc_btn-3:hover {
	background:#ebebeb;
}
	
