/*

	-- -- -- -- -- -- --
	Description: Article module Column Style Rules
	Version: 0.1
	Last Update: 11/17/2010
	Author: Ron Edgecomb II
	Company: Dow Jones & Company Inc.
	Copyright 2010 Dow Jones & Company Inc.
	
	Dependencies
	 - css/reset.css
	 - css/lib/modules.css
	-- -- -- -- -- -- --
	
*/

/* =Article Column >> General module rules
----------------------------------------------------------------------------------------------------*/
.article-col .article-content {
	margin: 0 19px;
}

.article-col .article-content p {
	font-size: 93%; /* 12px */
	margin-bottom: 1em;
}

.article-col .topic-highlight {
	display: -moz-inline-stack; /* required for ff2 */
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	background: #daeff7;
}

