<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Factiva.BusinessLayerLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Factiva.BusinessLayerLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Factiva.BusinessLayerLogic.Properties.Settings>
            <setting name="FactivaBusinessLayerLogic_fvs_SourceListService"
                serializeAs="String">
                <value>http://vista.dev.us.factiva.com/fvswebservice24/SourceListService/Default.asmx</value>
            </setting>
            <setting name="ByPassSessionServerCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseWebEnhancements" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FactivaBusinessLayerLogic_Suggest_FactivaSuggests"
                serializeAs="String">
                <value>http://suggest.int.factiva.com/FactivaSuggests.asmx</value>
            </setting>
            <setting name="MaximumNumberOfWigetsAllowed" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DefaultNumberOfHeadlinesPerWidget" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MaximumNumberOfEditorsWigetsAllowed" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MinNumberOfHeadlinesPerWidget" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxNumberOfHeadlinesPerWidget" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultSearchSortOrder" serializeAs="String">
                <value>RelevanceHighFreshness</value>
            </setting>
            <setting name="DefaultTrackSortOrder" serializeAs="String">
                <value>ArrivalTime</value>
            </setting>
            <setting name="FreeTextSearchMode" serializeAs="String">
                <value>simple</value>
            </setting>
            <setting name="UseSearchLemmatization" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSearchRestrictors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchRestrictorsScope" serializeAs="String">
                <value>ns</value>
            </setting>
            <setting name="SearchRestrictors" serializeAs="String">
                <value>niwe</value>
            </setting>
            <setting name="ReturnSearchNavigatorBucketDescriptors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ByPassFactivaCacheServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ContentCategoriesMapperFile" serializeAs="String">
                <value>~/data/pnpdata/ContentCategoryList.xml</value>
            </setting>
            <setting name="GrpToSrcsMapperFile" serializeAs="String">
                <value>~/data/pnpdata/GrpID-SrcMap.csv</value>
            </setting>
            <setting name="BaseSourceCacheLanguages" serializeAs="String">
                <value>EN,FR,ES,DE,RU,ZHTW,ZHCN</value>
            </setting>
            <setting name="BaseCacheLanguages" serializeAs="String">
                <value>EN,FR,ES,DE,RU,ZHTW,ZHCN</value>
            </setting>
            <setting name="NewStandSourcesLogosFolderVirtualPath" serializeAs="String">
                <value>~/img/logos/</value>
            </setting>
            <setting name="IPToGrpMapperFile" serializeAs="String">
                <value>~/data/pnpdata/Ip-To-GrpIDMap.csv</value>
            </setting>
            <setting name="FactivaCacheExpiryInMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="FactivaBusinessLayerLogic_Deduplication_DedupWebService"
                serializeAs="String">
                <value>http://fdevdedup1:48080/DedupWeb/services/DedupWebSoap</value>
            </setting>
            <setting name="EncKeyForERCredentials" serializeAs="String">
                <value>3x4e10e4</value>
            </setting>
            <setting name="ExReaderValidationMailUrl" serializeAs="String">
                <value>http://mobile.dev.us.factiva.com/redir/default.aspx?p=erv&amp;f=s</value>
            </setting>
            <setting name="PreservedActionForNewsletters" serializeAs="String">
                <value>http://mobile.dev.factiva.com/redir/default.aspx?P=er&amp;AN={0}&amp;CAT={1}&amp;EP={2}&amp;v=1.0&amp;napc={3}&amp;f=s&amp;ERC={4}&amp;MI={5}&amp;OD={6}</value>
            </setting>
            <setting name="Default_Access_Point_Code" serializeAs="String">
                <value>p</value>
            </setting>
        </Factiva.BusinessLayerLogic.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Factiva.BusinessLayerLogic.Properties.Settings>
            <setting name="Default_Client_Code_Type" serializeAs="String">
                <value>D</value>
            </setting>
        </Factiva.BusinessLayerLogic.Properties.Settings>
    </userSettings>
</configuration>