@model DowJones.Factiva.Currents.Website.Models.Headlines

@{
    ViewBag.Title = "Headlines";
}

<section id="headlines">
    @Html.DJ().Render(Model.CurrentsHeadline)
</section>

@*<p>
	This page will show article for "@ViewBag.Title" having accession number: {@ViewBag.AccessionNumber}
	published on @ViewBag.PublicationDate.ToString("D").
</p>*@
<hr />
