<% var index = 0; %>

    <li class="jcarousel-item jcarousel-item-vertical jcarousel-item-<%= index %> jcarousel-item-<%= index %>-vertical" jcarouselindex="<%= index %>">
        <div class="headline-container-vertical">

            <% /* Image */ %>
            <div class="headline-image-container-vertical">
                <a href="<%= ThumbnailHref %>">
                    <img class="image" src="<%= ThumbnailSourceUri %>" />
                </a>
            </div>

            <% /* Title */ %>
            <div class="headline-title-container-vertical">
                <a href="<%= ExternalUri %>"
                   class="link <% if(DisplaySnippets === "hover") { %> dj_simpleTooltip <% } %>"
                >
                    <% _.each(TitleItems, function(item) { %>
                        <span><%= item %></span><span />
                    <% }); %>
                </a>
            </div>

            <% /* Time */ %>
            <div class="headline-time-container-vertical" 
                <% if(!DisplayTime) { %> style="display: none" <% } %>
            >
                <span class="time"><%= Time %></span>
            </div>

            <% /* Extension */ %>
            <div class="headline-extension-container-vertical" 
                <% if(!DisplayExtensions) { %> style="display: none" <% } %>
            >
                <span class="extension"><%= Extension %></span>
            </div>

            <% /* Snippet */ %>
            <% if(DisplaySnippets == "inline") { %>
                <div class="headline-snippet-container-vertical-inline">
                
                    <% _.each(Snippets, function(snippet) { %>
                        <p class="snippet">
                            <% _.each(snippet, function(item) { %>
                                <span><%= item %></span><span />
                            <% }); %>
                        </p>
                    <% }); %>

                </div>
            <% } %>

        </div>
    </li>
