<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
	</configSections>
	<ServiceSettings>
		<transactionSettings>
			<transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetWebArticleUrl">
				<name>ARCH_GET_URL</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\archive\GetArticleUrl.xslt</param>
							<param name="category">webpage</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\archive\GetArticleUrlResponse.xslt</param>
							<param name="category">webpage</param>
						</filter>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
			</transaction>

			<transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetMultimediaArticleUrl">
				<name>ARCH_GET_URL</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\archive\GetArticleUrl.xslt</param>
							<param name="category">multimedia</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\archive\GetArticleUrlResponse.xslt</param>
							<param name="category">multimedia</param>
						</filter>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
			</transaction>


			<transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetArticle">
				<name>ARCH_GET_ARTICLE</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\archive\GetArticleResponse.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
			</transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetRawArticle">
        <name>ARCH_GET_ARTICLE</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetRawArticleResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetAutoCodeXmlMessage">
      <name>ARCH_GET_ARTICLE</name>
      <request>
        <messageFormat>XMLSTRING</messageFormat>
      </request>
      <response>
        <messageFormat>XMLSTRING</messageFormat>
        <filters>
          <filter type="XSLTRANSFORM">
            <param name="fileName">xslt\archive\GetAutoCodeXmlMessageResponse.xslt</param>
          </filter>
        </filters>
      </response>
      <transport type="RTS"/>
      </transaction>

			<transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetBinary">
				<name>ARCH_GET_PRO</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>BINARY</messageFormat>
				</response>
				<transport type="RTS"/>
			</transaction>

		</transactionSettings>
	</ServiceSettings>
</configuration>
