<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.RoleBasedPlatform.TrackCoding.V1_0:CreateFolder">
        <name>TRK_CODING_FOLDER_MGMT</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\CreateFolderResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.RoleBasedPlatform.TrackCoding.V1_0:ReviseFolder">
        <name>TRK_CODING_FOLDER_MGMT</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\ReviseFolderResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.RoleBasedPlatform.TrackCoding.V1_0:DeleteFolder">
        <name>TRK_CODING_FOLDER_MGMT</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\DeleteFolderResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.RoleBasedPlatform.TrackCoding.V1_0:GetFolder">
        <name>TRK_CODING_FOLDER_MGMT</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\GetFolderResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
    </transactionSettings>
  </ServiceSettings>
</configuration>
