<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <!-- START TRACK TRANSACTIONS-->
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:ShareFolder">
        <name>TRACK_FOLDER_ACCESS</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\ChangeFolderAccessLevelRequest.xslt</param>
              <param name="scope">everyone</param>
              <!-- request will send in sharescope.e. this is not used-->
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\ChangeFolderAccessLevelResponse.xslt</param>
              <param name="shareOrunshare">share</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:UnShareFolder">
        <name>TRACK_FOLDER_ACCESS</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\ChangeFolderAccessLevelRequest.xslt</param>
              <param name="scope">personal</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\ChangeFolderAccessLevelResponse.xslt</param>
              <param name="shareOrunshare">unshare</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:ReviseSubscribedFolder">
        <name>TRACK_FOLDER_SUBSCRIPTION</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\SubscriptionRequest.xslt</param>
              <param name="subscribeOrunsubscribe">revise</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\SubscriptionResponse.xslt</param>
              <param name="subscribeOrunsubscribe">revise</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:SubscribeFolder">
        <name>TRACK_FOLDER_SUBSCRIPTION</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\SubscriptionRequest.xslt</param>
              <param name="subscribeOrunsubscribe">subscribe</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\SubscriptionResponse.xslt</param>
              <param name="subscribeOrunsubscribe">subscribe</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:UnSubscribeFolder">
        <name>TRACK_FOLDER_SUBSCRIPTION</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\SubscriptionRequest.xslt</param>
              <param name="subscribeOrunsubscribe">unsubscribe</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\SubscriptionResponse.xslt</param>
              <param name="subscribeOrunsubscribe">unsubscribe</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:GetFolderList">
        <name>CLIP_OLH_FOLDER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\GetFolderList.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\GetFolderListResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:GetMultipleFolderHeadlines">
        <name>CLIP_OLH_HEADLINE</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\GetFolderHeadlinesResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:GetFolderHeadlines">
        <name>CLIP_OLH_HEADLINE</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\GetFolderHeadlinesResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:CreateFolder">
        <name>CLIP_CTP_FOLDER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\CreateFolderResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:DeleteFolder">
        <name>CLIP_CTP_FOLDER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\DeleteFolderResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:GetFolder">
        <name>CLIP_CTP_FOLDER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\GetFolderResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:ReviseFolder">
        <name>CLIP_CTP_FOLDER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\ReviseFolderResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:GetFolderListNoCommerceEnvelope">
        <name>CLIP_CTP_GET_FOLDERLIST</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\GetFolderListResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:SetFolderShareProperties">
        <name>TRACK_FOLDER_ACCESS</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\ChangeFolderAccessLevelRequest.xslt</param>
              <param name="scope">account</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\ChangeFolderAccessLevelResponse.xslt</param>
              <param name="shareOrunshare">unshare</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:GetAlertHeadlinesForRss">
        <name>CLIP_OLH_RSS_HEADLINE</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Track\GetFolderHeadlinesResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
    </transactionSettings>
    
   
  </ServiceSettings>
</configuration>
