<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>

      <transaction key="Factiva.Gateway.Messages.Symbology.Taxonomy.V1_0:GetTaxonomyListInfo">
        <name>GetTaxonomyListInfo_GW</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/GetTaxonomyListInfo</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <!--<filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\symbology\GetTaxonomyListInfoResponse.xslt</param>
            </filter>
          </filters>-->
        </response>
        <transport type="RTS"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Symbology.Taxonomy.V1_0:GetTaxonomyList">
        <name>GetTaxonomyList_GW</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/GetTaxonomyList</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <!--<filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\symbology\GetTaxonomyListResponse.xslt</param>
            </filter>
          </filters>-->
        </response>
        <transport type="RTS"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Symbology.Taxonomy.V1_0:GetTaxonomyCodes">
        <name>GetTaxonomyCodes_GW</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/GetTaxonomyCodes</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <!--<filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\symbology\GetTaxonomyCodesResponse.xslt</param>
            </filter>
          </filters>-->
        </response>
        <transport type="RTS"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Symbology.Taxonomy.V1_0:GetTaxonomyCodeChild">
        <name>GetTaxonomyCodeChild_GW</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/GetTaxonomyCodeChild</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <!--<filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\symbology\GetTaxonomyCodeChildResponse.xslt</param>
            </filter>
          </filters>-->
        </response>
        <transport type="RTS"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Symbology.Taxonomy.V1_0:PerformTaxCodeSrch">
        <name>PerformTaxCodeSrch_GW</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/PerformTaxCodeSrch</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <!--<filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\symbology\PerformTaxCodeSrchResponse.xslt</param>
            </filter>
          </filters>-->
        </response>
        <transport type="RTS"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Symbology.Taxonomy.V1_0:PerformFTTaxCodeSrch">
        <name>PerformFTTaxCodeSrch_GW</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/PerformFTTaxCodeSrch</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <!--<filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\symbology\PerformFTTaxCodeSrchResponse.xslt</param>
            </filter>
          </filters>-->
        </response>
        <transport type="RTS"/>
      </transaction>

    </transactionSettings>
  </ServiceSettings>
</configuration>
