<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DowJones.Infrastructure" version="3.2.80" targetFramework="net40" />
  <package id="DowJones.Parallel" version="1.0.0" targetFramework="net40" />
  <package id="DowJones.Web.Mvc" version="3.2.80" targetFramework="net40" />
  <package id="DowJones.Web.Mvc.UI.Components" version="3.2.80" targetFramework="net40" />
  <package id="DowJones.Web.Mvc.UI.Components.Models" version="3.2.80" targetFramework="net40" />
  <package id="Factiva.Gateway" version="7.5.0.93" targetFramework="net40" />
  <package id="Hammock" version="1.2.9" targetFramework="net40" />
  <package id="log4net" version="1.2.99" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.0.8" targetFramework="net40" />
  <package id="Ninject" version="2.2.1.4" targetFramework="net40" />
</packages>