<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="DowJones.Web.Mvc.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="DowJones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<DowJones.Properties.Settings>
			<setting name="ClientResourceHandlerPath" serializeAs="String">
				<value>~/ClientResource.axd</value>
			</setting>
			<setting name="ClientResourceCombiningEnabled" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="DependencyInjectionAutoLoadedAssemblyPatterns" serializeAs="String">
				<value>DowJones*.dll</value>
			</setting>
		</DowJones.Properties.Settings>
	</applicationSettings>

	<appSettings>
		<add key="enableSimpleMembership" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	</appSettings>
	<system.web>
		<globalization culture="en-US" uiCulture="en" />
		<compilation debug="true" defaultLanguage="vj#" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="WebMatrix.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<customErrors mode="Off"/>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages"/>
				<add namespace="DowJones.Extensions" />
				<add namespace="DowJones.Web" />
				<add namespace="DowJones.Web.Mvc.UI" />
				<add namespace="DowJones.Web.Mvc.Extensions" />
			</namespaces>
		</pages>
		<httpModules>
			<remove name="FormsAuthentication"/>
			<remove name="WindowsAuthentication"/>
			<remove name="PassportAuthentication"/>
			<remove name="UrlAuthorization"/>
			<remove name="FileAuthorization"/>
			<remove name="ScriptModule-4.0" />
		</httpModules>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="GET" path="ClientResource.axd" type="DowJones.Web.ClientResourceHandler"/>
			<add verb="*" path="DowJones.Web.Mvc.UI.Canvas.WebServices.*.asmx" validate="false" type="DowJones.Web.Mvc.UI.Canvas.WebServices.AutoDiscoveryWebServiceHandlerFactory, DowJones.Web.Mvc.UI.Canvas"/>
			<add verb="*" path="DowJones.Tools.WebServices.*.asmx" validate="false" type="DowJones.Tools.WebServices.AutoDiscoveryWebServiceHandlerFactory, DowJones.Infrastructure"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpHandlers>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true" />
		
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
