@using System.Configuration
@model DowJones.Web.Mvc.UI.Components.AutoSuggest.AutoSuggestModel
@{
    ViewBag.Title = "AutoSuggest Demo";
}

@section styles{
    <link href="@Url.Content("~/styles/views/AutoSuggest/AutoSuggest.css")" rel="stylesheet" />
}
<table>
    <tr>
        <td>
            Keyword:
        </td>
        <td>
            <div id="autoSuggestContainer">
            </div>
        </td>
    </tr>
</table>
@section scripts{
    <script type="text/javascript">
    var authTypeToken = "@ConfigurationManager.AppSettings["SuggestAuthTypeToken"]";
    var suggestServiceURl = "@ConfigurationManager.AppSettings["SuggestServiceUrl"]";

    DJ.add("AutoSuggest", {
        container: "autoSuggestContainer",
        options: { 
            suggestServiceUrl: suggestServiceURl,
            autocompletionType: "Keyword",
            controlId: "djKeywordAutoSuggest",
            authType: "SuggestContext",
            authTypeValue: authTypeToken,            
            selectFirst: true,
            fillInputOnKeyUpDown: true,
            showHelp: false,
            showViewAll: false
        }
    }); 
    </script>
}
