<h3 class="module-row-title dj_module-company-chart-legend"">
    <span class="dj_module-company-chart-control news-volume"></span><span class="dj_module-company-chart-control stock-price"></span> 
</h3>

<p class="dj_module-company-chart-date-range">
    <span class="start-date"></span> 
    -
    <span class="end-date"></span>
</p>

<p class="dj_module-company-chart-disclaimer">
    <span class="middot">&middot;</span><%= Token("delayedPerExchangeRules") %> <span class="middot">&middot;</span><%= Token("quotesInLocalCurrency") %>
</p>

<div class="dj_module-company-chart"></div>