<?xml version="1.0" encoding="utf-8"?>

<log4net>

  <appender name="GlimpseAppender" type="Glimpse.Log4Net.Appender.GlimpseAppender" />

  <appender name="AspNetTraceAppender" type="log4net.Appender.AspNetTraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level -%message" />
    </layout>
  </appender>

  <appender name="RollingLogFileAppender" type="log4net.Appender.FileAppender">
    <file value="c:\temp\logfiles\dowjones.web.showcase.log" />
    <threshold value="DEBUG" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="'.'yyyy-MM-dd'.log'" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.XmlLayout">
    </layout>
  </appender>

  <appender name="FileAppender" type="log4net.Appender.FileAppender">
    <file value="c:\temp\logfiles\dowjones.web.showcase.xml" />
    <threshold value="ALL" />
    <filter type="log4net.Filter.LoggerMatchFilter">  
      <loggerToMatch value="DowJones" />  
    </filter> 
    <filter type="log4net.Filter.DenyAllFilter" />  
    <filter type="log4net.Filter.LevelRangeFilter">
      <acceptOnMatch value="true" />
      <levelMin value="ALL" />
      <levelMax value="FATAL" />
    </filter>
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="'.'yyyy-MM-dd'.xml'" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.XmlLayoutSchemaLog4j" />
  </appender>
  
  <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
    <threshold value="DEBUG" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{ISO8601} [%t] %-5p [%X{requestId}] [%x] %c{1} - %m%n" />
    </layout>
  </appender>

  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <filter type="log4net.Filter.LevelRangeFilter">
      <acceptOnMatch value="true" />
      <levelMin value="ALL" />
      <levelMax value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>

  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
    <!--<applicationName value="Search 2.0 Preview" />-->
    <applicationName value="Search 2.0 Preview" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <acceptOnMatch value="true" />
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
    <mapping>
      <level value="ERROR" />
      <eventLogEntryType value="Error" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <eventLogEntryType value="Information" />
    </mapping>
  </appender>
  
  <appender name="RemotingAppender" type="log4net.Appender.RemotingAppender" >
    <!--The remoting URL to the remoting server object-->
    <sink value="tcp://localhost:7070/LoggingSink" />
    <!--Send all events, do not discard events when the buffer is full-->
    <lossy value="false" />
    <!--The number of events to buffer before sending-->
    <bufferSize value="5" />
</appender>

  <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
    <remoteAddress value="localhost" />
    <remotePort value="7071" />
    <layout type="log4net.Layout.XmlLayoutSchemaLog4j" />
</appender>

  <root>
    <level value="ALL" />
    <!--<appender-ref ref="GlimpseAppender" />-->
    <appender-ref ref="FileAppender" />
  </root>

</log4net>
