<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Argotic.Common" version="2008.0.2.0" />
  <package id="Argotic.Extensions" version="2008.0.2.0" />
  <package id="Argotic.Core" version="2008.0.2.0" />
  <package id="Argotic.Web" version="2008.0.2.0" />
  <package id="log4net" version="1.2.10" />
  <package id="LZO.NET" version="1.0.0.0" />
  <package id="Ninject" version="2.2.0.0" />
  <package id="Factiva.Gateway.Messages" version="7.5.0.29" />
  <package id="Factiva.Gateway.Wrapper" version="7.5.0.29" />
</packages>