@using DowJones
@using DowJones.Factiva.Currents.Models
@model DowJones.Factiva.Currents.ServiceModels.PageService.PageServiceResponse

@{
	ViewBag.Title = "title";
}

	<section class="row">
		<div class="span12">
			@Html.DJ().Render(Mapper.Map<CurrentSourcesModel>(Model.SourcesNewsPageModuleServiceResult))
		</div>
	</section>
@*<section class="row">
        <div class="span12">
			@Html.DJ().Render(Mapper.Map<NewsstandModel>(Model.NewsstandNewsPageModuleServiceResult))
		</div>
	</section>*@

    <section class="row">
        <div class="span12">
             @if(Model.CustomTopicsNewsPageModuleServiceResult != null)
            {
			    @Html.DJ().Render(Mapper.Map<CustomTopicsModel>(Model.CustomTopicsNewsPageModuleServiceResult))
             }
		</div>
	</section>

@*  <section class="row">
        <div class="span12" id="ruchi">
			@Html.DJ().Render(Mapper.Map<TrendingModel>(Model.TrendingNewsPageModuleServiceResult))
		</div>
	</section>*@

