@model DowJones.Factiva.Currents.ServiceModels.PageService.PageServiceResponse

@{
	ViewBag.Title = "title";
}

@foreach(var module in Model)
{
	<section class="row">
		<div class="span12">
			@Html.DJ().Render(module)
		</div>
	</section>
}
