<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DowJones.Web.Mvc.UI.Components.ComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DowJones.Web.Mvc.UI.Components.ComponentSettings>
            <setting name="AutoSuggestHandlerServiceUrl" serializeAs="String">
                <value>http://arch.dev.us.factiva.com/showcase/emgajaxtoolkittests2008/emg.tools.web.widgets.autosuggest.ashx?version=2.0</value>
            </setting>
        </DowJones.Web.Mvc.UI.Components.ComponentSettings>
    </applicationSettings>
</configuration>