<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
	</configSections>
	<ServiceSettings>
		<transactionSettings>
			<!-- START TRACK TRANSACTIONS-->
			<transaction key="Factiva.Gateway.Messages.BillingAndAuthoirzation.V1_0:GenerateBillingRecord">
				<name>UERAuthorizeAndBill</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\billing\GenerateBillingRecord.xslt</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\billing\GenerateBillingRecordResponse.xslt</param>
						</filter>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>
		</transactionSettings>
	</ServiceSettings>
</configuration>
