<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DowJones.Infrastructure" version="3.3.51" targetFramework="net40" />
  <package id="DowJones.Parallel" version="1.0.0" targetFramework="net40" />
  <package id="Factiva.Gateway" version="7.5.0.97" targetFramework="net40" />
  <package id="Hammock" version="1.2.9" targetFramework="net40" />
  <package id="log4net" version="1.2.99" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.10" targetFramework="net40" />
  <package id="Ninject" version="2.2.1.4" targetFramework="net40" />
  <package id="SignalR.Hosting.Common" version="0.5.3" targetFramework="net40" />
  <package id="SignalR.Hosting.Self" version="0.5.3" targetFramework="net40" />
  <package id="SignalR.Server" version="0.5.3" targetFramework="net40" />
</packages>