<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>\\fdevweb3\E$\inetpub\wwwroot\Integration\ComponentRendering</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/DowJones.Infrastructure.dll">
      <publishTime>03/09/2012 15:51:16</publishTime>
    </File>
    <File Include="bin/DowJones.Infrastructure.pdb">
      <publishTime>03/09/2012 15:51:16</publishTime>
    </File>
    <File Include="bin/DowJones.Parallel.dll">
      <publishTime>03/09/2012 15:51:09</publishTime>
    </File>
    <File Include="bin/DowJones.Parallel.pdb">
      <publishTime>03/09/2012 15:51:09</publishTime>
    </File>
    <File Include="bin/DowJones.Web.Article.Website.dll">
      <publishTime>03/09/2012 16:20:43</publishTime>
    </File>
    <File Include="bin/DowJones.Web.Article.Website.pdb">
      <publishTime>03/09/2012 16:20:42</publishTime>
    </File>
    <File Include="bin/DowJones.Web.Mvc.dll">
      <publishTime>03/09/2012 15:51:16</publishTime>
    </File>
    <File Include="bin/DowJones.Web.Mvc.pdb">
      <publishTime>03/09/2012 15:51:16</publishTime>
    </File>
    <File Include="bin/DowJones.Web.Mvc.UI.Components.dll">
      <publishTime>03/09/2012 15:51:16</publishTime>
    </File>
    <File Include="bin/DowJones.Web.Mvc.UI.Components.Models.dll">
      <publishTime>03/09/2012 15:51:16</publishTime>
    </File>
    <File Include="bin/DowJones.Web.Mvc.UI.Components.Models.pdb">
      <publishTime>03/09/2012 15:51:16</publishTime>
    </File>
    <File Include="bin/DowJones.Web.Mvc.UI.Components.pdb">
      <publishTime>03/09/2012 15:51:16</publishTime>
    </File>
    <File Include="bin/factiva.gateway.messages.dll">
      <publishTime>03/09/2012 15:51:11</publishTime>
    </File>
    <File Include="bin/FactivaGateway.dll">
      <publishTime>03/09/2012 15:51:11</publishTime>
    </File>
    <File Include="bin/Hammock.ClientProfile.dll">
      <publishTime>03/09/2012 15:51:13</publishTime>
    </File>
    <File Include="bin/Hammock.ClientProfile.pdb">
      <publishTime>03/09/2012 15:51:13</publishTime>
    </File>
    <File Include="bin/Hammock.dll">
      <publishTime>03/09/2012 15:51:13</publishTime>
    </File>
    <File Include="bin/Hammock.pdb">
      <publishTime>03/09/2012 15:51:13</publishTime>
    </File>
    <File Include="bin/Interop.FCMLib.dll">
      <publishTime>02/24/2012 10:02:39</publishTime>
    </File>
    <File Include="bin/log4net.dll">
      <publishTime>03/09/2012 15:51:11</publishTime>
    </File>
    <File Include="bin/log4net.xml">
      <publishTime>03/09/2012 15:51:11</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.dll">
      <publishTime>03/09/2012 15:51:10</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.pdb">
      <publishTime>03/09/2012 15:51:10</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.xml">
      <publishTime>03/09/2012 15:51:10</publishTime>
    </File>
    <File Include="bin/Ninject.dll">
      <publishTime>03/09/2012 15:51:11</publishTime>
    </File>
    <File Include="bin/Ninject.pdb">
      <publishTime>03/09/2012 15:51:11</publishTime>
    </File>
    <File Include="bin/Ninject.xml">
      <publishTime>03/09/2012 15:51:11</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>01/05/2011 17:42:16</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.xml">
      <publishTime>02/09/2011 11:26:24</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>02/24/2012 13:38:15</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>03/09/2012 15:51:34</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>03/09/2012 16:20:43</publishTime>
    </File>
  </ItemGroup>
</Project>