<% 
    var model = self;
    var options = this.options;
    var hasCorrections = model.corrections && model.corrections.length;
    var hasNotes = model.notes && model.notes.length;
    var hasLeadParagraphs = model.leadParagraphs && model.leadParagraphs.length;
%>
<div class="dj_article_article_body">
    <% if(hasCorrections) { 
        for(var i = 0, len = model.corrections.length; i < len; i++) { 
        var item = model.corrections[i]; %>
                <%= this.templates.paragraph(item) %>
    <% }} %>
    
    <%= this.templates.section({indexCode: "LP", items: model.leadParagraphs}) %>
    <%= this.templates.section({indexCode: "TD", items: model.tailParagraphs}) %>
    
    <% if (options.articleDisplayOptions !== "Headline") {
        if (model.contact) { %>
            <%= this.templates.section({indexCode: "CT", items: [model.contact]}) %>
        <% } %>
        <%= this.templates.section({indexCode: "RF", items: model.notes}) %>
        <% if (model.artWork) { %>
            <%= this.templates.section({indexCode: "ART", items: [model.artWork]}) %>
        <% } 
    } %>  
</div>
