<% 
    var model = self;
    var options = self.options || {};
%>
<div class="dj_article_body">
    <div class="dj_article_articleError error">
        <%= Token("error") %>
            <span class="errorNum"><%= model.status %></span>: <span class="errorMessage">
                <%= model.statusMessage %></span>
    </div>

    <% if (model.AccessionNo) { 
            if (options.showIndexing) { %>
               <div class="dj_article_index">AN</div>
            <% } %>
            <div class="dj_article_an dj_article_section">
                <%= Token("document") %>&nbsp;model.AccessionNo
            </div>
    <% } %>
</div>
