@model dynamic
@{
    ViewBag.Title = "Welcome to Dow Jones Component Explorer!";
}

<div class="span12">
    <div class="well">
        <h2>Overview</h2>
        <p>
            The Dow Jones UI Components are a set of reusable UI components designed to provide
            consistent functionality and user experience while being language and/or platform
            agnostic.
            Depending on the component, it can be instantiated either server side within any
            ASP.NET MVC project or client side using JavaScript.
        </p>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <h3>Seamless Integration</h3>
            <p>
                Seamlessly integrate components into your application client side on any platform
                using JavaScript
            </p>
        </div>
        <div class="span4">
            <h3>Fully Customizable</h3>
            <p>
                Easily styled using CSS or by creating your own custom templates
            </p>
        </div>
    </div>
</div>
