@model dynamic
@{
    ViewBag.Title = "Welcome to Dow Jones Documentation Site!";
}

<div class="span12">
    <div class="hero-unit">
        <h1>Welcome to Dow Jones Documentation Site!</h1>
        <p>
            TODO: This is a placeholder for intro text or a slideshow like Total Access Developer Portal
        </p>
        <p><a class="btn btn-primary btn-large">Learn more »</a></p>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <h2>Seamless Integration</h2>
            <p>
                Differentiate your web sites, portals, online trading sites and work stations by delivering premium Dow Jones news, commentary, analysis and insight through Total Access.
            </p>
            <p><a class="btn" href="#">View details »</a></p>
        </div>
        <!--/span-->
        <div class="span4">
            <h2>Fully Customizable</h2>
            <p>
                Using a range of solutions - Widgets, Web Services or Integration Services - Dow Jones news and insight can be integrated by developers of all skill levels
            </p>
            <p><a class="btn" href="#">View details »</a></p>
        </div>
        <!--/span-->
        <div class="span4">
            <h2>Developer Friendly</h2>
            <p>
                Use current technology such as Widgets and Web Services to style your project so it is aligned with your brand and becomes a natural part of your applications.
            </p>
            <p><a class="btn" href="#">View details »</a></p>
        </div>
        <!--/span-->
    </div>
    <!--/row-->
    <div class="row-fluid">
        <div class="span4">
            <h2>Large Widget Selection</h2>
            <p>
                Select from a wide range of widgets - Headlines, News Radar, Video Carousel, Relationship Mapping - or the new Top Stories Module , to name just a few.
            </p>
            <p><a class="btn" href="#">View details »</a></p>
        </div>
        <!--/span-->
        <div class="span4">
            <h2>Hosted by Dow Jones</h2>
            <p>
                Total Access tools are hosted by Dow Jones and require only a minimum of development to get started. There's nothing to install in your environment.
            </p>
            <p><a class="btn" href="#">View details »</a></p>
        </div>
        <!--/span-->
        <div class="span4">
            <h2>Fresh Content</h2>
            <p>
                Select topics most relevant to your business and client needs from the most trusted, timely and accurate Dow Jones news and insight.
            </p>
            <p><a class="btn" href="#">View details »</a></p>
        </div>
        <!--/span-->
    </div>
    <!--/row-->
</div>
