/***  TrendingNewsCanvasModule  ***/

/*

	-- -- -- -- -- -- --
	Description: Industry module style rules
	Version: 0.1
	Last Update: 11/17/2010
	Authors: Ryan Schoch
	Company: Dow Jones & Company Inc.
	Copyright 2010 Dow Jones & Company Inc.
	
	Dependencies
	 - css/reset.css
	 - css/lib/modules.css
	-- -- -- -- -- -- --
	
*/

/* >> General Styles
----------------------------------------------------------------------------------------------------*/

.dj_TrendingNewsCanvasModule .module-col-title {
	position: relative;
	color: #666;
	display: inline;
	padding-right: 18px;
	margin-bottom: 0;
}

.module-col-secondary-title {
	font-size: 85%;
	color: #666;
	display: block;
	margin-bottom: 15px;
}

.industry-item-title {
	font-size: 93%;
    font-weight: bold;
	color: #4b9dc8;
}

.top-five-mentioned ol {
	list-style-type: decimal;
	padding-left: 20px;
}
	.ie6 .top-five-mentioned ol {
		padding-left: 25px;
	}

.top-five-mentioned ol li {
	margin-bottom: 10px;
}

.trending-up ul li,
.trending-down ul li {
	margin-bottom: 10px;
}

.item-total, .item-total-type,
.news-volume-previous, .news-volume-current,
.news-volume-percentage {
	color: #999;
	font-size: 85%;
	font-weight: bold;
	vertical-align: middle;
}

.item-total {
	text-transform: uppercase;
}

.news-volume-percentage.increase {
	color: #11a106;
}

.news-volume-percentage.decrease {
	color: #b90202;
}


/* >> Icon Styles
----------------------------------------------------------------------------------------------------*/

.fi.fi_arrow-increase-green {
	vertical-align: text-top;
}

.fi.fi_arrow-decrease-red {
	vertical-align: middle;
}

.fi.fi_arrow-grey-small {
	padding-bottom: 1px;
}

.fi.fi_arrow-increase-green,
.fi.fi_arrow-decrease-red {
	position: absolute;
	top: 2px;
	right: 0;
	margin-left: 4px;
}

.fi.fi_arrow-green-small,
.fi.fi_arrow-red-small {
	vertical-align: middle;
	display: inline-block;
	display: -moz-inline-stack; /* required for ff2 */
	margin: 0 2px 0 2px;
}