<ul class="nav">
    <li class="active main-nav-arrow">
        <a class="main-menu-link" href="#dash">
            <div class="main-nav-icon-big">
                <img src="~/Content/images/wsj.png" alt="Wall Street Journal: US" /></div>
            WSJ
        </a>
    </li>
    <li class="">
        <a class="main-menu-link" href="#dash">
            <div class="main-nav-icon-big">
                <img src="~/Content/images/marketwatch.png" alt="Marketwatch" /></div>
            Marketwatch
        </a>
    </li>
    <li>
        <a class="main-menu-link" href="#dash">
            <div class="main-nav-icon-big">
                <img src="~/Content/images/wsj.png" alt="Wall Street Journal: Asia Pacific" />
            </div>
            WSJ: APAC
        </a>
    </li>
    <li>
        <a class="main-menu-link" href="#dash">
            <div class="main-nav-icon-big">
                <img src="~/Content/images/wsj.png" alt="Wall Street Journal: Japan" /></div>
            WSJ: JP
        </a>
    </li>
    <li>
        <a class="main-menu-link" data-filter="sub-menu-calendar" href="#dash">
            <div class="main-nav-icon-big">
                <img src="~/Content/images/factiva.png" alt="Factiva" />
            </div>
            Factiva
        </a>
    </li>
    <li>
        <a class="main-menu-link" href="#dash">
            <div class="main-nav-icon-big">
                <img src="~/Content/images/barrons.png" alt="Barrons" /></div>
            Barrons
        </a>
    </li>
</ul>
