%footer.dj_page-footer
  .dj_page-footer-content.container_9.clearfix
    %p.dj_page-footer-copyright
      Copyright ©2013
      %span Factiva, Inc. All rights reserved.
      %a{:href => "javascript:void(0);", :onclick => "return DJGlobal.NewWindow({ url:'http://global.factiva.com/factivalogin/privacypolicy/privacypolicy_en.html', windowName: 'privacyPolicyWin' });", :title => "Privacy Policy"}
        Privacy Policy
/End Factiva Footer