#wsjHatContainer.wsjHatContainer.no-feature-bar.new-header
  :javascript
    document.write('<script src="http://global.factiva.com/factivalogin/WSJPartyHat.ashx?&amp;sa_from=GL&amp;&amp;v=11.10.0&amp;cid=wsjHatContainer"><\/script>')
/End Global Factiva Hat