@using DowJones.Prod.X.Models.Components.MarketTiles
@{
    ViewBag.Title = "Home Page";
    StylesheetRegistry
        .Include("~/content/stylesheets/study-one.css");


    DJ.ScriptRegistry()
     .OnDocumentReady("dj.productx.core.iDashboard.init();");
}

<div id="columns" class="container-fluid">
    <div class="row-fluid">
        
        <ul id="column1" class="span6 column largeColumn">
            <li class="widget color-green" id="intro">
                <div class="widget-head">
                    <h3 class="pull-left">Breaking News::.. [Non-Editable]</h3>
                </div>
                <div class="widget-content">
                    <p><img src="~/content/images/photos/photo_60x60.jpg" alt="photo9" />Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam magna sem, fringilla in, commodo a, rutrum ut, massa. Donec id nibh eu dui auctor tempor. Morbi laoreet eleifend dolor. Suspendisse pede odio, accumsan vitae, auctor non, suscipit at, ipsum. Cras varius sapien vel lectus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam magna sem, fringilla in, commodo a, rutrum ut, massa.</li>
                    </ul>
                </div>
            </li>
            <li class="widget color-red">  
                <div class="widget-head">
                    <h3 class="pull-left">Random Information</h3>
                </div>
                <div class="widget-content">
                    <p>@Html.DJ().Render(new MarketTilesComponentModel())</p>
                </div>
            </li>
        </ul>

        <ul id="column2" class="span3 column smallColumn">
            <li class="widget color-blue" id="instructions">  
                <div class="widget-head">
                    <h3 class="pull-left">Instructions</h3>
                </div>
                <div class="widget-content">
                    <ul>
                        <li>To move a widget just hold your mouse down over the top coloured bar of the widget and then move it to where you want.</li>
                        <li>You can also close a widget by clicking the 'X' on the top right of any widget. Collapsing a widget is just as easy; click the down/up arrow on the top left of each widget.</li>
                        <li>To edit the color of a widget or it's title just click the 'edit' button.</li>
                    </ul>
                </div>
            </li>
            <li class="widget color-yellow">  
                <div class="widget-head">
                    <h3 class="pull-left">Extra Info</h3>
                </div>
                <div class="widget-content">
                    <p>Try clicking the 'X' in the top right of this widget... Just watch how cool the animaton is! :D</p>
                    <ul>
                        <li>Since this is just a demo your settings will NOT be saved anywhere when you leave the page.</li>
                        <li>This demo has been tested successfully on a Windows XP PC in the following browsers: Firefox 2, Firefox 3, Chrome, Safari 3, Opera 9.5, IE6, IE7</li>
                    </ul>
                </div>
            </li>
            <li class="widget color-green">  
                <div class="widget-head">
                    <h3 class="pull-left">Some Random Title</h3>
                </div>
                <div class="widget-content">
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam magna sem, fringilla in, commodo a, rutrum ut, massa. Donec id nibh eu dui auctor tempor. Morbi laoreet eleifend dolor. Suspendisse pede odio, accumsan vitae, auctor non, suscipit at, ipsum. Cras varius sapien vel lectus.</li>  
                    </ul>
                </div>
            </li>
        </ul>
        
        <ul id="column3" class="span3 column smallColumn">
            <li class="widget color-orange">  
                <div class="widget-head">
                    <h3 class="pull-left">Some Random Title</h3>
                </div>
                <div class="widget-content">
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam magna sem, fringilla in, commodo a, rutrum ut, massa. Donec id nibh eu dui auctor tempor. Morbi laoreet eleifend dolor. Suspendisse pede odio, accumsan vitae, auctor non, suscipit at, ipsum. Cras varius sapien vel lectus.</li>  
                    </ul>
                </div>
            </li>
            <li class="widget color-white" id="gallery">  
                <div class="widget-head">
                    <h3 class="pull-left">The Gallery</h3>
                </div>
                <div class="widget-content">
                    <p>NOTE: This widget can only be switched between three different colours (via 'edit').</p>
                    
                    <ul class="images">
                        <li><img src="~/content/images/photos/photo_60x60.jpg" alt="photo1" /></li>
                        <li><img src="~/content/images/photos/photo_60x60.jpg" alt="photo2" /></li>
                        <li><img src="~/content/images/photos/photo_60x60.jpg" alt="photo3" /></li>
                        <li><img src="~/content/images/photos/photo_60x60.jpg" alt="photo4" /></li>
                        <li><img src="~/content/images/photos/photo_60x60.jpg" alt="photo5" /></li>
                        <li><img src="~/content/images/photos/photo_60x60.jpg" alt="photo6" /></li>
                    </ul>
                </div>
            </li>
            
        </ul>
        
    </div>
</div>
