.ellipsis {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -moz-binding:url('ellipsis.xml#ellipsis');
}
.ff-ellipsis {
    white-space: normal;
    word-wrap: break-word;
    direction: rtl;
    text-align: left;
}
 
.ff-ellipsis:before {
    content: "\2026";
    position: relative;
    left: -0.3em;
    margin: 0;
    padding: 0;
}
 
.ie6 .ellipsis,
.ie7 .ellipsis,
.ie8 .ellipsis {
    /*white-space:normal;*/
    /*In order for text-overflow:ellipsis; to work in IE 6+, a pixel value width is required on the element also*/
}

.demo-text 
{
    border: 1px solid #CCCCCC;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    max-width: 300px;
} 