
<div class="centered">
    <div>
        <strong>Welcome to the Dow Jones Platform Integration Showcase!</strong>
    </div>

    <div>
        <p>Select a control from the menu to get started</p>
    </div>
</div>