/*! In addition to normalize.css, these global styles are needed for showcase views */

/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}