<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>

      <transaction key="Factiva.Gateway.Messages.Symbology.List.V1_0:GetList">
        <name>http://types.factiva.com/symbology/list:GetList_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/GetList</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Symbology.List.V1_0:GetListInfo">
        <name>http://types.factiva.com/symbology/list:GetListInfo_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/GetListInfo</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Symbology.List.V1_0:GetListItems">
        <name>http://types.factiva.com/symbology/list:GetListItems_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/GetListItems</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
    </transactionSettings>
  </ServiceSettings>
</configuration>