/********** Core Styles ***********/

/* Sets element margins, padding, and border to 0 to even out browser differences when adding desired values later. */
html{color:#000;background:#FFF;overflow: -moz-scrollbars-vertical;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}body {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

body 
{
    background: #fff;	
	font: 12px/1.25 Arial, Helvetica, sans-serif;
	color: #222;
}

img { border: 0px none #fff; }
h4, h5 { font-weight:bold; font-size:100%; }
input#searchText {	
}
select { font: 100% Arial, Helvetica, sans-serif !important; color: #666666; }
input {  font: 100% Arial, Helvetica, sans-serif !important; color: #666666;}
pre {
	font-family: "Courier New", Courier, Monaco;
	font-size:12px;
}
A, A:link { color:#7C7EC9; text-decoration:none; }
A:visited { color:#7C7EC9; text-decoration:none; }
A:hover { text-decoration:underline; }


/********** Header Styles ***********/
.DegradedHeader {position:relative; height:51px;}
#factivaLogo { float:left; padding:5px; }
#djnrLogo {	float:right; margin-right:10px; margin-top:11px;}
#header { position:relative; height:20px; background-color:#666; background-repeat: repeat-x; background-image:url(../img/header/topgreybg.jpg); z-index:100;}
#header .headerFactivaSubscriber{ position:absolute; top:0; left:0; height:20px; width:149px; background-image:url(../img/header/widgetBuilderBrand.gif); background-repeat:no-repeat; }
#header .headerFactivaReader { position:absolute; top:0; left:0; height:20px; width:149px; background-image:url(../img/header/widgetBuilderBrand.gif); background-repeat:no-repeat; }
#header .headerIWorksBasic { position:absolute; top:0; left:0; height:20px; width:149px; background-image:url(../img/header/widgetBuilderBrand.gif); background-repeat:no-repeat; }
#header .headerIWorksPrem { position:absolute; top:0; left:0; height:20px; width:149px; background-image:url(../img/header/widgetBuilderBrand.gif); background-repeat:no-repeat; }
#header .headerFactivaWidgetBuilderUser { position:absolute; top:0; left:0; height:20px; width:149px; background-image:url(../img/header/widgetBuilderBrand.gif); background-repeat:no-repeat; }

/********** Toolbar Styles ***********/
#toolbar { position:absolute; top:0; right:0; height:20px; color:#F0F0F0; text-align:right; background-color:transparent; z-index:1000;}
#toolbar a:link, #toolbar a:visited, #toolbar a:active,#toolbar a:hover { position:relative; float:left; display:block; background-color:transparent; color:#DCDCDC; text-decoration: none; font-size: 11px; padding-left:10px; padding-right:10px; padding-top:4px; padding-bottom:3px; }
#toolbar a:hover { text-decoration:underline; }
#toolbar a.support {color: #FFFFFF;
	background-image: url(../img/header/supportBG.gif);
	background-repeat: repeat-x;
	font-weight: bold;}
#toolbar a.toolbarItem {color: #FFFFFF;
	font-weight: bold;}
#toolbar .pipe { font-size:16px; line-height:16px; overflow:hidden; background-image:url(../img/header/dottedpipe.gif); background-repeat:no-repeat; background-position:bottom center; }
#toolbar .pipe span { visibility:hidden; color:#8C8C8C; display:none; }
#toolbar .headerPadder { font-size:16px; line-height:16px; width:3px; overflow:hidden; display:none; }

/********** Source List Styles ******/
#sourceListCntr { position:absolute; top:0; left:0; z-index:1000; background-color:#FFF; border:solid 1px #CCCCCC;  border-top-color:#999999; border-left-color:#999999; visibility:hidden; }
.sourceTitle { padding:3px; border-bottom:solid 1px #CCC; }
.fSourceListItem,.fGroupSourceListItem,.gSourceListItem, .pSourceListItem {position:relative; display:block;padding:2px; padding-left: 23px; font-size:11px; background-position: 3px center; border: solid 1px #FFFFFF;  background-image:url(../img/header/sselector/factivaSG.gif); background-repeat:no-repeat; color:#333; }
.fGroupSourceListItem {background-image:url(../img/header/sselector/factivaPURP.gif);}
.gSourceListItem {background-image:url(../img/header/sselector/groupPURP.gif);}
.pSourceListItem {background-image:url(../img/header/sselector/personalSG.gif);}
#selSourceListItem {background-color:#666666; color:#F0F0F0;}

/********** Interface Language Menu */
#InterfaceLanguageMenu { position:absolute; top:0; left:0; z-index:1000; background-color:#FFF; border:solid 1px #CCCCCC;  border-top-color:#999999; border-left-color:#999999; font-size:11px; visibility:hidden; padding:2px;  }
#InterfaceLanguageMenu .menuItem        { position:relative; display:block; padding:1px; padding-left:10px; padding-right:40px;  color:#333333; text-decoration:none; background-color: #FFFFFF; border: solid 1px #FFFFFF; z-index:1000;}
#InterfaceLanguageMenu .hltMenuItem     { position:relative; display:block; padding:1px; padding-left:10px; padding-right:40px;  color:#333333; text-decoration:none; background-color: #F0F0F0; border: solid 1px #333333; z-index:1000;}
#InterfaceLanguageMenu .hltSelMenuItem  { position:relative; display:block; padding:1px; padding-left:10px; padding-right:40px;  color:#CEEE80; text-decoration:none; background-color: #666666; border: solid 1px #666666; z-index:1000;}
#InterfaceLanguageMenu .selMenuItem     { position:relative; display:block; padding:1px; padding-left:10px; padding-right:40px;  color:#F0F0F0; text-decoration:none; background-color: #666666; border: solid 1px #666666; z-index:1000;}


/********** Footer Styles ***********/
#footer {
    position:relative;
    float:left;
    width:100%;
    overflow:hidden;
    font-family: Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#CCCCCC;	
	/* background-color: #666666; */	/* mt UI change 07/2007 */
	background-color: #FFFFFF;			/* mt UI change 07/2007 */
	/* background-image:url(../img/Footer/FooterGrad.gif); */	/* mt UI change 07/2007 */
	background-image: url(../img/footer/subNavShad2.gif);				/* mt UI change 07/2007 */
	background-repeat: repeat-x;
	clear:both;

	/* mt UI change 07/2007 */
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D8D8D8;
	padding-top: 5px;
}

#footer .logo {
    position:absolute;
    left:4px;
    top:0px;
    float:left;
    padding-top:0px;
    background-image: url(../img/Footer/factivaBrand.gif);
	background-repeat: no-repeat;
	background-position: left;
	height: 30px;			/* mt UI change 07/2007 */
	width: 105px;			/* mt UI change 07/2007 */
	margin-top:0px;
	vertical-align:top;
}

#footer .parentsLogo 
{
    position:absolute;
    top:0;
    right:0;
	margin-right:5px;
    text-align:right;    
    background-image: url(../img/footer/parents_logos.gif);				/* mt UI change 07/2007 */
	background-repeat: no-repeat;
	background-position: left;
	height:30px;
	width:70px;
}

#footer .copyright 
{
    float:right;
    position:relative;
	font-size: 9px;
	/* color: #CCCCCC; */		/* mt UI change 07/2007 */
	color: #999999;				/* mt UI change 07/2007 */
	padding-left: 10px;
	padding-bottom: 1px;
	margin-top:5px;
	margin-right:80px;
}

#footer .footerLinks A.feedback:link, #footer .footerLinks A.feedback:visited, #footer .footerLinks A.feedback:active {
	/* color: #bbdd55; */	/* mt UI change 07/2007 */
	color: #333333;			/* mt UI change 07/2007 */
	text-decoration: none;
}
#footer .footerLinks A.whatsNew:link, #footer .footerLinks A.whatsNew:visited, #footer .footerLinks A.whatsNew:active {
	/* color: #ccccff; */	/* mt UI change 07/2007 */
	color: #333333;			/* mt UI change 07/2007 */
	text-decoration: none;
}
#footer .footerLinks A.privacy:link, #footer .footerLinks A.privacy:visited, #footer .footerLinks A.privacy:active {
	/* color: #999999; */	/* mt UI change 07/2007 */
	color: #333333;			/* mt UI change 07/2007 */
	text-decoration: none;
}
#footer .footerLinks A.feedback:hover {
	/* color: #bbdd55; */	/* mt UI change 07/2007 */
	color: #333333;			/* mt UI change 07/2007 */
	text-decoration: underline;
}
#footer .footerLinks A.whatsNew:hover {
	/* color: #ccccff; */	/* mt UI change 07/2007 */
	color: #333333;			/* mt UI change 07/2007 */
	text-decoration: underline;
}
#footer .footerLinks A.privacy:hover {
	/* color: #CCCCCC; */	/* mt UI change 07/2007 */
	color: #333333;			/* mt UI change 07/2007 */
	text-decoration: underline;
}
.releaseVersionHidden 
{
	/* color:#858484; */	/* mt UI change 07/2007 */
	color:#FFFFFF;			/* mt UI change 07/2007 */
}

#footer .noBorder {
	border-top-width:0;		
}

#footer .noBorder {
	border-top-width:0;		
}


/********** Basic Layout Styles ***********/
/* Single Column Layout */
.columnBdr{ margin:0; width:auto; }
.columnData { background-color:transparent; width:auto; overflow:hidden;}
.baseLayout { }
.baseLayout #contentTop .panel { margin:0 7px; border-bottom-style:solid;}
.baseLayout #contentTop .panel h5 { font-weight:bold; }
.baseLayout #contentBody {font-size:97%;}
.baseLayout #MdCol {}
.baseLayout .columnsCntr .column{}
.baseLayout .columnData { background-color:#FFF; }
.baseLayout .columnsCntr .spacer { background-color:#FFF; height:1px; overflow:hidden; margin:0; padding:0; clear:both; display:none; }


/* Two Column Layout */
.twoColRtLayout {position: relative; margin: 0 auto; width: 996px; clear:both; text-align:left; background-image: url(../img/bg996.gif); background-repeat:repeat-y; background-position: left; background-color:transparent !important;}		/* mt UI change 07/2007 */
.twoColRtLayout .columnsCntr .spacer { position:relative; background-color:#000; height:0px; overflow:hidden; margin:0; padding:0; clear:both; visibility:hidden; display:block; display:expression("none");}
.twoColRtLayout .columnsCntr { position:relative; background-color:transparent;}
.twoColRtLayout #contentTop .panel { margin:0 7px; border-bottom-style:solid; }
.twoColRtLayout #contentTop .panel h5 { font-weight:bold; }
.twoColRtLayout .columnsCntr #MdCol { position:relative; float:left; width:764px;  background-image: url(../img/pageShad_3.gif); background-repeat:repeat-y;	background-position: right; }		/* mt UI change 07/2007 */
.twoColRtLayout .columnsCntr #MdCol .columnBdr {position:relative; float:left; background-color: transparent !important; background-image: url(../img/bg996.gif); background-repeat:repeat-y; background-position: left;}		/* mt UI change 07/2007 */
.twoColRtLayout .columnsCntr #MdCol .columnData {position:relative; margin-left:7px; width:751px; background-color:transparent !important;}			/* mt UI change 07/2007 */
.twoColRtLayout .columnsCntr #RtCol {}
.twoColRtLayout .columnsCntr #RtCol .columnBdr { position:relative; float:left;}
.twoColRtLayout .columnsCntr #RtCol .columnData{ position:relative; float:left; margin-left:-6px; width:231px; background-color:transparent !important; background-color:#FFF;
	background-image: url(../img/testshadow.gif);
	background-repeat:repeat-y;
	background-position: left; }

/* Equal Column Layout */
.twoColLtLayout {float:left; width:100%; z-index:1;}	
.twoColLtLayout .columnsCntr { margin-top:10px; margin-bottom:5px;}
.twoColLtLayout .columnsCntr .spacer { background-color:#FFFFFF; height:1px; overflow:hidden; margin:0; padding:0; clear:both;}
.twoColLtLayout .columnsCntr .column { float:left;width:50%;}
.twoColLtLayout .columnsCntr .columnData { margin:0 5px;}
.twoColLtLayout .columnsCntr #LtCol {width:50%; margin-right:50%; }
.twoColLtLayout .columnsCntr #MdCol {float:left; width:50%; margin-left:-50%; }
.twoColLtLayout .columnsCntr #LtCol .columnData { margin-left:10px; }
.twoColLtLayout .columnsCntr #MdCol .columnData { margin-right:10px; }

/* Three Column Layout */
.threeColLayout { float:left; width:100%; z-index:50; overflow:hidden;}
.threeColLayout .columnsCntr { margin-top:10px; margin-bottom:5px;}
.threeColLayout .columnsCntr .spacer { background-color:#FFFFFF; height:1px; overflow:hidden; margin:0; padding:0; clear:both;}
.threeColLayout .columnsCntr .column { float:left; width:33.33%; overflow:hidden; height:1%; }
.threeColLayout .columnsCntr .columnBdr { margin:5px; width:auto; }
.threeColLayout .columnsCntr #LtCol{ float:left; width:33.33%; margin-right:66.66%; background-color:#FFF; z-index:8; overflow:hidden;}
.threeColLayout .columnsCntr #MdCol{ float:left; width:33.33%; margin-left:-66.66%; background-color:#FFF; z-index:9; overflow:hidden;}
.threeColLayout .columnsCntr #RtCol{ float:left; width:33.33%; margin-left:-33.33%; background-color:#FFF; z-index:10; overflow:hidden; }
.threeColLayout .columnsCntr .columnData .columnSpacer { position:relative; background-color:#FFFFFF; height:1px; margin:0; padding:0; clear:both;}
	
INPUT.majorButton { color:#000;	border-top-width: 1px;	padding-right: 1px;	padding-left: 1px; font-weight: normal; border-left-width: 1px; font-size: 11px; border-bottom-width: 1px;	padding-bottom: 1px;	padding-top: 1px;	font-family: arial, helvetica, sans-serif;	background-color: #f0f0f0;	text-align: center;	border-right-width: 1px; text-decoration: none; cursor:pointer; cursor:hand;}

div#DebugInfoContainer div { overflow:auto; padding:5px; border-bottom:solid 1px #333; }
div.LogDisplayINFO  {position:relative; background-color: #99CC99; color:#333;}
div.LogDisplayDEBUG {position:relative; background-color: #FFFFCC; color:#333;}
div.LogDisplayERROR {position:relative; background-color: #CC99CC; color:#333;}
#DebugInfoContainer
{
    margin:1px 5%;  margin-top:20px;
    clear:both;
    background-color:#333;
}
div#DebugInfoContainer td { color:#CCC; }


