@* Not a real view. Mock data taken from real Snapshot call's response to provide test data for "require js not loading Article" issue *@
<div id="divArticlePopupContent" class="article ">
    <input id="dotcomBaseUrl" name="dotcomBaseUrl" type="hidden" value="nevada.dev.us.factiva.com/dotcom51" />
    <input id="contentSubCategory" name="contentSubCategory" type="hidden" value="Article" />
    <input id="audioPlayerURL" name="audioPlayerURL" type="hidden" value="http://global.int.factiva.com/PRN0000020120731e87v000mk.mp3?tkn=+9lqW0VRwuX1Vy8wElyjuGlQnuO5rd42YIqe8DUknG7ucAXG553GSEh6I2PX_2Fm4YWvkfywGSwJMqPRtviag_2BLR575z_2FYApg9qdJ2QucC8X2thgdkOs0yROxjV5Opoa0gfLdoc0ihMhoPkZUHNTMI6ALC5XElJlqjGX_2FRUuej6A6qH8EZZxUZslXjD7ORM3pPVJ3e2XDzs5mLx_2BMvHyae6PxISS_2BTenKfvO_2BopBekEAW4_3D_7C2" />

    <div class="dj_Article" id="ArticleComponent-0">
        <div class="dj_article-container dj_article_display_Full dj_article_lang_en" data-ref="{&#34;guid&#34;:&#34;PRN0000020120731e87v000mk&#34;,&#34;contentCategory&#34;:2,&#34;contentSubCategory&#34;:9,&#34;contentCategoryDescriptor&#34;:&#34;Publication&#34;,&#34;contentSubCategoryDescriptor&#34;:&#34;Article&#34;,&#34;originalContentCategory&#34;:&#34;article&#34;,&#34;externalUri&#34;:&#34;&#34;,&#34;mimetype&#34;:&#34;text/xml&#34;}">

            <div class="dj_article_image article-logo">
                <img onerror="this.style.visibility='hidden'; this.style.display='none'; this.style.height=0;"
                    onabort="this.style.visibility='hidden'; this.style.display='none'; this.style.height=0;"
                    src="http://global.factiva.com/FactivaLogos/PRNLogo.gif" alt="PRN Logo" />
            </div>
            <div class="dj_article_meta">
                <h4 class="dj_article_hd dj_article_section headline" data-meta="PRN0000020120731e87v000mk">
                    NextTV Summit Keynote Speakers Announced                    </h4>
                <div class="meta">

                    <div class="dj_article_sn dj_article_section">
                        <span class="value source drop-down-button" data-dd-type="source">
                            <span class="dj_article_source" data-entity="{&#34;fcode&#34;:&#34;PRN&#34;,&#34;name&#34;:&#34;PR Newswire (U.S.)&#34;,&#34;category&#34;:&#34;source&#34;}">
                                PR Newswire (U.S.)</span>
                        </span>
                    </div>


                    <div class="dj_meta_group">

                        <div class="date-stamp dj_article_pd dj_article_section">
                            5:19 PM,31 July 2012<span class="dj_article_comma">, </span>
                        </div>

                        <div class="dj_article_wc dj_article_section">
                            355 words<span class="dj_article_comma">, </span>
                        </div>
                        <div class="dj_article_la dj_article_section">
                            English<span class="dj_article_comma">, </span>
                        </div>
                        <div class="dj_article_sc dj_article_section">
                            PRN<span class="dj_article_comma">, </span>
                        </div>
                    </div>

                    <div class="copyright dj_article_cy dj_article_section">
                        Copyright ©  2012  PR Newswire Association LLC.  All Rights Reserved.                          
                    </div>
                </div>

                <ul class="dj_PostProcessing actions clearfix">
                    <li class="print action" data-ref="print"><i class="dj_icon dj_icon-print"></i><span
                        data-workflow="print">Print</span></li>
                    <li class="save action" data-ref="save"><i class="dj_icon dj_icon-save"></i><span
                        data-workflow="save">Save</span></li>
                    <li class="email action" data-ref="email"><i class="dj_icon dj_icon-email"></i><span
                        data-workflow="email">E-Mail</span></li>
                    <li class="listen action" data-ref="listen"><i class="dj_icon dj_icon-listen"></i><span
                        data-workflow="listen">Listen</span></li>
                    <li class="share action" data-ref="share"><i class="dj_icon dj_icon-share"></i><span
                        data-workflow="share">Share</span></li>
                </ul>
            </div>
            <div class="dj_article_article_body">
                <div class="dj_article_lp dj_article_section">
                    <pre class="dj_article_paragraph">
       
            <span class="dj_article_plain">
Features leader from Microsoft, Roku, Fox Networks, Google and CBS Interactive 
 </span>
     
</pre>
                    <p class="dj_article_paragraph">
                        <span class="dj_article_plain">NEW YORK, July 31, 2012 /PRNewswire/ -- NextTV Summit,
                            the keynote and panel discussion event devoted to exploring the business of Internet
                            video, has announced an impressive slate of keynote speakers who will be appearing
                            at The Fairmont in San Francisco, CA on September 20, 2012. Featured keynote speakers
                            include:</span>
                    </p>
                </div>
                <div class="dj_article_td dj_article_section">
                    <pre class="dj_article_paragraph">
       
            <span class="dj_article_plain">
   -- Blair M. Westlake, Corp. VP, Media & Entertainment, Microsoft 
 
   -- Anthony Wood, CEO & Founder, Roku 
 
   -- </span>
                <a class="dj_article_entity executive" href="javascript:void(0);" data-entity="{&#34;fcode&#34;:&#34;47839915&#34;,&#34;name&#34;:&#34;Michael Hopkins&#34;,&#34;category&#34;:&#34;executive&#34;}">Michael Hopkins</a>
            <span class="dj_article_plain">, President, Distribution, Fox Networks 
 
   -- Alex Carloss, Head of Entertainment, YouTube/Google 
 
   -- Jim Lanzone, President, CBS Interactive </span>
     
</pre>
                    <p class="dj_article_paragraph">
                        <span class="dj_article_plain">"The purpose of the NextTV Summit is to explore how over-the-top
                            and alternative video viewing platforms are changing the way -- and where -- content
                            is viewed," said Louis Hillelson, VP/Group Publisher, NewBay Media, producer of
                            the event. "These executives and their companies are leading the industry in the
                            Internet video revolution, and offer valuable information and concepts to pass along
                            to attendees."</span>
                    </p>
                    <p class="dj_article_paragraph">
                        <span class="dj_article_plain">In addition to the keynote presentations, NextTV Summit
                            also features several panel discussions featuring key industry thought leaders.
                            Topics tackled by the panel discussions include:</span>
                    </p>
                    <pre class="dj_article_paragraph">
       
            <span class="dj_article_plain">
   -- Optimizing Video Management: 
 
   -- Monetizing New Platforms 
 
   -- Reaching Broader Audiences 
 
   -- Bringing New Products to Market 
 
   -- Delivering More Targeted, Relevant Advertising </span>
     
</pre>
                    <p class="dj_article_paragraph">
                        <span class="dj_article_plain">For more information on the NextTV Summit visit NextTVSummit.com.</span>
                    </p>
                    <p class="dj_article_paragraph">
                        <span class="dj_article_plain">Tickets for the "Next TV Summit" are priced at $275.
                            For ticket information, please contact Sandy Friedman at 917-281-4718 or sfriedman@nbmedia.com.</span>
                    </p>
                    <p class="dj_article_paragraph">
                        <span class="dj_article_plain">For sponsorship information, contact Louis Hillelson
                            at 917-281-4730 lhillelson@nbmedia.com.</span>
                    </p>
                    <p class="dj_article_paragraph">
                        <span class="dj_article_plain">ABOUT </span>
                        <a class="dj_article_entity company" href="javascript:void(0);" data-entity="{&#34;fcode&#34;:&#34;cinfri&#34;,&#34;name&#34;:&#34;NEWBAY MEDIA LLC&#34;,&#34;category&#34;:&#34;company&#34;}">
                            NEWBAY MEDIA LLC</a>
                    </p>
                    <p class="dj_article_paragraph">
                        <span class="dj_article_plain">NewBay Media's market leading brands are centered on
                            five vertical markets -- Pro Audio, Broadcast & Video, Music, AV/Consumer Electronics
                            and Education. NewBay publishes and produces annually more than 40 publications
                            and show dailies, 50 websites, 30 daily and weekly E-Newsletters, three Expos and
                            more than 50 custom publishing efforts. NewBay reaches more than 8 million readers
                            in print, online, and in person -- around the world in more than 100 countries.
                            Additional information on NewBay can be found by visiting </span>
                        <a class="dj_article_elink" href="javascript:void(0)" data-href="http://www.nbmedia.com">
                            www.nbmedia.com</a>
                        <span class="dj_article_plain">.</span>
                    </p>
                    <p class="dj_article_paragraph">
                        <span class="dj_article_plain">SOURCE </span>
                        <a class="dj_article_entity company" href="javascript:void(0);" data-entity="{&#34;fcode&#34;:&#34;cinfri&#34;,&#34;name&#34;:&#34;NewBay Media LLC&#34;,&#34;category&#34;:&#34;company&#34;}">
                            NewBay Media LLC</a>
                    </p>
                    <p class="dj_article_paragraph">
                        <span class="dj_article_plain">Web site: </span>
                        <a class="dj_article_elink" href="javascript:void(0)" data-href="http://www.NextTVSummit.com">
                            http://www.NextTVSummit.com</a>
                    </p>
                </div>
                <div class="dj_article_pub dj_article_section">
                    <p class="dj_article_paragraph">
                        PR Newswire Association, Inc. 
                    </p>
                </div>
                <div class="dj_article_an dj_article_section">
                    <p class="dj_article_paragraph">
                        Document&nbsp;PRN0000020120731e87v000mk
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<input id="hidAccessionNo" name="hidAccessionNo" type="hidden" value="" />
<input id="hidReference" name="hidReference" type="hidden" value="" />
<input id="hidContentCat" name="hidContentCat" type="hidden" value="" />
<input id="hidMimeType" name="hidMimeType" type="hidden" value="" />
<input id="hidCanonicalString" name="hidCanonicalString" type="hidden" value="" />

<script type="text/javascript">
    //<![CDATA[
    DJ.jQuery(function () {
        DJ.$dj.require(['$', '$dj', '_', 'JSON', 'DJ.UI.Article'], function ($, $dj, _, JSON) {
            $('#ArticleComponent-0').dj_Article({ options: { showSocialButtons: false, showTranslator: false, showPostProcessing: true }, data: {}, childComponents: [{ "type": "ParagraphComponent" }, { "type": "ParagraphComponent" }, { "type": "ParagraphComponent" }, { "type": "ParagraphComponent" }, { "type": "ParagraphComponent" }, { "type": "ParagraphComponent" }, { "type": "ParagraphComponent" }, { "type": "ParagraphComponent" }, { "type": "ParagraphComponent" }, { "type": "ParagraphComponent" }, { "type": "ParagraphComponent" }, { "type": "ParagraphComponent" }, { "type": "ParagraphComponent" }] });
        });
    });//]]>
</script>
