<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Factiva.Gateway" version="7.5.0.156" targetFramework="net40" />
  <package id="log4net" version="1.2.99" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Newtonsoft.Json" version="4.5.10" targetFramework="net40" />
  <package id="NewtonSoft.Json" version="4.0.2.0" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="Ninject.MVC3" version="2.2.2.0" />
  <package id="System.Web.WebPages" version="1.0.0.0" />
  <package id="WebActivator" version="1.4.4" />
</packages>