@{
    Layout = "~/Views/Shared/_CanvasLayout.cshtml";
    
}
@ScriptRegistry.OnDocumentReady("onInit();")

<fieldset class="clearfix">
    <legend>Canvas Actions</legend>
    <button id="getModuleIds">Get Module IDs</button>
    <button id="getData">Refresh Modules</button>
    <button id="addModule">Add Module (Partial)</button>
    <button id="addJsonpModule">Add Module (JSONP)</button>
    <button id="loadArticle">Load Article</button>
</fieldset>


@DJ.Render(Model)

<fieldset>
    <legend>Article Container</legend>
    <div id="articleContainer"></div>
</fieldset>

<script id="moduleTestAreaTemplate" type="text/html">
    <span><a href="#" class="GetData">Get Data</a></span> |
    <span><a href="#" class="ShowErrorMessage">Trigger Error</a></span> |
    <span>Loading: (<a href="#" class="ShowLoading">Show</a> / <a href="#" class="HideLoading">
        Hide</a>)</span>
</script>

<script type="text/javascript">
    function onRequireDone($, _) {
        // Canvas Stuff
        function getCanvas() {
            return $('.dj_Canvas').findComponent(DJ.UI.AbstractCanvas);
        }

        $('#getModuleIds').click(function () {
            alert(getCanvas().getModuleIds());
        });

        $('#getData').click(function () {
            $dj.debug('Calling canvas.getData()...');
            getCanvas().getData();
        });

        $('#addModule').click(function () {
            $dj.debug('Calling canvas.addModule()...');
            var canvas = getCanvas();
            canvas.options.canvasId = 16156;
            canvas.loadModule(23332, function (domId) { alert(domId); });
        });

        $('#addJsonpModule').click(function () {
            $dj.debug('Calling canvas.addModule()...');

            var canvas = getCanvas();

            var callback = $dj.callback(function () { canvas._initializeModules(); });

            $.ajax({
                url: '@Url.Action("JsonpModule")',
                success: function (data) { canvas.$element.append(data.html); },
                data: { id: 23332, pageId: 16156, callback: callback },
                dataType: "jsonp",
                jsonp: 'jsonpCallback'
            });
        });


        $('#loadArticle').click(function () {
            $.ajax({
                url: "Canvas/ArticlePopup",
                success: function (response) {
                    $("#articleContainer").empty().append(response);
                },
                failure: function (response) {
                    if (response) {
                        $("#articleContainer").html('<span style="color:red; font-weight:bold">Error while loading Article popup content</span>');
                    }
                }
            });
        });



        // Module Stuff
        function getModule(el) {
            return $(el).closest('.dj_module').findComponent(DJ.UI.AbstractCanvasModule);
        }

        var testAreas = $('.dj_module .dj_footer').append(_.template($('#moduleTestAreaTemplate').addClass('testArea').html()));

        $('.GetData', testAreas).click(function () {
            getModule(this).getData();
        });

        $('.ShowErrorMessage', testAreas).click(function () {
            getModule(this).showErrorMessage({ code: -1, message: '**** BOOM! ****' });
        });

        $('.ShowLoading', testAreas).click(function () {
            getModule(this).showLoadingArea();
        });

        $('.HideLoading', testAreas).click(function () {
            getModule(this).hideLoadingArea();
            getModule(this).showModuleArea();
        });

    
    }
    
    function onInit() {
        DJ.$dj.require(['jquery', 'underscore', 'DJ.UI.EmptyCanvasModule'], onRequireDone);
    }
</script>
