<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DowJones.Web.Mvc.UI.Canvas.Properties.AlertsCanvasModuleSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DowJones.Web.Mvc.UI.Canvas.AlertsCanvasModuleSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DowJones.Web.Mvc.UI.Canvas.Properties.SyndicationModuleSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DowJones.Web.Mvc.UI.Canvas.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DowJones.Web.Mvc.UI.Canvas.Properties.AlertsCanvasModuleSettings>
      <setting name="AlertsCanvasModule_MaxNumHeadlinesToShow" serializeAs="String">
        <value>5</value>
      </setting>
    </DowJones.Web.Mvc.UI.Canvas.Properties.AlertsCanvasModuleSettings>
    <DowJones.Web.Mvc.UI.Canvas.AlertsCanvasModuleSettings>
      <setting name="AlertsCanvasModule_MaxNumHeadlinesToShow" serializeAs="String">
        <value>5</value>
      </setting>
    </DowJones.Web.Mvc.UI.Canvas.AlertsCanvasModuleSettings>
    <DowJones.Web.Mvc.UI.Canvas.Properties.SyndicationModuleSettings>
      <setting name="FeedsPerPage" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MaxResultsPerFeed" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="GetDataUrl" serializeAs="String">
        <value>/modules/Syndication/1.0/data/json</value>
      </setting>
      <setting name="ValidateSyndicationUrl" serializeAs="String">
        <value>/Syndication/1.0/json</value>
      </setting>
      <setting name="SyndicationModuleUrl" serializeAs="String">
        <value>/modules/Syndication/1.0/module/json</value>
      </setting>
      <setting name="MaximumFeeds" serializeAs="String">
        <value>25</value>
      </setting>
    </DowJones.Web.Mvc.UI.Canvas.Properties.SyndicationModuleSettings>
    <DowJones.Web.Mvc.UI.Canvas.Settings>
      <setting name="TrendingNewsModuleServiceUrl" serializeAs="String">
        <value>/modules/Trending/1.0/data/json</value>
      </setting>
      <setting name="SuggestServiceUrl" serializeAs="String">
        <value>http://suggest.dowjones.com/Search/1.0</value>
      </setting>
      <setting name="AlertsModuleServiceUrl" serializeAs="String">
        <value>/modules/Alerts/1.0/data/json</value>
      </setting>
      <setting name="CustomTopicsModuleServiceUrl" serializeAs="String">
        <value>/modules/CustomTopics/1.0/data/json</value>
      </setting>
      <setting name="CompanyOverviewModuleServiceUrl" serializeAs="String">
        <value>/modules/CompanyOverview/1.0/data/json</value>
      </setting>
      <setting name="NewsstandModuleServiceUrl" serializeAs="String">
        <value>/modules/NewsStand/1.0/data/json</value>
      </setting>
      <setting name="RegionalMapModuleServiceUrl" serializeAs="String">
        <value>/modules/RegionalMap/1.0/data/json</value>
      </setting>
      <setting name="SourcesModuleServiceUrl" serializeAs="String">
        <value>/modules/Sources/1.0/data/json</value>
      </setting>
      <setting name="SummaryModuleServiceUrl" serializeAs="String">
        <value>/modules/Summary/1.0/data/json</value>
      </setting>
      <setting name="TopNewsModuleServiceUrl" serializeAs="String">
        <value>/modules/TopNews/1.0/data/json</value>
      </setting>
      <setting name="TrendingNewsModuleServiceUrl1" serializeAs="String">
        <value>/modules/Trending/1.0/data/json</value>
      </setting>
      <setting name="RadarModuleServiceUrl" serializeAs="String">
        <value>/Modules/Radar/1.0/data/json</value>
      </setting>
      <setting name="CanvasServiceBaseUrl" serializeAs="String">
        <value>/pages/1.0</value>
      </setting>
      <setting name="TopNewsCanvasModuleEditorServiceUrl" serializeAs="String">
        <value>/topnews.svc/1.0/module</value>
      </setting>
      <setting name="CompanyOverviewModuleEditorServiceUrl" serializeAs="String">
        <value>/modules/CompanyOverview/1.0/module/json</value>
      </setting>
      <setting name="SwapModuleEditorServiceUrl" serializeAs="String">
        <value>/modules/EditorData/1.0/json</value>
      </setting>
      <setting name="CreateAlertModuleUrl" serializeAs="String">
        <value>/modules/Alerts/1.0/module/json</value>
      </setting>
      <setting name="CreateCompanyOverviewModuleUrl" serializeAs="String">
        <value>/modules/CompanyOverview/1.0/module/json</value>
      </setting>
      <setting name="CreateUpdateAlertModuleUrl" serializeAs="String">
        <value>/modules/Alerts/1.0/module/json</value>
      </setting>
      <setting name="CreateUpdateCompanyOverviewModuleUrl" serializeAs="String">
        <value>/modules/CompanyOverview/1.0/module/json</value>
      </setting>
      <setting name="SwapModuleServiceUrl" serializeAs="String">
        <value>/Pages/1.0/modules/replace/json</value>
      </setting>
      <setting name="DashboardServiceBaseUrl" serializeAs="String">
        <value>http://api.dowjones.com/api/dashboard</value>
      </setting>
      <setting name="AlertsListServiceUrl" serializeAs="String">
        <value>/modules/Alerts/1.0/module/json</value>
      </setting>
      <setting name="AlertsModuleEditorServiceUrl" serializeAs="String">
        <value>/modules/Alerts/1.0/module/json</value>
      </setting>
    </DowJones.Web.Mvc.UI.Canvas.Settings>
  </applicationSettings>
</configuration>
