<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EMG.Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EMG.Utility.Properties.Settings>
            <setting name="ResourceName" serializeAs="String">
                <value>EMGUtilitiesResources</value>
            </setting>
            <setting name="AssemblyName" serializeAs="String">
                <value>EMGUtilitiesResources</value>
            </setting>
            <setting name="MarketingDataURL" serializeAs="String">
                <value>http://wwdvsupport.dev.us.factiva.net:8888/login/whatsnew/data.aspx</value>
            </setting>
            <setting name="CacheExpiryInMinutes" serializeAs="String">
                <value>1440</value>
            </setting>
            <setting name="ByPassSessionServerCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadSpeaker_Base_Redirection_Url" serializeAs="String">
                <value>http://asp2.readspeaker.net/cgi-bin/dowjonesrsone/{0}.mp3</value>
            </setting>
            <setting name="ReadSpeaker_ContentHandler" serializeAs="String">
                <value>~/readspeaker/content.ashx</value>
            </setting>
            <setting name="ReadSpeaker_Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReadSpeaker_CustomerId" serializeAs="String">
                <value>188</value>
            </setting>
            <setting name="ReadSpeaker_SupportedLanguages" serializeAs="String">
                <value>en,es,fr,de,it</value>
            </setting>
            <setting name="ReadSpeaker_MaxWordCount" serializeAs="String">
                <value>5000</value>
            </setting>
        </EMG.Utility.Properties.Settings>
    </applicationSettings>
</configuration>