@model dynamic
@{
    ViewBag.Title = "Welcome to Dow Jones UI Showcase!";
}
<div class="container">
	<div class="well">
		<h2>Welcome!</h2>
		<p>
			The UI Architecture Portal is a way to inform and collaborate with the 
			Dow Jones Development community. The portal provides access to information on the 
			various development frameworks, components, standards and best practices currently in use today.
		</p>
		<p>
			<ul>
				<li><a href="~/GettingStarted/InstallDevelopmentTools">What tools do we use?</a></li>
				<li><a href="~/Development/CodingStandards">Do we have standards?</a></li>
				<li><a href="~/Development/BestPractices">What are our Best Practices?</a></li>
				<li><a href="~/forum">How do I get help?</a></li>
				<li><a href="~/GettingStarted/ConfigureDevelopmentEnvironment#dowjoneswebsitetemplate">How to develop a web site?</a></li>
				<li><a href="~/Development/UseAComponent">How do I use a component?</a></li>
                <li><a href="~/Development/CreateAComponent">Can I build a component?</a></li>
			</ul>
		</p>
	</div>
    <div class="row-fluid">
        <div class="span4">
            <h3 class="unit framework">Dow Jones UI Framework</h3>
            <p>
				The Dow Jones UI Framework lets you develop robust web applications using 
                ASP.NET MVC and/or JavaScript.
            </p>
            <p><a class="btn" href="~/GettingStarted/Introduction">Learn more »</a></p>
        </div>
        <div class="span4">
            <h3 class="unit configure">Component Customization</h3>
            <p>
                Easily customize a component using CSS or creating your own template.
            </p>
            <p><a class="btn" href="~/Components/Customization">Learn more »</a></p>
        </div>
        <div class="span4">
            <h3 class="unit integrate">Component Integration</h3>
            <p>
				Seamlessly integrate components into your application client side on any 
                platform using JavaScript.
            </p>
            <p><a class="btn" href="~/Development/UseAComponent">Learn more »</a></p>
        </div>
    </div>
	<div class="row-fluid">
		<div class="span4">
			<h3 class="unit standards">Common Standards</h3>
			<p>
				Learn about the common language coding standards for C# and JavaScript as well 
				as naming conventions used within the Dow Jones UI Frameworks
			</p>
			<p><a class="btn" href="~/Development/CodingStandards">Learn more »</a></p>
		</div>
		<div class="span4">
			<h3 class="unit practices">Best Practices</h3>
			<p>
				Find out the best practices used across the various development languages and tools.
			</p>
			<p><a class="btn" href="~/Development/BestPractices">Learn more »</a></p>
		</div>
		<div class="span4 news">
			<h3 class="unit latest">Latest News</h3>
			<p>
				Check out the updated <a href="~/Development/CodingStandards">Coding Standards</a>.
			</p>
			<p>
				Learn some of the <a href="~/Development/BestPractices">Best Practices</a> in using our
				<a href="~/Development/BestPractices#tools">tools</a>.
			</p>
			<p>
				News 3
			</p>
			<div><a class="btn" href="#">View older »</a></div>
		</div>
	</div>
    <div class="row-fluid">
        <div class="span4">
            <h3 class="unit engage">Engage with the community</h3>
            <p>
				Ask <a href="~/forum/questions">questions</a> or participate in the <a href="~/forum/discussions">discussions</a>; 
				even <a href="~/forum/suggestions">suggest</a> new features or provide <a href="~/forum/feedback">feedback</a> 
                on existing components - all in the <a href="~/forum">DJ Forum</a>
            </p>
            <p><a class="btn" href="#">Go there »</a></p>
        </div>
    </div>
</div>
