/***  SimpleSearchControl  ***/

.dj_SimpleSearchControl {
}
.dj_SimpleSearchControl .results {
    position:absolute;
    left:0;
    display:none;
    width:100%;
}
.dj_SimpleSearchControl .results li {
    background-color:#FFFFFF;
}
.dj_SimpleSearchControl .results li:nth-child(odd) {
    background-color:#F2F2F2;
}
.dj_SimpleSearchControl .results li.over {
    background-color:#FFFF00;
}
.dj_SimpleSearchControl .results li a {
    display:block;
}