<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DowJones.Infrastructure.v3" version="3.1.68" />
  <package id="DowJones.Parallel" version="1.0.0" />
  <package id="DowJones.Web.Mvc.UI.Components.Models.v3" version="3.1.68" />
  <package id="DowJones.Web.Mvc.UI.Components.v3" version="3.1.68" />
  <package id="DowJones.Web.Mvc.v3" version="3.1.68" />
  <package id="Factiva.Gateway" version="7.5.0.78" />
  <package id="Hammock" version="1.2.6" />
  <package id="log4net" version="1.2.99" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="Ninject" version="2.2.1.4" />
</packages>