<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DowJones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DowJones.Charting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DowJones.Properties.Settings>
      <setting name="ClientResourceCachingToken" serializeAs="String">
        <value>na</value>
      </setting>
      <setting name="ResourceManagerResourceName" serializeAs="String">
        <value>TopStoriesResources</value>
      </setting>
      <setting name="ResourceManagerAssemblyName" serializeAs="String">
        <value>TopStoriesResources</value>
      </setting>
    </DowJones.Properties.Settings>
    <DowJones.Charting.Properties.Settings>
      <setting name="CacheKeyNamespace" serializeAs="String">
        <value>REST_API</value>
      </setting>
    </DowJones.Charting.Properties.Settings>
  </applicationSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <httpHandlers>
      <add verb="*" path="dowjones.charting.handler.saveimage.ashx" type="DowJones.Charting.Highcharts.SaveImageHttpHandler, DowJones.Charting"/>
      <add verb="*" path="dowjones.charting.handler.image.ashx" type="DowJones.Charting.Highcharts.ImageHttpHandler, DowJones.Charting"/>
      <add verb="*" path="dowjones.charting.handler.exporter.ashx" type="DowJones.Charting.Highcharts.ExporterHttpHandler, DowJones.Charting"/>
      <add verb="GET" path="ClientResource.axd" type="DowJones.Web.ClientResourceHandler" />
      <add verb="GET" path="common.js" type="DowJones.Web.Mvc.Infrastructure.CoreJsHandler, DowJones.Web.Mvc" />
      <add verb="*" path="PlatformProxy.asmx" validate="false" type="DowJones.Web.Handlers.Proxy.StreamingProxyHandler" />
    </httpHandlers>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="SaveImageHandler" verb="*" path="dowjones.charting.handler.saveimage.ashx" type="DowJones.Charting.Highcharts.SaveImageHttpHandler, DowJones.Charting"/>
      <add name="ImageHandler" verb="*" path="dowjones.charting.handler.image.ashx" type="DowJones.Charting.Highcharts.ImageHttpHandler, DowJones.Charting"/>
      <add name="ExporterHandler" verb="*" path="dowjones.charting.handler.exporter.ashx" type="DowJones.Charting.Highcharts.ExporterHttpHandler, DowJones.Charting"/>
      <add name="ClientResourceHandler" verb="GET" path="ClientResource.axd" type="DowJones.Web.ClientResourceHandler, DowJones.Infrastructure" />
      <add name="CommonScriptHandler" verb="GET" path="common.js" type="DowJones.Web.Mvc.Infrastructure.CoreJsHandler, DowJones.Web.Mvc" />
      <add name="PlatformProxy" verb="*" path="PlatformProxy.asmx" type="DowJones.Web.Handlers.Proxy.StreamingProxyHandler" />
    </handlers>
  </system.webServer>
</configuration>