@using Web.Mvc.Extensions
@using DowJones.Factiva.Currents.Models

@inherits DowJones.Web.Mvc.UI.CompositeComponent<CustomTopicsModel>
@ClientPlugin dj_CustomTopics
@ScriptResource RelativeResourceName=CustomTopics.js

@{ 
    CssClass += " dj_CustomTopics";
}

<div class="module">
    <header>
        <i class="icon-th-large icon-white"></i>
        <span>Custom Topics</span>
    </header>
    <div class="content">
		<div class="row">

            @foreach(var headline in Model.CurrentsHeadlines.Take(3))
			{
				<div class="span4">
                     <div class="module-col-wrap">
                            <h3 class="module-col-title article-group-title">
                                @headline.Title
                            </h3>
                        </div>
                    <div class="article-group">
                        @Html.DJ().Render(headline.CurrentHeadline)
                    </div>
                 </div>
			}
		</div>
    </div>
</div>