@using $rootnamespace$.Filters
@using DowJones.Web.Mvc.Extensions
@{
    ViewBag.Title = "";
    Layout = "";//Set the appropriate Layout
}

<div>
    <!-- Get the error info from ViewData using error info key "ViewData[HandleExceptionAttribute.KEY_ERROR_INFO];" and
    render it as per the requirement -->
</div>
