<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
	</configSections>
	<ServiceSettings>
		<transactionSettings>
			<transaction key="Factiva.Gateway.Messages.MarketData.V1_0:GetQuote">
				<name>MDS_GET_QUOTE</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\mds\GetQuoteResponse.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
			</transaction>

			<transaction key="Factiva.Gateway.Messages.MarketData.V1_0:GetHistoricalDataByTimePeriod">
				<name>MDS_GET_TSD</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\mds\GetHistoricalDataByTimePeriodResponse.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
			</transaction>
			
			<transaction key="Factiva.Gateway.Messages.MarketData.V1_0:GetHistoricalDataByDataPoints">
				<name>MDS_GET_TSD</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\mds\GetHistoricalDataByDataPointsResponse.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
			</transaction>
			
			<transaction key="Factiva.Gateway.Messages.MarketData.V1_0:GetHistoricalDataByDateRange">
				<name>MDS_GET_TSD</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\mds\GetHistoricalDataByDateRangeResponse.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
			</transaction>
			
		</transactionSettings>
	</ServiceSettings>
</configuration>
