.script-module .rss-feed .article-list {
  list-style: none;
  margin: 5px 10px; }
.script-module .rss-feed .article-group .article-wrap {
  margin-bottom: 5px; }
.script-module .rss-feed .article-headline {
  font-size: 93%;
  font-weight: bold;
  line-height: 16px; }
  .script-module .rss-feed .article-headline a {
    color: #000; }
.script-module .rss-feed .article-meta {
  color: #999; }
  .script-module .rss-feed .article-meta .date-stamp {
    text-transform: none; }
  .script-module .rss-feed .article-meta .article-source,
  .script-module .rss-feed .article-meta .time-stamp,
  .script-module .rss-feed .article-meta .date-stamp,
  .script-module .rss-feed .article-meta .media-length,
  .script-module .rss-feed .article-meta .fi,
  .script-module .rss-feed .article-meta .byline,
  .script-module .rss-feed .article-meta .author {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    color: #999;
    font-size: 85%;
    line-height: normal;
    text-transform: uppercase; }

