<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DowJones.Charting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DowJones.Charting.Properties.Settings>
            <setting name="ExporterEncryptedToken" serializeAs="String">
                <value>S00ZGF91tNqYWRyMTZyMTMpN9AsODUvOHmm5DN9RcF0WEbBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB</value>
            </setting>
            <setting name="CacheKeyNamespace" serializeAs="String">
                <value>REST_API</value>
            </setting>
            <setting name="HighChartsExportService" serializeAs="String">
                <value>http://export.highcharts.com/</value>
            </setting>
            <setting name="BaseUrl" serializeAs="String">
                <value>http://montana.dev.us.factiva.com</value>
            </setting>
            <setting name="Resource" serializeAs="String">
                <value>OldShowCase/dowjones.charting.handler.exporter.ashx</value>
            </setting>
        </DowJones.Charting.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>