<ul class="realtime-news">
    <%  var x, title, headlines = self, options = this.options;
        for (var i = 0, len = Math.min(headlines.length, options.maxNumHeadlinesToShow); i < len; i++) { 
            x = headlines[i]; 
            title = (options.showTruncatedTitle && $.trim(x.truncatedTitle)) || x.title;
    %>
    <li class="dj_entry">
        <h4 class="headline">
            <a class="article-view-trigger ellipsis" href="#">
                <% if (x.modificationTimeDescriptor) { %>
                    <span class="time-stamp"><%= x.modificationTimeDescriptor %></span>
                <% } %>
                <span class="headline-text"><%= title %></span>
             </a>
        </h4>
    </li>
    <% } %> 
</ul>
