 <% var DiscoveryCollection = self.DiscoveryCollection; %>
 <ul class="discovery">
    <% for (var i = 0; i < DiscoveryCollection.length; i++) { var list = DiscoveryCollection[i]; %>
        <% if (list.ChartType == 1) { %>
            <li class="discovery-group expanded">
                <div class="discovery-type">
                    <span class="toggle">&nbsp;</span><span class="name"><%= list.Title %></span>
                </div>
                <ul class="discovery-items">
                    <% for (var j = 0; j < list.DiscoveryItems.length; j++) { var item = list.DiscoveryItems[j]; %>
                        <li class="item chart-item" data-type="<%= list.DataTypeCode %>" data-name="<%= item.Data %>" data-value="<%= item.Id %>">
                            <span class="discovery-label">
                                <a href="#" title="<%= item.Data %>"><%= item.Data %></a>
                            </span>
                            <span class="discovery-chart">
                                <span class="chart-value"><%= item.Count %></span>
                                <span style="width:<%= item.ShareOfTop %>%;" class="chart-bar">&nbsp;</span>
                            </span>
                        </li>
                    <% } %>
                </ul>
            </li>
        <% } else if (list.ChartType == 2) { %>
            <li class="discovery-group expanded">
                <div class="discovery-type">
                    <span class="toggle">&nbsp;</span>
                    <span class="name">Keywords</span>
                </div>
                <ul class="discovery-items dj_emg_djc_keyword_list">
                    <% for (var j = 0; j < list.DiscoveryItems.length; j++) { var item = list.DiscoveryItems[j]; %>
                        <li class="dj_emg_djc_keyword_item<%= Math.ceil(item.ShareOfTop / 10) %> item cloud-item" data-type="text" data-name="<%= item.Data %>" data-value="<%= item.Id %>">
                            <a href="#" title="<%= item.Data %>"><%= item.Data %></a>
                        </li>
                    <% } %>
                </ul>
            </li>
        <% } %>
    <% } %>
</ul>