        <div id="industry-links">
            <h5 class="section-title">Industry</h5>
            <div id="industry-links-wrap" class="clearfix">
                <ul class="footer-links-list">
                    <li></li>
                </ul>
                <ul class="footer-links-list">
                    <li></li>
                </ul>
                <ul class="footer-links-list">
                    <li></li>
                </ul>
                <ul class="footer-links-list">
                    <li></li>
                </ul>
            </div>
        </div>
        
        <div id="ma-legal-links">
            <div id="my-account-links">
                <h5 class="section-title">My Account</h5>
                <ul class="footer-links-list">
                    <li><a href="./Index_files/Index.htm">Profile</a></li>
                    <li><a href="./Index_files/Index.htm">Preferences</a></li>
                </ul>
            </div>
            
            <div id="legal-links">
                <h5 class="section-title">My Account</h5>
                <ul class="footer-links-list">
                    <li><a href="./Index_files/Index.htm">Feedback</a></li>
                    <li><a href="./Index_files/Index.htm">Privacy Policy</a></li>
                    <li><a href="./Index_files/Index.htm">Contact Us</a></li>
                </ul>
            </div>
        </div>