<ul class="menu">
  <li class="selected">
    <a href="/Orchard">Home</a>
  </li>
  <li>
    <a href="http://montana.dev.us.factiva.com/developer/2.0/documentation">Documentation</a>
  </li>
  <li>
    <a href="http://montana.dev.us.factiva.com/developer/2.0/explore">Widget Explorer</a>
  </li>
  <li>
    <a href="http://montana.dev.us.factiva.com/developer/2.0/workflow">Workflows</a>
  </li>
  <li>
    <a href="http://montana.dev.us.factiva.com/developer/Blog">Blog</a>
  </li>
  <li class="last">
    <a class="logout" href="/Orchard/Users/Account/LogOff">Log Out</a>
  </li>
</ul>
