<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DowJones.Infrastructure" version="3.3.57" targetFramework="net40" />
  <package id="DowJones.Pages" version="3.3.57" targetFramework="net40" />
  <package id="DowJones.Pages.Modules" version="3.3.60" targetFramework="net40" />
  <package id="DowJones.Parallel" version="1.0.0" targetFramework="net40" />
  <package id="DowJones.Web.Mvc" version="3.3.57" targetFramework="net40" />
  <package id="DowJones.Web.Mvc.UI.Canvas" version="3.3.57" targetFramework="net40" />
  <package id="DowJones.Web.Mvc.UI.Canvas.Modules.Models" version="3.3.60" targetFramework="net40" />
  <package id="DowJones.Web.Mvc.UI.Components" version="3.3.57" targetFramework="net40" />
  <package id="DowJones.Web.Mvc.UI.Components.Models" version="3.3.57" targetFramework="net40" />
  <package id="Factiva.Gateway" version="7.5.0.98" targetFramework="net40" />
  <package id="Hammock" version="1.2.9" targetFramework="net40" />
  <package id="log4net" version="1.2.99" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.10" targetFramework="net40" />
  <package id="Ninject" version="2.2.1.4" targetFramework="net40" />
</packages>