<div class="dj_post-processing-form email-modal">
    <ul class="dj_SaveFmtOptions">
        <li><label for="save_pp_rtf"><input type="radio" name="saveFmtOptions" value="rtf" checked="checked" id="save_pp_rtf"/><%= Token("rtf") %></label></li>
        <li><label for="save_pp_pdf"><input type="radio" name="saveFmtOptions" value="pdf" id="save_pp_pdf"/><%= Token("pdf") %></label></li>
        <li><label for="save_pp_xml"><input type="radio" name="saveFmtOptions" value="xml" id="save_pp_xml"/><%= Token("xml") %></label> <span class="xmlLinks">( <%= Token("clickForPre") %> <a href="http://customer.factiva.com/en/custSvc/CSMain.aspx?id=8812" class="xmlHelp" target="_xmlWindow"><%= Token("xmlHelp") %></a> <%= Token("clickForPost") %> <a href="http://global.factiva.com/pps/PPS_Schema.xsd" class="xmlSchema" target="_xmlWindow"><%= Token("xmlSchema") %></a>)</span></li>
    </ul>
</div>