.dj_Article .wrap {
    border-bottom:1px dashed #DDD;
    padding:5px 5px 10px 5px;
    cursor:pointer;
}
.dj_Article .wrap {
    padding:10px 5px 0 0;
    border:none;
    cursor:text;
}
.dj_Article .headline {
    color: #2F90B3;
    text-decoration: none;
    font-size:20px;
    line-height:20px;
}
.dj_Article .meta {
    color: #999;
    display: inline-block;
    font-size: 11px;
    line-height: normal;
}
.dj_Article .source {
    color: #555;
    font-weight:bold;
    text-transform:uppercase;
}
.dj_Article .author {
    display:block;
}
.dj_Article .body {
    margin-top:15px;
    font-size:14px;
}
.dj_Article .body p {
    margin:0 0 10px 0;
}