<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DowJones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DowJones.Web.Showcase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DowJones.Web.Mvc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DowJones.Web.Mvc.UI.Canvas.CanvasSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DowJones.Web.Mvc.UI.Components.ComponentSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="glimpse" type="Glimpse.Core.Configuration.GlimpseConfiguration" />
  </configSections>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="DowJones.Web.Mvc.UI.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="DowJones.Extensions" />
        <add namespace="DowJones.Web" />
        <add namespace="DowJones.Web.UI" />
        <add namespace="DowJones.Web.Mvc.Extensions" />
        <add namespace="DowJones.Web.Mvc.Mobile.Extensions" />
        <add namespace="DowJones.Web.Mvc.UI" />
        <add namespace="DowJones.Web.Mvc.UI.Extensions" />
        <add namespace="DowJones.Web.Mvc.UI.Canvas" />
        <add namespace="DowJones.Web.Showcase.Models" />
        <add namespace="DowJones.Web.Showcase.Extensions" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <applicationSettings>
    <DowJones.Web.Showcase.Properties.Settings>
      <setting name="ThunderBallEntitlementToken" serializeAs="String">
        <value>e73a8e8ffcaa4646b8e6d12ffac23199</value>
      </setting>
      <setting name="ThunderBallEndpointAddress" serializeAs="String">
        <value>http://wsapi.marketwatch.com/ThunderBall/ChartService.svc</value>
      </setting>
    </DowJones.Web.Showcase.Properties.Settings>
    <DowJones.Properties.Settings>
      <setting name="BaseCycloneRedirectionURL" serializeAs="String">
        <value>http://global.int.factiva.com/redir/default.aspx</value>
      </setting>
      <setting name="ClientResourceHandlerPath" serializeAs="String">
        <value>~/ClientResource.axd</value>
      </setting>
      <setting name="ClientResourceCachingToken" serializeAs="String">
        <value>clear</value>
      </setting>
      <setting name="Corda_InternalServerAddress" serializeAs="String">
        <value>http://preview.int.factiva.com/pcredirector/v7/ctClusterMonitor.dll</value>
      </setting>
      <setting name="Corda_ExternalServerAddress" serializeAs="String">
        <value>http://preview.int.factiva.com/pcredirector/v7/ctredirector.dll</value>
      </setting>
      <setting name="DependencyInjectionAutoLoadedAssemblyPatterns" serializeAs="String">
        <value>DowJones*.dll</value>
      </setting>
      <setting name="ResourceManagerResourceName" serializeAs="String">
        <value>UINewspagesResources</value>
      </setting>
      <setting name="ResourceManagerAssemblyName" serializeAs="String">
        <value>UINewspagesResources</value>
      </setting>
      <setting name="SuggestServiceURL" serializeAs="String">
        <value>http://suggest.int.dowjones.com/Search/1.0</value>
      </setting>
      <setting name="TaxonomyServiceUrl" serializeAs="String">
        <value>http://api.int.dowjones.com/api/Public/2.0/Taxonomy.svc</value>
      </setting>
      <setting name="HttpWebRequestTimeoutInSeconds" serializeAs="String">
        <value>180</value>
      </setting>
    </DowJones.Properties.Settings>
    <DowJones.Web.Mvc.UI.Canvas.CanvasSettings>
      <setting name="DashboardServiceBaseUrl" serializeAs="String">
        <value>http://api.int.dowjones.com/api/dashboard</value>
      </setting>
    </DowJones.Web.Mvc.UI.Canvas.CanvasSettings>
    <DowJones.Web.Mvc.UI.Components.ComponentSettings>
      <setting name="AutoSuggestHandlerServiceUrl" serializeAs="String">
        <value>http://arch.dev.us.factiva.com/handlers/emg.tools.web.widgets.autosuggest.ashx?version=2.0</value>
      </setting>
    </DowJones.Web.Mvc.UI.Components.ComponentSettings>
  </applicationSettings>
  <appSettings>
    <add key="enableSimpleMembership" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PlatformProxyBaseUrl" value="/ShowCase/PlatformProxy.asmx" />
  </appSettings>
  <system.web>
    <globalization culture="en-US" uiCulture="en" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="DowJones.Extensions" />
        <add namespace="DowJones.Web" />
        <add namespace="DowJones.Web.Mvc.UI" />
        <add namespace="DowJones.Web.Mvc.Extensions" />
      </namespaces>
    </pages>
    <httpModules>
      <remove name="FormsAuthentication" />
      <remove name="WindowsAuthentication" />
      <remove name="PassportAuthentication" />
      <remove name="UrlAuthorization" />
      <remove name="FileAuthorization" />
      <remove name="ScriptModule-4.0" />
      <add name="Glimpse" type="Glimpse.Core.Module" />
    </httpModules>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <remove verb="*" path="*.svc" />
      <add verb="GET" path="ClientResource.axd" type="DowJones.Web.ClientResourceHandler" />
      <add verb="*" path="PlatformProxy.asmx" validate="false" type="DowJones.Web.Handlers.Proxy.StreamingProxyHandler" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="DowJones.Web.Handlers.*.ashx" type="DowJones.Web.Handlers.BasicHttpHandlerFactory, DowJones.Web" />
      <add path="glimpse.axd" verb="GET,POST" type="Glimpse.Core.Handler" />
    </httpHandlers>
    <webServices>
      <protocols>
        <add name="HttpSoap"></add>
        <add name="HttpPost"></add>
        <add name="HttpGet"></add>
      </protocols>
    </webServices>
    <sessionState mode="Custom" customProvider="GatewaySessionProvider">
      <providers>
        <add name="GatewaySessionProvider" type="DowJones.Web.Session.GatewaySessionStateProvider" />
      </providers>
    </sessionState>
    <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false" />
  </system.web>
  <system.webServer>
    <urlCompression dynamicCompressionBeforeCache="true" doDynamicCompression="true" doStaticCompression="true" />
    <staticContent>
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="90.00:00:00" />
    </staticContent>
    <httpErrors existingResponse="PassThrough" />
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add name="Glimpse" type="Glimpse.Core.Module,Glimpse.Core" preCondition="integratedMode" />-->
    </modules>
    <handlers>
      <add name="ClientResourceHandler" verb="GET" path="ClientResource.axd" type="DowJones.Web.ClientResourceHandler, DowJones.Infrastructure" />
      <add name="PlatformProxy" verb="*" path="PlatformProxy.asmx" type="DowJones.Web.Handlers.Proxy.StreamingProxyHandler, DowJones.Infrastructure" />
      <add name="HandlerFactory" verb="*" path="DowJones.Web.Handlers.*.ashx" type="DowJones.Web.Handlers.BasicHttpHandlerFactory, DowJones.Web" />
      <add name="Glimpse" path="glimpse.axd" verb="GET,POST" type="Glimpse.Core.Handler,Glimpse.Core" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <!--<system.net>
    <defaultProxy>
      <proxy usesystemdefault="False" bypassonlocal="True" proxyaddress="http://127.0.0.1:8888" />
    </defaultProxy>
  </system.net>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <glimpse enabled="true" />
</configuration>