@using DowJones.Factiva.Currents.Components.CurrentsHeadline
@model DowJones.Factiva.Currents.Website.Models.CanvasViewModel

@{
    ViewBag.Title = "Home Page";
}
<section class="row">
    <div class="span12">
        @Html.Partial("~/Views/Modules/_Sources.cshtml", Model.Sources)
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        
    </script>
}

