@using DowJones.Factiva.Currents.Components.CurrentsHeadline
@model DowJones.Factiva.Currents.Website.Models.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}
<section class="row">
    <div class="span10">
        <div class="module">
            <header>
                <i class="icon-tasks icon-white"></i>
                <span>Sources</span>
            </header>
			<div class="content">
				<div class="row">
					<div class="span4">@Html.DJ().Render(Model.CurrentsHeadlineModel) </div>
					<div class="span4"></div>
                    <div class="span4"></div>
                </div>
				<div id="sources-headlines-1"></div>
			</div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        
    </script>
}

