@inherits AbstractCanvasModule<Modules.ScriptModule.ScriptModule>
@ScriptResource RelativeResourceName=ScriptModule.js
@ClientPlugin dj_ScriptModule
@section ContentArea {<div class="script-component-container">@Html.Raw(Model.Html ?? string.Empty)</div>}
@section EditArea {}