@inherits AbstractCanvasModule<Modules.ScriptModule.ScriptModule>
@ScriptResource RelativeResourceName=ScriptModule.js
@ClientPlugin dj_ScriptModule
@{
    HtmlAttributes.Add("data-script-template-id", Model.TemplateId);
}
@section ContentArea {
    @if(Model.HasStylesheet) { <link rel="stylesheet" href="@Model.StylesheetUrl"/> }
    <div class="script-component-container">@Html.Raw(Model.Html ?? string.Empty)</div>
}
@section EditArea {}