
 <ul class="dj_discoveryFilters-list">
    <li class="dj_discoveryFilters-listItem">
        <!-- Discovery container -->
        <div class="dj_df-div">
            <div class="dj_df-header open">
                <a id="cd_minMax" class="dj_df-expand" href="javascript:void(0)" title="<%= Token("collapse") %>">
                    <span class="cd_hideSpan"><%= Token("collapse") %></span>
                </a> 
                <span class="dj_df-export">
                  <a href="javascript:void(0)" class="export" title="<%= Token("export") %>"><span><%= Token("export") %></span></a>
                </span>
                <h5 class="dj_cd-title" title="<%= Token("dragToReposition") %>">Companies</h5>
            </div>
            <div class="cd_div_expand">
                <!-- Add the container -->
                <div id="hc-container" class="dj_hc-container"></div>
            </div>
        </div>
    </li>
</ul>