<?xml version="1.0" encoding="utf-8" ?>
<ItemHandlerConfig>
	<BasePath value="\\fdmznas\Data\EMGUPLD"/>
	<Domain value="i"/>
	<User value="EMGUtilUser"/>
	<Password value="Sw0rdf1sh!"/>
	<Products>
		<Product id="GL" >
			<MimeTypes>
				<MimeType name="GIF" MaxSize="40960"/>
				<MimeType name="JPEG" MaxSize="40960"/>
				<MimeType name="PNG" MaxSize="40960"/>
			</MimeTypes>
		</Product>
		<Product id="FP" >
			<MimeTypes>
				<MimeType name="GIF" MaxSize="40960"/>
				<MimeType name="JPEG" MaxSize="40960"/>
				<MimeType name="PNG" MaxSize="40960"/>
			</MimeTypes>
		</Product>
		<Product id="IN" >
			<MimeTypes>
				<MimeType name="GIF" MaxSize="40960"/>
				<MimeType name="JPEG" MaxSize="40960"/>
				<MimeType name="PNG" MaxSize="40960"/>
			</MimeTypes>
		</Product>
		<Product id="IF" >
			<MimeTypes>
				<MimeType name="GIF"  MaxSize="40960"/>
				<MimeType name="JPEG"  MaxSize="40960"/>
				<MimeType name="PNG"  MaxSize="40960"/>
			</MimeTypes>
		</Product>
		<Product id="FC" >
			<MimeTypes>
				<MimeType name="GIF"  MaxSize="40960"/>
				<MimeType name="JPEG"  MaxSize="40960"/>
				<MimeType name="PNG"  MaxSize="40960"/>
			</MimeTypes>
		</Product>
		<Product id="MO" >
			<MimeTypes>
				<MimeType name="GIF"  MaxSize="40960"/>
				<MimeType name="JPEG"  MaxSize="40960"/>
				<MimeType name="PNG"  MaxSize="40960"/>
			</MimeTypes>
		</Product>
		<Product id="GE" >
			<MimeTypes>
				<MimeType name="GIF"  MaxSize="40960"/>
				<MimeType name="JPEG"  MaxSize="40960"/>
				<MimeType name="PNG"  MaxSize="40960"/>
			</MimeTypes>
		</Product>
		<Product id="FS" >
			<MimeTypes>
				<MimeType name="GIF"  MaxSize="40960"/>
				<MimeType name="JPEG"  MaxSize="40960"/>
				<MimeType name="PNG"  MaxSize="40960"/>
			</MimeTypes>
		</Product>
		<Product id="S" >
			<MimeTypes>
				<MimeType name="GIF"  MaxSize="40960"/>
				<MimeType name="JPEG"  MaxSize="40960"/>
				<MimeType name="PNG"  MaxSize="40960"/>
			</MimeTypes>
		</Product>
		<Product id="CP" >
			<MimeTypes>
				<MimeType name="GIF"  MaxSize="40960"/>
				<MimeType name="JPEG"  MaxSize="40960"/>
				<MimeType name="PNG"  MaxSize="40960"/>
			</MimeTypes>
		</Product>

	</Products>
</ItemHandlerConfig>
