@font-face
{
    src: url("assets/MyriadWebPro.ttf");
    font-family: myriad;
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    src: url("assets/MyriadWebPro-Bold.ttf");
    font-family: myriad;
    font-style: normal;
    font-weight: bold;
}


ApplicationControlBar {
	corner-radius: 0;
}

.menuBarButton {
	corner-radius:2;
	label-gap:0;
	color: #FFFFFF;
}

.title
{
    font-family: myriad; 
    font-size: 24pt;
    font-weight: bold;
}


HSlider {
	showTrackHighlight: true;
}

Panel { 
   borderThickness: 0;
   roundedBottomCorners: true;
   backgroundAlpha: 1;
   borderAlpha: 1;
   highlightAlphas: 0.73, 0;
   
   headerColors: #666666, #666666;
   footerColors: #666666, #666666;
   borderColor: #666666;
   titleStyleName: "myTitleStyle";
} 

.myTitleStyle {
       color: #ffffff;
   }


.taskBarButton {
	corner-radius: 2;	
}

.quadLabel
{
    font-family: myriad; 
    font-size: 36pt;
    font-weight: bold;
}
