.dj_stockQuotes {
    width:187px; 
}
.dj_stockQuotes .dj_headerRow span  {
    float:left;
    width:62px;    
    font-family: Arial;
    font-size: 10px;    
    color:#999999
}
.dj_stockQuotes .dj_headerRow .dj_change {
  text-align:right; 
}
.dj_stockQuotes .dj_headerRow .dj_price {
  text-align:right; 
} 
.dj_marketBlock {
    border-bottom: 1px solid #D9DFDD;
    float:left;
    position:relative;
    height:46px;
    overflow:hidden;
}
.dj_marketBlock .chart {
    display: inline;
    float: left;
    margin-left: 10px;
    overflow: hidden;
    position: relative;
    width: 180px;
}
.dj_marketBlock .dj_tickerRow {
    border-top: 1px solid #D9DFDD;
    padding: 0px 0 3px 0px;   
    font-family: Arial;
    font-size: 11px;         
}
.dj_marketBlock .selected{
    background-color: #DDDDDD;
}
.dj_marketBlock .dj_tickerRow a {
    display:block;
    float:left;
    width:62px;
    cursor:pointer;
    text-align:left;
    color:#3399cc;    
}
.dj_marketBlock .dj_tickerRow span{
    float:left;
    width:62px;     
}
.dj_marketBlock .dj_tickerRow .dj_price
{
    color:#444444;
}
.dj_marketBlock .dj_tickerRow .dj_negative{
    color :#cc3e33;
}
.dj_marketBlock .dj_tickerRow .dj_positive {
    color: #11a106;
}
.dj_marketBlock .dj_tickerRow .dj_price, .dj_marketBlock .dj_tickerRow .dj_negative, .dj_marketBlock .dj_tickerRow .dj_positive {
    float: left;
    text-align: right;
}
.dj_marketBlock .dj_tickerItems {
    float:left;
    position:relative;
    width:187px;
}
body {
    color: #333333;
    font-family: Arial;
    font-size: 12px;
    line-height: 1.417em;
}
.dj_clear {
    clear: both;
}
.dj_actions {
    float:left;
    padding-top:5px;       
}
.dj_actions a {
	font-size:11px;		
	cursor:pointer;
	color:#666;
	width:15px;
	height:15px;
	display:inline-block;
}
.dj_actions .prev {
    background:url(../images/arRowup.png) no-repeat; 
    margin-left:80px;  
}
.dj_actions .next {
    background:url(../images/arRowdown.png) no-repeat; 
    margin-left:8px;
}
.dj_chartContainer {
    position:absolute;
    width: 150px;
    margin-left:200px;
}
.dj_chartLegend {
    position:absolute;margin-left:200px;margin-top:115px;
} 
.dj_chartLegend div {
    color:#999999;      
    font-size: 10px;
    line-height: 10px;
} 
#tempContent  { width:380px; height:212px; /*border: 1px solid*/}