<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{4}</title>
	<script id="EMG_DOWJONES_BASE_LIBRARY_SCRIPT" type="text/javascript" src="{1}"></script>
	<script id="EMG_DOWJONES_LOAD_SCRIPT__PAGEFLAKES_" type="text/javascript">
    function LOAD_EMG_DOWJONES__PAGEFLAKES_(id) {{
      this.id = id;
      this.fso = null;
    }}
    LOAD_EMG_DOWJONES__PAGEFLAKES_.prototype = {{
	   getHeadElement : function() {{
            var head=document.getElementsByTagName("head");
            if (head){{
                return head[0];
            }} 
            return null;
       }},
       importJS: function(url, token, look_for, onload) {{
        var script = document.createElement('script'); 
        script.src = (token) ? url + "?appver=" + token : url; // sets the scripts source to the specified url
        script.type ="text/javascript";
        script.charset = "utf-8";
                    
        var head = this.getHeadElement();
        if (head){{
            head.appendChild(script);// appends the tag to the head       
        }}
        else {{
            document.body.appendChild(script);// appends the tag to the head       
        }}
        if (onload) this.wait_for_script_load(look_for, onload);     
      }},
        
	  wait_for_script_load: function(look_for, callback) {{
        var interval = setInterval(function() {{
            if (eval("typeof " + look_for) != 'undefined') {{
                clearInterval(interval);
                callback();
            }}
        }}, 50);
      }},
      
      fire: function(){{
        
      }},
      
      load : function(fso){{
        this.fso = fso;
        var divObjId = "EMG_DOWJONES_" + this.id + "_DIV";
        var divObj = document.getElementById(divObjId);
        this.importJS("{2}", new Date().getTime(),"FactivaWidgetRenderManager",function() {{
            FACTIVA_WIDGET_MGR.insertWidget("{3}",divObjId);
        }});
        //window.setTimeout("FACTIVA_WIDGET_MGR.loadJSLibrary('{2}','" + new Date().getTime() + "');",1);
        //window.setTimeout("FACTIVA_WIDGET_MGR.insertWidget('{3}','" + divObjId + "')",1);

        if (this.fso.title != "{4}") {{
          this.fso.setTitle("{4}");
          this.fso.save();
        }}
        
        this.fso.setIcon("{5}");
      }}
    }};
  </script>
	<script id="_PAGEFLAKES_Instance" type="text/javascript">
		var _PAGEFLAKES_ = new LOAD_EMG_DOWJONES__PAGEFLAKES_('_PAGEFLAKES_');
	</script>
</head>
<body>
	<div align="left" id="EMG_DOWJONES__PAGEFLAKES__DIV">Loading...</div>
	<!-- Tracking png may go here -->	
</body>
</html>