#blog
{
	h3
	{
		font-size: 16px;
		text-transform: uppercase;
	}
	
	.left-column
	{
		float: left;
		margin-right: @indent2;
		width: 715px;
		
		.post  
		{
			margin-bottom: 60px; 
		
			hr { margin-bottom: 0; }
		
			.date
			{
				color: #002437;
				font-size: 12px;
				font-weight: bold;
				margin-bottom: 1.5em;
			}
		}
	}
	
	.right-column
	{
		float: left;
		width: 260px;
	}
}