#explorer
{
	h3
	{
		font-size: 24px;
	}
	
	h3.widgets
	{
		font-size: 14px;
		line-height: 32px;
		text-transform: uppercase;
	}
	
	h4
	{
		color: #002437;
		clear: left;
		font-size: 14px;
		margin-bottom: 0.3em;
		text-transform: uppercase;
	}
	
	.left-column
	{
		float: left;
		margin-right: @indent2;
		width: 220px;
	}
	
	.right-column
	{
		float: left;
		width: 755px;
	}
	
	ul.widgets
	{
		margin: 0;
		
		li
		{
			font-weight: bold;
			height: 23px;
			line-height: 23px;
			list-style-type: none;
			padding-left: 10px;
		}
		li.selected
		{
			background: url( ../images/right-arrow.png ) right no-repeat;
			
			a { color: #fff; }
		}
	}
	
	.example
	{
		float: left;
		margin-right: @indent2;
		margin-bottom: 1.5em;
		width: 550px;
		
		.heading
		{
			border: solid 1px;
			border-color: #7F7F7F #7F7F7F #5A5A5A;
			height: 28px;
			position: relative;
			
			#editTabs
			{
				@start:  #DBDBDB;
				@end: #B9B9B9;
	
				background: @end;
				background: -moz-linear-gradient( top center, @start, @end );
				background: -webkit-gradient( linear, 0% 0%, 0% 100%, from( @start ), to( @end ) );
				height: 26px;
				margin: 0;
				padding-left: 8px;
				
				li
				{
					float: left;
					font-size: 11px;
					font-weight: bold;
					line-height: 26px;
					list-style-type: none;
					
					a
					{
						color: #000;
						float: left;
						
						span { padding: 0px 10px 2px; }
					}
				}
				li.selected a span
				{
					-moz-border-radius: 10px;
					-webkit-border-radius: 10px;
					border-radius: 10px;
					border: solid 1px;
					border-color: #565656 #838383 #DCDCDC #838383;
					background: #838383;
					color: #FFF;
				}
			}
			
			a.expand
			{
				position: absolute;
				right: 10px;
				top: 6px;
			}
		}
		
		#preview, #source
		{
			background: #fff;
			border: solid 1px #bad2de;
			border-top: 0;
			height: 245px;
		}
		
		#source { display: none; }
	}
	
	.example-links
	{
		float: left;
		margin: 0;
		width: 185px;
		
		li
		{
			font-weight: bold;
			height: 23px;
			line-height: 23px;
			list-style-type: none;
			padding-left: 20px;
		}
		li.selected
		{
			background: url( ../images/left-arrow.png ) left no-repeat;
			
			a { color: #fff; }
		}
	}
	
	.pages
	{
		float: left;
		font-weight: bold;
		margin-left: 0;
		
		li
		{
			float: left;
			list-style-type: none;
			margin-right: 10px;
			
			a
			{
				float: left;
				padding: 8px 14px;
			}
		}
		li.selected
		{
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			border: solid 1px #B4D8EB;
			background: #fff;
			a { color: #000; }
		}
	}
	
	.page  
	{
		clear: left;
		margin-bottom: 1.5em; 
	}
	
	table
	{
		background: #D7E5EC;
		border-top: solid 1px #ACC0CA;
		border-bottom: solid 1px #F7FBFD;
		border-collapse: separate;
		
		thead { display: none; }		
		th  
		{
			font-weight: bold; 
		}
		th, td 
		{
			padding: 10px;
			border-top: solid 1px #E8F0F5;
			border-bottom: solid 1px #C1D2DB;
			margin: 1px 0;
		}
		tr { padding: 10px; }
	}
	
	code.html
	{
		background: #fff;
		border: solid 1px #b3d8eb;
		display: block;
		margin-bottom: 1.5em;
		overflow: auto;
		padding: @indent1;
		white-space: pre;
		width: 755px - ( @indent1 * 2 );
	}
}
