// Footer Updates for Bootstrap Compatibility
//---


.dj_page-footer{background-color:#232323}
.dj_page-footer .dj_page-footer-content{padding:16px 0;text-align:right}
.dj_page-footer .dj_page-footer-content .dj_page-footer-copyright{font-size:11px;color:#666; margin: 0;}
.dj_page-footer .dj_page-footer-content .dj_page-footer-copyright span,.dj_page-footer .dj_page-footer-content .dj_page-footer-copyright a{color:#999}
.dj_page-footer .dj_page-footer-content .dj_page-footer-copyright a:hover{color:#fff}