.wsjHatContainer{background:#000;margin:0 auto;width:100%;height:41px;display:none}
.wsjHatContainer .hat_wsjdn{margin-left:auto!important;margin-right:auto!important}
ul.hat_tabs #hat_tab_fact.current{background:#2a95b7!important}
.no-feature-bar.new-header ul.hat_tabs #hat_tab_fact.current{background:none repeat scroll 0 0 #282B34!important}