<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetWebArticleUrl">
        <name>ARCH_GET_URL_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetArticleUrl.xslt</param>
              <param name="category">webpage</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetArticleUrlResponse.xslt</param>
              <param name="category">webpage</param>
              <param name="transVersion">1</param>
            </filter>
          </filters>
           
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetMultimediaArticleUrl">
        <name>ARCH_GET_URL_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetArticleUrl.xslt</param>
              <param name="category">multimedia</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetArticleUrlResponse.xslt</param>
              <param name="category">multimedia</param>
              <param name="transVersion">1</param>
            </filter>
          </filters>
            
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetArticle">
        <name>ARCH_GET_ARTICLE_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\common\RemoveNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetArticleResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetRawArticle">
        <name>ARCH_GET_ARTICLE_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetRawArticleResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetAutoCodeXmlMessage">
        <name>ARCH_GET_ARTICLE_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetAutoCodeXmlMessageResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetBinary">
        <name>ARCH_GET_PRO</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>BINARY</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.FCE.Assets.V1_0:GetAssets">
        <name>ARCH_GET_ARTICLE_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\BaseAssets.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetArticleWithSummary">
        <name>ARCH_GET_ARTICLE_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetArticleResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Archive\Request\GetArticleWithSummaryRequest.xml</fileSave>
          <fileOpen>stubs\Archive\Response\GetArticleWithSummaryResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetInvestextReport">
        <name>GW_GET_INVESTEXT</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>BINARY</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetArticle2">
        <name>ARCH_GET_ARTICLE_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>            
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetArticle_V2_0_Response.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Archive\Request\GetArticle.xml</fileSave>
          <fileOpen>stubs\Archive\Response\GetArticle.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetArticle2WithLimit">
        <name>ARCH_GET_ARTICLE_WITH_LIMIT</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>            
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetArchiveWithLimit_V2_0_Response.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Archive\Request\Limit.xml</fileSave>
          <fileOpen>stubs\Archive\Response\GetArticleWithLimit.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetArticle2EmailWithLimit">
        <name>ARCH_GET_ARTICLE_EMAIL_WITH_LIMIT</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetArchiveEmailWithLimit_V2_0_Response.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Archive\Request\GetArticle.xml</fileSave>
          <fileOpen>stubs\Archive\Response\GetArticleWithLimit.xml</fileOpen>
        </transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetValidateAndBillData">
        <name>ARCH_GET_VALIDATE_AND_BILL_DATA</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetValidateAndBillingDataResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Archive\Request\GetValidateAndBillingDataRequest.xml</fileSave>
          <fileOpen>stubs\Archive\Response\GetValidateAndBillingDataResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:ValidateAndBill">
        <name>ARCH_VALIDATE_AND_BILL</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\ValidateAndBillingResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Archive\Request\ValidateAndBillingRequest.xml</fileSave>
          <fileOpen>stubs\Archive\Response\ValidateAndBillingResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <!--===============Start DD8 Chnages=========================-->
      <!--
      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetArticle">
        <name>ARCH_GET_ARTICLE_2_DEV</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\common\RemoveNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetArticleResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetArticle2">
        <name>ARCH_GET_ARTICLE_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\New\GetArticle_V2_0_Response.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>

      </transaction>


      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetArticle2WithLimit">
        <name>ARCH_GET_ARTICLE_WITH_LIMIT_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\New\GetArchiveWithLimit_V2_0_Response.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
       
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetArticle2EmailWithLimit">
        <name>ARCH_GET_ARTICLE_EMAIL_WITH_LIMIT_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\New\GetArchiveEmailWithLimit_V2_0_Response.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
       
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetRawArticle">
        <name>ARCH_GET_ARTICLE_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\New\GetRawArticleResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetAutoCodeXmlMessage">
        <name>ARCH_GET_ARTICLE_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\New\GetAutoCodeXmlMessageResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.FCE.Assets.V1_0:GetAssets">
        <name>ARCH_GET_ARTICLE_2_DEV</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\BaseAssetsNew.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>

          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V1_0:GetArticleWithSummary">
        <name>ARCH_GET_ARTICLE_2_DEV</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\New\GetArticleResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>-->
      <!--===============End DD8 Chnages=========================-->

      <!--Begin Archive version 2 transactions-->

      <transaction key="Factiva.Gateway.Messages.Archive.V2_0:GetArticle">
        <name>ARCH_GET_ARTICLE_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetArticle2_Response.xslt</param>
              <param name="tranResponse">GetArticleResponse</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Archive\Request\Article2_Stub2Request.xml</fileSave>
          <fileOpen>stubs\Archive\Response\Article2_Stub2.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V2_0:GetArticleWithLimit">
        <name>ARCH_GET_ARTICLE_WITH_LIMIT_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetArticleWithLimit2_Response.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V2_0:GetArticleEmailWithLimit">
        <name>ARCH_GET_ARTICLE_EMAIL_WITH_LIMIT_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetArticleEmailWithLimit2_Response.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V2_0:GetWebArticleUrl">
        <name>ARCH_GET_URL_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetArticleUrl.xslt</param>
              <param name="category">webpage</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetArticleUrlResponse.xslt</param>
              <param name="category">webpage</param>
              <param name="transVersion">2</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V2_0:GetMultimediaArticleUrl">
        <name>ARCH_GET_URL_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetArticleUrl.xslt</param>
              <param name="category">multimedia</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetArticleUrlResponse.xslt</param>
              <param name="category">multimedia</param>
              <param name="transVersion">2</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V2_0:GetBinary">
        <name>ARCH_GET_PRO</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>BINARY</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V2_0:GetInvestextReport">
        <name>GW_GET_INVESTEXT</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>BINARY</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V2_0:GetRawArticle">
        <name>ARCH_GET_ARTICLE_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetRawArticleResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Archive.V2_0:GetValidateAndBillData">
        <name>ARCH_GET_VALIDATE_AND_BILL_DATA</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetValidateAndBillingDataResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      
      <transaction key="Factiva.Gateway.Messages.Archive.V2_0:ValidateAndBill">
        <name>ARCH_VALIDATE_AND_BILL</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\ValidateAndBillingResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Archive.V2_0:GetArticleWithDelayedBilling">
        <name>ARCH_GET_ARTICLE_WITH_DELAYED_BILLING</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetArticleWithDelayedBilling_Response.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Archive.V2_0:GetArticleWithDelayedBilling">
        <name>ARCH_GET_ARTICLE_WITH_DELAYED_BILLING</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetArticleWithDelayedBilling_Response.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Archive.V2_0:CreateBillingRecords">
        <name>ARCH_FULFILL_BILLING</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\CreateBillingRecord_Response.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Archive.V2_0:GetPrivateArticle">
        <name>ARCH_GET_ARTICLE_PRIVATE_2</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\archive\GetArticle2_Response.xslt</param>
              <param name="tranResponse">GetPrivateArticleResponse</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <!--End Archive version 2 transactions-->
    </transactionSettings>
  </ServiceSettings>


</configuration>
