<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <!-- START UER TRANSACTIONS-->
      <transaction key="Factiva.Gateway.Messages.UER.V1_0:MetricsDataRequest">
        <name>UERRecordEvent_bstr</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>

      

    </transactionSettings>
  </ServiceSettings>
</configuration>
