<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="GatewaySettings" type="Factiva.Gateway.Config.V1_0.GatewaySectionHandler, FactivaGateway"/>
	</configSections>
	<GatewaySettings>
		<commonSettings>
			<preferedTransport>RTS</preferedTransport>
			<gatewayResourcePath>GatewayResources</gatewayResourcePath>
		</commonSettings>
		<serviceSettings>	
			<service name="Asset.WebService" namespace="Factiva.Gateway.Services.1_0" configFile="GatewayResources\config\Asset.WebService.config"/>
			<service name="Asset.FCPService" namespace="Factiva.Gateway.Services.1_0" configFile="GatewayResources\config\Asset.FCPService.config"/>
			<service name="Asset.NewsPageService" namespace="Factiva.Gateway.Services.1_0" configFile="GatewayResources\config\Asset.NewsPageService.config"/>
			<service name="Asset.NewsletterTemplateService" namespace="Factiva.Gateway.Services.1_0" configFile="GatewayResources\config\Asset.NewsletterTemplateService.config"/>
			<service name="TrackService" namespace="Factiva.Gateway.Services.1_0" configFile="GatewayResources\config\TrackService.config"/>
			<service name="BillingAndAuthorizationService" namespace="Factiva.Gateway.Services.1_0" configFile="GatewayResources\config\BillingAndAuthorizationService.config"/>
			<service name="OnDemandEmailService" namespace="Factiva.Gateway.Services.1_0" configFile="GatewayResources\config\OnDemandEmailService.config"/>
			<service name="ArchiveService" namespace="Factiva.Gateway.Services.1_0" configFile="GatewayResources\config\ArchiveService.config"/>
			<service name="SearchService" namespace="Factiva.Gateway.Services.1_0" configFile="GatewayResources\config\SearchService.config"/>
			<service name="SourcesService" namespace="Factiva.Gateway.Services.1_0" configFile="GatewayResources\config\SourcesService.config"/>
			<service name="NewsstandService" namespace="Factiva.Gateway.Services.1_0" configFile="GatewayResources\config\NewsstandService.config"/>
			<service name="UserEventRecorderService" namespace="Factiva.Gateway.Services.1_0" configFile="GatewayResources\config\UserEventRecorderService.config"/>
			<service name="MarketDataService" namespace="Factiva.Gateway.Services.1_0" configFile="GatewayResources\config\MarketDataService.config"/>
			<service name="MembershipService" namespace="Factiva.Gateway.Services.1_0" configFile="GatewayResources\config\MembershipService.config"/>
			<service name="RoleBasedPlatform.TrackCodingService" namespace="Factiva.Gateway.Services.1_0" configFile="GatewayResources\config\RoleBasedPlatform.TrackCodingService.config"/>
			<service name="RegistrationService" namespace="Factiva.Gateway.Services.1_0" configFile="GatewayResources\config\RegistrationService.config"/>
			<service name="CustomerService" namespace="Factiva.Gateway.Services.1_0" configFile="GatewayResources\config\MembershipService.config"/>
			<service name="Asset.NewsletterContentService" namespace="Factiva.Gateway.Services.1_0" configFile="GatewayResources\config\Asset.NewsletterContentService.config"/>
			<service name="ExternalReaderService" namespace="Factiva.Gateway.Services.1_0" configFile="GatewayResources\config\ExternalReaderService.config"/>
      <service name="EmailDeliverySettingsService" namespace="Factiva.Gateway.Services.1_0" configFile="GatewayResources\config\EmailDeliverySettingsService.config"/>
		</serviceSettings>
	</GatewaySettings>
</configuration>