<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
	</configSections>
	<ServiceSettings>
		<transactionSettings>

			<transaction key="Factiva.Gateway.Messages.Registration.V1_0:PerformEmailRegistration">
				<name>MSRVS_REG_REG_USER</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\registration\PerformEmailRegistrationResponse.xslt</param>
						</filter>
					</filters>

				</response>
				<transport type="RTS"/>
			</transaction>
			
			<transaction key="Factiva.Gateway.Messages.Registration.V1_0:PerformUserRegistration">
				<name>MSRVS_REG_REG_USER</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\registration\PerformUserRegistrationResponse.xslt</param>
						</filter>
					</filters>

				</response>
				<transport type="RTS"/>
			</transaction>

			<transaction key="Factiva.Gateway.Messages.Registration.V1_0:PerformSimplifiedRegistration">
				<name>MSRVS_REG_LWR</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\registration\PerformSimplifiedRegistrationResponse.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
			</transaction>

			<transaction key="Factiva.Gateway.Messages.Registration.V1_0:UpdateUserData">
				<name>MSRVS_REG_UPDATE_USER_DATA</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\registration\UpdateUserDataResponse.xslt</param>
						</filter>
					</filters>

				</response>
				<transport type="RTS"/>
			</transaction>

			<transaction key="Factiva.Gateway.Messages.Registration.V1_0:GetUserData">
				<name>MSRVS_REG_GET_USER_DATA</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\registration\GetUserDataResponse.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
			</transaction>
			
		</transactionSettings>
	</ServiceSettings>
</configuration>
