You may verify which components you have installed -- and their corresponding versions -- by choosing the `Help > About Microsoft Visual Studio` menu option within Visual Studio.

<img src="@Url.Content("~/Content/images/VSVersions.png")" alt="Development Environment Versions">



### Client-Side (JavaScript) Development
While the ASP.NET MVC portion of the Dow Jones UI Framework requires the Microsoft Visual Studio development environment,
consuming the Client-Side (JavaScript) portion of the Framework requires nothing more than a link to the Dow Jones Component hosting site and the text editor of your choice.