<?xml version="1.0" encoding="utf-8"?>
<!--
1. COPY THE SECTION GatewaySettings INTO YOUR CONFIG FILE( FOR WEB APPLICATION/SITE, WEB.CONFIG, OTHERWISE APP.CONFIG
2. COPY THE line "<section name="GatewaySettings" type="Factiva.Gateway.Config.V1_0.SectionHandler, FactivaGateway"/>" INTO
   THE <configSections> NODE OF YOUR CONFIG FILE.
3. COPY THE FOLDER GATEWAYRESOURCES FROM GATEWAY PROJECT INTO THE ROOT OF YOUR APPLICATION.
-->
<configuration>
  <configSections>
    <section name="GatewaySettings" type="Factiva.Gateway.Config.V1_0.SectionHandler, FactivaGateway"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GatewayClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <GatewaySettings>
    <routerSettings>
      <preferedTransport>RTS</preferedTransport>
    </routerSettings>
    <transactionSettings>
      <!-- START TRACK TRANSACTIONS-->
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:UnShareFolder">
        <name>TRACK_FOLDER_ACCESS</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Track\ChangeFolderAccessLevel.xslt</param>
              <param name="scope">personal</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:SubscribeFolder">
        <name>TRACK_FOLDER_SUBSCRIPTION</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Track\SubscriptionRequest.xslt</param>
              <param name="subscribeOrunsubscribe">subscribe</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Track\SubscriptionResponse.xslt</param>
              <param name="subscribeOrunsubscribe">subscribe</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:UnSubscribeFolder">
        <name>TRACK_FOLDER_SUBSCRIPTION</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Track\SubscriptionRequest.xslt</param>
              <param name="subscribeOrunsubscribe">unsubscribe</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Track\SubscriptionResponse.xslt</param>
              <param name="subscribeOrunsubscribe">unsubscribe</param>
            </filter>
          </filters>

        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:GetFolderList">
        <name>CLIP_OLH_FOLDER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Track\GetFolderList.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Track\GetFolderListResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <!--<transport type="STUB">
          <fileSave>C:\temp\stubs\requests\GetFolderList.xml</fileSave>
          <fileOpen>C:\temp\stubs\responses\GetFolderListResponse.xml</fileOpen>
        </transport>
        -->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Track.V1_0:GetFolderHeadlines">
        <name>CLIP_OLH_HEADLINE</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Track\GetFolderHeadlinesResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <!--<transport type="STUB">
          <fileSave>C:\temp\stubs\requests\GetFolderList.xml</fileSave>
          <fileOpen>C:\temp\stubs\responses\GetFolderListResponse.xml</fileOpen>
        </transport>
        -->
      </transaction>
      <!-- END TRACK TRANSACTIONS-->
      <transaction key="Factiva.Gateway.Messages.Assets.PNP.V1_0:CreateNewsPage">
        <!--<name>CreateNewsPage</name>-->
        <name>CREATE_NEWS_PAGE</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\pnp\Widget.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:pnp:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\CreateNewsPage.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\CreateNewsPageResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.PNP.V1_0:AddWidgetsToNewsPage">
        <name>UpdateNewsPage</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:pnp:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <!--<transport type="RTS"/>-->
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\AddWidgetsToNewsPage.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\AddWidgetsToNewsPageResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.PNP.V1_0:UpdateWidgetsOnNewsPage">
        <name>UpdateWidgetsOnNewsPage</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:pnp:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <!--<transport type="RTS"/>-->
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\UpdateWidgetsOnNewsPage.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\UpdateWidgetsOnNewsPageResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.PNP.V1_0:GetNewsPageList">
        <name>GetNewsPageList</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:pnp:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <!--<transport type="RTS"/>-->
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\GetNewsPageList.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\GetNewsPageListResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.PNP.V1_0:GetNewsPage">
        <name>GetNewsPage</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:pnp:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\WidgetResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <!--<transport type="RTS"/>-->
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\GetNewsPage.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\GetNewsPageResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.PNP.V1_0:DeleteNewsPage">
        <name>DeleteNewsPage</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:pnp:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <!--<transport type="RTS"/>-->
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\DeleteNewsPage.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\DeleteNewsPageResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.PNP.V1_0:UpdateNewsPage">
        <name>UpdateNewsPage</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\pnp\Widget.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:pnp:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <!--<transport type="RTS"/>-->
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\UpdateNewsPage.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\UpdateNewsPageResponse.xml</fileOpen>
        </transport>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.FCP.V1_0:CreateRadarView">
        <name>urn:factiva:assets:screening:v1_0:CreateRadarView</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespaceWithExceptions.xslt</param>
              <param name="addnamespace">urn:factiva:assets:screening:v1_0</param>
			  <param name="exception_namespace">http://types.factiva.com/search</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\CreateRadarView.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\CreateRadarViewResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.FCP.V1_0:GetRadarView">
        <name>urn:factiva:assets:screening:v1_0:GetRadarView</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:screening:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="STUB">
          <fileSave>c:\temp\stubs\requests\GetRadarView.xml</fileSave>
          <fileOpen>c:\temp\stubs\responses\GetRadarViewResponse.xml</fileOpen>
        </transport>

      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.FCP.V1_0:UpdateRadarView">
        <name>urn:factiva:assets:screening:v1_0:UpdateRadarView</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:screening:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\UpdateRadarView.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\UpdateRadarViewResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.FCP.V1_0:DeleteRadarView">
        <name>urn:factiva:assets:screening:v1_0:DeleteRadarView</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:screening:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\DeleteRadarView.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\DeleteRadarViewResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.FCP.V1_0:GetRadarViewList">
        <name>urn:factiva:assets:screening:v1_0:GetRadarViewList</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:screening:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="STUB">
          <fileSave>C:\TEMP\stubs\requests\GetRadarViewList.xml</fileSave>
          <fileOpen>C:\TEMP\stubs\responses\GetRadarViewListResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.FCP.V1_0:GetRadarViewByName">
        <name>urn:factiva:assets:screening:v1_0:GetRadarViewByName</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:screening:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\GetRadarViewByName.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\GetRadarViewByNameResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.FCP.V1_0:GetRadarViewQuery">
        <name>urn:factiva:assets:screening:v1_0:GetRadarViewQuery</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:screening:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\GetRadarViewQuery.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\GetRadarViewQueryResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.FCP.V1_0:CreateScreeningCriteria">
        <name>urn:factiva:assets:screening:v1_0:CreateScreeningCriteria</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:screening:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\CreateScreeningCriteria.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\CreateScreeningCriteriaResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.FCP.V1_0:GetScreeningCriteria">
        <name>urn:factiva:assets:screening:v1_0:GetScreeningCriteria</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:screening:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\GetScreeningCriteria.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\GetScreeningCriteriaResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.FCP.V1_0:UpdateScreeningCriteria">
        <name>urn:factiva:assets:screening:v1_0:UpdateScreeningCriteria</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:screening:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\UpdateScreeningCriteria.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\UpdateScreeningCriteriaResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.FCP.V1_0:DeleteScreeningCriteria">
        <name>urn:factiva:assets:screening:v1_0:DeleteScreeningCriteria</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:screening:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\DeleteScreeningCriteria.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\DeleteScreeningCriteriaResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.FCP.V1_0:GetScreeningCriteriaList">
        <name>urn:factiva:assets:screening:v1_0:GetScreeningCriteriaList</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:screening:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\GetScreeningCriteriaList.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\GetScreeningCriteriaListResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.FCP.V1_0:CreateScreeningAlert">
        <name>urn:factiva:assets:screening:v1_0:CreateScreeningAlert</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:screening:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\CreateScreeningAlert.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\CreateScreeningAlertResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.FCP.V1_0:GetScreeningAlert">
        <name>urn:factiva:assets:screening:v1_0:GetScreeningAlert</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:screening:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\GetScreeningAlert.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\GetScreeningAlertResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.FCP.V1_0:UpdateScreeningAlert">
        <name>urn:factiva:assets:screening:v1_0:UpdateScreeningAlert</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:screening:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\UpdateScreeningAlert.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\UpdateScreeningAlertResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.FCP.V1_0:DeleteScreeningAlert">
        <name>urn:factiva:assets:screening:v1_0:DeleteScreeningAlert</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:screening:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\DeleteScreeningAlert.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\DeleteScreeningAlertResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.FCP.V1_0:GetScreeningAlertList">
        <name>urn:factiva:assets:screening:v1_0:GetScreeningAlertList</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\AddNamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:screening:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">GatewayResources\xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="STUB">
          <fileSave>GatewayResources\stubs\requests\GetScreeningAlertList.xml</fileSave>
          <fileOpen>GatewayResources\stubs\responses\GetScreeningAlertListResponse.xml</fileOpen>
        </transport>
      </transaction>
    </transactionSettings>
  </GatewaySettings>
  <applicationSettings>
    <GatewayClient.Properties.Settings>
      <setting name="GatewayClient_dharman_PNP" serializeAs="String">
        <value>http://dharman/assetservice/pnp.asmx</value>
      </setting>
    </GatewayClient.Properties.Settings>
  </applicationSettings>
</configuration>
