<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>

      <!-- Start AddSectionsToTemplate Request -->
      <transaction key="Factiva.Gateway.Messages.Assets.Newsletter.Templates.V1_0:AddSectionsToTemplate">
        <name>urn:factiva:assets:newsletter:templates:v1_0:AddSectionsToTemplate</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:newsletter:templates:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <!-- End AddSectionsToTemplate Request -->

      <!-- Start CreateTemplate Request -->
      <transaction key="Factiva.Gateway.Messages.Assets.Newsletter.Templates.V1_0:CreateTemplate">
        <name>urn:factiva:assets:newsletter:templates:v1_0:CreateTemplate</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:newsletter:templates:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <!-- End CreateTemplate Request -->

      <!-- Start DeleteSectionsFromTemplate Request -->
      <transaction key="Factiva.Gateway.Messages.Assets.Newsletter.Templates.V1_0:DeleteSectionsFromTemplate">
        <name>urn:factiva:assets:newsletter:templates:v1_0:DeleteSectionsFromTemplate</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:newsletter:templates:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <!-- End DeleteSectionsFromTemplate Request -->
      
      <!-- Start DeleteTemplate Request -->
      <transaction key="Factiva.Gateway.Messages.Assets.Newsletter.Templates.V1_0:DeleteTemplate">
        <name>urn:factiva:assets:newsletter:templates:v1_0:DeleteTemplate</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:newsletter:templates:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <!-- End DeleteTemplate Request -->

      <!-- Start GetTemplateByID Request -->
      <transaction key="Factiva.Gateway.Messages.Assets.Newsletter.Templates.V1_0:GetTemplateByID">
        <name>urn:factiva:assets:newsletter:templates:v1_0:GetTemplateByID</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:newsletter:templates:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <!-- End GetTemplateByID Request -->

      <!-- Start GetTemplateList Request -->
      <transaction key="Factiva.Gateway.Messages.Assets.Newsletter.Templates.V1_0:GetTemplateList">
        <name>urn:factiva:assets:newsletter:templates:v1_0:GetTemplateList</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:newsletter:templates:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <!-- End GetTemplateList Request -->

      <!-- Start UpdateTemplate Request -->
      <transaction key="Factiva.Gateway.Messages.Assets.Newsletter.Templates.V1_0:UpdateTemplate">
        <name>urn:factiva:assets:newsletter:templates:v1_0:UpdateTemplate</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:newsletter:templates:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <!-- End UpdateTemplate Request -->

      <!-- Start UpdateTemplateProperties Request -->
      <transaction key="Factiva.Gateway.Messages.Assets.Newsletter.Templates.V1_0:UpdateTemplateProperties">
        <name>urn:factiva:assets:newsletter:templates:v1_0:UpdateTemplateProperties</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:newsletter:templates:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <!-- End UpdateTemplateProperties Request -->
      
      
    </transactionSettings>
  </ServiceSettings>
</configuration>