@{ ViewBag.Title = "Simple Headline List";
   Html.DJ().StylesheetRegistry()
            .Include("~/styles/css/canvas.icons.css")
            .Include("~/styles/css/search.headline-list.css")
            .Include("~/styles/css/search.headline-options.css")
            .Include("~/styles/css/search.headline-post-processing.css");
   Html.DJ().ScriptRegistry().OnDocumentReady("$('div.dj_HeadlineListControl').dj_HeadlineList();");

}

<div class="dj_HeadlineListControl">
    @Html.DJ().Render((DowJones.Web.Mvc.UI.Components.HeadlineList.HeadlineListModel)Model)
</div>
