<% 
    var model = self;
    var container = model.tag || 'p';
%>
<<%= container %> class="dj_article_paragraph">
    <% for(var i = 0, len = model.items.length; i < len; i++) { 
        var item = model.items[i];
        switch(item.markupType) { 
            case "ArticleHighlight": %>
                 <span class="dj_article_highlight"><%= item.text %></span>
            <% break; 
            case "Image": %>
                 <img alt="" src="<%= item.value %>" />
            <% break; 
            case "ImageFigure": %>
                 	<div class="figure">
		                <img alt="<%= item.title %>" src="<%= item.value %>" title="<%= item.title %>" />
                        <% if(item.enlargedImageUrl) %>
                            <a class="dj_article_enlargeImg_link" 
                               href="javascript:void(0)" data-href="<%= item.enlargedImageUrl %>">Enlarge</a>
		                <div class="figCredit"><%= item.credit %></div>
		                <div class="figSource"><%= item.source %></div>
		                <div class="figCaption"><%= item.caption %></div>
	                </div>
                <% break; 
            case "PostProcessing": 
                    if(item.postProcessingData.type === "Print") %>
                        <span class='dj_article_colorLinks'><%= item.postProcessingData.elinkData %> [<%= item.postProcessingData.elinkText %>]</span>
                    <% else if(item.postProcessingData.type === "Save") %>
                        <%= item.postProcessingData.elinkData %> <%= item.postProcessingData.elinkText %>
            <% break; 
            case "Html": %>
                <div class="embededHtml"><%= item.text %></div>
            <% break; 
            case "ArticleElink": %>
                <a class="dj_article_elink" href="javascript:void(0)" data-href="<%= item.value %>">
                <% if (item.elinkItems.length > 0) { 
                    for (var j = 0, len2 = item.elinkItems.length; j < len2; j++) { 
                    var elinkItem = item.elinkItems[j];
                    if (elinkItem.markupType === "ArticleElinkHighlight") { %>
                        <span class="dj_article_highlight"><%= elinkItem.text %></span>
                    <% } else if (elinkItem.markupType === "Plain") { %>
                        <%= elinkItem.text %>
                    <% } } } else { %>
                    <%= item.text %>
                <% } %>
                </a>
            <% break; 
            case "Plain": %>
                <span class="dj_article_plain"><%= item.text %></span>
            <% break; 
            case "EntityLink": %>
                <a class="dj_article_entity <%= item.highLight ? 'dj_article_highlight' : '' %> <%= item.entityCategory %>" 
                    href="javascript:void(0);" data-entity='<%= item.entityData %>'><%= item.text %></a>
            <% break; 
            case "SpanAnchor": %>
                <span>
                    <a class="dj_article_entity" href="javascript:void(0);" 
                        data-entity="<%= item.entityData %>"><%= item.entityName %></a></span>
            <% break; 
            case "Anchor": %>
                <span>
                    <a class="dj_article_anchor" href="javascript:void(0);" 
                        data-href="<%= item.value %>"><%= item.text %></a></span>
            <% break; 
            default: %>
                <span>
                    <a class="dj_article_accessionNum" href="javascript:void(0);" 
                        data-accessionNum="<%= item.value %>"><%= item.text %></a></span>
            <% break; } } %>
</<%= container %>>