@{
    ViewBag.Title = "Tokens";
}

Html.DJ().Token: @Html.DJ().Token("ok")

<div>

@if(Request["fcpil"].HasValue()) {
    <a href="?">Show Datas</a>
} else {
    <a href="?fcpil=template">Show Tokens</a>
}

</div>