<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DowJones.Web.Mvc.UI.Canvas.GatewayFree.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DowJones.Web.Mvc.UI.Canvas.GatewayFree.Properties.Settings>
            <setting name="HtmlModuleServiceUrl" serializeAs="String">
                <value>/modules/Html/1.0/data/json</value>
            </setting>
            <setting name="EmbeddedContentModuleServiceUrl" serializeAs="String">
                <value>/modules/EmbeddedContent/1.0/data/json</value>
            </setting>
        </DowJones.Web.Mvc.UI.Canvas.GatewayFree.Properties.Settings>
    </applicationSettings>
</configuration>