<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:widget="http://www.netvibes.com/ns/">
  <head>
    <title>{4}</title>
    <link rel="icon" type="image/x-icon" href="{5}" />
  </head>
  <body>
    <div id="{0}_div">Loading ...</div>
    <script type="text/javascript">
      
      function importJS(url, token, look_for, onload) {{
        var script = document.createElement('script'); 
        script.src = (token) ? url + "?appver=" + token : url; // sets the scripts source to the specified url
        script.type ="text/javascript";
        script.charset = "utf-8";
                    
        var head = getHeadElement();
        if (head){{
            head.appendChild(script);// appends the tag to the head       
        }}
        else {{
            document.body.appendChild(script);// appends the tag to the head       
        }}
        if (onload) wait_for_script_load(look_for, onload);     
      }}
        
	  function wait_for_script_load(look_for, callback) {{
        var interval = setInterval(function() {{
            
            if (eval("typeof " + look_for) != 'undefined') {{
                clearInterval(interval);
                callback();
            }}
        }}, 1000);
      }}
      
      function getHeadElement() {{
        var head=document.getElementsByTagName("head");
        if (head){{
            return head[0];
        }} 
        return null;
      }}
      
      function load_{0}_div() {{
        var parentNodeId = "{0}_div";
    
        importJS("{1}",null, "FACTIVA_WIDGET_MGR" ,function() {{
	        FACTIVA_WIDGET_MGR.loadJSLibrary("{2}", "" + new Date().getTime(),"FactivaWidgetRenderManager",function() {{
                FACTIVA_WIDGET_MGR.insertWidget("{3}",parentNodeId);
            }});
        }});    
      }}
      load_{0}_div();
    </script>
  </body>
</html>