@model DowJones.Web.Mvc.UI.Components.NewsRadar.NewsRadarModel
@{
    ViewBag.Title = "News Radar 90 Day Avg";
}

@section styles{
	<link href="@Url.Content("~/styles/views/NewsRadar/newsRadar.css")" rel="stylesheet" />
}

<div class="dj_NewsRadarControl">
    @DJ.Render(Model)
</div>