@model DowJones.Web.Mvc.UI.Components.NewsRadar.NewsRadarModel
@{
    ViewBag.Title = "News Radar";
}
<div class="dj_NewsRadarControl">
    @Html.DJ().Render(Model)
</div>

@section styles{
	<link href="@Url.Content("~/styles/views/NewsRadar/newsRadar.css")" rel="stylesheet" />
}