<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="InfrastructureShowcase.BasePath"
      value="http://montana.dev.us.factiva.com/MVCShowCase"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SuggestServiceUrl" value="http://suggest.int.factiva.com/Search/1.0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SuggestAuthTypeToken" value="2sPxdr_2BLo1UsTqddRlPU5T7ak6zjJ0eHNNu9zac9l5lNHZmV0ivZ0Pd_2BKV_2F3kycb_2BinH59a7qXkd2qF2AitxQpuwR78Z6tdf|2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CommonJSPath" value="http://fdevweb3.win.dowjones.net/scripts/3.0/common.js" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>
