<ul class="modal-nav">
    <li class="first active"><span>
        <%= Token("lookupLabel") %></span></li>
    <li style="display: none;"><span>
        <%= Token("browse") %></span></li>
</ul>
<div class="tab-content">
    <div class="dj_lookup-search clearfix">
        <input type="text" class="dj_lookup-search-field" value="<%= lookUpDetails.lookupText %>"/>
        <input type="button" value="<%= Token("search") %>" class="dj_lookup-search-submit" />
    </div>
    <div class="lookup-results-container" style="display:none;">
        <h6 class="results-title"></h6>
        <span class="dj_paging hidden">
		    <span tooltip="<%= Token("nextItem") %>" class="dj_icon prev-page dj_icon-arrow-green-left"></span>
		    <span></span>
		    <span tooltip="<%= Token("previousItem") %>" class="dj_icon next-page dj_icon-arrow-green-right"></span>
	    </span>
        <ul class="lookup-results"></ul>
    </div>
</div>
<div class="tab-content hidden">
    <p><%= lookUpDetails.browseText %>:</p>
    <ul class="dj_browse-tree"></ul>
</div>