/*

	-- -- -- -- -- -- --
	Description: Styles for various buttons used within modules
	Version: 0.1
	Last Update: 11/12/2010
	Author: Ron Edgecomb II, Philippe Arcand, and Pete McGrath
	Company: Dow Jones & Company Inc.
	Copyright 2010 Dow Jones & Company Inc.

	Notes: md prefix is short for module :-)
	
	Dependencies
	 - css/reset.css
	 - css/global.css
	-- -- -- -- -- -- --
	
*/

/* =module Buttons >> Global Style Rules
----------------------------------------------------------------------------------------------------*/
.md-btn,
.md-btn .control-content {
	background: url(i/sprite_buttons.png) no-repeat 0 0;
}

.md-btn {
	font-size: 85%; /* 11px */
	color: #797979;
	text-align: center;
	text-decoration: none;
}

/* =Pill Style >> Sliding Door Buttons
----------------------------------------------------------------------------------------------------*/
.module-controls .mc_item .md-btn,
.module-controls .mc_item .md-btn .control-content {
	height: 20px;
	display: -moz-inline-stack; /* required for ff2 */
	display: inline-block;
	vertical-align: middle;
	color:#fff;
	position: relative;
	left: 10px;
	line-height: 20px;
	margin-right: 10px;
	padding: 0;
	border: 0;
	cursor: pointer;
	overflow: visible;
}

.module-controls .mc_item .md-btn .control-content {
    left: -10px;
	margin: 0;
	padding: 0 0 0 10px;
	vertical-align: top;
}

/* default style */
.md-btn {
	background-position: right 0;
	border: none;
}
	.md-btn:hover,
	.md-btn:focus,
	.md-btn-hover,
	.md-btn-focus {
		background-color: transparent;
		background-position: right -50px;
	}

.md-btn .control-content {
	background-position: 0 0;
}
	.md-btn:hover .control-content,
	.md-btn:focus .control-content,
	.md-btn-hover .control-content,
	.md-btn-focus .control-content {
		background-color: transparent;
		background-position: 0 -50px;
	}

/* alternate style */
.module-controls .mc_item .md-btn-2 {
	background-position: right -100px;
	border: none;
}
	.module-controls .mc_item .md-btn-2:hover,
	.module-controls .mc_item .md-btn-2:focus,
	.module-controls .mc_item .md-btn-2-hover,
	.module-controls .mc_item .md-btn-2-focus {
		background-color: transparent;
		background-position: right -150px;
	}

.module-controls .mc_item .md-btn-2 .control-content {
	background-position: 0 -100px;
}
	.module-controls .mc_item .md-btn-2:hover .control-content,
	.module-controls .mc_item .md-btn-2:focus .control-content,
	.module-controls .mc_item .md-btn-2-hover .control-content,
	.module-controls .mc_item .md-btn-2-focus .control-content {
		background-color: transparent; 
		background-position: 0 -150px;
			color:#fefefe;
	}
		
/* alternate style */
.module-controls .mc_item .md-btn-3 {
	background-position: right -200px;
	border: none;
}
	
	.module-controls .mc_item .md-btn-3-hover,
	.module-controls .mc_item .md-btn-3-focus {
		background-color: transparent;
		background-position: right -250px;
	}

.module-controls .mc_item .md-btn-3 .control-content {
	background-position: 0 -200px;
}
	.module-controls .mc_item .md-btn-3:hover .control-content,
	.module-controls .mc_item .md-btn-3:focus .control-content,
	.module-controls .mc_item .md-btn-3-hover .control-content,
	.module-controls .mc_item .md-btn-3-focus .control-content {
		background-color: transparent; 
		background-position: 0 -250px;
		color:#fefefe;
	}
	
	

/* =Buttons >> Internet Explorer 6
----------------------------------------------------------------------------------------------------*/
/*.ie6 .module-controls .mc_item .md-btn,
.ie6 .module-controls .mc_item .md-btn .control-content {
	background-image: url(i/ie6/sprite_buttons.gif);
}*/
