/*

	-- -- -- -- -- -- --
	Description: Styles for all module edit panels
	Version: 0.1
	Last Update: 11/12/2010
	Author: Ron Edgecomb II, Philippe Arcand, and Pete McGrath
	Company: Dow Jones & Company Inc.
	Copyright 2010 Dow Jones & Company Inc.
	
	Dependencies
	 - css/reset.css
	 - css/global.css
	-- -- -- -- -- -- --
	
*/

/* =module Edit >> module edit options main structure
----------------------------------------------------------------------------------------------------*/
.module-edit-options {
    display:none;
	background-color:#E0F3FF;
	padding:10px 14px;
	border:1px solid #3CF;
	border-top:none;
}

.module-edit-options-open {
    display:block;
}

.module-edit-options-header {
	padding:0 0 5px;
	border-bottom:1px solid #ddd;
}

.module-edit-options-content {
	padding:5px 0;
}

.module-edit-options-footer {
	padding:5px 0 0;
	border-top:1px solid #ddd;
}
	
/* =module Edit Header >> 
----------------------------------------------------------------------------------------------------*/

.mc_actions {
	float:right;
}
.mc_actions .mc_item .control-content {
	color:#333;
	padding:0 3px 0 0;
}

/*adjust specifc icons in dropdown*/
.mc_actions .mc_item .mc_dropdown-item .fi_u-arrow-g,
.mc_actions .mc_item .mc_dropdown-item .fi_d-arrow-g {
	margin:6px 0 0 0;
}


/* =module Edit Content >> 
----------------------------------------------------------------------------------------------------*/
.edit-module-name-wrap {
}

.edit-module-name-wrap .edit-module-name-label {
}
.edit-module-name-wrap .edit-module-name-label label {
	color:#555;
}
.edit-module-name-wrap .edit-module-name-textbox {
	background-color:#fff;
	margin-top: 5px;
	padding:2px 0;
	border:1px solid #3CF;
}
.edit-module-name-wrap .edit-module-name-textbox input {
    width:100%;
	background:none;
	border:0;
}


/* =module Edit Footer >> 
----------------------------------------------------------------------------------------------------*/
.module-edit-options-footer .mc_save-cancel {
	padding:0;
}