.noResults
{
    padding-top: 40px;
    min-height: 100px;
    text-align: center;
}

a
{
    cursor:pointer;
}
#buttons
{
    border-bottom:1px solid #cccccc;
    margin-bottom:10px;
}

.dj_SearchResultsWrapper.splitView
{
    width:50%;
    float:left
}

.dj_ArticleContainer.splitView
{
    border-left:1px solid #cccccc;
}

.dj_HeadlinesContainer.headlinesView
{  
    width:100%
}

.dj_HeadlinesContainer.splitView
{ 
    padding-right:10px;
}

.dj_HeadlinesContainer.articleView
{
    display:none;
}

.dj_ArticleContainer.headlinesView
{
    display:none;
}

.dj_ArticleContainer.splitView
{
    padding-left:10px;
}

.dj_ArticleContainer.articleView
{    
    width:100%;
}

.view-switch-buttons
{
    position: absolute;
    top: 6px;
    display: inline-block;
    width: auto;
    height: auto;
    line-height: 14px;
    overflow: visible;
    right:5px;
}