<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<caching>
			<outputCacheSettings>
				<outputCacheProfiles>
					<add name="PageCache" enabled="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
					<add name="HeadlineCache" enabled="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
					<add name="ArticleCache" enabled="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
				</outputCacheProfiles>
			</outputCacheSettings>
		</caching>
	</system.web>
	<applicationSettings>
		<DowJones.Properties.Settings>
			<setting name="ResourceManagerResourceName" serializeAs="String" xdt:Transform="Insert">
				<value>UINewspagesResources</value>
			</setting>
			<setting name="ResourceManagerAssemblyName" serializeAs="String" xdt:Transform="Insert">
				<value>UINewspagesResources</value>
			</setting>
		</DowJones.Properties.Settings>
	</applicationSettings>
</configuration>