<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <!-- Start 1_0 -->

      <transaction key="Factiva.Gateway.Messages.Trigger.V1_0:GetDetail">
        <name>urn:dowjones:emg:tr:v1_0/trigger:GetDetail</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dowjones:emg:tr:v1_0/GetDetail</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\triggers\GetDetailResponse.xsl</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Trigger.V1_0:PerformTriggerSearch">
        <name>urn:dowjones:emg:tr:v1_0/trigger:PerformTriggerSearch</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dowjones:emg:tr:v1_0/PerformTriggerSearch</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\triggers\PerformTriggerSearchResponse.xsl</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Trigger.Definition.V1_0:GetTriggerType">
        <name>urn:dowjones:emg:tr:v1_0/triggerDef:GetTriggerType</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dowjones:emg:tr:v1_0/GetTriggerType</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Trigger.V1_0:GetDetail2">
        <name>urn:dowjones:emg:tr:v1_0/trigger:GetDetail2</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dowjones:emg:tr:v1_0/GetDetail2</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Trigger.V1_0:PerformTriggerSearch2">
        <name>urn:dowjones:emg:tr:v1_0/trigger:PerformTriggerSearch2</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dowjones:emg:tr:v1_0/PerformTriggerSearch2</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <!-- End 1_0 -->

      <!-- Start 1_1 -->

      <transaction key="Factiva.Gateway.Messages.Trigger.V1_1:GetDetail">
        <name>urn:dowjones:emg:tr:v1_1/trigger:GetDetail</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dowjones:emg:tr:v1_1/GetDetail</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Trigger\Request\GetDetailRequest.xml</fileSave>
          <fileOpen>stubs\Trigger\Response\GetDetailResponsev1_1.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Trigger.V1_1:PerformTriggerSearch">
        <name>urn:dowjones:emg:tr:v1_1/trigger:PerformTriggerSearch</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dowjones:emg:tr:v1_1/PerformTriggerSearch</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Trigger\Request\PerformTriggerSearchRequest.xml</fileSave>
          <fileOpen>stubs\Trigger\Response\PerformTriggerSearchResponsev1_1.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Trigger.Definition.V1_1:GetTriggerType">
        <name>urn:dowjones:emg:tr:v1_1/triggerDef:GetTriggerType</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dowjones:emg:tr:v1_1/GetTriggerType</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Trigger\Request\GetTriggerTypeRequest.xml</fileSave>
          <fileOpen>stubs\Trigger\Response\GetTriggerTypeResponsev1_1.xml</fileOpen>
        </transport>-->
      </transaction>

      <!-- End 1_1 -->

      <!-- Start 2_0 -->
      <transaction key="Factiva.Gateway.Messages.Trigger.V2_0:GetTriggerTypes">
        <name>urn:dowjones:emg:tr:v2_0/trigger:GetTriggerTypes</name>
		  <request>
			  <messageFormat>STRING</messageFormat>
			  <filters>
				  <filter type="XSLTRANSFORM">
					  <param name="fileName">xslt\redi\RediHeader.xslt</param>
					  <param name="RediHeaderAction">urn:dowjones:emg:tr:v2_0/GetTriggerTypes</param>
				  </filter>
			  </filters>
		  </request>
		  <response>
			  <messageFormat>STRING</messageFormat>
		  </response>
		  <transport type="RTS"/>
		  <transport type="HTTP"/>
		  <!--<transport type="STUB">
          <fileSave>stubs\Trigger\2_0\Request\GetTriggerTypesRequest.xml</fileSave>
          <fileOpen>stubs\Trigger\2_0\Response\GetTriggerTypesResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Trigger.V2_0:GetTriggerDetails">
        <name>urn:dowjones:emg:tr:v2_0/trigger:GetTriggerDetails</name>
		  <request>
			  <messageFormat>STRING</messageFormat>
			  <filters>
				  <filter type="XSLTRANSFORM">
					  <param name="fileName">xslt\redi\RediHeader.xslt</param>
					  <param name="RediHeaderAction">urn:dowjones:emg:tr:v2_0/GetTriggerDetails</param>
				  </filter>
			  </filters>
		  </request>
		  <response>
			  <messageFormat>STRING</messageFormat>
		  </response>
          <transport type="RTS"/>
		  <transport type="HTTP"/>
		  <!--<transport type="STUB">
          <fileSave>stubs\Trigger\2_0\Request\GetTriggerDetailsRequest.xml</fileSave>
          <fileOpen>stubs\Trigger\2_0\Response\GetTriggerDetailsResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Trigger.V2_0:SearchTriggers">
        <name>urn:dowjones:emg:tr:v2_0/trigger:SearchTriggers</name>
		  <request>
			  <messageFormat>STRING</messageFormat>
			  <filters>
				  <filter type="XSLTRANSFORM">
					  <param name="fileName">xslt\redi\RediHeader.xslt</param>
					  <param name="RediHeaderAction">urn:dowjones:emg:tr:v2_0/SearchTriggers</param>
				  </filter>
			  </filters>
		  </request>
		  <response>
			  <messageFormat>STRING</messageFormat>
		  </response>
		  <transport type="RTS"/>
		  <transport type="HTTP"/>
		  <!--<transport type="STUB">
          <fileSave>stubs\Trigger\2_0\Request\SearchTriggersRequest.xml</fileSave>
          <fileOpen>stubs\Trigger\2_0\Response\SearchTriggersResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Trigger.V2_0:CountTriggers">
        <name>urn:dowjones:emg:tr:v2_0/trigger:CountTriggers</name>
		  <request>
			  <messageFormat>STRING</messageFormat>
			  <filters>
				  <filter type="XSLTRANSFORM">
					  <param name="fileName">xslt\redi\RediHeader.xslt</param>
					  <param name="RediHeaderAction">urn:dowjones:emg:tr:v2_0/CountTriggers</param>
				  </filter>
			  </filters>
		  </request>
		  <response>
			  <messageFormat>STRING</messageFormat>
		  </response>
          <transport type="RTS"/>
		  <transport type="HTTP"/>
		  <!--<transport type="STUB">
          <fileSave>stubs\Trigger\2_0\Request\CountTriggersRequest.xml</fileSave>
          <fileOpen>stubs\Trigger\2_0\Response\CountTriggersResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <!-- End 2_0 -->

      <!-- Start 2_3 -->
      <transaction key="Factiva.Gateway.Messages.Trigger.V2_3:GetTriggerTypes">
        <name>urn:dowjones:emg:tr:v2_3/trigger:GetTriggerTypes</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dowjones:emg:tr:v2_3/GetTriggerTypes</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        </transaction>

      <transaction key="Factiva.Gateway.Messages.Trigger.V2_3:GetTriggerDetails">
        <name>urn:dowjones:emg:tr:v2_3/trigger:GetTriggerDetails</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dowjones:emg:tr:v2_3/GetTriggerDetails</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
          </transaction>

      <transaction key="Factiva.Gateway.Messages.Trigger.V2_3:SearchTriggers">
        <name>urn:dowjones:emg:tr:v2_3/trigger:SearchTriggers</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dowjones:emg:tr:v2_3/SearchTriggers</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
         </transaction>

      <transaction key="Factiva.Gateway.Messages.Trigger.V2_3:CountTriggers">
        <name>urn:dowjones:emg:tr:v2_3/trigger:CountTriggers</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dowjones:emg:tr:v2_3/CountTriggers</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
          </transaction>
      <!-- End 2_3 -->
    </transactionSettings>
  </ServiceSettings>
</configuration>
