<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.Assets.Lists.V1_0:CreateList">
        <name>urn:factiva:assets:lists:v1_0:CreateList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Lists.V1_0:UpdateList">
        <name>urn:factiva:assets:lists:v1_0:UpdateList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Lists.V1_0:UpdateListProperties">
        <name>urn:factiva:assets:lists:v1_0:UpdateListProperties</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Lists.V1_0:UpdateListName">
        <name>urn:factiva:assets:lists:v1_0:UpdateListName</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Lists.V1_0:UpdateListItemByID">
        <name>urn:factiva:assets:lists:v1_0:UpdateListItemByID</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Lists.V1_0:DeleteList">
        <name>urn:factiva:assets:lists:v1_0:DeleteList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Lists.V1_0:GetListByID">
        <name>urn:factiva:assets:lists:v1_0:GetListByID</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Lists.V1_0:GetListsPropertiesList">
        <name>urn:factiva:assets:lists:v1_0:GetListsPropertiesList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Lists.V1_0:GetListsDetailsList">
        <name>urn:factiva:assets:lists:v1_0:GetListsDetailsList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Lists.V1_0:AddItemsToList">
        <name>urn:factiva:assets:lists:v1_0:AddItemsToList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Lists.V1_0:UpdateItemsOnList">
        <name>urn:factiva:assets:lists:v1_0:UpdateItemsOnList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Lists.V1_0:DeleteItemsOnList">
        <name>urn:factiva:assets:lists:v1_0:DeleteItemsOnList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      
      </transactionSettings>
  </ServiceSettings>
</configuration>