<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>

      <transaction key="Factiva.Gateway.Messages.Assets.Editions.V2_0:CreateEdition">
        <name>urn:factiva:assets:editions:data:v1_0:CreateEdition</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Edition\Request\CreateEditionRequest.xml</fileSave>
          <fileOpen>stubs\Edition\Response\CreateEditionResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Editions.V2_0:DeleteEdition">
        <name>urn:factiva:assets:editions:data:v1_0:DeleteEdition</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Edition\Request\DeleteEditionRequest.xml</fileSave>
          <fileOpen>stubs\Edition\Response\DeleteEditionResponse.xml</fileOpen>
        </transport>-->

      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Editions.V2_0:DeleteEditions">
        <name>urn:factiva:assets:editions:data:v1_0:DeleteEditions</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Editions.V2_0:UpdateEditionProperties">
        <name>urn:factiva:assets:editions:data:v1_0:UpdateEditionProperties</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Edition\Request\UpdateEditionPropertiesRequest.xml</fileSave>
          <fileOpen>stubs\Edition\Response\UpdateEditionPropertiesResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Editions.V2_0:UpdateEdition">
        <name>urn:factiva:assets:editions:data:v1_0:UpdateEdition</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Edition\Request\UpdateEditionRequest.xml</fileSave>
          <fileOpen>stubs\Edition\Response\UpdateEditionResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Editions.V2_0:GetEditionById">
        <name>urn:factiva:assets:editions:data:v1_0:GetEditionByID</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Edition\Request\GetEditionByIdRequest.xml</fileSave>
          <fileOpen>stubs\Edition\Response\GetEditionByIdResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Editions.V2_0:GetEditionsByWorkspaceId">
        <name>urn:factiva:assets:editions:data:v1_0:GetEditionsByWorkspaceID</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Edition\Request\GetEditionsByWorkspaceIdRequest.xml</fileSave>
          <fileOpen>stubs\Edition\Response\GetEditionsByWorkspaceIdResponse.xml</fileOpen>
        </transport>-->

      </transaction>
      
      <transaction key="Factiva.Gateway.Messages.Assets.Editions.V2_0:GetEditionByName">
        <name>urn:factiva:assets:editions:data:v1_0:GetEditionByName</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Edition\Request\GetEditionsByNameRequest.xml</fileSave>
          <fileOpen>stubs\Edition\Response\GetEditionsByNameResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Editions.V2_0:GetEditionFromNewsletter">
        <name>urn:factiva:assets:editions:data:v1_0:GetEditionFromNewsletter</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>       
      </transaction>

    </transactionSettings>
  </ServiceSettings>
</configuration>