<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>

      <transaction key="Factiva.Gateway.Messages.Assets.CompanyList.V1_0:AddCompanyList">
        <name>MSRVS_PGF_COMP_ADD_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\AddCompanyListRequest.xslt</param>
              <param name="ClassId">47</param>
              <param name="ClassName">companyList</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\AddCompanyListResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\CompanyList\Request\AddCompanyListRequest.xml</fileSave>
          <fileOpen>stubs\CompanyList\Response\AddCompanyListResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.CompanyList.V1_0:GetCompanyListsUser">
        <name>MSRVS_PGF_GET_ITEM_BY_CLASS</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\GetCompanyListsUserRequest.xslt</param>
              <param name="ClassId">47</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\GetCompanyListsUserResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\CompanyList\Request\GetCompanyListsUserRequest.xml</fileSave>
          <fileOpen>stubs\CompanyList\Response\GetCompanyListsUserResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.CompanyList.V1_0:GetCompanyListsByID">
        <name>MSRVS_PGF_GET_ITEM_BY_ID</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\GetCompanyListsByIDRequest.xslt</param>
              <param name="ClassId">47</param>
              <param name="ClassName">companyList</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\GetCompanyListsByIDResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\CompanyList\Request\GetCompanyListsByIDRequest.xml</fileSave>
          <fileOpen>stubs\CompanyList\Response\GetCompanyListsByIDResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.CompanyList.V1_0:DeleteCompanyLists">
        <name>MSRVS_PGF_DEL_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\DeleteCompanyListsRequest.xslt</param>
              <param name="ClassId">47</param>
              <param name="ClassName">companyList</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\DeleteCompanyListsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\CompanyList\Request\DeleteCompanyListsRequest.xml</fileSave>
          <fileOpen>stubs\CompanyList\Response\DeleteCompanyListsResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.CompanyList.V1_0:UpdateCompanyList">
        <name>MSRVS_PGF_COMP_MOD_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\UpdateCompanyListRequest.xslt</param>
              <param name="ClassId">47</param>
              <param name="ClassName">companyList</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\UpdateCompanyListResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\CompanyList\Request\UpdateCompanyListRequest.xml</fileSave>
          <fileOpen>stubs\CompanyList\Response\UpdateCompanyListResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.CompanyList.V1_0:GetCompanyListsAccount">
        <name>MSRVS_PGF_GET_ACCT_GROUP_ITEMS</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\GetCompanyListsAccountRequest.xslt</param>
              <param name="ClassId">47</param>
              <param name="ClassName">companyList</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\GetCompanyListsAccountResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.CompanyList.V1_0:AddCompanyListToGroup">
        <name>MSRVS_PGF_COMP_MOD_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\AddCompanyListToGroupRequest.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\AddCompanyListToGroupResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.CompanyList.V1_0:RemoveCompanyListFromGroup">
        <name>MSRVS_PGF_COMP_MOD_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\RemoveCompanyListFromGroupRequest.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\RemoveCompanyListFromGroupResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.CompanyList.V1_0:GetCompanyListsByGroup">
        <name>MSRVS_PGF_GET_GROUP_INFO</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\GetCompanyListsByGroupRequest.xslt</param>
              <param name="ClassId">47</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\GetCompanyListsByGroupResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <!--2.0 Service Transactions-->

      <transaction key="Factiva.Gateway.Messages.Assets.CompanyList.V2_0:CreateList">
        <name>MSRVS_PGF_COMP_ADD_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\V2_0\CreateListRequest.xslt</param>
              <param name="ClassId">47</param>
              <param name="ClassName">companyList</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\V2_0\CreateListResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\CompanyList\Request\AddCompanyListRequest.xml</fileSave>
          <fileOpen>stubs\CompanyList\Response\AddCompanyListResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.CompanyList.V2_0:GetListByID">
        <name>MSRVS_PGF_GET_ITEM_BY_ID</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\V2_0\GetListByIDRequest.xslt</param>
              <param name="ClassId">47</param>
              <param name="ClassName">companyList</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\V2_0\GetListByIDResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\CompanyList\Request\GetCompanyListsByIDRequest.xml</fileSave>
          <fileOpen>stubs\CompanyList\Response\GetCompanyListsByIDResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.CompanyList.V2_0:DeleteList">
        <name>MSRVS_PGF_DEL_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\V2_0\DeleteListRequest.xslt</param>
              <param name="ClassId">47</param>
              <param name="ClassName">companyList</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\V2_0\DeleteListResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\CompanyList\Request\DeleteCompanyListsRequest.xml</fileSave>
          <fileOpen>stubs\CompanyList\Response\DeleteCompanyListsResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.CompanyList.V2_0:UpdateList">
        <name>MSRVS_PGF_COMP_MOD_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\V2_0\UpdateListRequest.xslt</param>
              <param name="ClassId">47</param>
              <param name="ClassName">companyList</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\V2_0\UpdateListResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\CompanyList\Request\UpdateCompanyListRequest.xml</fileSave>
          <fileOpen>stubs\CompanyList\Response\UpdateCompanyListResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.CompanyList.V2_0:GetListsDetails">
        <name>MSRVS_PGF_GET_ITEM_BY_CLASS</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\GetListsDetailsRequest.xslt</param>
              <param name="ClassId">47</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\GetListsDetailsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\CompanyList\Request\GetListsDetailsRequest.xml</fileSave>
          <fileOpen>stubs\CompanyList\Response\GetListsDetailsResponse.xml</fileOpen>
        </transport>-->

      </transaction>

      <!--GetCompanyListsAccount-->
      <!--<transaction key="Factiva.Gateway.Messages.Assets.CompanyList.V2_0:GetCompanyListsAccount">
        <name>MSRVS_PGF_GET_ACCT_GROUP_ITEMS</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\GetCompanyListsAccountRequest.xslt</param>
              <param name="ClassId">47</param>
              <param name="ClassName">companyList</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\GetCompanyListsAccountResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>-->

      <transaction key="Factiva.Gateway.Messages.Assets.CompanyList.V2_0:AddListToGroup">
        <name>MSRVS_PGF_COMP_MOD_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\V2_0\AddListToGroupRequest.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\V2_0\AddListToGroupResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.CompanyList.V2_0:RemoveListFromGroup">
        <name>MSRVS_PGF_COMP_MOD_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\V2_0\RemoveListFromGroupRequest.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\V2_0\RemoveListFromGroupResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.CompanyList.V2_0:GetListsByGroup">
        <name>MSRVS_PGF_GET_GROUP_INFO</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\V2_0\GetListsByGroupRequest.xslt</param>
              <param name="ClassId">47</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\assets\companyList\V2_0\GetListsByGroupResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

    </transactionSettings>
  </ServiceSettings>
</configuration>