<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  
  <ServiceSettings>
    
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.Assets.Workflows.V1_0:CreateWorkflowItem">
        <name>urn:factiva:assets:workflow:v1_0:CreateWorkflowItem</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
    </transactionSettings>

    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.Assets.Workflows.V1_0:ProcessWorkflowItem">
        <name>urn:factiva:assets:workflow:v1_0:ProcessWorkflowItem</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
    </transactionSettings>

    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.Assets.Workflows.V1_0:DeleteWorkflowItem">
        <name>urn:factiva:assets:workflow:v1_0:DeleteWorkflowItem</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
    </transactionSettings>

    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.Assets.Workflows.V1_0:GetWorkflowItemByID">
        <name>urn:factiva:assets:workflow:v1_0:GetWorkflowItemByID</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
    </transactionSettings>

    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.Assets.Workflows.V1_0:GetWorkflowItemsDetailsList">
        <name>urn:factiva:assets:workflow:v1_0:GetWorkflowItemsDetailsList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
    </transactionSettings>

  </ServiceSettings>
  
</configuration>