<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.Assets.Item.V2_0:CreateItem">
        <name>urn:factiva:assets:item:V2_0:CreateItem</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <!--<transport type="RTS"/>
        <transport type="HTTP"/>-->
        <transport type="STUB">
          <fileSave>stubs\Assets\Items\CreateItemRequest.xml</fileSave>
          <fileOpen>stubs\Assets\Items\CreateItemResponse.xml</fileOpen>
        </transport>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Item.V2_0:UpdateItem">
        <name>urn:factiva:assets:item:V2_0:UpdateItem</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <!--<transport type="RTS"/>
        <transport type="HTTP"/>-->
        <transport type="STUB">
          <fileSave>stubs\Assets\Items\UpdateItemRequest.xml</fileSave>
          <fileOpen>stubs\Assets\Items\UpdateItemResponse.xml</fileOpen>
        </transport>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Item.V2_0:UpdateItemProperties">
        <name>urn:factiva:assets:item:V2_0:UpdateItemProperties</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <!--<transport type="RTS"/>
        <transport type="HTTP"/>-->
        <transport type="STUB">
          <fileSave>stubs\Assets\Items\UpdateItemPropertieRequest.xml</fileSave>
          <fileOpen>stubs\Assets\Items\UpdateItemPropertieResponse.xml</fileOpen>
        </transport>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Item.V2_0:UpdateItemName">
        <name>urn:factiva:assets:item:V2_0:UpdateItemName</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <!--<transport type="RTS"/>
        <transport type="HTTP"/>-->
        <transport type="STUB">
          <fileSave>stubs\Assets\Items\UpdateItemNameRequest.xml</fileSave>
          <fileOpen>stubs\Assets\Items\UpdateItemNameResponse.xml</fileOpen>
        </transport>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Item.V2_0:DeleteItem">
        <name>urn:factiva:assets:item:V2_0:DeleteItem</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <!--<transport type="RTS"/>
        <transport type="HTTP"/>-->
        <transport type="STUB">
          <fileSave>stubs\Assets\Items\DeleteItemRequest.xml</fileSave>
          <fileOpen>stubs\Assets\Items\DeleteItemResponse.xml</fileOpen>
        </transport>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Item.V2_0:GetItemByID">
        <name>urn:factiva:assets:item:V2_0:GetItemByID</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <!--<transport type="RTS"/>
        <transport type="HTTP"/>-->
        <transport type="STUB">
          <fileSave>stubs\Assets\Items\GetItemByIDRequest.xml</fileSave>
          <fileOpen>stubs\Assets\Items\GetItemByIDResponse.xml</fileOpen>
        </transport>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Item.V2_0:GetItemsDetailsList">
        <name>urn:factiva:assets:item:V2_0:GetItemsDetailsList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <!--<transport type="RTS"/>
        <transport type="HTTP"/>-->
        <transport type="STUB">
          <fileSave>stubs\Assets\Items\GetItemsDetailsListRequest.xml</fileSave>
          <fileOpen>stubs\Assets\Items\GetItemsDetailsListResponse.xml</fileOpen>
        </transport>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Item.V2_0:SetShareProperties">
        <name>urn:factiva:assets:item:V2_0:SetShareProperties</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <!--<transport type="RTS"/>
        <transport type="HTTP"/>-->
        <transport type="STUB">
          <fileSave>stubs\Assets\Items\SetSharePropertiesRequest.xml</fileSave>
          <fileOpen>stubs\Assets\Items\SetSharePropertiesResponse.xml</fileOpen>
        </transport>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Item.V2_0:CreateItemIfNotExists">
        <name>urn:factiva:assets:item:V2_0:CreateItemIfNotExists</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <!--<transport type="RTS"/>
        <transport type="HTTP"/>-->
        <transport type="STUB">
          <fileSave>stubs\Assets\Items\CreateItemIfNotExistsRequest.xml</fileSave>
          <fileOpen>stubs\Assets\Items\CreateItemIfNotExistsResponse.xml</fileOpen>
        </transport>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Item.V2_0:CreateItemIfNotExistsEx">
        <name>urn:factiva:assets:item:V2_0:CreateItemIfNotExists</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <!--<transport type="RTS"/>
        <transport type="HTTP"/>-->
        <transport type="STUB">
          <fileSave>stubs\Assets\Items\CreateItemIfNotExistsExRequest.xml</fileSave>
          <fileOpen>stubs\Assets\Items\CreateItemIfNotExistsExResponse.xml</fileOpen>
        </transport>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Assets.Item.V2_0:GetItemsByIDs">
        <name>urn:factiva:assets:item:V2_0:GetItemByIDs</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <!--<transport type="RTS"/>
        <transport type="HTTP"/>-->
        <transport type="STUB">
          <fileSave>stubs\Assets\Items\GetItemsByIDsRequest.xml</fileSave>
          <fileOpen>stubs\Assets\Items\GetItemsByIDsResponse.xml</fileOpen>
        </transport>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Item.V2_0:GetItemsByValue">
        <name>urn:factiva:assets:item:V2_0:GetItemsByValue</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <!--<transport type="RTS"/>
        <transport type="HTTP"/>-->
        <transport type="STUB">
          <fileSave>stubs\Assets\Items\GetItemsByValueRequest.xml</fileSave>
          <fileOpen>stubs\Assets\Items\GetItemsByValueResponse.xml</fileOpen>
        </transport>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Item.V2_0:GetSubscribableItems">
        <name>urn:factiva:assets:item:V2_0:GetSubscribableItems</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <!--<transport type="RTS"/>
        <transport type="HTTP"/>-->
        <transport type="STUB">
          <fileSave>stubs\Assets\Items\GetSubscribableItemsRequest.xml</fileSave>
          <fileOpen>stubs\Assets\Items\GetSubscribableItemsResponse.xml</fileOpen>
        </transport>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Item.V2_0:DeleteSubItemsOnItem">
        <name>urn:factiva:assets:item:V2_0:DeleteSubItemsOnItem</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <!--<transport type="RTS"/>
        <transport type="HTTP"/>-->
        <transport type="STUB">
          <fileSave>stubs\Assets\Items\DeleteSubItemsOnItemRequest.xml</fileSave>
          <fileOpen>stubs\Assets\Items\DeleteSubItemsOnItemResponse.xml</fileOpen>
        </transport>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Assets.Item.V2_0:AddSubItemsToItem">
        <name>urn:factiva:assets:item:V2_0:AddSubItemsToItem</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <!--<transport type="RTS"/>
        <transport type="HTTP"/>-->
        <transport type="STUB">
          <fileSave>stubs\Assets\Items\AddSubItemsToItemRequest.xml</fileSave>
          <fileOpen>stubs\Assets\Items\AddSubItemsToItemResponse.xml</fileOpen>
        </transport>
      </transaction>

    </transactionSettings>
  </ServiceSettings>
</configuration>