<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.CIBS.V1_0:GetOnlineMeter">
        <name>GetOnlineMeter</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>           
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
        </response>
        <transport type="RTS"></transport>
        <transport type="HTTP"></transport>
        <transport type="STUB">
          <fileSave>stubs\CIBS\Request\GetOnlineMeterRequest.xml</fileSave>
          <fileOpen>stubs\CIBS\Response\GetOnlineMeterResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.CIBS.V1_0:SetMeteringCredits">
        <name>SetMeteringCredits</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
        </response>
        <transport type="RTS"></transport>
        <transport type="HTTP"></transport>
        <!--<transport type="STUB">
          <fileSave>stubs\CIBS\Request\GetOnlineMeterRequest.xml</fileSave>
          <fileOpen>stubs\CIBS\Response\GetOnlineMeterResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.CIBS.V1_0:GetMeterCreditHistory">
        <name>GetMeterCrHistory</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
          </filters>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
        </response>
        <transport type="RTS"></transport>
        <transport type="HTTP"></transport>
        <!--<transport type="STUB">
          <fileSave>stubs\CIBS\Request\MeterCrHistoryRequest.xml</fileSave>
          <fileOpen>stubs\CIBS\Response\MeterCrHistoryResponse.xml</fileOpen>
        </transport>-->
      </transaction>      
    </transactionSettings>
  </ServiceSettings>
</configuration>