<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.DJComm.Activity.V1_0:CreateActivity">
        <name>urn:factiva:Communicator:ActivityService:v1_0:CreateActivity</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\Activity\CreateActivityRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\Activity\CreateActivityResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.Activity.V1_0:GetActivityById">
        <name>urn:factiva:Communicator:ActivityService:v1_0:GetActivityById</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\Activity\GetActivityByIdRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\Activity\GetActivityByIdResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.Activity.V1_0:GetActivityList">
        <name>urn:factiva:Communicator:ActivityService:v1_0:GetActivityList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\Activity\GetActivityListRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\Activity\GetActivityListResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.Activity.V1_0:UpdateActivity">
        <name>urn:factiva:Communicator:ActivityService:v1_0:UpdateActivity</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\Activity\UpdateActivityRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\Activity\UpdateActivityResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.Activity.V1_0:DeleteActivity">
        <name>urn:factiva:Communicator:ActivityService:v1_0:DeleteActivity</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\Activity\DeleteActivityRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\Activity\DeleteActivityResponse.xml</fileOpen>
        </transport>
      </transaction>     
    </transactionSettings>
  </ServiceSettings>
</configuration>