<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.DJComm.Outlet.V1_0:GetOutletList">
        <name>urn:factiva:Communicator:OutletService:v1_0:GetOutletList</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\Outlet\GetOutletListRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\Outlet\GetOutletListResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.Outlet.V1_0:GetOutletListDetail">
        <name>urn:factiva:Communicator:OutletService:v1_0:GetOutletListDetail</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\Outlet\GetOutletListDetailRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\Outlet\GetOutletListDetailResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.Outlet.V1_0:CreateOutlet">
        <name>urn:factiva:Communicator:OutletService:v1_0:CreateOutlet</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\Outlet\CreateOutletRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\Outlet\CreateOutletResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.Outlet.V1_0:GetOutletById">
        <name>urn:factiva:Communicator:OutletService:v1_0:GetOutletById</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\Outlet\GetOutletByIdRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\Outlet\GetOutletByIdResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.Outlet.V1_0:DeleteOutlet">
        <name>urn:factiva:Communicator:OutletService:v1_0:DeleteOutlet</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\Outlet\DeleteOutletRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\Outlet\DeleteOutletResponse.xml</fileOpen>
        </transport>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.DJComm.Outlet.V1_0:UpdateOutlet">
        <name>urn:factiva:Communicator:OutletService:v1_0:UpdateOutlet</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\DJCommunicator\Outlet\UpdateOutletRequest.xml</fileSave>
          <fileOpen>stubs\DJCommunicator\Outlet\UpdateOutletResponse.xml</fileOpen>
        </transport>
      </transaction>
    </transactionSettings>
  </ServiceSettings>
</configuration>