<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
	</configSections>
	<ServiceSettings>
		<transactionSettings>

			<transaction key="Factiva.Gateway.Messages.FCE.DnB.V1_0:GetBranches">
				<name>GetBranches_bstr</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\redi\RediHeader.xslt</param>
							<param name="RediHeaderAction">http://services.factiva.com/dnb/GetBranches</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>

			<transaction key="Factiva.Gateway.Messages.FCE.DnB.V1_0:GetChildren">
				<name>GetChildren_bstr</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\redi\RediHeader.xslt</param>
							<param name="RediHeaderAction">http://services.factiva.com/dnb/GetChildren</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>

			<transaction key="Factiva.Gateway.Messages.FCE.DnB.V1_0:GetCompleteTree">
				<name>GetCompleteTree_bstr</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\redi\RediHeader.xslt</param>
							<param name="RediHeaderAction">http://services.factiva.com/dnb/GetCompleteTree</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>

			<transaction key="Factiva.Gateway.Messages.FCE.DnB.V1_0:GetDnBRecords">
				<name>GetDnBRecords_bstr</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>	
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\redi\RediHeader.xslt</param>
							<param name="RediHeaderAction">http://services.factiva.com/dnb/GetDnBRecords</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>

			<transaction key="Factiva.Gateway.Messages.FCE.DnB.V1_0:GetPathToGlobalUltimateDuns">
				<name>GetPathToGlobalUltimateDuns_bstr</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\redi\RediHeader.xslt</param>
							<param name="RediHeaderAction">http://services.factiva.com/dnb/GetPathToGlobalUltimateDuns</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>

		</transactionSettings>
	</ServiceSettings>
</configuration>