<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.EmailDeliverySettings.V1_0:AddWhatsNewSettings">
        <name>WN_Add</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\emaildeliverysettings\AddWhatsNewSettingsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\requests\AddWhatsNewSettings.xml</fileSave>
          <fileOpen>stubs\responses\AddWhatsNewSettingsResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.EmailDeliverySettings.V1_0:DeleteWhatsNewSettings">
        <name>WN_Del</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\emaildeliverysettings\DeleteWhatsNewSettingsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\requests\DeleteWhatsNewSettings.xml</fileSave>
          <fileOpen>stubs\responses\DeleteWhatsNewSettingsResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.EmailDeliverySettings.V1_0:GetWhatsNewSettings">
        <name>WN_Get</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\emaildeliverysettings\GetWhatsNewSettingsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\requests\GetWhatsNewSettings.xml</fileSave>
          <fileOpen>stubs\responses\GetWhatsNewSettingsResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.EmailDeliverySettings.V1_0:UpdateWhatsNewSettings">
        <name>WN_Add</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\emaildeliverysettings\AddWhatsNewSettingsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\requests\UpdateWhatsNewSettings.xml</fileSave>
          <fileOpen>stubs\responses\UpdateWhatsNewSettingsResponse.xml</fileOpen>
        </transport>-->
      </transaction>

    <transaction key="Factiva.Gateway.Messages.EmailDeliverySettings.V2_0:GetDeliverySettings">
      <name>urn:factiva:EDS:v2_0:GetDeliverySettings</name>
      <request>
        <messageFormat>STRING</messageFormat>
      </request>
      <response>
        <messageFormat>STRING</messageFormat>

      </response>
      <transport type="RTS"/>
        <transport type="HTTP"/>
      <!--<transport type="STUB">
        <fileSave>stubs\EDS\request\GetDeliverySettings.xml</fileSave>
        <fileOpen>stubs\EDS\response\GetDeliverySettingsResponse_Summary.xml</fileOpen>
      </transport>-->
    </transaction>

    <transaction key="Factiva.Gateway.Messages.EmailDeliverySettings.V2_0:CreateDeliverySettings">
      <name>urn:factiva:EDS:v2_0:CreateDeliverySettings</name>
      <request>
        <messageFormat>STRING</messageFormat>
      </request>
      <response>
        <messageFormat>STRING</messageFormat>

      </response>
      <transport type="RTS"/>
        <transport type="HTTP"/>
      <!--<transport type="STUB">
        <fileSave>stubs\EDS\request\CreateDeliverySettings.xml</fileSave>
        <fileOpen>stubs\EDS\response\CreateDeliverySettingsResponse.xml</fileOpen>
      </transport>-->
    </transaction>

    <transaction key="Factiva.Gateway.Messages.EmailDeliverySettings.V2_0:DeleteDeliverySettings">
      <name>urn:factiva:EDS:v2_0:DeleteDeliverySettings</name>
      <request>
        <messageFormat>STRING</messageFormat>
      </request>
      <response>
        <messageFormat>STRING</messageFormat>

      </response>
      <transport type="RTS"/>
        <transport type="HTTP"/>
      <!--<transport type="STUB">
        <fileSave>stubs\EDS\request\DeleteDeliverySettings.xml</fileSave>
        <fileOpen>stubs\EDS\response\DeleteDeliverySettingsResponse.xml</fileOpen>
      </transport>-->
    </transaction>

    <transaction key="Factiva.Gateway.Messages.EmailDeliverySettings.V2_0:UpdateDeliverySettings">
      <name>urn:factiva:EDS:v2_0:UpdateDeliverySettings</name>
      <request>
        <messageFormat>STRING</messageFormat>
      </request>
      <response>
        <messageFormat>STRING</messageFormat>

      </response>
      <transport type="RTS"/>
        <transport type="HTTP"/>
      <!--<transport type="STUB">
        <fileSave>stubs\EDS\request\UpdateDeliverySettings.xml</fileSave>
        <fileOpen>stubs\EDS\response\UpdateDeliverySettingsResponse_Warning.xml</fileOpen>
      </transport>-->
    </transaction>
    <transaction key="Factiva.Gateway.Messages.EmailDeliverySettings.V2_0:EnableDelivery">
      <name>urn:factiva:EDS:v2_0:EnableDelivery</name>
      <request>
        <messageFormat>STRING</messageFormat>
      </request>
      <response>
        <messageFormat>STRING</messageFormat>

      </response>
      <transport type="RTS"/>
        <transport type="HTTP"/>
      <!--<transport type="STUB">
        <fileSave>stubs\EDS\request\EnableDeliverySettings.xml</fileSave>
        <fileOpen>stubs\EDS\response\EnableDeliverySettingsResponse.xml</fileOpen>
      </transport>-->
    </transaction>

      <transaction key="Factiva.Gateway.Messages.EmailDeliverySettings.V2_0:GetAccessionsForEmail">
        <name>urn:factiva:EDS:v2_0:GetAccessionsForEmail</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>

        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
        <fileSave>stubs\EDS\request\GetAccessionsForEmail.xml</fileSave>
        <fileOpen>stubs\EDS\response\GetAccessionsForEmailResponse.xml</fileOpen>
      </transport>-->
      </transaction>
      
    </transactionSettings>
  </ServiceSettings>
</configuration>