<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.EventCalendar.V1_0:GetUpdatedEvents">
        <name>GetUpdatedEvents</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">GetUpdatedEvents</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
         <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\EventCalendar\GetEventUpdatesRequest.xml</fileSave>
          <fileOpen>stubs\EventCalendar\GetEventUpdatesResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      
    
      <transaction key="Factiva.Gateway.Messages.EventCalendar.V1_0:GetEventFilter">
        <name>GetEventFilter</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">GetEventFilter</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\EventCalendar\GetEventFilterRequest.xml</fileSave>
          <fileOpen>stubs\EventCalendar\GetEventFilterResponse.xml</fileOpen>
        </transport>-->
      </transaction>

    
      <transaction key="Factiva.Gateway.Messages.EventCalendar.V1_0:PerformSearchEvent">
        <name>PerformSearchEvent</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">PerformSearchEvent</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\EventCalendar\EventSearchRequest.xml</fileSave>
          <fileOpen>stubs\EventCalendar\EventSearchResponse.xml</fileOpen>
        </transport>-->
      </transaction>     
        <transaction key="Factiva.Gateway.Messages.EventCalendar.V1_0:SearchEvents">
          <name>SearchEvents</name>
          <request>
            <messageFormat>STRING</messageFormat>
            <filters>
              <filter type="XSLTRANSFORM">
                <param name="fileName">xslt\redi\RediHeader.xslt</param>
                <param name="RediHeaderAction">SearchEvents</param>
              </filter>
            </filters>
          </request>
          <response>
            <messageFormat>STRING</messageFormat>
          </response>
          <transport type="RTS"/>
          <transport type="HTTP"/>
          <transport type="STUB">
          <fileSave>stubs\EventCalendar\SearchEventsRequest.xml</fileSave>
          <fileOpen>stubs\EventCalendar\SearchEventsResponse.xml</fileOpen>
        </transport>
        </transaction>
      <transaction key="Factiva.Gateway.Messages.EventCalendar.V1_0:GetEventUpdates">
        <name>GetEventUpdates</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">GetEventUpdates</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <transport type="STUB">
          <fileSave>stubs\EventCalendar\GetEventUpdatesRequest.xml</fileSave>
          <fileOpen>stubs\EventCalendar\GetEventUpdatesResponse.xml</fileOpen>
        </transport>
      </transaction>
    </transactionSettings>
  </ServiceSettings>
</configuration>