<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
	</configSections>
	<ServiceSettings>
		<transactionSettings>

			<transaction key="Factiva.Gateway.Messages.FCE.Government.V1_0:FindOfficials">
				<name>fcp:carroll:v1_0:FindOfficials</name>
				<request>	
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\redi\RediHeader.xslt</param>
							<param name="RediHeaderAction">FindOfficials</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>

			<transaction key="Factiva.Gateway.Messages.FCE.Government.V1_0:GetExecutiveSnapShot">
				<name>fcp:carroll:v1_0:GetExecutiveSnapShot</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\redi\RediHeader.xslt</param>
							<param name="RediHeaderAction">GetExecutiveSnapShot</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>


			<transaction key="Factiva.Gateway.Messages.FCE.Government.V1_0:GetOrganizationSnapShot">
				<name>fcp:carroll:v1_0:GetOrganizationSnapShot</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\redi\RediHeader.xslt</param>
							<param name="RediHeaderAction">GetOrganizationSnapShot</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>


			<transaction key="Factiva.Gateway.Messages.FCE.Government.V1_0:GetChildren">
				<name>fcp:carroll:v1_0:GetChildren</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\redi\RediHeader.xslt</param>
							<param name="RediHeaderAction">GetChildren</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>


			<transaction key="Factiva.Gateway.Messages.FCE.Government.V1_0:GetDataSets">
				<name>fcp:carroll:v1_0:GetDataSets</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\redi\RediHeader.xslt</param>
							<param name="RediHeaderAction">GetDataSets</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>

		</transactionSettings>
	</ServiceSettings>
</configuration>