<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.MetaData.V1_0:GetMetadata">
        <name>urn:factiva:assets:metadata:v1_0:GetMetadata</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveSoapEnvAndNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\metadata\Request.xslt</param>
              <param name="tranType">GetMetadata</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:metadata:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveSoapEnvAndNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\metadata\Response.xslt</param>
              <param name="tranType">GetMetadataResponse</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.MetaData.V1_0:GetDocumentMarkupByAccessionNumber">
        <name>urn:factiva:assets:metadata:v1_0:GetDocumentMarkupByAN</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveSoapEnvAndNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\metadata\Request.xslt</param>
              <param name="tranType">GetDocumentMarkupByAN</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:metadata:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveSoapEnvAndNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\metadata\Response.xslt</param>
              <param name="tranType">GetDocumentMarkupByAccessionNumberResponse</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.MetaData.V1_0:GetReportDocuments">
        <name>urn:factiva:assets:metadata:v1_0:GetReportDocuments</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveSoapEnvAndNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\metadata\Request.xslt</param>
              <param name="tranType">GetReportDocuments</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:metadata:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveSoapEnvAndNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\metadata\Response.xslt</param>
              <param name="tranType">GetReportDocumentsResponse</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
    </transactionSettings>
  </ServiceSettings>
</configuration>