<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <!--Generate ODE Transaction-->
      <transaction key="Factiva.Gateway.Messages.ODE.V2_0:GenerateODE">
        <name>urn:factiva:ODE:v2_0:GenerateODE</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\ODE\Request\GenerateODE.xml</fileSave>
          <fileOpen>stubs\ODE\Response\GenerateODEResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <!--End Generate ODE Transaction-->
    </transactionSettings>
  </ServiceSettings>
</configuration>
