<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
	</configSections>
	<ServiceSettings>
		<transactionSettings>
			<!-- START Email_OnDemand TRANSACTIONS-->
		<transaction key="Factiva.Gateway.Messages.ODE.V1_0:OnDemandEmail">
			<name>Email_OnDemand1</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\ode\OnDemandEmail.xslt</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\ode\OnDemandEmailResponse.xslt</param>
							<param name="RegOrNoAuth">Reg</param>
						</filter>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>
			<transaction key="Factiva.Gateway.Messages.ODE.V1_0:OnDemandEmailNoAuth">
				<name>Email_OnDemandNoAuth</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\ode\OnDemandEmailNoAuth.xslt</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\ode\OnDemandEmailResponse.xslt</param>
							<param name="RegOrNoAuth">NoAuth</param>
						</filter>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>
      <!-- End On Demand Email Transactions -->
      
      <!-- NewsDigest Transactions -->
      <transaction key="Factiva.Gateway.Messages.ODE.DistributionList.V1_0:AddDistributionMailingList">
        <name>DL_Add</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\ode\DistributionListAddResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      
      <transaction key="Factiva.Gateway.Messages.ODE.DistributionList.V1_0:UpdateDistributionMailingList">
        <name>DL_Update</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\ode\DistributionListUpdateResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      
      <transaction key="Factiva.Gateway.Messages.ODE.DistributionList.V1_0:DeleteDistributionMailingList">
        <name>DL_Delete</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\ode\DistributionListDeleteResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      
      <transaction key="Factiva.Gateway.Messages.ODE.DistributionList.V1_0:GetEmailAddressesByDistributionMailingListId">
        <name>DL_Get</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\ode\DistributionListGetResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      
      <transaction key="Factiva.Gateway.Messages.ODE.DistributionList.V1_0:GetDistributionMailingLists">
        <name>DL_GetList</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\ode\DistributionListGetListResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      
      <transaction key="Factiva.Gateway.Messages.ODE.DistributionList.V1_0:CheckEmailAddressesAgainstDistributionMailingLists">
        <name>DL_CheckList</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\ode\DistributionListCheckListResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      <!-- End NewsDigest Transactions -->
      
      <!-- EmailNewsletter Transactions -->
      
      <transaction key="Factiva.Gateway.Messages.ODE.EmailNewsletter.V1_0:EmailNewsletter">
        <name>NL_Email</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>          
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      
      <!-- End EmailNewsletter Transactions -->
      <!--Generate ODE Transaction-->
      <transaction key="Factiva.Gateway.Messages.ODE.V1_0:GenerateODE">
        <name>urn:factiva:ODE:v1_0:GenerateODE</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\ODE\Request\GenerateODE.xml</fileSave>
          <fileOpen>stubs\ODE\Response\GenerateODEResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <!--End Generate ODE Transaction-->
    </transactionSettings>
  </ServiceSettings>
</configuration>
