<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
	</configSections>
	<ServiceSettings>
		<transactionSettings>
			<transaction key="Factiva.Gateway.Messages.OperationalData.V1_0:RecordOperationData">
				<name>RecordOperationalEvent</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>BINARY</messageFormat>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>
		</transactionSettings>
	</ServiceSettings>
</configuration>
