<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.PCM.RealTimeSearchDiscovery.V1_0:PCMGetRealTimeSearchDiscovery">
        <name>PCMGetRealTimeSearchDiscovery</name>
        <request>
          <messageFormat>STRING</messageFormat>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>        
      </transaction>
    </transactionSettings>
  </ServiceSettings>
</configuration>