<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.Cache.PlatformCache.V1_0:StoreItem">
        <name>urn:emg:platformCache:v1_0:StoreItem</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\platformCache\StoreItem.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\platformCache\StoreItemResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
					<fileSave>stubs\PlatformCache\StoreItem.xml</fileSave>
					<fileOpen>stubs\PlatformCache\StoreItemResponse.xml</fileOpen>
				</transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Cache.PlatformCache.V1_0:GetItem">
        <name>urn:emg:platformCache:v1_0:GetItem</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\platformCache\GetItem.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\platformCache\GetItemResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
					<fileSave>stubs\PlatformCache\GetItem.xml</fileSave>
					<fileOpen>stubs\PlatformCache\GetItemResponse.xml</fileOpen>
				</transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Cache.PlatformCache.V1_0:GetItemInfo">
        <name>urn:emg:platformCache:v1_0:GetItemInfo</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\platformCache\GetItemInfo.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\platformCache\GetItemInfoResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
					<fileSave>stubs\PlatformCache\GetItemInfo.xml</fileSave>
					<fileOpen>stubs\PlatformCache\GetItemInfoResponse.xml</fileOpen>
				</transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Cache.PlatformCache.V1_0:DeleteItem">
        <name>urn:emg:platformCache:v1_0:DeleteItem</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\platformCache\DeleteItem.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\platformCache\DeleteItemResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
					<fileSave>stubs\PlatformCache\DeleteItem.xml</fileSave>
					<fileOpen>stubs\PlatformCache\DeleteItemResponse.xml</fileOpen>
				</transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Cache.PlatformCache.V1_0:GetItems">
        <name>urn:emg:platformCache:v1_0:GetItem</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\platformCache\GetItems.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\platformCache\GetItemsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Cache.PlatformCache.V1_0:GetItemsInfo">
        <name>urn:emg:platformCache:v1_0:GetItemInfo</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\platformCache\GetItemsInfo.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\platformCache\GetItemsInfoResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
    </transactionSettings>
  </ServiceSettings>
</configuration>
