<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:PerformEmailRegistration">
        <name>MSRVS_REG_REG_USER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\PerformEmailRegistrationResponse.xslt</param>
            </filter>
          </filters>

        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:PerformUserRegistration">
        <name>MSRVS_REG_REG_USER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\PerformUserRegistrationResponse.xslt</param>
            </filter>
          </filters>

        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:PerformSimplifiedRegistration">
        <name>MSRVS_REG_LWR</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\PerformSimplifiedRegistrationResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:UpdateUserData">
        <name>MSRVS_REG_UPDATE_USER_DATA</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\UpdateUserDataResponse.xslt</param>
            </filter>
          </filters>

        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:GetUserData">
        <name>MSRVS_REG_GET_USER_DATA</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\GetUserDataResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:UpdateCreditCardToken">
        <name>MSRVS_REG_UPDATE_CC_TOKEN</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <!-- New Registration objects. Start-->

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:SetupUserForEmailAddressLogin">
        <name>MSRVS_REG_START_CONVERSION</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\SetupUserForEmailAddressLoginResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:SetupUserForEmailAddressLoginWithSession">
        <name>MSRVS_REG_SESS_START_CONVERSION</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\SetupUserForEmailAddressLoginWithSessionResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:CheckUserSecurityInfo">
        <name>MSRVS_REG_CHECK_SECURITY_ANSWER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\CheckUserSecurityInfoResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:GetLWRPermissionByAccountID">
        <name>MSRVS_REG_CHECK_LWR_PERMS</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\GetLWRPermissionByAccountIDResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:GetLWRPermissionByEmailAddress">
        <name>MSRVS_REG_CHECK_LWR_PERMS_BY_EMAIL</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\GetLWRPermissionByEmailAddressResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:PerformTwoPhasePAYGUserRegistration">
        <name>MSRVS_REG_REG_TWO_PHASE_PAYG_USER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\PerformTwoPhasePAYGUserRegistrationResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:UpdateEmailLoginState">
        <name>MSRVS_REG_UPDATE_EMAIL_LOGIN_STATE</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\UpdateEmailLoginStateResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <!-- New Registration objects. End-->
      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:AddAccountLWRegistrationDetails">
        <name>MSRVS_REG_ADD_LWR_ACCOUNT</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\AddAccountLWRegistrationDetailsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:UpdateAccountLWRegistrationDetails">
        <name>MSRVS_REG_UPDATE_LWR_ACCOUNT</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\UpdateAccountLWRegistrationDetailsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:DeleteAccountLWRegistrationDetails">
        <name>MSRVS_REG_DELETE_LWR_ACCOUNT</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\DeleteAccountLWRegistrationDetailsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:UpdateUserRenewal">
        <name>MSRVS_REG_UPDATE_USER_RENEWAL</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\UpdateUserRenewalResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:DisableEmailAddressLoginForUser">
        <name>MSRVS_REG_CS_DISABLE_EMAIL_LOGIN</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\DisableEmailAddressLoginForUserResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:UpdateEmailAddress">
        <name>MSRVS_REG_UPDATE_EMAIL_ADDRESS</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\UpdateEmailAddressResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <!-- //10/08/2008-->

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:CustomerServiceSetupUserForEmailAddressLogin">
        <name>MSRVS_REG_CS_START_CONVERSION</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\CustomerServiceSetupUserForEmailAddressLoginResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:CustomerServiceUpdateEnabledUserData">
        <name>MSRVS_CS_UPDATE_ENABLED_USER_DATA</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\CustomerServiceUpdateEnabledUserDataResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:ListUsersWithGivenEmail">
        <name>MSRVS_REG_LIST_USERS_WITH_GIVEN_EMAIL</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\ListUsersWithGivenEmailResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:GetLWRAccounts">
        <name>MSRVS_REG_GET_LWR_ACOUNTS</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\GetLWRAccountsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:CustomerPortalGetUserData">
        <name>MSRVS_REG_CP_GET_USER_DATA</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\CustomerPortalGetUserDataResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:CustomerPortalUpdateUserData">
        <name>MSRVS_REG_CP_UPDATE_USER_DATA</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\CustomerPortalUpdateUserDataResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:CustomerServiceRegisterUser">
        <name>MSRVS_REG_CS_REG_USER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\CustomerServiceRegisterUserResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:CustomerServiceUpdateUserData">
        <name>MSRVS_REG_CS_UPDATE_USER_DATA</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\CustomerServiceUpdateUserDataResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:GetUserEmailSessionless">
        <name>MSRVS_REG_GET_USER_DATA_NO_SESS</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\GetUserEmailSessionlessResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:LoginAccessHelper">
        <name>MSRVS_REG_LOGIN_ACCESS_HELPER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\LoginAccessHelperResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:ResetPasswordWithToken">
        <name>MSRVS_REG_RESET_PASSWD_TOKEN</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\ResetPasswordWithTokenResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:UpdateUserPassword">
        <name>MSRVS_REG_UPDATE_USER_PASSWD</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\UpdateUserPasswordResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.FlexLicensing.V1_0:UpgradeUser">
        <name>MSRVS_REG_UPGRADE_USER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\UpgradeUserResponse.xslt</param> 
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.FlexLicensing.V1_0:IsAccountEnabledForUpgrade">
        <name>MSRVS_REG_IS_ACCOUNT_ENABLED_FOR_UPGRADE</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>

        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\IsAccountEnabledForUpgradeResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:PerformSingleSignOnTokenRegistration">
        <name>MSRVS_REG_USER_WITH_SSO</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\PerformSingleSignOnTokenRegistrationResponse.xslt</param>
            </filter>
          </filters>

        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:UpdateSingleSignOnTokenUser">
        <name>MSRVS_REG_UPDATE_USER_WITH_SSO</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\UpdateSingleSignOnTokenUserResponse.xslt</param>
            </filter>
          </filters>

        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:SuspendUser">
        <name>MSRVS_REG_UPDATE_USER_WITH_SSO</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\UpdateSingleSignOnTokenUserResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <!--DA editor Transactions begin-->
      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:SearchByAccount">
        <name>MSRVS_REG_SEARCH_BY_ACCOUNT</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\SearchByAccountResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\registration\DaEditor\SearchByAccountRequest.xml</fileSave>
          <fileOpen>stubs\registration\DaEditor\SearchByAccountResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:SearchByUser">
        <name>MSRVS_REG_SEARCH_BY_USER</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\SearchByUserResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\registration\DaEditor\SearchByUserRequest.xml</fileSave>
          <fileOpen>stubs\registration\DaEditor\SearchByUserResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:GetUserVirtualItems">
        <name>MSRVS_PGF_GET_USER_VIRTUAL_ITEMS</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\GetUserVirtualItemsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\registration\DaEditor\GetUserVirtualItemsRequest.xml</fileSave>
          <fileOpen>stubs\registration\DaEditor\GetUserVirtualItemsResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:DeleteUserVirtualItems">
        <name>MSRVS_PGF_DEL_USER_VIRTUAL_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\DeleteUserVirtualItemsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\registration\DaEditor\DeleteUserVirtualItemsRequest.xml</fileSave>
          <fileOpen>stubs\registration\DaEditor\DeleteUserVirtualItemsResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:AddUserVirtualItems">
        <name>MSRVS_PGF_ADD_USER_VIRTUAL_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\AddUserVirtualItemsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\registration\DaEditor\AddUserVirtualItemsRequest.xml</fileSave>
          <fileOpen>stubs\registration\DaEditor\AddUserVirtualItemsResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:DeleteAccountVirtualItem">
        <name>MSRVS_PGF_DEL_ACCOUNT_VIRTUAL_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\DeleteAccountVirtualItemsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\registration\DaEditor\DeleteAccountVirtualItemRequest.xml</fileSave>
          <fileOpen>stubs\registration\DaEditor\DeleteAccountVirtualItemResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:AddAccountVirtualItems">
        <name>MSRVS_PGF_ADD_ACCOUNT_VIRTUAL_ITEM</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\AddAccountVirtualItemsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\registration\DaEditor\AddAccountVirtualItemsRequest.xml</fileSave>
          <fileOpen>stubs\registration\DaEditor\AddAccountVirtualItemsResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:GetAccountVirtualItems">
        <name>MSRVS_PGF_GET_ACCOUNT_VIRTUAL_ITEMS</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\GetAccountVirtualItemsResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\registration\DaEditor\GetAccountVirtualItemsRequest.xml</fileSave>
          <fileOpen>stubs\registration\DaEditor\GetAccountVirtualItemsResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <!--DA editor transaction end-->
      <!--Get user info transaction begin-->
      <transaction key="Factiva.Gateway.Messages.Registration.V1_0:GetUserInfo">
        <name>MSRVS_REG_GET_USERS_INFO</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\registration\GetUserInfoResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\registration\GetUserInfo\GetUserInfoRequest.xml</fileSave>
          <fileOpen>stubs\registration\GetUserInfo\GetUserInfoResponse.xml</fileOpen>
        </transport>-->
      </transaction>
      <!--Get user info transaction end-->
    </transactionSettings>
  </ServiceSettings>
</configuration>
