<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>

      <transaction key="Factiva.Gateway.Messages.RelationshipMapping.V1_0:AddAffiliation">
        <name>urn:dj:emg:bri:relmap:v1_0:AddAffiliation</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dj:emg:bri:relmap:v1_0/AddAffiliation</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RelationshipMapping\Request\AddAffiliationRequest.xml</fileSave>
          <fileOpen>stubs\RelationshipMapping\Response\AddAffiliationResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.RelationshipMapping.V1_0:UpdateAffiliation">
        <name>urn:dj:emg:bri:relmap:v1_0:UpdateAffiliation</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dj:emg:bri:relmap:v1_0/UpdateAffiliation</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RelationshipMapping\Request\UpdateAffiliationRequest.xml</fileSave>
          <fileOpen>stubs\RelationshipMapping\Response\UpdateAffiliationResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.RelationshipMapping.V1_0:DeleteAffiliation">
        <name>urn:dj:emg:bri:relmap:v1_0:DeleteAffiliation</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dj:emg:bri:relmap:v1_0/DeleteAffiliation</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RelationshipMapping\Request\DeleteAffiliationRequest.xml</fileSave>
          <fileOpen>stubs\RelationshipMapping\Response\DeleteAffiliationResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.RelationshipMapping.V1_0:AddBiographyToAffiliation">
        <name>urn:dj:emg:bri:relmap:v1_0:AddBiography</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dj:emg:bri:relmap:v1_0/AddBiography</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RelationshipMapping\Request\AddBiographyToAffiliationRequest.xml</fileSave>
          <fileOpen>stubs\RelationshipMapping\Response\AddBiographyToAffiliationResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.RelationshipMapping.V1_0:UpdateBiography">
        <name>urn:dj:emg:bri:relmap:v1_0:UpdateBiography</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dj:emg:bri:relmap:v1_0/UpdateBiography</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RelationshipMapping\Request\UpdateBiographyRequest.xml</fileSave>
          <fileOpen>stubs\RelationshipMapping\Response\UpdateBiographyResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.RelationshipMapping.V1_0:DeleteBiographyFromAffiliation">
        <name>urn:dj:emg:bri:relmap:v1_0:DeleteBiography</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dj:emg:bri:relmap:v1_0/DeleteBiography</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RelationshipMapping\Request\DeleteBiographyFromAffiliationRequest.xml</fileSave>
          <fileOpen>stubs\RelationshipMapping\Response\DeleteBiographyFromAffiliationResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.RelationshipMapping.V1_0:GetAffiliationList">
        <name>urn:dj:emg:bri:relmap:v1_0:GetAffiliationList</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dj:emg:bri:relmap:v1_0/GetAffiliationList</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RelationshipMapping\Request\GetAffiliationListRequest.xml</fileSave>
          <fileOpen>stubs\RelationshipMapping\Response\GetAffiliationListResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.RelationshipMapping.V1_0:GetAffiliationById">
        <name>urn:dj:emg:bri:relmap:v1_0:GetAffiliation</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dj:emg:bri:relmap:v1_0/GetAffiliation</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RelationshipMapping\Request\GetAffiliationByIdRequest.xml</fileSave>
          <fileOpen>stubs\RelationshipMapping\Response\GetAffiliationByIdResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.RelationshipMapping.V1_0:GetBiography">
        <name>urn:dj:emg:bri:relmap:v1_0:GetBiography</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dj:emg:bri:relmap:v1_0/GetBiography</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RelationshipMapping\Request\GetBiographyRequest.xml</fileSave>
          <fileOpen>stubs\RelationshipMapping\Response\GetBiographyResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.RelationshipMapping.V1_0:PerformAffiliationSearch">
        <name>urn:dj:emg:bri:relmap:v1_0:PerformAffiliationSearch</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dj:emg:bri:relmap:v1_0/PerformAffiliationSearch</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RelationshipMapping\Request\PerformAffiliationSearchRequest.xml</fileSave>
          <fileOpen>stubs\RelationshipMapping\Response\PerformAffiliationSearchResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.RelationshipMapping.V1_0:PerformRelationshipMapping">
        <name>urn:dj:emg:bri:relmap:v1_0:PerformRelationshipMapping</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dj:emg:bri:relmap:v1_0/PerformRelationshipMapping</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RelationshipMapping\Request\PerformRelationshipMappingRequest.xml</fileSave>
          <fileOpen>stubs\RelationshipMapping\Response\PerformRelationshipMappingResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.RelationshipMapping.V1_0:PerformAffiliationMatch">
        <name>urn:dj:emg:bri:relmap:v1_0:PerformAffiliationMatch</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dj:emg:bri:relmap:v1_0/PerformAffiliationMatch</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RelationshipMapping\Request\PerformAffiliationMatchRequest.xml</fileSave>
          <fileOpen>stubs\RelationshipMapping\Response\PerformAffiliationMatchResponse.xml</fileOpen>
        </transport>-->
      </transaction>


      <transaction key="Factiva.Gateway.Messages.RelationshipMapping.V1_0:DeleteAllAffiliations">
        <name>urn:dj:emg:bri:relmap:v1_0:DeleteAllAffiliations</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dj:emg:bri:relmap:v1_0/DeleteAllAffiliations</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RelationshipMapping\Request\DeleteAllAffiliationsRequest.xml</fileSave>
          <fileOpen>stubs\RelationshipMapping\Response\DeleteAllAffiliationsResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.RelationshipMapping.V1_0:DeleteAffiliationByTypeIdentifier">
        <name>urn:dj:emg:bri:relmap:v1_0:DeleteAffiliationByTypeIdentifier</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dj:emg:bri:relmap:v1_0/DeleteAffiliationByTypeIdentifier</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RelationshipMapping\Request\DeleteAffiliationByTypeIdentifierRequest.xml</fileSave>
          <fileOpen>stubs\RelationshipMapping\Response\DeleteAffiliationByTypeIdentifierResponse.xml</fileOpen>
        </transport>-->
      </transaction>

      <transaction key="Factiva.Gateway.Messages.RelationshipMapping.V1_0:GetAffiliationListIndex">
        <name>urn:dj:emg:bri:relmap:v1_0:GetAffiliationListIndex</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:dj:emg:bri:relmap:v1_0/GetAffiliationListIndex</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\RelationshipMapping\Request\GetAffiliationListIndexRequest.xml</fileSave>
          <fileOpen>stubs\RelationshipMapping\Response\GetAffiliationListIndexResponse.xml</fileOpen>
        </transport>-->
      </transaction>

    </transactionSettings>
  </ServiceSettings>
</configuration>