<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetCompanyNewsCoding">
        <name>urn:factiva:fcp:v2_0:GetCompanyNewsCoding</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetCompanyNewsCoding</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetPersonNewsCoding">
        <name>urn:factiva:fcp:v2_0:GetPersonNewsCoding</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetPersonNewsCoding</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetCompanyComparisonFromListXML">
        <name>urn:factiva:fcp:v2_0:GetCompanyComparisonFromListXML_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetCompanyComparisonFromListXML</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetCompanyIndustryComparisonXML">
        <name>urn:factiva:fcp:v2_0:GetCompanyIndustryComparisonXML_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetCompanyIndustryComparisonXML</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetCompanyPeerComparisonExXML">
        <name>urn:factiva:fcp:v2_0:GetCompanyPeerComparisonExXML_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetCompanyPeerComparisonExXML</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetCompanyScreeningListExXML">
        <name>urn:factiva:fcp:v2_0:GetCompanyScreeningListExXML_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetCompanyScreeningListExXML</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetExecutiveScreeningListExXML">
        <name>urn:factiva:fcp:v2_0:GetExecutiveScreeningListExXML_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetExecutiveScreeningListExXML</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetIndustryAveragesXML">
        <name>urn:factiva:fcp:v2_0:GetIndustryAveragesXML_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetIndustryAveragesXML</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetIndustryReportsXML">
        <name>urn:factiva:fcp:v2_0:GetIndustryReportsXML_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetIndustryReportsXML</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetIndustrySalesByTierXML">
        <name>urn:factiva:fcp:v2_0:GetIndustrySalesByTierXML_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetIndustrySalesByTierXML</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetMultipleReportListXML">
        <name>urn:factiva:fcp:v2_0:GetMultipleReportListXML_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetMultipleReportListXML</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetReportList">
        <name>urn:factiva:fcp:v2_0:GetReportList_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetReportList</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetReportListExXML">
        <name>urn:factiva:fcp:v2_0:GetReportListExXML_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetReportListExXML</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetReportListXML">
        <name>urn:factiva:fcp:v2_0:GetReportListXML_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetReportListXML</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:PerformCompanyScreening">
        <name>urn:factiva:fcp:v2_0:PerformCompanyScreening_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/PerformCompanyScreening</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:PerformCompanyScreeningXML">
        <name>urn:factiva:fcp:v2_0:PerformCompanyScreeningXML_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/PerformCompanyScreeningXML</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:PerformExecutiveScreening">
        <name>urn:factiva:fcp:v2_0:PerformExecutiveScreening_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/PerformExecutiveScreening</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:PerformExecutiveScreeningXML">
        <name>urn:factiva:fcp:v2_0:PerformExecutiveScreeningXML_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/PerformExecutiveScreeningXML</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:UpdateCompanyGeoCodingXML">
        <name>urn:factiva:fcp:v2_0:UpdateCompanyGeoCodingXML_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/UpdateCompanyGeoCodingXML</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetCompanyScreeningListEx">
        <name>urn:factiva:fcp:v2_0:GetCompanyScreeningListEx_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetCompanyScreeningListEx</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetExecutiveScreeningListEx">
        <name>urn:factiva:fcp:v2_0:GetExecutiveScreeningListExXML_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetExecutiveScreeningListExXML</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetReportListEx">
        <name>urn:factiva:fcp:v2_0:GetReportListExXML_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetReportListExXML</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\screening\GetReportListExResponse.xslt</param>
            </filter>
            <!--<filter type="XSLTRANSFORM">
              <param name="fileName">xslt\common\RemoveNamespaceWithExceptions.xslt</param>
              <param name="exception_namespace">urn:factiva:fcp:v2_0</param>
            </filter>-->
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:PerformOrganizationMatch">
        <name>urn:factiva:fcp:v2_0:PerformOrganizationMatch</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/PerformOrganizationMatch</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:PerformPersonMatch">
        <name>urn:factiva:fcp:v2_0:PerformPersonMatch</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/PerformPersonMatch</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetCompanyPeerComparisonEx">
        <name>urn:factiva:fcp:v2_0:GetCompanyPeerComparisonEx_BSTR</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetCompanyPeerComparisonEx</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Screening\Request\GetCompanyPeerComparisonExRequest.xml</fileSave>
          <fileOpen>stubs\Screening\Response\getCompanyPeerComparisonExResponse.xml</fileOpen>
        </transport>-->
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetMultipleReportList">
        <name>urn:factiva:fcp:v2_0:GetMultipleReportList_BSTR</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetMultipleReportList</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Screening\Request\GetMultipleReportListRequest.xml</fileSave>
          <fileOpen>stubs\Screening\Response\GetMultipleReportListResponse.xml</fileOpen>
        </transport>-->
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetIndustrySalesByTier">
        <name>urn:factiva:fcp:v2_0:GetIndustrySalesByTier_BSTR</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetIndustrySalesByTier</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Screening\Request\GetIndustrySalesByTierRequest.xml</fileSave>
          <fileOpen>stubs\Screening\Response\GetIndustrySalesByTierResponse.xml</fileOpen>
        </transport>-->
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetCompanyIndustryComparison">
        <name>urn:factiva:fcp:v2_0:GetCompanyIndustryComparison_BSTR</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetCompanyIndustryComparison</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Screening\Request\GetCompanyIndustryComparisonRequest.xml</fileSave>
          <fileOpen>stubs\Screening\Response\GetCompanyIndustryComparisonResponse.xml</fileOpen>
        </transport>-->
      </transaction>


      <transaction key="Factiva.Gateway.Messages.Screening.V1_1:GetIndustryAverages">
        <name>urn:factiva:fcp:v2_0:GetIndustryAverages_BSTR</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">urn:factiva:fcp:v2_0/GetIndustryAverages</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
        <!--<transport type="STUB">
          <fileSave>stubs\Screening\Request\GetIndustryAveragesRequest.xml</fileSave>
          <fileOpen>stubs\Screening\Response\GetIndustryAveragesResponse.xml</fileOpen>
        </transport>-->
      </transaction>

    </transactionSettings>
  </ServiceSettings>
</configuration>