<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.Semantic.V1_0:PerformConceptSearch">
        <name>urn:factiva:assets:semantic:v1_0:PerformConceptSearch</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveSoapEnvAndNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\semantic\PerformConceptSearchRequest.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveSoapEnv.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\semantic\PerformConceptSearchResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Semantic.Labs.V1_0:PerformConceptExplorer">
        <name>urn:factiva:assets:semantic:v1_0:PerformConceptExplorer</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveSoapEnvAndNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\semantic\PerformConceptExplorerRequest.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveSoapEnv.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\semantic\PerformConceptExplorerResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Semantic.Labs.V1_0:PerformDocClusterSearch">
        <name>urn:factiva:assets:semantic:v1_0:PerformDocClusterSearch</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveSoapEnvAndNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\semantic\PerformDocClusterSearchRequest.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveSoapEnv.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\semantic\PerformDocClusterSearchResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Semantic.Labs.V1_0:PerformSemanticSearch">
        <name>urn:factiva:assets:semantic:v1_0:PerformSemanticSearch</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveSoapEnvAndNamespace.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\semantic\PerformSemanticSearchRequest.xslt</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveSoapEnv.xslt</param>
            </filter>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\semantic\PerformSemanticSearchResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
        <transport type="HTTP"/>
      </transaction>
    </transactionSettings>
  </ServiceSettings>
</configuration>