<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
	</configSections>
	<ServiceSettings>
		<transactionSettings>
			<transaction key="Factiva.Gateway.Messages.Cache.SessionCache.V1_0:StoreItem">
				<name>StoreSessionCacheItem</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\SessionCache\StoreItem.xslt</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\SessionCache\StoreItemResponse.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
				<transport type="HTTP"/>
				<!--<transport type="STUB">
					<fileSave>stubs\SessionCache\StoreItem.xml</fileSave>
					<fileOpen>stubs\SessionCache\StoreItemResponse.xml</fileOpen>
				</transport>-->
			</transaction>
			<transaction key="Factiva.Gateway.Messages.Cache.SessionCache.V1_0:GetItem">
				<name>GetSessionCacheItem</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\SessionCache\GetItem.xslt</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\SessionCache\GetItemResponse.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
				<transport type="HTTP"/>
				<!--<transport type="STUB">
					<fileSave>stubs\SessionCache\GetItem.xml</fileSave>
					<fileOpen>stubs\SessionCache\GetItemResponse.xml</fileOpen>
				</transport>-->
			</transaction>
			<transaction key="Factiva.Gateway.Messages.Cache.SessionCache.V1_0:GetItemInfo">
				<name>GetSessionCacheItemInfo</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\SessionCache\GetItemInfo.xslt</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\SessionCache\GetItemInfoResponse.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
				<transport type="HTTP"/>
				<!--<transport type="STUB">
					<fileSave>stubs\SessionCache\GetItemInfo.xml</fileSave>
					<fileOpen>stubs\SessionCache\GetItemInfoResponse.xml</fileOpen>
				</transport>-->
			</transaction>
			<transaction key="Factiva.Gateway.Messages.Cache.SessionCache.V1_0:DeleteItem">
				<name>ReleaseSessionCacheItem</name>
				<request>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\SessionCache\DeleteItem.xslt</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>STRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\SessionCache\DeleteItemResponse.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
				<transport type="HTTP"/>
				<!--<transport type="STUB">
					<fileSave>stubs\SessionCache\DeleteItem.xml</fileSave>
					<fileOpen>stubs\SessionCache\DeleteItemResponse.xml</fileOpen>
				</transport>-->
			</transaction>
		</transactionSettings>
	</ServiceSettings>
</configuration>
