<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
	</configSections>
	<ServiceSettings>
		<transactionSettings>
			<transaction key="Factiva.Gateway.Messages.Sources.V1_0:GetSourcesByCode">
				<name>INDEX_CDB_Search_AggregatedXML</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\sources\GetSourcesByCodeResponse.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>

			<transaction key="Factiva.Gateway.Messages.Sources.V1_0:PerformSourceSearch">
				<name>INDEX_CDB_Search_AggregatedXML</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\sources\PerformSourceSearchResponse.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/><transport type="HTTP"/>
			</transaction>

      <transaction key="Factiva.Gateway.Messages.Sources.V1_0:PerformSourceSearchPrivate">
        <name>INDEX_CDB_Search_Private_AggregatedXML</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\sources\PerformSourceSearchPrivateResponse.xslt</param>
            </filter>
            </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Sources.V1_0:ContinueSourceSearch">
        <name>INDEX_CDB_Cont_PUBLIC_AggregatedXML</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\sources\ContinueSourceSearchResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Sources.V1_0:ContinueSourceSearchPrivate">
        <name>INDEX_CDB_Cont_PRIVATE_AggregatedXML</name>
        <request>
          <messageFormat>XMLSTRING</messageFormat>
        </request>
        <response>
          <messageFormat>XMLSTRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\sources\ContinueSourceSearchPrivateResponse.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
    </transactionSettings>
	</ServiceSettings>
</configuration>
