<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.Symbology.Company.V1_0:GetCompanies">
        <name>http://types.factiva.com/symbology/company:GetCompanies_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/GetCompanies</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Symbology.Company.V1_0:PerformCompanySearch">
        <name>http://types.factiva.com/symbology/company:PerformCompanySearch_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/PerformCompanySearch</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Symbology.Company.V1_0:PerformCompanyQuickSearch">
        <name>http://types.factiva.com/symbology/company:PerformCQS_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/PerformCQS</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Symbology.Company.V1_0:PerformFullTextCompanySearch">
        <name>http://types.factiva.com/symbology/company:PerformFTCompanySrch_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/PerformFTCompanySrch</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
    </transactionSettings>
  </ServiceSettings>
</configuration>