<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>

      <transaction key="Factiva.Gateway.Messages.Symbology.Instrument.V1_0:GetInstruments">
        <name>http://types.factiva.com/symbology/instrument:GetInstruments_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/GetInstruments</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Symbology.Instrument.V1_0:PerformCodeSearch">
        <name>http://types.factiva.com/symbology/instrument:PerformCodeSearch_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/PerformCodeSearch</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Symbology.Instrument.V1_0:PerformInstrumentSearch">
        <name>http://types.factiva.com/symbology/instrument:PerformInstSrch_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/PerformInstSrch</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>

    </transactionSettings>
  </ServiceSettings>
</configuration>