<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
	</configSections>
	<ServiceSettings>
		<transactionSettings>

			<!-- Start TinyString -->

			<transaction key="Factiva.Gateway.Messages.Tools.TinyString.V1_0:HashTinyString">
				<name>TinyHash</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Tools\HashTinyString.xslt</param>
							<param name="hashType">hash</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
				<transport type="HTTP"/>
			</transaction>

			<transaction key="Factiva.Gateway.Messages.Tools.TinyString.V1_0:UnHashTinyString">
				<name>TinyUnhash</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Tools\UnHashTinyString.xslt</param>
							<param name="hashType">unhash</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
				<transport type="HTTP"/>
			</transaction>

			<!-- End TinyString -->

		</transactionSettings>
	</ServiceSettings>
</configuration>
