<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.Assets.WEB.V1_0:AddComponentToWidget">
        <name>urn:factiva:assets:widgets:v1_0:AddComponentToWidget</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:widgets:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.WEB.V1_0:AddItemToWidgetComponent">
        <name>urn:factiva:assets:widgets:v1_0:AddItemToWidgetComponent</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:widgets:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.WEB.V1_0:CreateWidgetComponent">
        <name>urn:factiva:assets:widgets:v1_0:CreateWidgetComponent</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:widgets:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.WEB.V1_0:CreateWidget">
        <name>urn:factiva:assets:widgets:v1_0:CreateWidget</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:widgets:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.WEB.V1_0:DeleteItemFromWidgetComponent">
        <name>urn:factiva:assets:widgets:v1_0:DeleteItemFromWidgetComponent</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:widgets:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.WEB.V1_0:DeleteWidgetComponent">
        <name>urn:factiva:assets:widgets:v1_0:DeleteWidgetComponent</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:widgets:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.WEB.V1_0:DeleteWidget">
        <name>urn:factiva:assets:widgets:v1_0:DeleteWidget</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:widgets:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.WEB.V1_0:GetWidgetByID">
        <name>urn:factiva:assets:widgets:v1_0:GetWidgetByID</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:widgets:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.WEB.V1_0:GetWidgetComponentByID">
        <name>urn:factiva:assets:widgets:v1_0:GetWidgetComponentByID</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:widgets:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.WEB.V1_0:GetWidgetComponentList">
        <name>urn:factiva:assets:widgets:v1_0:GetWidgetComponentList</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:widgets:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.WEB.V1_0:GetWidgetInfoByItem">
        <name>urn:factiva:assets:widgets:v1_0:GetWidgetInfoByItem</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:widgets:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.WEB.V1_0:GetWidgetList">
        <name>urn:factiva:assets:widgets:v1_0:GetWidgetList</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:widgets:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.WEB.V1_0:RemoveComponentFromWidget">
        <name>urn:factiva:assets:widgets:v1_0:RemoveComponentFromWidget</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:widgets:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.WEB.V1_0:UpdateComponentPositionsInWidget">
        <name>urn:factiva:assets:widgets:v1_0:UpdateComponentPositionsInWidget</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:widgets:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.WEB.V1_0:UpdateItemInWidgetComponent">
        <name>urn:factiva:assets:widgets:v1_0:UpdateItemInWidgetComponent</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:widgets:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.WEB.V1_0:UpdateItemPositionsInWidgetComponent">
        <name>urn:factiva:assets:widgets:v1_0:UpdateItemPositionsInWidgetComponent</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:widgets:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.WEB.V1_0:UpdateWidgetComponentProperties">
        <name>urn:factiva:assets:widgets:v1_0:UpdateWidgetComponentProperties</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:widgets:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.WEB.V1_0:UpdateWidgetComponent">
        <name>urn:factiva:assets:widgets:v1_0:UpdateWidgetComponent</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:widgets:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.WEB.V1_0:UpdateWidgetProperties">
        <name>urn:factiva:assets:widgets:v1_0:UpdateWidgetProperties</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:widgets:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
      <transaction key="Factiva.Gateway.Messages.Assets.WEB.V1_0:UpdateWidget">
        <name>urn:factiva:assets:widgets:v1_0:UpdateWidget</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\addnamespace.xslt</param>
              <param name="namespace">urn:factiva:assets:widgets:v1_0</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
            </filter>
          </filters>
        </response>
        <transport type="RTS"/>
      </transaction>
    </transactionSettings>
  </ServiceSettings>
</configuration>