<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
	</configSections>
	<ServiceSettings>
		<transactionSettings>
			<!-- START Email_OnDemand TRANSACTIONS-->
		<transaction key="Factiva.Gateway.Messages.ODE.V1_0:OnDemandEmail">
			<name>Email_OnDemand1</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\ode\OnDemandEmail.xslt</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\ode\OnDemandEmailResponse.xslt</param>
							<param name="RegOrNoAuth">Reg</param>
						</filter>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
			</transaction>
			<transaction key="Factiva.Gateway.Messages.ODE.V1_0:OnDemandEmailNoAuth">
				<name>Email_OnDemandNoAuth</name>
				<request>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\ode\OnDemandEmail.xslt</param>
						</filter>
					</filters>
				</request>
				<response>
					<messageFormat>XMLSTRING</messageFormat>
					<filters>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\ode\OnDemandEmailResponse.xslt</param>
							<param name="RegOrNoAuth">NoAuth</param>
						</filter>
						<filter type="XSLTRANSFORM">
							<param name="fileName">xslt\Common\RemoveNamespace.xslt</param>
						</filter>
					</filters>
				</response>
				<transport type="RTS"/>
			</transaction>			
		</transactionSettings>
	</ServiceSettings>
</configuration>
