@model DowJones.Web.Mvc.UI.Components.Models.VideoPlayerModel
@{
    ViewBag.Title = "Video Player";
}

<style type="text/css">
    .dj_video-player-content{
        height: 190px;
        margin: 5px;
    }
</style>

<!-- Render the component -->
<div class="dj_video-player-content">
    @Html.DJ().RenderComponent("VideoPlayerControl", Model)
</div>