
@mixin gaugeMaxLabel($fontSize: .9em, $width: 100px, $color: #666, $top: 70px, $left: -5px, $align: right) {
	position: absolute;
	top: $top;
	left: $left;
	font-size: $fontSize;
	text-align: $align;
	z-index: 1000;
	width: $width;
	line-height: 1em;
}


.visitorsGauge{
	.dj_DashGaugeChart {
		width: 200px;
		margin: 0 auto;
		position: relative;
		.dj_DashGaugeChartHeader {
			.dj_DashGaugeChartValue {
			  position: absolute;
   			  top: 22px;
			  text-align: center;
			  z-index: 1000;
			  width: 200px;
			  line-height: 1em;
			  font-weight: bold;
			}
			.dj_DashGaugeChartMax {
			  @include gaugeMaxLabel(1.0em, 200px, #666, 155px, -5px)
		    }
			.dj_DashGaugeChartMin {
			  @include gaugeMaxLabel(1.0em, 200px, #666, 155px, 5px, left)
		    }
			.chartMax {
				display: block; 
			} 	
			.chartMin {
				display: block; 
			} 			
		}
		.dj_DashGaugeChartFooter {
			text-align:center;
			width: 200px;
		}
	} 
} 

.engagement{
	color: #999;
	text-shadow: 0px 3px 8px #2A2A2A;
	.counter{
		text-align: center;
		z-index: 1000;
		line-height: 1em;
		font-weight: bold;
	}
}

.dj_concurrent-visits{

	color: #999;
	text-shadow: 0px 3px 8px #2A2A2A;

	.description {
		margin: 0 auto;
		text-align:center;
		width: 150px;
	}	
	.idle {
		text-align:right;
	}

	.progress-success .bar {
        border-top: 1px solid #02A1DA;
        border-bottom: 1px solid #0179B2;
		background-color: #81ba6b;
        background-repeat: no-repeat;
        background-image: -moz-linear-gradient(#02A1DA, #0179B2);
        background-image: -ms-linear-gradient(top, #02A1DA, #0179B2);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#02A1DA), to(#0179B2));
        background-image: -webkit-linear-gradient(#02A1DA, #0179B2);
        background-image: linear-gradient(top, #02A1DA, #0179B2); 
	}
}

.platformContainer{
	.desktop{
		height: 10px;
		display:block;
		background-image: url(./images/computer-icon-white.png);
		background-repeat: no-repeat;
		background-position: top; 
		text-align: center;
		margin-top:10px;
		padding-top: 55px;
		color: #999;
		text-shadow: 0px 3px 8px #2A2A2A;
		.val{
			text-align: center;
			z-index: 1000;
			line-height: 1em;
			font-weight: bold;
		}
	}
	.mobile{
		height: 10px;
		display: block;
		background-image: url(./images/smartphone-icon-white.png);
		background-repeat: no-repeat;
		background-position: top; 
		margin-top: 10px;
		text-align: center;
		padding-top: 55px;
		color: #999;
		text-shadow: 0px 3px 8px #2A2A2A;
		.val{
			text-align: center;
			z-index: 1000;
			line-height: 1em;
			font-weight: bold;
		}
	}
}