.visitorsGauge .dj_DashGaugeChart {
  width: 200px;
  margin: 0 auto;
  position: relative; }
  .visitorsGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .dj_DashGaugeChartValue {
    position: absolute;
    top: 22px;
    font-size: 4em;
    text-align: center;
    z-index: 1000;
    width: 200px;
    line-height: 1em;
    color: #333333;
    font-weight: bold;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb; }
  .visitorsGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .dj_DashGaugeChartMax {
    position: absolute;
    top: 155px;
    left: -5px;
    font-size: 1em;
    text-align: right;
    z-index: 1000;
    width: 200px;
    line-height: 1em;
    color: #666666; }
  .visitorsGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .dj_DashGaugeChartMin {
    position: absolute;
    top: 155px;
    left: 5px;
    font-size: 1em;
    text-align: left;
    z-index: 1000;
    width: 200px;
    line-height: 1em;
    color: #666666; }
  .visitorsGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .chartMax {
    display: block; }
  .visitorsGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .chartMin {
    display: block; }
  .visitorsGauge .dj_DashGaugeChart .dj_DashGaugeChartFooter {
    text-align: center;
    width: 200px; }

.dj_pageTimings .pageTimings {
  margin-top: 10px; }
  .dj_pageTimings .pageTimings .dj_sparkline-container {
    height: 20px;
    width: 57px;
    display: inline-block; }
  .dj_pageTimings .pageTimings .title {
    position: relative;
    top: -10px; }
  .dj_pageTimings .pageTimings .time-stamp {
    position: relative;
    top: -7px;
    margin-left: 3px;
    font-size: 1.5em;
    text-align: center;
    line-height: 1em;
    color: #333;
    font-weight: bold;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb; }

.newGauge .dj_DashGaugeChart, .writeGauge .dj_DashGaugeChart, .readGauge .dj_DashGaugeChart, .idleGauge .dj_DashGaugeChart {
  width: 100px;
  margin: 0 auto;
  position: relative; }
  .newGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .dj_DashGaugeChartValue, .writeGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .dj_DashGaugeChartValue, .readGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .dj_DashGaugeChartValue, .idleGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .dj_DashGaugeChartValue {
    position: absolute;
    top: 15px;
    font-size: 1.5em;
    text-align: center;
    z-index: 1000;
    width: 100px;
    line-height: 1em;
    color: #333333;
    font-weight: bold;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb; }
  .newGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .dj_DashGaugeChartMax, .writeGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .dj_DashGaugeChartMax, .readGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .dj_DashGaugeChartMax, .idleGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .dj_DashGaugeChartMax {
    position: absolute;
    top: 70px;
    left: -5px;
    font-size: 0.9em;
    text-align: right;
    z-index: 1000;
    width: 100px;
    line-height: 1em;
    color: #666666; }
  .newGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .dj_DashGaugeChartMin, .writeGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .dj_DashGaugeChartMin, .readGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .dj_DashGaugeChartMin, .idleGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .dj_DashGaugeChartMin {
    display: none; }
  .newGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .chartMax, .writeGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .chartMax, .readGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .chartMax, .idleGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .chartMax {
    display: block; }
  .newGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .chartMin, .writeGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .chartMin, .readGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .chartMin, .idleGauge .dj_DashGaugeChart .dj_DashGaugeChartHeader .chartMin {
    display: block; }
  .newGauge .dj_DashGaugeChart .dj_DashGaugeChartFooter, .writeGauge .dj_DashGaugeChart .dj_DashGaugeChartFooter, .readGauge .dj_DashGaugeChart .dj_DashGaugeChartFooter, .idleGauge .dj_DashGaugeChart .dj_DashGaugeChartFooter {
    position: relative;
    top: -10px;
    text-align: center;
    width: 100px; }

.dj_concurrent-visits .description {
  margin: 0 auto;
  text-align: center;
  width: 150px; }
.dj_concurrent-visits .counter {
  font-size: 1.5em;
  text-align: center;
  line-height: 1em;
  color: #333;
  font-weight: bold;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb; }
.dj_concurrent-visits .idle {
  text-align: right; }

.platformContainer .desktop {
  height: 60px;
  display: block;
  background-image: url(./images/computer-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 55px; }
.platformContainer .mobile {
  height: 60px;
  display: block;
  background-image: url(./images/smartphone-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 55px; }

