
@mixin gaugeMaxLabel($fontSize: .9em, $width: 100px, $color: #666, $top: 70px, $left: -5px, $align: right) {
	position: absolute;
	top: $top;
	left: $left;
	font-size: $fontSize;
	text-align: $align;
	z-index: 1000;
	width: $width;
	line-height: 1em;
}


.kpiComponent {
	.noData{
		text-align: center;
		margin: 30px auto;
		font-family: "League-Gothic", Courier;
		text-transform: uppercase;
		font-size: 1.4em;
	}
}

@mixin LabelShadow($fontSize: 1.5em, $width: 100px, $color: #333, $top: 15px) {
	position: absolute;
	top: $top;
	font-size: $fontSize;
	text-align: center;
	z-index: 1000;
	width: $width;
	line-height: 1em;
	font-weight: bold;
}

.visitorsGauge{
	.dj_DashGaugeChart {
		width: 200px;
		margin: 0 auto;
		position: relative;
		.dj_DashGaugeChartHeader {
			.dj_DashGaugeChartValue {
			  @include LabelShadow(4.0em, 200px, #333, 22px)
			}
			.dj_DashGaugeChartMax {
			  @include gaugeMaxLabel(1.0em, 200px, #666, 155px, -5px)
		    }
			.dj_DashGaugeChartMin {
			  @include gaugeMaxLabel(1.0em, 200px, #666, 155px, 5px, left)
		    }
			.chartMax {
				display: block; 
			} 	
			.chartMin {
				display: block; 
			} 			
		}
		.dj_DashGaugeChartFooter {
			text-align:center;
			width: 200px;
		}
	} 
} 


.dj_pageTimings .pageTimings {
	margin-top: 10px;
	.dj_sparkline-container {
		height: 20px;
		width: 57px;
		display: inline-block;
	}
	.title {
		position:relative;
		top: -5px;

		.muted {
			font-size: smaller;
		}
	}
	.time-stamp {
		position:relative;
		top: -7px;
		margin-left: 3px;
		line-height: 1em;
		font-weight: bold;
		color: #999;
		text-shadow: 0px 3px 8px #2A2A2A;
	}
	
	.sparklineEntry {
		margin-bottom: 10px;
		.muted {
			font-size: smaller;
		}
		.curTime-stamp {
			position:relative;
			top: -7px;
			line-height: 1em;
			font-weight: normal;
			color: #ccc;
			text-shadow: 0px 3px 8px #2A2A2A;
		}
	}
}

.newGauge, .writeGauge,.readGauge, .idleGauge{
	.dj_DashGaugeChart {
		width: 100px;
		margin: 0 auto;
		position: relative;
		.dj_DashGaugeChartHeader {
			.dj_DashGaugeChartValue {
				@include LabelShadow
			}
			.dj_DashGaugeChartMax {
				@include gaugeMaxLabel
			}	
			.dj_DashGaugeChartMin {
			  display:none;
		    }
			.chartMax {
				display:block;
			}
			.chartMin {
				display:block;
			}
		}
		.dj_DashGaugeChartFooter {
			position:relative;
			top: -10px;
			text-align:center;
			width:100px;
		}
	}	
}

.dj_concurrent-visits{

	color: #999;
	text-shadow: 0px 3px 8px #2A2A2A;

	.description {
		margin: 0 auto;
		text-align:center;
		width: 150px;
	}
	.counter {
		font-size: 1.5em;
		text-align:center;
		line-height: 1em;
		font-weight: bold;
	}
	.idle {
		text-align:right;
	}

	.progress-success .bar {
        border-top: 1px solid #02A1DA;
        border-bottom: 1px solid #0179B2;
		background-color: #81ba6b;
        background-repeat: no-repeat;
        background-image: -moz-linear-gradient(#02A1DA, #0179B2);
        background-image: -ms-linear-gradient(top, #02A1DA, #0179B2);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#02A1DA), to(#0179B2));
        background-image: -webkit-linear-gradient(#02A1DA, #0179B2);
        background-image: linear-gradient(top, #02A1DA, #0179B2); 
	}
}

.platformContainer{
	.desktop{
		height: 60px;
		display:block;
		background-image: url(./images/computer-icon-white.png);
		background-repeat: no-repeat;
		background-position: center; 
		text-align: center;
		padding-top: 55px;
	}
	.mobile{
		height: 60px;
		display: block;
		background-image: url(./images/smartphone-icon-white.png);
		background-repeat: no-repeat;
		background-position: center; 
		text-align: center;
		padding-top: 55px;
	}
}