.engagement {
  color: #999;
  text-shadow: 0px 3px 8px #2A2A2A;
  padding-top: 10px; }
  .engagement .counter {
    text-align: center;
    z-index: 1000;
    line-height: 1em;
    font-weight: bold; }

.dj_concurrent-visits {
  color: #999;
  text-shadow: 0px 3px 8px #2A2A2A; }
  .dj_concurrent-visits .concurrentVisitsCounter {
    text-align: center;
    z-index: 1000;
    line-height: 1em;
    font-weight: bold;
    position: relative;
    margin: 10px; }
  .dj_concurrent-visits .engagementArea {
    margin: 5px; }

