.dj_menu {
  background-color: #fff;
  padding: 5px;
  display: none; }

h2 a.reset {
  font-size: 70%;
  font-weight: normal; }

.no-modules {
  margin-top: 30px;
  text-align: center; }

.form-search {
  display: inline-block;
  clear: none; }

.dj_Canvas.sorting .zone {
  background-color: #666; }

.dj_Canvas {
  position: relative;
  /* Hide all modules... */
  /* REALLY hide the hidden ones... */
  /* ...except the ones in a canvas zone */ }
  .dj_Canvas .dj_module {
    display: none; }
  .dj_Canvas .dj_module.hidden {
    display: none !important; }
  .dj_Canvas .dj_group .dj_module {
    display: block; }

.sorting .dj_group {
  background-color: #3f3f3f; }

.dj_module {
  margin-top: 20px;
  min-height: 100px;
  min-width: 270px;
  width: 100%; }
  .dj_module fieldset {
    border: none; }
  .dj_module .dj_module-edit-options {
    clear: both;
    display: block;
    padding-top: 10px; }
    .dj_module .dj_module-edit-options .button-pane {
      text-align: center;
      padding-bottom: 10px; }
    .dj_module .dj_module-edit-options .dc_list {
      list-style: none;
      position: relative;
      width: 90%; }
    .dj_module .dj_module-edit-options .dc_item {
      margin-left: 10px; }
    .dj_module .dj_module-edit-options .radio.inline {
      width: 10px;
      margin-right: 5px; }
  .dj_module .dj_module-handle {
    cursor: move; }
  .dj_module .dj_module-header {
    position: relative;
    height: 30px;
    padding: 0px 7px 0 15px;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
    border-bottom: solid 1px #E4E4E4; }
    .dj_module .dj_module-header .module-title {
      display: inline;
      max-width: 70%;
      overflow: hidden;
      font-size: 1.6em;
      color: #02A2DB;
      text-transform: uppercase;
      margin: 0;
      line-height: 1.6em;
      font-weight: 300; }
      .dj_module .dj_module-header .module-title + i[class^="icon"] {
        visibility: hidden;
        cursor: pointer; }
    .dj_module .dj_module-header .scope-container {
      float: right;
      display: none; }
    .dj_module .dj_module-header .actions-container {
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 10px;
      max-width: 25%;
      white-space: nowrap;
      visibility: hidden;
      cursor: pointer; }
    .dj_module .dj_module-header:hover .actions-container {
      visibility: visible; }
    .dj_module .dj_module-header:hover i[class^="icon"] {
      visibility: visible; }
  .dj_module .dj_module-core {
    margin-top: -5px;
    padding-top: 5px;
    width: 98.5%; }
    .dj_module .dj_module-core .padded {
      padding: 5px; }
  .dj_module .script-component-container .moduleHead {
    display: none; }

.dj_Editor label {
  display: inline-block;
  width: 20%;
  text-align: right;
  vertical-align: top;
  padding-right: 5px; }
.dj_Editor input, .dj_Editor textarea {
  width: 75%; }
.dj_Editor .radio input {
  width: auto; }

.dj_menu {
  border: 1px solid #666; }

#add-module {
  margin-bottom: 20px; }

.dj_module.minimized .dj_module-core {
  margin-left: -10000px;
  height: 0px; }

.minimized .minimize {
  display: none !important; }

.maximize {
  display: none !important; }

.minimized .maximize {
  display: inline-block !important; }

.kpiComponent .noData {
  text-align: center;
  margin: 30px auto;
  font-family: "League-Gothic", Courier;
  text-transform: uppercase;
  font-size: 1.4em;
  display: none; }

.worldMapContainer .mapContainer {
  height: 480px;
  width: 640px;
  margin: 0; }

.visuallyHidden {
  margin-left: -10000px;
  height: 0; }

#world-map-module-inner.medium {
  width: 640px;
  height: 480px;
  margin: 0 auto; }

#world-map-module.medium {
  width: 640px;
  height: 480px;
  margin: 0 auto; }

#world-map-module-container.watch-wide {
  background-color: #444;
  background-image: -moz-linear-gradient(top, #555555, #333333);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#333333));
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr="#555555",endColorStr="#333333"); }

#world-map-module-container {
  background-color: transparent;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  zoom: 1; }

#world-map-module, #world-map-module-inner {
  -webkit-transition: all 459ms;
  -o-transition: all 459ms;
  -moz-transition: all 459ms;
  transition: all 459ms; }

#world-map-module-inner {
  position: relative;
  overflow: hidden;
  height: 0; }

#world-map-module {
  position: relative;
  overflow: hidden;
  -moz-transition: width,height 0.2s ease-in-out;
  -o-transition: width,height 0.2s ease-in-out;
  -webkit-transition: width,height 0.2s ease-out; }

.shareChartContainer {
  height: 300px;
  width: 400px;
  margin: 0 auto; }

@media (max-width: 1132px) {
  ul, ol {
    margin: 0 0 9px 15px; }

  .dj-trafficBar {
    width: 96%; }

  .nav-pills li {
    width: 33%;
    word-break: break-word;
    text-align: center; }
    .nav-pills li a {
      padding-right: 6px;
      padding-left: 6px;
      margin-right: 0px; }

  .dj_module .dj_module-header {
    padding-left: 5px;
    padding-right: 0; } }
@media (max-width: 480px) {
  header {
    margin-left: -20px; }

  .nav-pills li a {
    padding-right: 4px;
    padding-left: 4px;
    margin-right: 0px; }

  .dashNav .main-nav-icon-big {
    display: inline-block; } }

