#module-gallery {
  z-index: 3000;
  text-align: center; }
  #module-gallery .template {
    display: inline-block;
    width: 70px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 120%;
    font-weight: bold;
    border: 1px solid #ccc;
    cursor: pointer; }

