
a:hover {
	text-decoration: none;
}

body {
	padding-top: 65px;
	background-color: #3c3c3c;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(#3a3a3a, #3c3c3c);
	background-image: -ms-linear-gradient(top, #3a3a3a, #3c3c3c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3a3a3a), to(#3c3c3c));
	background-image: -webkit-linear-gradient(#3a3a3a, #3c3c3c);
	background-image: linear-gradient(top, #3a3a3a, #3c3c3c);
}

ul, ol {
	list-style:none;
}

hr{
	border: 0;
	border-bottom: 1px solid #5a5a5a;
}

header {

	background-repeat: no-repeat;
	height: 82px;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	position: absolute;
	top: 0px;

	/* 60AFDC 2B7DA1 */
	.cog { 
		background: url(./images/cogwheels-white.png) no-repeat left 70%; 
		width: 26px;
		height: 26px;
		margin-top: 10px;
		background-position: 0 0;
		display: inline-block;
	}

	table {
		color: #999;
		line-height: 1.2;
		font-size: smaller;
		float: left;

		.djtech {

			span {
				width: 94px;
				display: inline-block;
				margin-left: 67px;
			}
		}

		.logo {
			padding-left: 20px; 
		}
	}

	h1 {
		font: small-caps 40px/40px 'Ubuntu', sans-serif;
		color: #60AFDC;
		display: inline-block;
	}
}

.main-nav {
  &.navbar .nav > li {
    > a {
      margin-top: 0px;
      text-align: center;
      height: 52px;
    }
    display: inline-block;
    float: left;
    width: 12.5%;
    border-left: 1px solid #61B0DF;
    &:first-child {
      border-left: none;
    }
  }
  .navbar-inner {

    box-shadow: none;
    border-radius: 0px;
  }
  .main-nav-icon-big {
    text-align: center;
    padding: 5px;
  }
}

.main-nav-wrapper {
  position: relative;
  top: -90px;
  margin-left: -20px;
  margin-right: -20px;
  text-transform: uppercase;
}

.main-nav {
  li {
    &.active {
      a {
        background-image: none;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-color: transparent;
		font-size: 1.2em;
      }
      &.main-nav-arrow a {
        background-position: center bottom;
        background-repeat: no-repeat;
        /* background-image: url("../images/top-arrow.png"); */
      }
    }
    &.main-nav-arrow a {
      background-position: center bottom;
      background-repeat: no-repeat;
      /* background-image: url("../images/top-arrow.png");*/
    }
	a {
	
	}
  }
  margin-bottom: 0px;
}

.navbar .nav {
  float: none;
}

.user-option {
  margin-top: 10px;
  margin-right: 10px;
}



.hidden-desktop.hidden-tablet {
	.nav > li > a > img {
		margin-right: 10px;
	}
}

footer {
	background: #2C2C2C;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2345;

	h5 {
		color: #999;
		margin: 0;
	}
	.copyright {
		color: #999;
		padding: 4px 0 0 0;
		img {
			margin-left: 10px;
		}
		a {
			color: #fff;
			padding-left: 8px;
			&:first-child {
				padding-right: 8px;
				border-right: solid 1px #999; 
			}
			&:hover {
				text-decoration: underline; 
			} 
		} 
	}
}

.pillContainer {
	font-size: smaller;
}