@import "bootstrap";

body {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%; /* Sets font-size to be roughly 10px. Easy baseline for em */
	line-height: 1;
	color:#000;
	background-color: #2c2c2c;
}


.headerNav {
	position: static;
	z-index: 1234;
	top: 0;
	right: 0;
	left: 0;
	margin-bottom: 0;
	width: 100%;
}

.reallywide {
	width: 959px; 
	margin-right: auto; 
	margin-left: auto;
}

.headBar {
	min-height: 40px;
	background-color: #1B1B1B;
	border-bottom: solid 1px #565656;
	color: white;
	width: 100%;

	.logo {
		display: inline-block;
		margin: 0 0 4px 0;
		font-size: 2em;
		color: white;
		font-weight: 600;
		letter-spacing: 0.05em;
	}

	.tagline {
		font-size: 1.1em;
		color: #CBCBCB;
		margin: 0;
		text-transform: uppercase;
		line-height: 1.1em;
	}

	.brand {
		margin: 12px 0;
		a {
			padding-right: 20px;
			background: #1B1B1B url(./images/dash.png) no-repeat right 100% ;
		}
	}
}

.trendTabsContainer {
  background: white url(./images/tabsBG.png) left 0 repeat; }

.trendTabs {
  min-height: 42px;
  margin: 0;
  list-style: none;
  li {
    float: left;
    margin-top: 13px;
    margin-right: 1px;
    a {
      font-size: 1.2em;
      display: block;
      text-transform: uppercase;
      padding: 0 6px 0 12px;
      color: #cbcbcb;
      line-height: 28px;
      background: #2c2c2c url(./images/tabSeparator.png) right center no-repeat;
      float: left;
      cursor: pointer;
      font-weight: bold; }
    span.closeTab {
      background: #2c2c2c url(./images/murdochSprites.png) -19px 0 no-repeat;
      height: 28px;
      display: block;
      width: 19px;
      float: left;
      cursor: pointer;
      text-indent: 100%;
      overflow: hidden; }
    &.activeTab {
      a {
        background-color: #fff;
        color: #333;
        /*line-height: 29px;*/ }
      span.closeTab {
        background-color: #fff;
        /*height: 29px;*/
        background-position: 0 0; } }
    &.defaultTab {
      margin: 6px 0 0 0;
      background: transparent;
      a {
        background: #2c2c2c;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
        padding: 12px 22px 0 22px;
        height: 23px;
        line-height: normal;
        margin-right: 1px; }
      &.activeTab a {
        /*height:24px;*/
        background: #fff;
        padding: 12px 22px 0 22px;
        color: #333;
        font-weight: bold;
        margin-right: 0; } }
    span.closeTab:hover {
      background-position: -38px 0; } } }

.bodyContent {
background-color:#f2f2f2;
background-repeat:no-repeat;
background-image:-moz-linear-gradient(#fafafa, #f2f2f2);
background-image:-ms-linear-gradient(top, #fafafa, #f2f2f2);
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f2f2f2));
background-image:-webkit-linear-gradient(#fafafa, #f2f2f2);
background-image:linear-gradient(top, #fafafa, #f2f2f2);
background-color:#f2f2f2;background-repeat:no-repeat;
background-image:-moz-linear-gradient(#fafafa, #f2f2f2);
background-image:-ms-linear-gradient(top, #fafafa, #f2f2f2);
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f2f2f2));
background-image:-webkit-linear-gradient(#fafafa, #f2f2f2);
background-image:linear-gradient(top, #fafafa, #f2f2f2);
background-color:#f2f2f2;background-repeat:no-repeat;
background-image:-moz-linear-gradient(#fafafa, #f2f2f2);
background-image:-ms-linear-gradient(top, #fafafa, #f2f2f2);
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f2f2f2));
background-image:-webkit-linear-gradient(#fafafa, #f2f2f2);
background-image:linear-gradient(top, #fafafa, #f2f2f2);	
	width: 100%;
}

footer {
	background: #2C2C2C;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2345;

	h5 {
		float: left;
		color: #999;
		font-size: 1em;
		padding: 12px 0; 
		margin: 0;
		line-height: 1em;
	}
	.copyright {
		float: right;
		color: #999;
		padding: 12px 70px 12px 0;
		background: url(./images/djFooterLogo.png) right 11px no-repeat;
		font-size: 1em;
		a {
			color: #fff;
			padding-left: 8px;
			&:first-child {
				padding-right: 8px;
				border-right: solid 1px #999; 
			}
			&:hover {
				text-decoration: underline; 
			} 
		} 
	}
}

.tk-franklin-gothic-urw {
    font-family: "franklin-gothic-urw",sans-serif;
}

.logo, .tk-kulturista-web {
    font-family: "kulturista-web",serif;
}

.mediaViewer h3, .pageContent h3, .pagination, .tile .title, .tk-nimbus-sans {
    font-family: "nimbus-sans",sans-serif;
}

.moduleControls {
  float: right;
  li {
    float: left;
    border-left: solid 1px #e4e4e4;
    height: 22px;
    line-height: 22px;
    &.moduleIcon {
      width: 35px;
      background: url(./images/murdochSprites.png) 0 0 no-repeat;
      cursor: pointer;
      &.disabled {
        opacity: .5;
        cursor: default; } } } }

.moduleHead {
  height: 22px;
  border-bottom: solid 1px #e4e4e4;
  h3 {
    font-size: 1.6em;
    color: #02a2db;
    text-transform: uppercase;
    float: left;
	margin: 0;
	line-height: 1.6em;
    margin-left: 8px;
    font-weight: 300;
    span.companyName {
      text-transform: none; } } }

.module {
	ul, ol {
	 list-style:none;
	 margin: 0;
	}

	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}

.module {
	&.small {
		@extend .span2;
	}

	&.medium {
		@extend .span4;
	}

	&.large {
		@extend .span6;
	}

	&.x-large {
		@extend .span8;
	}
}