$browserBackground: url(images/browser-sprites.png) no-repeat;


.dj-browser-logo {
	&.dj-browser{
		height: 42px;
		width: 42px;
		border-radius: 22px;
		background-color: #F7F7F7;
		border: solid 1px #DDD;
		left: 40px;
		position: absolute;
		z-index: 10; 
	}

	&.i {
		background: $browserBackground;
		background-position: 0 -250px;
		width: 32px;
		height: 32px;

		&.dj-browser-logo-chrome {
		  background-position: 0 0;
		  width: 36px;
		  height: 33px;
		}

		&.dj-browser-logo-firefox {
		  background-position: -50px 0;
		  width: 36px;
		  height: 33px;
		}

		&.dj-browser-logo-msie9,&.dj-browser-logo-msie10 {
		  background-position: -100px 0;
		  width: 36px;
		  height: 33px;
		}

		&.dj-browser-logo-safari {
		  background-position: -150px 0;
		  width: 36px;
		  height: 33px;
		}
		&.dj-browser-logo-android {
		  background-position: -200px -100px;
		}
		&.dj-browser-logo-aol {
		  background-position: -250px -2px;
		}

		&.dj-browser-logo-atratus {
			background-position: -300px 0;
		}
	
		&.dj-browser-logo-bagel {
		  background-position: -350px 0;
		}

		&.dj-browser-logo-blackberry {
		  background-position: -500px 0;
		}

		&.dj-browser-logo-bolt {
		  background-position: -550px 0;
		}

		&.dj-browser-logo-camino {
		  background-position: -600px 0;
		}


		&.dj-browser-logo-chimera {
		  background-position: 0 -50px;
		}

		&.dj-browser-logo-crawler {
		  background-position: -50px -50px;
		}

		&.dj-browser-logo-danger {
		  background-position: -201px -1px;
		}

		&.dj-browser-logo-docomo {
		  background-position: -150px -50px;
		}

		&.dj-browser-logo-dolphin {
		  background-position: -200px -50px;
		}

		&.dj-browser-logo-domino {
		  background-position: -250px -50px;
		}

		&.dj-browser-logo-donzilla {
		  background-position: -300px -50px;
		  width: 30px;
		  height: 30px;
		}

		&.dj-browser-logo-e-capsule {
		  background-position: -350px -50px;
		}

		&.dj-browser-logo-epiphany {
		  background-position: -400px -50px;
		}

		&.dj-browser-logo-fedora {
		  background-position: -450px -50px;
		}

		&.dj-browser-logo-fennac {
		  background-position: -500px -50px;
		}

		&.dj-browser-logo-firebird {
		  background-position: -550px -50px;
		}

		&.dj-browser-logo-flock {
		  background-position: -600px -50px;
		}

		&.dj-browser-logo-galeon {
		  background-position: 0 -100px;
		}

		&.dj-browser-logo-Gian {
		  background-position: -50px -100px;
		}

		&.dj-browser-logo-googlebot {
		  background-position: -150px -100px;
		}

		&.dj-browser-logo-iCab {
		  background-position: -250px -100px;
		}

		&.dj-browser-logo-iceweasel {
		  background-position: -300px -100px;
		}

		&.dj-browser-logo-ideal {
		  background-position: -350px -100px;
		}

		&.dj-browser-logo-msie8,
		&.dj-browser-logo-msie7,
		&.dj-browser-logo-msie6,
		&.dj-browser-logo-msie5 {
		  background-position: -100px -100px;
		}

		&.dj-browser-logo-kde {
		  background-position: -400px -100px;
		}

		&.dj-browser-logo-k-meleon {
		  background-position: -450px -100px;
		}

		&.dj-browser-logo-k-ninja {
		  background-position: -500px -100px;
		}

		&.dj-browser-logo-konqueror {
		  background-position: -550px -100px;
		}

		&.dj-browser-logo-kubuntu {
		  background-position: -600px -100px;
		}

		&.dj-browser-logo-mandriva {
		  background-position: 0 -150px;
		}

		&.dj-browser-logo-maxthon {
		  background-position: -50px -150px;
		}

		&.dj-browser-logo-minefield {
		  background-position: -100px -150px;
		}

		&.dj-browser-logo-moblin {
		  background-position: -150px -150px;
		}

		&.dj-browser-logo-multizilla {
		  background-position: -200px -150px;
		}

		&.dj-browser-logo-netscape {
		  background-position: -248px -150px;
		}

		&.dj-browser-logo-nokia {
		  background-position: -298px -150px;
		}


		&.dj-browser-logo-Nook {
		  background-position: -350px -150px;
		  width: 27px;
		  height: 28px;
		}

		&.dj-browser-logo-omniweb {
		  background-position: -400px -150px;
		}

		&.dj-browser-logo-phonix {
		  background-position: -550px -150px;
		}

		&.dj-browser-logo-playstation {
		  background-position: -600px -150px;
		}

		&.dj-browser-logo-qtweb {
		  background-position: 0 -200px;
		}

		&.dj-browser-logo-seamonkey{
		  background-position: -100px -200px;
		}

		&.dj-browser-logo-shark {
		  background-position: -150px -200px;
		}

		&.dj-browser-logo-skyfire {
		  background-position: -250px -200px;
		}

		&.dj-browser-logo-slackware {
		  background-position: -300px -200px;
		}

		&.dj-browser-logo-sunrise {
		  background-position: -400px -200px;
		}

		&.dj-browser-logo-suse {
		  background-position: -450px -200px;
		}

		&.dj-browser-logo-sylera {
		  background-position: -500px -200px;
		}

		&.dj-browser-logo-teashark {
		  background-position: -550px -200px;
		}

		&.dj-browser-logo-ubuntu {
		  background-position: -600px -200px;
		}

		&.dj-browser-logo-ucweb, &.dj-browser-logo-ucweb8, &.dj-browser-logo-ucweb7 {
		  background-position: -97px -50px;
		}

		&.dj-browser-logo-uzard {
		  background-position: -450px 0;
		}

		&.dj-browser-logo-vodafone {
		  background-position: -199px -200px;
		}

		&.dj-browser-logo-smartfox {
		  background-position: -350px -200px;
		}

		&.dj-browser-logo-beonex {
		  background-position: -400px 0;
		  width: 34px;
		  height: 33px;
		}

		&.dj-browser-logo-redhat {
		  background-position: -50px -199px;
		}

		&.dj-browser-logo-opera {
		  background-position: -449px -150px;
		}
	}

}

.dj-perfGaugeItems {
  font-size: 16px;
  color: #999;
  text-shadow: 0px 3px 8px #2A2A2A;

  .visitors {
    font-weight: bold; } 
}

.dj-trafficBar {
  position: relative;
  width: 98%;
  margin-bottom: 10px;
  height: 40px;

  &:first-child {
    margin: 10px 0;
    font-weight: bold;
    height: 20px;

    div {

      &:first-child {
        float: left; }

      &:last-child {
		float: right;
        text-align: right;
         } } }

  .browserVersion {
    position: absolute;
    left: 65px;
    top: 31px;
    font-size: 14px;
    font-weight: bold;
    z-index: 12;
	background-color: #3c3c3c;
	border-radius: 10px;
	padding: 0 5px;
	}

  .visitors {
    position: absolute;
    top: 9px;
    text-align: center; }

  .visitorsText {
    text-align: center;
    font-size: 9px;
    left: 0;
    top: 24px;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out; }

  &:hover .visitorsText {
    opacity: 1; }

  i {
    display: inline-block;
    width: 40px;
    height: 32px;
    top: 5px;
    left: 3px;
    position: absolute; }

  .bar {
    position: absolute;
    left: 79px;
    width: 75%;
    height: 25px;
    top: 9px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-right: 4px;
    text-align: right;
    font-size: 18px;

	.timing {
		position:relative;
		font-weight:bold;
		z-index: 1000;
		top: 4px;
	}

    .gauge {
      position: absolute;
      left: 0;
	  height: 100%;
    }

    &.cool {
      border: 1px solid #729316;
      border-top: 1px solid #9BBD32;
      border-bottom: 1px solid #729316;

      .gauge {
        background-color: #81ba6b;
        background-repeat: no-repeat;
        background-image: -moz-linear-gradient(#9BBD32, #729316);
        background-image: -ms-linear-gradient(top, #9BBD32, #729316);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9BBD32), to(#729316));
        background-image: -webkit-linear-gradient(#9BBD32, #729316);
        background-image: linear-gradient(top, #9BBD32, #729316); } }

    &.hot {
      border: 1px solid #990003;
      border-top: 1px solid #DD4247;
      border-bottom: 1px solid #990003;

      .gauge {
        background-color: #DD4247;
        background-repeat: no-repeat;
        background-image: -moz-linear-gradient(#DD4247, #990003);
        background-image: -ms-linear-gradient(top, #DD4247, #990003);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DD4247), to(#990003));
        background-image: -webkit-linear-gradient(#DD4247, #990003);
        background-image: linear-gradient(top, #DD4247, #990003); } }

    &.neutral {
      border: 1px solid #C3900B;
      border-top: 1px solid #FFCC33;
      border-bottom: 1px solid #C3900B;

      .gauge {
        background-color: #FFCC33;
        background-repeat: no-repeat;
        background-image: -moz-linear-gradient(#FFCC33, #C3900B);
        background-image: -ms-linear-gradient(top, #FFCC33, #C3900B);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFCC33), to(#C3900B));
        background-image: -webkit-linear-gradient(#FFCC33, #C3900B);
        background-image: linear-gradient(top, #FFCC33, #C3900B); } } } }

@media (max-width: 1132px) {
	.dj-trafficBar {
		.dj-browser-logo dj-browser {
			left: 35px;
		}

		.bar {
			left: 74px;
		}
	}
}
@media (max-width: 480px) {
	.dj-trafficBar {
		  width: 91%;
	  }
}