.dj-chrome {
  background: url(images/broswer-sprits.png) no-repeat;
  background-position: 0 0;
  width: 36px;
  height: 33px; }

.dj-safari {
  background: url(images/broswer-sprits.png) no-repeat;
  background-position: -100px 0;
  width: 36px;
  height: 33px; }

.dj-ie {
  background: url(images/broswer-sprits.png) no-repeat;
  background-position: -150px 0;
  width: 36px;
  height: 33px; }

.dj-opera {
  background: url(images/broswer-sprits.png) no-repeat;
  background-position: -200px -1px;
  width: 32px;
  height: 32px; }

.dj-firefox {
  background: url(images/broswer-sprits.png) no-repeat;
  background-position: -50px 0;
  width: 36px;
  height: 33px; }

.trafficBar {
  position: relative;
  width: 55%; }
  .trafficBar .barValue {
    display: inline-block; }

.barValue.cool {
  background-color: #81ba6b;
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(#a6ce8d, #81ba6b);
  background-image: -ms-linear-gradient(top, #a6ce8d, #81ba6b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a6ce8d), to(#81ba6b));
  background-image: -webkit-linear-gradient(#a6ce8d, #81ba6b);
  background-image: linear-gradient(top, #a6ce8d, #81ba6b);
  background-color: #81ba6b;
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(#a6ce8d, #81ba6b);
  background-image: -ms-linear-gradient(top, #a6ce8d, #81ba6b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a6ce8d), to(#81ba6b));
  background-image: -webkit-linear-gradient(#a6ce8d, #81ba6b);
  background-image: linear-gradient(top, #a6ce8d, #81ba6b);
  background-color: #81ba6b;
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(#a6ce8d, #81ba6b);
  background-image: -ms-linear-gradient(top, #a6ce8d, #81ba6b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a6ce8d), to(#81ba6b));
  background-image: -webkit-linear-gradient(#a6ce8d, #81ba6b);
  background-image: linear-gradient(top, #a6ce8d, #81ba6b);
  border: 1px solid #85b372;
  border-top: 1px solid #8ebc7c;
  border-bottom: 1px solid #79a967; }
.barValue.hot {
  background-color: #ec9054;
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(#f1b16e, #ec9054);
  background-image: -ms-linear-gradient(top, #f1b16e, #ec9054);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1b16e), to(#ec9054));
  background-image: -webkit-linear-gradient(#f1b16e, #ec9054);
  background-image: linear-gradient(top, #f1b16e, #ec9054);
  background-color: #ec9054;
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(#f1b16e, #ec9054);
  background-image: -ms-linear-gradient(top, #f1b16e, #ec9054);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1b16e), to(#ec9054));
  background-image: -webkit-linear-gradient(#f1b16e, #ec9054);
  background-image: linear-gradient(top, #f1b16e, #ec9054);
  background-color: #ec9054;
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(#f1b16e, #ec9054);
  background-image: -ms-linear-gradient(top, #f1b16e, #ec9054);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1b16e), to(#ec9054));
  background-image: -webkit-linear-gradient(#f1b16e, #ec9054);
  background-image: linear-gradient(top, #f1b16e, #ec9054);
  border: 1px solid #dc8b49;
  border-top: 1px solid #ec9956;
  border-bottom: 1px solid #cd7d3c; }
.barValue.neutral {
  background-color: #dbc566;
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(#e6d686, #dbc566);
  background-image: -ms-linear-gradient(top, #e6d686, #dbc566);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6d686), to(#dbc566));
  background-image: -webkit-linear-gradient(#e6d686, #dbc566);
  background-image: linear-gradient(top, #e6d686, #dbc566);
  background-color: #dbc566;
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(#e6d686, #dbc566);
  background-image: -ms-linear-gradient(top, #e6d686, #dbc566);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6d686), to(#dbc566));
  background-image: -webkit-linear-gradient(#e6d686, #dbc566);
  background-image: linear-gradient(top, #e6d686, #dbc566);
  background-color: #dbc566;
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(#e6d686, #dbc566);
  background-image: -ms-linear-gradient(top, #e6d686, #dbc566);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6d686), to(#dbc566));
  background-image: -webkit-linear-gradient(#e6d686, #dbc566);
  background-image: linear-gradient(top, #e6d686, #dbc566);
  border: 1px solid #c9b45d;
  border-top: 1px solid #cbba72;
  border-bottom: 1px solid #c7ae43; }

