.dj_platform-stats {
	-webkit-transition: all 459ms;
	-o-transition: all 459ms;
	-moz-transition: all 459ms;
	transition: all 459ms;

	.actions-container {
		i {
			cursor: pointer;
		}
	}

	h4 {
		padding: 0 4px;
	}
	.detailsContainer{
		display: none;
		.detailsWrapper {
			$bgColorTransition: background-color 0.2s ease-in-out;
			$dimensionTransition: height 0.5s ease-in;

			-ms-transition: $dimensionTransition;
			-moz-transition: $dimensionTransition;
			-o-transition: $dimensionTransition;
			-webkit-transition: $dimensionTransition;
			transition: $dimensionTransition; 

			display: none;
			overflow: hidden;
			height: 0;
			width: 100%;
			margin-top: 10px;

			border-radius: 4px;
			/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
			-ms-box-shadow: 0px 0px 15px #000000;
			-moz-box-shadow: 0px 0px 15px #000000;
			-webkit-box-shadow: 0px 0px 15px #000000;
			box-shadow: 0px 0px 15px #000000;
			/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
		
			.shareChartContainer {
				-moz-transition: $bgColorTransition;
				-o-transition: $bgColorTransition;
				-webkit-transition: $bgColorTransition;
				transition: $bgColorTransition;
			}

			&.visible {
				height: 100%;
			

				.shareChartContainer {
					background-color: #2a2a2a;
				}
			}
		}
	}
	.platformContainer{
		
		.device {
			cursor: pointer;
			background-repeat: no-repeat;
			background-position: top; 
			text-align: center;
			margin-top:10px;
			color: #999;
			.val{
				text-shadow: 0px 3px 8px #2A2A2A;
				text-align: center;
				font-weight: bold;
			}
		}
		.title{
			padding-bottom: 10px;
			color: #369BD7;
		}
		.desktop{
		}
		.mobile{
		}
	}


}