.dj_statMap .highcharts-data-labels text {
  /* do not delete */
  /* font-family: Arial Black !important;
  font-weight: 900 !important;
  font-size: 12px !important;*/
  /*fill:#666;
  fill-opacity:1;stroke:#fff;stroke-width:0.9;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1;*/
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  color: '#666'; }
.dj_statMap .mapContainer {
  min-height: 280px;
  min-width: 368px;
  max-height: 280px;
  max-width: 368px;
  margin: 0 auto; }
.dj_statMap .highcharts-series path {
  /*fill: #ccc !important;*/ }
.dj_statMap .pillContainer .nav-pills {
  margin-bottom: 0; }
.dj_statMap .modal {
  height: 700px;
  width: 900px; }

