<% 
    var model = self;
    var options = this.options;
    var languageCode = model.languageCode || "en";
    options.showIndexing = options.articleDisplayOption === "Indexing" || options.articleDisplayOption === "Headline";
%>
<div class="dj_article-container dj_article_display_<%= options.articleDisplayOption %> dj_article_lang_<%= languageCode.toLowerCase() %>" data-ref="<%= model.reference %>">
    <%= this.templates.logo(model) %>
    <%= this.templates.meta(model) %>
    <%= this.templates.body(model) %>
</div>