.article-page .article h4, .article-page .article div.meta {
  max-width: 500px; }
.article-page .article .dj_article_meta {
  position: relative;
  min-height: 210px; }
  .article-page .article .dj_article_meta ul.actions {
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    width: 128px;
    border: 1px solid #e0e0e0; }
    .article-page .article .dj_article_meta ul.actions li {
      width: 106px;
      color: #999999;
      background-color: #ffffff;
      padding: 5px 0 4px 0;
      margin: 0 auto;
      cursor: pointer;
      border-bottom: 1px solid #e0e0e0;
      font-size: 86%; }
      .article-page .article .dj_article_meta ul.actions li:hover {
        color: #006ca2; }
      .article-page .article .dj_article_meta ul.actions li .dj_icon {
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        *display: inline;
        vertical-align: middle;
        width: 21px;
        height: 21px;
        background-image: url(img/post-processing-icons.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        margin-right: 8px; }
        .article-page .article .dj_article_meta ul.actions li .dj_icon.dj_icon-print {
          background-position: 0 0; }
        .article-page .article .dj_article_meta ul.actions li .dj_icon.dj_icon-save {
          background-position: 0 -28px;
          width: 20px; }
        .article-page .article .dj_article_meta ul.actions li .dj_icon.dj_icon-email {
          background-position: 0 -59px; }
        .article-page .article .dj_article_meta ul.actions li .dj_icon.dj_icon-listen {
          background-position: 0 -87px;
          width: 20px; }
        .article-page .article .dj_article_meta ul.actions li .dj_icon.dj_icon-translate {
          background-position: 0 -115px;
          width: 17px; }
        .article-page .article .dj_article_meta ul.actions li .dj_icon.dj_icon-share {
          background-position: 0 -144px;
          width: 17px; }
      .article-page .article .dj_article_meta ul.actions li:first-child {
        margin-top: 5px; }
      .article-page .article .dj_article_meta ul.actions li:last-child {
        border-bottom: none; }

#articleContainer.arabic ul.actions {
  left: 0; }
#articleContainer.arabic .dj_article_hd, #articleContainer.arabic .dj_article_meta .meta {
  float: right; }

.dj_article_lp, .dj_article_tp, .dj_article_tf, .dj_article_an {
  margin: 10px 0; }

.article p.dj_article_paragraph {
  color: #000;
  margin: 10px 0; }
.article .article-details {
  color: #999999;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 16px; }

.dj_article_cp {
  color: #999999;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 16px; }

.dj_article_hd {
  color: #2F90B3 !important;
  font-weight: bold !important;
  line-height: normal;
  margin-bottom: 12px;
  width: 400px; }

.dj_article_meta .meta {
  width: 400px; }

.dj_article_image {
  margin-bottom: 10px; }

.sourceDetailsPopup .label {
  color: #666666;
  display: inline-block;
  font-weight: bold; }
.sourceDetailsPopup .control {
  display: inline-block; }
.sourceDetailsPopup .seperator {
  display: block;
  height: 15px; }

.companyPopup, .executivePopup {
  line-height: 18px; }

.companyPopup .leftPane {
  border: 1px solid #999999;
  float: left;
  margin-right: 6px;
  margin-top: 3px; }
.companyPopup .rightPane {
  float: left;
  width: 50%; }
.companyPopup span {
  color: #000000;
  font-size: 12px; }

.lastTradeDateTime {
  padding-top: 2px; }

.companyPopup .lastPrice {
  color: #000000;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  width: 100%; }
.companyPopup a {
  color: #06799F;
  font-size: 12px;
  text-decoration: none; }

.addToFocusCompany {
  background: url("img/addCompany.gif") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  padding-left: 19px; }

.executivePopup .title {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 3px; }
.executivePopup span {
  color: #000000;
  font-size: 12px; }
.executivePopup .spacer {
  display: inline-block;
  height: 15px; }
.executivePopup a {
  color: #06799F;
  font-size: 12px;
  text-decoration: none; }
.executivePopup .infoProvider {
  color: #666666;
  font-size: 11px; }

/********** Arabic styles **************/
.arabic {
  text-align: right; }

.result-items a.headline.arabic, .result-items .snippet.arabic {
  color: #000;
  direction: rtl;
  unicode-bidi: embed;
  text-align: left; }

.arabic .article .dj_article_article_body, .arabic .article .article-details, .arabic .article .dj_article_image {
  direction: rtl;
  unicode-bidi: embed; }

.content .noRecords {
  padding-top: 5px !important; }

.article .dj_article_elink {
  display: inline-block;
  display: -moz-inline-stack;
  zoom: 1;
  /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  color: #666;
  background: transparent url(img/external-link-arrow.png) no-repeat right 5px;
  padding-right: 15px; }
  .article .dj_article_elink:hover {
    color: #006ca2;
    background: transparent url(img/external-link-arrow-hover.png) no-repeat right 5px;
    padding-right: 15px; }

.arabic .jspPane {
  position: relative; }
.arabic .dj_article_meta .dj_article_hd.dj_article_section.headline, .arabic .dj_article_meta .dj_article_sn.dj_article_section .dj_article_source {
  direction: rtl; }
.arabic .dj_article_article_body .dj_article_lp.dj_article_section .dj_article_paragraph, .arabic .dj_article_article_body .dj_article_td.dj_article_section .dj_article_paragraph {
  direction: rtl; }

.content .source {
  unicode-bidi: embed; }

.dj_ar .article-view-trigger, .dj_fa .article-view-trigger {
  direction: rtl;
  unicode-bidi: embed; }

.dj_article_article_body .dj_article_entity.company, .dj_article_article_body .dj_article_entity.executive {
  color: #666666;
  border-bottom: 1px dotted #008ac7;
  text-decoration: none; }

.dj_article-container .dj_article_meta {
  position: relative;
  min-height: 200px;
  color: #444;
  width: 550px; }
  .dj_article-container .dj_article_meta .dj_article_comma {
    display: none; }
  .dj_article-container .dj_article_meta ul.actions {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 10px;
    margin-right: 6px;
    border: 1px solid #e0e0e0;
    width: 128px; }
    .dj_article-container .dj_article_meta ul.actions li {
      width: 106px;
      color: #999;
      background-color: #fff;
      padding: 5px 0 4px 0;
      margin: 0 auto;
      cursor: pointer;
      border-bottom: 1px solid #e0e0e0;
      font-size: 86%; }
      .dj_article-container .dj_article_meta ul.actions li:hover {
        color: #006ca2; }
      .dj_article-container .dj_article_meta ul.actions li .dj_icon {
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        *display: inline;
        vertical-align: middle;
        width: 21px;
        height: 21px;
        background-image: url("img/post-processing-icons.png");
        background-position: 0 0;
        background-repeat: no-repeat;
        margin-right: 8px; }
        .dj_article-container .dj_article_meta ul.actions li .dj_icon.dj_icon-print {
          background-position: 0 0; }
        .dj_article-container .dj_article_meta ul.actions li .dj_icon.dj_icon-save {
          background-position: 0 -28px;
          width: 20px; }
        .dj_article-container .dj_article_meta ul.actions li .dj_icon.dj_icon-email {
          background-position: 0 -59px; }
        .dj_article-container .dj_article_meta ul.actions li .dj_icon.dj_icon-listen {
          background-position: 0 -87px;
          width: 20px; }
        .dj_article-container .dj_article_meta ul.actions li .dj_icon.dj_icon-translate {
          background-position: 0 -115px;
          width: 17px; }
        .dj_article-container .dj_article_meta ul.actions li .dj_icon.dj_icon-share {
          background-position: 0 -144px;
          width: 17px; }
      .dj_article-container .dj_article_meta ul.actions li:first-child {
        margin-top: 5px; }
      .dj_article-container .dj_article_meta ul.actions li:last-child {
        border-bottom: 0; }

.dj_article_index {
  position: absolute;
  width: 35px;
  text-align: right; }
  .dj_article_index + .dj_article_section {
    margin: 0;
    margin-left: 45px;
    position: relative; }

