<?xml version="1.0"?>
<configuration>
	<products>
		<product id="GL">
			<name>vista.dev.us.factiva.com/dotcom</name>
			<clienttype code="D"/>
			<flavor code="F"/>
			<cookies prefix="GL"/>
			<accesspoint>
				<service type="global" code="s"/>
				<service type="preferences" code="R"/>
				<service type="clientbilling" code="L"/>
			</accesspoint>
			<networkpartnerid value="" />
			<rules>
				<offset value="82" compare="00" operator="!=" />
			</rules>
			<encryptedtoken type="session" enabled="true"/>
			<compatibleproducts>
				<cookies prefix="IF"/>
			</compatibleproducts>
			<languages>
				<lang code="en" default="true"/>
				<lang code="fr"/>
				<lang code="de"/>
				<lang code="es"/>
				<lang code="ru"/>
			</languages>
			<!-- Landing Page After First Time Login To Product -->
			<landingpage type="flogin" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/sess/setup_asst.asp</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/sess/setup_asst.asp</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/sess/setup_asst.asp</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/sess/setup_asst.asp</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/sess/setup_asst.asp</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/sess/setup_asst.asp</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/sess/setup_asst.asp</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/sess/setup_asst.asp</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/sess/setup_asst.asp</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/sess/setup_asst.asp</url>
			</landingpage>
			<!-- Landing Page After Successfull Login To Product ( Not first time...) -->
			<landingpage type="nlogin" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/sess/login.asp</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/sess/login.asp</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/sess/login.asp</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/sess/login.asp</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/sess/login.asp</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/sess/login.asp</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/sess/login.asp</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/sess/login.asp</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/sess/login.asp</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/sess/login.asp</url>
			</landingpage>
			<landingpage type="enduser" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/du/eusearch.asp</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/du/eusearch.asp</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/du/eusearch.asp</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/du/eusearch.asp</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/du/eusearch.asp</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/du/eusearch.asp</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/du/eusearch.asp</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/du/eusearch.asp</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/du/eusearch.asp</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/du/eusearch.asp</url>
			</landingpage>
			<!--
      <template type="login" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/Login101.asp</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/Login101.asp</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/Login101.asp</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/Login101.asp</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/Login101.asp</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/Login101.asp</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/Login101.asp</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/Login101.asp</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/Login101.asp</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/Login101.asp</url>
			</template>
      -->
			<!-- CHANGES TO EXISTING LOING TEMPLATES -->

			<template type="login" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/logintemplates/default.aspx?fcpil=en</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/logintemplates/default.aspx?fcpil=fr</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/logintemplates/default.aspx?fcpil=de</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/logintemplates/default.aspx?fcpil=es</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/logintemplates/default.aspx?fcpil=it</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/logintemplates/default.aspx?fcpil=ja</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/logintemplates/default.aspx?fcpil=ru</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/logintemplates/default.aspx?fcpil=zhcn</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/logintemplates/default.aspx?fcpil=zhtw</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/logintemplates/default.aspx?fcpil=templates</url>
			</template>

			<!--           NEW TEMPLTES             -->

			<template type="convert" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/logintemplates/convert.aspx?fcpil=en</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/logintemplates/convert.aspx?fcpil=fr</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/logintemplates/convert.aspx?fcpil=de</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/logintemplates/convert.aspx?fcpil=es</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/logintemplates/convert.aspx?fcpil=it</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/logintemplates/convert.aspx?fcpil=ja</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/logintemplates/convert.aspx?fcpil=ru</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/logintemplates/convert.aspx?fcpil=zhcn</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/logintemplates/convert.aspx?fcpil=zhtw</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/logintemplates/convert.aspx?fcpil=templates</url>
			</template>
			<template type="signup" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/logintemplates/signup.aspx?fcpil=en</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/logintemplates/signup.aspx?fcpil=fr</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/logintemplates/signup.aspx?fcpil=de</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/logintemplates/signup.aspx?fcpil=es</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/logintemplates/signup.aspx?fcpil=it</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/logintemplates/signup.aspx?fcpil=ja</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/logintemplates/signup.aspx?fcpil=ru</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/logintemplates/signup.aspx?fcpil=zhcn</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/logintemplates/signup.aspx?fcpil=zhtw</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/logintemplates/signup.aspx?fcpil=templates</url>
			</template>
			<template type="lwr" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/logintemplates/lwr.aspx?fcpil=en</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/logintemplates/lwr.aspx?fcpil=fr</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/logintemplates/lwr.aspx?fcpil=de</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/logintemplates/lwr.aspx?fcpil=es</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/logintemplates/lwr.aspx?fcpil=it</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/logintemplates/lwr.aspx?fcpil=ja</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/logintemplates/lwr.aspx?fcpil=ru</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/logintemplates/lwr.aspx?fcpil=zhcn</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/logintemplates/lwr.aspx?fcpil=zhtw</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/logintemplates/lwr.aspx?fcpil=templates</url>
			</template>
			<template type="convertreset" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/logintemplates/convertreset.aspx?fcpil=en</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/logintemplates/convertreset.aspx?fcpil=fr</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/logintemplates/convertreset.aspx?fcpil=de</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/logintemplates/convertreset.aspx?fcpil=es</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/logintemplates/convertreset.aspx?fcpil=it</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/logintemplates/convertreset.aspx?fcpil=ja</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/logintemplates/convertreset.aspx?fcpil=ru</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/logintemplates/convertreset.aspx?fcpil=zhcn</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/logintemplates/convertreset.aspx?fcpil=zhtw</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/logintemplates/convertreset.aspx?fcpil=templates</url>
			</template>

			<template type="code_va" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/ccode_va.asp?CCLevel=VA</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/ccode_va.asp?CCLevel=VA</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/ccode_va.asp?CCLevel=VA</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/ccode_va.asp?CCLevel=VA</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/ccode_va.asp?CCLevel=VA</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/ccode_va.asp?CCLevel=VA</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/ccode_va.asp?CCLevel=VA</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/ccode_va.asp?CCLevel=VA</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/ccode_va.asp?CCLevel=VA</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/ccode_va.asp?CCLevel=VA</url>
			</template>
			<template type="code_m" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/ccode_m.asp?CCLevel=M</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/ccode_m.asp?CCLevel=M</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/ccode_m.asp?CCLevel=M</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/ccode_m.asp?CCLevel=M</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/ccode_m.asp?CCLevel=M</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/ccode_m.asp?CCLevel=M</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/ccode_m.asp?CCLevel=M</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/ccode_m.asp?CCLevel=M</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/ccode_m.asp?CCLevel=M</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/ccode_m.asp?CCLevel=M</url>
			</template>
			<template type="code_vo" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/ccode_m.asp?CCLevel=VO</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/ccode_m.asp?CCLevel=VO</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/ccode_m.asp?CCLevel=VO</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/ccode_m.asp?CCLevel=VO</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/ccode_m.asp?CCLevel=VO</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/ccode_m.asp?CCLevel=VO</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/ccode_m.asp?CCLevel=VO</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/ccode_m.asp?CCLevel=VO</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/ccode_m.asp?CCLevel=VO</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/ccode_m.asp?CCLevel=VO</url>
			</template>
			<template type="terminatesubscription" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/terminatesubscription.asp</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/terminatesubscription.asp</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/terminatesubscription.asp</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/terminatesubscription.asp</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/terminatesubscription.asp</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/terminatesubscription.asp</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/terminatesubscription.asp</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/terminatesubscription.asp</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/terminatesubscription.asp</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/terminatesubscription.asp</url>
			</template>
			<template type="renewalagreement" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/renewalAgreement.asp</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/renewalAgreement.asp</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/renewalAgreement.asp</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/renewalAgreement.asp</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/renewalAgreement.asp</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/renewalAgreement.asp</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/renewalAgreement.asp</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/renewalAgreement.asp</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/renewalAgreement.asp</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/renewalAgreement.asp</url>
			</template>
			<template type="postrenewal" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/postRenewal.asp</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/postRenewal.asp</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/postRenewal.asp</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/postRenewal.asp</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/postRenewal.asp</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/postRenewal.asp</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/postRenewal.asp</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/postRenewal.asp</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/postRenewal.asp</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/postRenewal.asp</url>
			</template>
			<template type="loading" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/Loading.asp</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/Loading.asp</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/Loading.asp</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/Loading.asp</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/Loading.asp</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/Loading.asp</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/Loading.asp</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/Loading.asp</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/Loading.asp</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/Loading.asp</url>
			</template>
			<template type="displayerror" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/displayError.asp</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/displayError.asp</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/displayError.asp</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/displayError.asp</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/displayError.asp</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/displayError.asp</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/displayError.asp</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/displayError.asp</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/displayError.asp</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/displayError.asp</url>
			</template>
			<template type="letbrowserin" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/letBrowserIn.asp</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/letBrowserIn.asp</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/letBrowserIn.asp</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/letBrowserIn.asp</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/letBrowserIn.asp</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/letBrowserIn.asp</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/letBrowserIn.asp</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/letBrowserIn.asp</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/letBrowserIn.asp</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/letBrowserIn.asp</url>
			</template>
			<template type="reg" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/reg.asp</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/reg.asp</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/reg.asp</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/reg.asp</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/reg.asp</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/reg.asp</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/reg.asp</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/reg.asp</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/reg.asp</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/reg.asp</url>
			</template>
			<!-- After successful.. registration...... -->
			<template type="regmsg" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/regMsg.asp</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/regMsg.asp</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/regMsg.asp</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/regMsg.asp</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/regMsg.asp</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/regMsg.asp</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/regMsg.asp</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/regMsg.asp</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/regMsg.asp</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/regMsg.asp</url>
			</template>
			<template type="subAgreemnt" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/subAgreemnt.asp</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/subAgreemnt.asp</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/subAgreemnt.asp</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/subAgreemnt.asp</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/subAgreemnt.asp</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/subAgreemnt.asp</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/subAgreemnt.asp</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/subAgreemnt.asp</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/subAgreemnt.asp</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/subAgreemnt.asp</url>
			</template>
			<template type="screentoosmall" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/screenTooSmall.asp</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/screenTooSmall.asp</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/screenTooSmall.asp</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/screenTooSmall.asp</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/screenTooSmall.asp</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/screenTooSmall.asp</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/screenTooSmall.asp</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/screenTooSmall.asp</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/screenTooSmall.asp</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/screenTooSmall.asp</url>
			</template>
			<redirect type="notsupportedbrowser" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/notSupportedBrowser.asp</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/notSupportedBrowser.asp</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/notSupportedBrowser.asp</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/notSupportedBrowser.asp</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/notSupportedBrowser.asp</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/notSupportedBrowser.asp</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/notSupportedBrowser.asp</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/notSupportedBrowser.asp</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/notSupportedBrowser.asp</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/notSupportedBrowser.asp</url>
			</redirect>
			<redirect type="logout" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/logout.asp</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/logout.asp</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/logout.asp</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/logout.asp</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/logout.asp</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/logout.asp</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/logout.asp</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/logout.asp</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/logout.asp</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/logout.asp</url>
			</redirect>
			<browsercaps>
				<use var="HTTP_USER_AGENT"/>
				<keys>
					<key name="platform" value="Unknown" />
					<key name="win16" value="false" />
					<key name="win32" value="false" />
					<key name="browser" value="Unknown" />
					<key name="version" value="0.0" />
					<key name="majorversion" value="0" />
					<key name="minorversion" value="0" />
					<key name="beta" value="false" />
					<key name="supportedPlatform" value="false" />
					<key name="supportedBrowser" value="false" />
					<key name="letBrowserIn" value="false" />
					<key name="sunSettedBrowser" value="false" />
				</keys>
				<filter>
					<case match="Windows 3.1|Win16">
						<key name="platform" value="Win16" />
					</case>
					<case match="Windows 95|Win95">
						<key name="platform" value="Win95" />
					</case>
					<case match="Windows 98|Win98">
						<key name="platform" value="Win98" />
					</case>
					<case match="Windows NT|WinNT">
						<key name="platform" value="WinNT" />
					</case>
					<case match="Windows 2000|Win2000">
						<key name="platform" value="Win2000" />
					</case>
					<case match="Windows CE|WinCE">
						<key name="platform" value="WinCE" />
					</case>
					<case match="Windows ME|WinME">
						<key name="platform" value="WinME" />
					</case>
					<case match="Mac_68000|Macintosh.*68K">
						<key name="platform" value="Mac68K" />
					</case>
					<case match="Mac_PowerPC|Macintosh.*PPC">
						<key name="platform" value="MacPPC" />
					</case>
					<case match="X11">
						<key name="platform" value="Unix" />
					</case>
					<case match="WebTV">
						<key name="platform" value="WebTV" />
					</case>
				</filter>
				<filter>
					<case match="16bit|Windows 3.1|Win16">
						<key name="win16" value="true" />
					</case>
					<case match="Windows 95|Win95|Windows 98|Win98|Windows NT|WinNT|Win32">
						<key name="win32" value="true" />
					</case>
				</filter>
				<filter>
					<case match="^Mozilla/5\.0\s*([^)]*\))\s*(Gecko\/\d+)\s*Firefox\/((\d+)(\.\d+)(\w*)).*">
						<key name="browser" value="Firefox" />
						<key name="version" value="${3}" />
						<key name="majorversion" value="${4}" />
						<key name="minorversion" value="${5}" />
						<filter match="^b" with="${6}">
							<key name="beta" value="true" />
						</filter>
					</case>

					<case match="AppleWebKit/((\d)(\d)(\d)(\w*))">
						<key name="browser" value="Safari" />
						<key name="version" value="${1}" />
						<key name="majorversion" value="${2}" />
						<key name="minorversion" value="${3}" />
						<filter match="^b" with="${4}">
							<key name="beta" value="true" />
						</filter>
					</case>
					<case match="AppleWebKit/((\d)(\d)(\w*))">
						<key name="browser" value="Safari" />
						<key name="version" value="1.0" />
						<key name="majorversion" value="1" />
						<key name="minorversion" value="0" />
					</case>


					<case match="Opera[ /]((\d+)\.(\d+)(\w*))">
						<key name="browser" value="Opera" />
						<key name="version" value="${1}" />
						<key name="majorversion" value="${2}" />
						<key name="minorversion" value="${3}" />
						<filter match="^b" with="${4}">
							<key name="beta" value="true" />
						</filter>
					</case>

					<case match="^Mozilla[^(]*\(compatible; MSIE\s+((\d+)\.(\d+)(\w*))(.*)">
						<key name="browser" value="IE" />
						<key name="version" value="${1}" />
						<key name="majorversion" value="${2}" />
						<key name="minorversion" value="${3}" />
						<case match="^[5-9]\." with="${1}">
							<filter with="${4}" match="^b">
								<key name="beta" value="true" />
							</filter>
						</case>
					</case>

					<case match="^Mozilla/\d+\.\d+ \(.[^)]*\) Gecko/\d+ Netscape[^/]*/((\d+)\.((\.?\d+)*))(\w*)">
						<key name="browser" value="Netscape" />
						<key name="version" value="${1}" />
						<key name="majorversion" value="${2}" />
						<key name="minorversion" value="${3}" />
						<filter match="^b" with="${5}">
							<key name="beta" value="true" />
						</filter>
					</case>

					<case match="^Mozilla/((\d+)\.(\d+)(\w*)).*">
						<key name="browser" value="Mozilla" />
						<key name="version" value="${1}" />
						<key name="majorversion" value="${2}" />
						<key name="minorversion" value="${3}" />
						<filter match="^b" with="${4}">
							<key name="beta" value="true" />
						</filter>
					</case>
				</filter>
				<filter with="%{platform}" match="Win16|Win95|Win98|WinNT|Win2000|WinCE|WinME|Mac68K|MacPPC">
					<key name="supportedPlatform" value="true" />
				</filter>
				<filter>
					<case match="^IE\b" with="%{browser}">
						<case match="false" with="%{beta}">
							<case match="^[5-9]\b" with="%{majorversion}">
								<case match="Mac68K|MacPPC" with="%{platform}">
									<key name="actId" value="[{_A}]"/>
									<case match="9PRO000200|9FAC000700" with="%{actId}">
										<key name="supportedBrowser" value="true"/>
									</case>
								</case>
								<case match="Win16|Win95|Win98|WinNT|Win2000|WinCE|WinME" with="%{platform}">
									<case match="^5\b" with="%{majorversion}">
										<case match="^(0)*[6-9](\d)*" with="%{minorversion}">
											<key name="supportedBrowser" value="true"/>
										</case>
									</case>
									<case match="(\d)*" with="%{minorversion}">
										<key name="supportedBrowser" value="true"/>
									</case>
								</case>
							</case>
						</case>
						<case match="true" with="%{beta}">
							<case match="^[5-9]\b" with="%{majorversion}">
								<case match="Win16|Win95|Win98|WinNT|Win2000|WinCE|WinME" with="%{platform}">
									<case match="^5\b" with="%{majorversion}">
										<case match="^(0)*[6-9](\d)*" with="%{minorversion}">
											<key name="supportedBrowser" value="true"/>
										</case>
									</case>
									<case match="(\d)*" with="%{minorversion}">
										<key name="letBrowserIn" value="true"/>
									</case>
								</case>
							</case>
						</case>
					</case>
					<case match="^Netscape" with="%{browser}">
						<case match="^[8-9]\b" with="%{majorversion}">
							<key name="supportedBrowser" value="true" />
						</case>
					</case>
					<case match="^Firefox" with="%{browser}">
						<key name="supportedBrowser" value="true" />
					</case>
					<case match="^Safari" with="%{browser}">
						<case match="^[1]\b" with="%{majorversion}">
							<case match="^[2-9](\d)*" with="%{minorversion}">
								<key name="supportedBrowser" value="true" />
							</case>
						</case>
						<case match="^[2-9]\b" with="%{majorversion}">
							<key name="supportedBrowser" value="true" />
						</case>
					</case>
					<case match="^Mozilla" with="%{browser}">
						<case match="^[5-9]\b" with="%{majorversion}">
							<key name="supportedBrowser" value="true" />
						</case>
					</case>
				</filter>
			</browsercaps>
			<data for="jumppage" >
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/jumppage.asp</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/jumppage.asp</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/jumppage.asp</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/jumppage.asp</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/jumppage.asp</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/jumppage.asp</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/jumppage.asp</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/jumppage.asp</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/jumppage.asp</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/jumppage.asp</url>
			</data>
			<template type="welcome1" enabled="false">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/welcome1.asp?from=dotcom</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/welcome1.asp?from=dotcom</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/welcome1.asp?from=dotcom</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/welcome1.asp?from=dotcom</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/welcome1.asp?from=dotcom</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/welcome1.asp?from=dotcom</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/welcome1.asp?from=dotcom</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/welcome1.asp?from=dotcom</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/welcome1.asp?from=dotcom</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/welcome1.asp?from=dotcom</url>
			</template>
			<template type="welcome2" enabled="false">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/welcome2.asp?from=dotcom</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/welcome2.asp?from=dotcom</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/welcome2.asp?from=dotcom</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/welcome2.asp?from=dotcom</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/welcome2.asp?from=dotcom</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/welcome2.asp?from=dotcom</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/welcome2.asp?from=dotcom</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/welcome2.asp?from=dotcom</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/welcome2.asp?from=dotcom</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/welcome2.asp?from=dotcom</url>
			</template>
			<template type="psswd_reset1" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/pswdReset1.asp</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/pswdReset1.asp</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/pswdReset1.asp</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/pswdReset1.asp</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/pswdReset1.asp</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/pswdReset1.asp</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/pswdReset1.asp</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/pswdReset1.asp</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/pswdReset1.asp</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/pswdReset1.asp</url>
			</template>
			<template type="psswd_reset2" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/pswdReset2.asp</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/pswdReset2.asp</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/pswdReset2.asp</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/pswdReset2.asp</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/pswdReset2.asp</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/pswdReset2.asp</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/pswdReset2.asp</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/pswdReset2.asp</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/pswdReset2.asp</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/pswdReset2.asp</url>
			</template>
			<navbar version="2" />
			<template type="sunsettedbrowser" enabled="true">
				<url lang="en">http://nevada.dev.us.factiva.com/web26/en/cfg/sunSettedBrowser.asp</url>
				<url lang="fr">http://nevada.dev.us.factiva.com/web26/fr/cfg/sunSettedBrowser.asp</url>
				<url lang="de">http://nevada.dev.us.factiva.com/web26/de/cfg/sunSettedBrowser.asp</url>
				<url lang="es">http://nevada.dev.us.factiva.com/web26/es/cfg/sunSettedBrowser.asp</url>
				<url lang="it">http://nevada.dev.us.factiva.com/web26/it/cfg/sunSettedBrowser.asp</url>
				<url lang="ja">http://nevada.dev.us.factiva.com/web26/ja/cfg/sunSettedBrowser.asp</url>
				<url lang="ru">http://nevada.dev.us.factiva.com/web26/ru/cfg/sunSettedBrowser.asp</url>
				<url lang="zhcn">http://nevada.dev.us.factiva.com/web26/zhcn/cfg/sunSettedBrowser.asp</url>
				<url lang="zhtw">http://nevada.dev.us.factiva.com/web26/zhtw/cfg/sunSettedBrowser.asp</url>
				<url lang="templates">http://nevada.dev.us.factiva.com/web26/templates/cfg/sunSettedBrowser.asp</url>
			</template>
		</product>
	</products>
</configuration>
