/* line 1, ../sass/portalHeadlineList.scss */
.article-group .article-wrap {
  margin-bottom: 5px;
}

/* line 5, ../sass/portalHeadlineList.scss */
.article-headline {
  font-size: 100%;
  line-height: 16px;
}
/* line 9, ../sass/portalHeadlineList.scss */
.article-headline a {
  color: #2F90B3;
}

/* line 15, ../sass/portalHeadlineList.scss */
.article-meta {
  color: #999;
}
/* line 18, ../sass/portalHeadlineList.scss */
.article-meta .date-stamp {
  text-transform: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  color: #999;
  font-size: 85%;
  line-height: normal;
}
/* line 28, ../sass/portalHeadlineList.scss */
.article-meta .article-source, .article-meta .time-stamp, .article-meta .media-length, .article-meta .fi, .article-meta .author, .article-meta .byline, .article-meta .author {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  color: #999;
  font-size: 85%;
  line-height: normal;
  text-transform: uppercase;
}
/* line 38, ../sass/portalHeadlineList.scss */
.article-meta .article-source {
  font-weight: bold;
}

/* line 43, ../sass/portalHeadlineList.scss */
.dj_article_hd {
  color: #2F90B3;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 12px;
  width: 400px;
}

/* line 51, ../sass/portalHeadlineList.scss */
.dj_modal-article .dj_article-container .dj_article_meta .meta .dj_article_section {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}

/* line 59, ../sass/portalHeadlineList.scss */
.dj_article_lp, .dj_article_tp, .dj_article_tf, .dj_article_an {
  margin: 10px 0;
}

/* line 63, ../sass/portalHeadlineList.scss */
.dj_article-container .dj_article_meta {
  position: relative;
  min-height: 200px;
  color: #444;
  width: 550px;
}
