/* line 1, ../sass/portalHeadlineList.scss */
.article-group .article-wrap {
  margin-bottom: 5px;
}

/* line 5, ../sass/portalHeadlineList.scss */
.article-headline {
  font-size: 93%;
  line-height: 16px;
}
/* line 9, ../sass/portalHeadlineList.scss */
.article-headline a {
  color: #2F90B3;
}

/* line 15, ../sass/portalHeadlineList.scss */
.article-meta {
  color: #999;
}
/* line 18, ../sass/portalHeadlineList.scss */
.article-meta .date-stamp {
  text-transform: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  color: #999;
  font-size: 85%;
  line-height: normal;
}
/* line 28, ../sass/portalHeadlineList.scss */
.article-meta .article-source, .article-meta .time-stamp, .article-meta .media-length, .article-meta .fi, .article-meta .author, .article-meta .byline, .article-meta .author {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  color: #999;
  font-size: 85%;
  line-height: normal;
  text-transform: uppercase;
}
/* line 38, ../sass/portalHeadlineList.scss */
.article-meta .article-source {
  font-weight: bold;
}
