<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="Factiva.Gateway.Config.V1_0.ServiceSectionHandler, FactivaGateway"/>
  </configSections>
  <ServiceSettings>
    <transactionSettings>
      <transaction key="Factiva.Gateway.Messages.Symbology.NameList.V1_0:GetNameListInfo">
        <name>http://types.factiva.com/symbology/Namelist:GetNameListInfo_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/GetNameListInfo</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>

      <transaction key="Factiva.Gateway.Messages.Symbology.NameList.V1_0:PerformNameListSearch">
        <name>http://types.factiva.com/symbology/NameList:PerformNameListSrch_bstr</name>
        <request>
          <messageFormat>STRING</messageFormat>
          <filters>
            <filter type="XSLTRANSFORM">
              <param name="fileName">xslt\redi\RediHeader.xslt</param>
              <param name="RediHeaderAction">http://services.factiva.com/symbology/PerformNameListSrch</param>
            </filter>
          </filters>
        </request>
        <response>
          <messageFormat>STRING</messageFormat>
        </response>
        <transport type="RTS"/><transport type="HTTP"/>
      </transaction>
    </transactionSettings>
  </ServiceSettings>
</configuration>